.fiu-results-summary {
    @include fiu-typography-common;

    .fiu-results-summary__content {
        font-size: 24px;
        line-height: 29px;

        b {
            font-weight: $fiu-font-weight-bold;
        }
    }
}

.fiu-results-panel {
    @include fiu-typography-common;
    padding: 20px 15px 30px 15px;
    background-color: $light-grey;
    margin-bottom: 30px;
}

.fiu-results-panel__heading {
    text-align: center;
    word-wrap : break-word;
}

.fiu-results-inset-text {
    @include fiu-typography-common;
    font-size: 16px;
    border-left: 5px solid $mid-grey;

}

.fiu-table-list {
    @include fiu-typography-common;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    flex-flow: row wrap;
}

.fiu-table-list__th {
    font-weight: $fiu-font-weight-bold;
    padding-right: 5%;
    flex-basis: 50%;

    @include govuk-media-query(tablet) {
        flex-basis: 30%;
    }
}
.fiu-table-list__td {
    margin-left: 0;
    flex-basis: 50%;

    @include govuk-media-query(tablet) {
        flex-basis: 70%;
    }
}

.fiu-table-list__th,
.fiu-table-list__td {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $mid-grey;
}

.fiu-results-favbar {
    @include fiu-typography-common;
    text-align: right;
}

.fiu-results-favbar__link {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    background-size: 20px 20px;
    background-image: url('../assets/images/icon-star-outlined.svg');
    background-repeat: no-repeat;
    background-position: center right;
}

$fiu-results-favbar__link: '.fiu-results-favbar__link, .fiu-results-favbar__link:active, .fiu-results-favbar__link:hover, .fiu-results-favbar__link:visited';
#{$fiu-results-favbar__link} {
    text-decoration: none;
    color: $fiu-header-link-colour;
}

.fiu-results-favbar__link {
    &:hover {
        background-image: url('../assets/images/icon-star-filled-yellow.svg');
        text-decoration: underline;
        cursor: pointer;
    }
    &:focus {
        @include govuk-focused-text;
    }
}

.fiu-results-desc {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.fiu-results-map-link {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    img {
        width: 100%;
        border: 0;
    }

    &:focus {
        @include govuk-focused-text;
    }

    @include govuk-media-query(tablet) {
        width: 120px;
        img {
            width: inherit;
        }
    }
}

.fiu-pagination {
    @include fiu-typography-common;
    text-align: center;
    padding: 0 0 15px 0;
    list-style: none;
}

.fiu-pagination__item {
    display: inline-block;
    font-size: 17px;

    @include govuk-media-query(tablet) {
        border-left: 1px solid $mid-grey;

        &--prev{
            float: left;
            border-left: none;
        }
        &--next{
            float: right;
            border-left: none;
        }
        &--prev + &,
        &:first-child {
            border-left: none;
        }
    }
}

@mixin paginationArrows($content,$left,$right) {
    content: $content;
    display: inline-block;
    position: relative;
    top: 2px;
    color: $mid-grey;
    font-size: 20px;
    left: $left;
    right: $right;
}

$fiu-pagination__link: '.fiu-pagination__link, .fiu-pagination__link:active, .fiu-pagination__link:hover, .fiu-pagination__link:visited, .fiu-pagination__current';
#{$fiu-pagination__link} {
    text-decoration: underline;
    display: block;
    padding: 5px 10px;
    color: $black;
}

.fiu-pagination__current {
    text-decoration: none;
}

.fiu-pagination__link {
    &:focus {
        @include govuk-focused-text;
    }

    @include govuk-media-query(tablet) {
        .fiu-pagination__item--prev & {
            &:before {
                @include paginationArrows('<',-6px,unset);
            }
        }
        .fiu-pagination__item--next & {
            &:after {
                @include paginationArrows('>',unset,-6px);
            }
        }
    }
}

.fiu-pagination__current {
    font-weight: $fiu-font-weight-bold;
    cursor: default;
}