.fiu-tile {
  @include fiu-typography-common;
  margin-bottom: 20px;
  height: 100%;
  display: block;
  color: $fiu-text-colour;
  position: relative;
}

.fiu-tile__link {
  border: 1px solid $fiu-border-colour;
  border-radius: $fiu-border-radius;
  height: 100%;
  display: block;
  background: $white;
  padding: 20px 20px 50px;
  color: $fiu-text-colour;
  text-decoration: none;
  transition: all .2s;
  &:hover {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, .1);
    border-color: #888;
  }
  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, .25);
    border-color: #888;
    .fiu-tile__link-faux {
      @include govuk-focused-text;
    }
  }
}

.fiu-tile__overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 0;
}



.fiu-tile__heading {
  margin: 1em 0 .7em;
  font-size: 20px;
  line-height: 1.1em;
  font-weight: $fiu-font-weight-bold;
  @include govuk-media-query($from: tablet) {
    font-size: 18px;
  }
  @include govuk-media-query($from: $fiu-large-desktop-breakpoint) {
    font-size: 24px;
  }
}

.fiu-tile__content {
  margin-bottom: 0;
  @extend .govuk-body;
}

.fiu-tile__link-faux {
  @extend .fiu-link;
  font-size: 19px;
  margin-top: 1.5em;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  color: $fiu-employers-brand-colour;
}