<form method="get" action="/employer/find-apprenticeships">
    <label class="govuk-label" for="Keywords">Apprenticeship name or job role</label>
    <div class="fiu-form-group-inline govuk-!-width-three-quarters">
        <input class="govuk-input" type="search" id="Keywords" name="Keywords" value="">
        <div class="fiu-form-group-inline__button-wrap">
            <button class="fiu-button fiu-button--employers" type="submit" id="employer-apprenticeship-search">Search</button>
        </div>
    </div>
</form>