.fiu-navigation {
  background: $fiu-navigation-bg-colour;
  min-height: 30px;
}

.fiu-navigation--citizens {
  background: $fiu-citizens-brand-colour;
}

.fiu-navigation--employers {
  background: $fiu-employers-brand-colour;
}