$fiu-nav-breakpoint: 900px;

.fiu-navigation {
  @include fiu-typography-common;
  background: $fiu-navigation-bg-colour;
  padding: 5px 0;
}

.fiu-navigation--citizens {
  background: $fiu-citizens-brand-colour;
}

.fiu-navigation--employers {
  background: $fiu-employers-brand-colour;
}

.fiu-navigation__toggle {
  display: none;
}

.js-enabled .fiu-navigation__toggle {
  color: $white;
  display: block;
  text-decoration: none;
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  &:focus {
    @include fiu-focused-block
  }
  @include govuk-media-query(tablet) {
    margin-left: -5px;
  }
  @include govuk-media-query($fiu-nav-breakpoint) {
    display: none;
  }
}

.fiu-navigation__toggle-label {
  @include govuk-visually-hidden
}

.fiu-navigation__toggle-icon {
  @extend %fiu-nav-icon-lines;
  top: 19px;
  left: 5px;
  &:after,
  &:before {
    @extend %fiu-nav-icon-lines;
    content: "";
    left: 0;
    top: -9px;
  }
  &:after {
    top: 9px;
  }
}

.fiu-navigation-menu-open .fiu-navigation__toggle-icon {
  background: transparent;
  &:after {
    top: 0;
    transform: rotate(45deg);
  }
  &:before {
    top: 0;
    transform: rotate(-45deg);
  }
}

%fiu-nav-icon-lines {
  display: block;
  height: 3px;
  width: 30px;
  position: absolute;
  border-radius: 2px;
  background: $white;
  transition: all 0.3s ease;
  .header--generic & {
    background: #fff;
  }
}

.js-enabled .fiu-navigation__nav {
  display: none;
  @include govuk-media-query($fiu-nav-breakpoint) {
    display: block;
  }
}

.fiu-navigation-menu-open .fiu-navigation__nav {
  display: block;
}

.fiu-navigation__list {
  margin: 20px;
  padding: 0;
  list-style: none;
}

.fiu-navigation__list-item {

}

.fiu-navigation__link {
  color: $white;
  &:focus {
    @include govuk-focused-text;
  }
}