{% extends "template.html" %}

{% set loggedIn = false %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Manage apprenticeships
        </h1>
        <p class="govuk-body-l">This service is for organisations that want to take on apprentices.</p>
        <p>Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>set up and manage apprenticeship training</li>
            <li>pay for apprenticeship training</li>
        </ul>
        <p><a class="govuk-button govuk-button--start" id="service-start" href="used-service-before">Start</a></p>
        <h2 class="govuk-heading-m">Before you start</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Find out more about <a target="_blank" rel="external" href="https://www.gov.uk/take-on-an-apprentice">employing apprentices</a></li>
            <li>Find out <a target="_blank" rel="external" href="https://www.gov.uk/guidance/manage-apprenticeship-funds">how you can use</a> your apprenticeship account</li>
            <li>Find out about the <a target="_blank" rel="external" href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">apprenticeship levy</a></li>
        </ul>

    </div>
</div>

{% endblock %}