<ul class="fiu-stats-list fiu-stats-list--employers">
  <li class="fiu-stats-list__list-item">
    <span class="fiu-stats-list__stat">92%</span> of companies that have taken on apprentices
    believe this leads to a more motivated and satisfied workforce
  </li>
  <li class="fiu-stats-list__list-item">
    <span class="fiu-stats-list__stat">86%</span> said apprenticeships helped them develop skills
    relevant to their organisation
  </li>
  <li class="fiu-stats-list__list-item">
    <span class="fiu-stats-list__stat">80%</span> have seen a significant increase in employee
    retention
  </li>
</ul>
