<div class="fiu-page-header">
    <div class="fiu-width-container">
        <div class="govuk-breadcrumbs fiu-page-header__breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    Apprentices
                </li>
            </ol>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                <strong class="fiu-tag fiu-tag--citizens fiu-page-header__tag fiu-feature-text">Apprentices</strong>
                <h1 class="govuk-heading-xl fiu-page-heading__title ">Become an apprentice</h1>
                <p class="fiu-page-header__content">
                    Ante stiam sed at turpis posuere dictum donec aeros integer eusem it purus interdum sollicitudin fusce auctor aliquam placerat porci
                </p>
                <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
            </div>
        </div>
    </div>
</div>