<nav role="navigation" aria-label="Pagination">
  <ul class="fiu-pagination">
    <li class="fiu-pagination__item fiu-pagination__item--prev">
      <a href="#" class="fiu-pagination__link">Previous</a>
    </li>
    <li class="fiu-pagination__item">
      <a href="#" class="fiu-pagination__link">1</a>
    </li>
    <li class="fiu-pagination__item">
      <a href="#" class="fiu-pagination__link">2</a>
    </li>
    <li class="fiu-pagination__item">
      <span class="fiu-pagination__current" aria-current="true">3</span>
    </li>
    <li class="fiu-pagination__item">
      <a href="#" class="fiu-pagination__link">4</a>
    </li>
    <li class="fiu-pagination__item">
      <a href="#" class="fiu-pagination__link">5</a>
    </li>

    <li class="fiu-pagination__item fiu-pagination__item--next">
      <a href="#" class="fiu-pagination__link">Next</a>
    </li>
  </ul>
</nav>
