<div class="fiu-tabs" data-fiu-tabs="true">
  <h2 class="fiu-tabs__title">
    Contents
  </h2>
  <ul class="fiu-tabs__list">
    <li class="fiu-tabs__list-item fiu-tabs__list-item--selected">
      <a class="fiu-tabs__tab" href="#traineeships">
        Traineeships
      </a>
    </li>
    <li class="fiu-tabs__list-item">
      <a class="fiu-tabs__tab" href="#tlevels">
        T-Levels
      </a>
    </li>
  </ul>
  <div class="fiu-tabs__panel" id="traineeships">
    <h2 class="govuk-heading-l">Traineeships</h2>
    <p class="govuk-body">Aliquam hendrerit tristique nibh efficitur volutpat. Aliquam nibh tortor, sollicitudin tempus cursus at, blandit quis elit. Pellentesque hendrerit facilisis lorem. Aliquam at vehicula risus. Phasellus in enim quam. Curabitur eget sapien arcu. Vivamus maximus risus sit amet nisi viverra pellentesque. Nunc sed lorem nibh.</p>
  </div>
  <div class="fiu-tabs__panel fiu-tabs__panel--hidden" id="tlevels">
    <h2 class="govuk-heading-l">T-Levels</h2>
    <p class="govuk-body">Maecenas vehicula vitae est vel lacinia. Cras suscipit nec urna at scelerisque. Sed eget egestas purus, quis iaculis turpis. Aliquam hendrerit at est ac convallis. Morbi congue felis nec porttitor bibendum. Donec imperdiet mi et nisl ultrices efficitur.</p>
  </div>
</div>