<table class="govuk-table" data-module="das-table-sort">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        <a href="#" class="govuk-link das-table__sort das-table__sort--asc" aria-sort="ascending"
          >Month you apply</a
        >
      </th>
      <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
        <a href="#" class="govuk-link das-table__sort">Rate for bicycles</a>
      </th>
      <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
        <a href="#" class="govuk-link das-table__sort">Rate for vehicles</a>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">January</th>
      <td class="govuk-table__cell">£15</td>
      <td class="govuk-table__cell">£96</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">February</th>
      <td class="govuk-table__cell">£34</td>
      <td class="govuk-table__cell">£85</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">March</th>
      <td class="govuk-table__cell">£22</td>
      <td class="govuk-table__cell">£73</td>
    </tr>
  </tbody>
</table>
