.fiu-alert {
  @include fiu-typography-common;
  background: $yellow;
  padding: 20px 0;
  color: $black;
  &:focus {
    @include fiu-focused-block;
  }
}

.fiu-alert__heading {
  @extend .govuk-heading-s;
  color: inherit;
  margin-bottom: 0;
}

.fiu-alert__body {
  @extend .govuk-body;
  color: inherit;
  margin-top: .4em;
}

.fiu-alert__body:last-child {
  margin-bottom: 0;
}

.fiu-alert__link {
  color: $black;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    @include govuk-focused-text;
  }
}



.fiu-alert__hide-link {
  color: $black;
  margin-top: 20px;
  float: right;
  display: inline-block;
  @include govuk-media-query($from: tablet) {
    margin-top: 0;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    @include govuk-focused-text;
  }
}