<div class="fiu-alert fiu-visually-hidden" data-fiu-alert="true" data-fiu-alert-cookie-name="fiu-covid19">
	<div class="fiu-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-three-quarters">
				<h2 class="fiu-alert__heading">Coronavirus (COVID-19)</h2>
				<p class="fiu-alert__body">
					Find out about
		            <a href="https://engage.apprenticeships.gov.uk/incentives.html" target="_blank" class="fiu-alert__link">financial incentives for employers<span class="govuk-visually-hidden"> (Opens in a new window)</span></a>
		            hiring new apprentices,
		            <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/sections/360003798540-Apprentice" target="_blank" class="fiu-alert__link">changes to apprenticeships<span class="govuk-visually-hidden"> (Opens in a new window)</span></a>
		            and ways of working, and the new
		            <a href="https://engage.apprenticeships.gov.uk/redundancy-apprentice.html" target="_blank" class="fiu-alert__link">redundancy support service for apprentices<span class="govuk-visually-hidden"> (Opens in a new window)</span></a>.
		        </p>
            </div>
            <div class="govuk-grid-column-one-quarter">
				<a href="#" data-fiu-alert-hide-link="true" class="fiu-alert__hide-link">Hide message</a>
			</div>
        </div>
	</div>
</div>