<ol class="das-task-list">
  <li>
    <h2 class="das-task-list__section">
      <span class="das-task-list__section-number">1. </span> Check before you start
    </h2>
    <ul class="das-task-list__items">
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="eligibility-completed">
            Check eligibility
            </a>
            </span>
        <strong class="das-tag das-task-list__task-tag" id="eligibility-completed">Completed</strong>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="read-declaration-completed">
            Read declaration
            </a>
            </span>
        <strong class="das-tag das-task-list__task-tag" id="read-declaration-completed">Completed</strong>
      </li>
    </ul>
  </li>
  <li>
    <h2 class="das-task-list__section">
      <span class="das-task-list__section-number">2. </span> Prepare
      application
    </h2>
    <ul class="das-task-list__items">
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="company-information-completed">
            Company information
            </a>
            </span>
        <strong class="das-tag das-task-list__task-tag" id="company-information-completed">Completed</strong>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="contact-details-completed">
            Your contact details
            </a>
            </span>
        <strong class="das-tag das-task-list__task-tag" id="contact-details-completed">Completed</strong>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#">
            List convictions
            </a>
            </span>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#">
            Provide financial evidence
            </a>
            </span>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="medical-information-completed">
            Give medical information
            </a>
            </span>
        <strong class="das-tag das-task-list__task-tag" id="medical-information-completed">Completed</strong>
      </li>
    </ul>
  </li>
  <li>
    <h2 class="das-task-list__section">
      <span class="das-task-list__section-number">3. </span> Custom
      tag colours
    </h2>
    <ul class="das-task-list__items">
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="company-information-completed">
            Company information
            </a>
            </span>
        <strong class="das-tag das-tag--solid-yellow das-task-list__task-tag" id="company-information-completed">Next</strong>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="contact-details-completed">
            Your contact details
            </a>
            </span>
        <strong class="das-tag das-tag--solid-green das-task-list__task-tag" id="contact-details-completed">In progress</strong>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#">
            List convictions
            </a>
            </span>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#">
            Provide financial evidence
            </a>
            </span>
      </li>
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#" aria-describedby="medical-information-completed">
            Give medical information
            </a>
            </span>
        <strong class="das-tag das-tag--solid-red das-task-list__task-tag" id="medical-information-completed">Fail</strong>
      </li>
    </ul>
  </li>
  <li>
    <h2 class="das-task-list__section">
      <span class="das-task-list__section-number">4. </span> Apply
    </h2>
    <ul class="das-task-list__items">
      <li class="das-task-list__item">
            <span class="das-task-list__task-name">
            <a class="govuk-link" href="#">
            Submit and pay
            </a>
            </span>
      </li>
    </ul>
  </li>
</ol>
