@mixin triangle-equilateral ($direction: down, $size: 20px, $colour: #000) {
  $secondWidth: $size / 1.732;
  border-color: transparent;
  border-width: $size;
  border-style: solid;
  width: 0;
  height: 0;
  content: "";

  @if $direction == down {
    border-width: $size $secondWidth 0 $secondWidth;
    border-color: $colour transparent transparent transparent;
  }

  @if $direction == up {
    border-width: 0 $secondWidth $size $secondWidth;
    border-color: transparent transparent $colour transparent;
  }

  @if $direction == left {
    border-width: $secondWidth $size $secondWidth 0;
    border-color: transparent $colour transparent transparent;
  }

  @if $direction == right {
    border-width: $secondWidth 0 $secondWidth $size;
    border-color: transparent transparent transparent $colour;
  }

}