<div class="das-account-header das-account-header--provider">
    <div class="govuk-width-container">
        <p class="das-account-header__title">Your provider account</p>
        <nav class="das-user-navigation" id="user-nav">
            <ul class="das-user-navigation__list" role="menu">
                <li role="menuitem" class="das-user-navigation__list-item">
                    <a href="#" class="das-user-navigation__link">Provider account</a>
                </li>
                <li role="menuitem" class="das-user-navigation__list-item">
                    <a href="#" class="das-user-navigation__link">Notification settings</a>
                </li>
                <li role="menuitem" class="das-user-navigation__list-item">
                    <a href="#" class="das-user-navigation__link">Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
</div>