{% extends "template.html" %}
{% set backLink = "index" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Notifications
        </h1>

        <div class="das-notification" tabindex="-1">
            <h3 class="das-notification__heading">Info summary</h3>
            <p class="das-notification__body">Read the SFA agreement - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
        </div>

        <div class="das-notification" tabindex="-1">
            <p class="das-notification__body">A notification may not always come with a heading</p>
        </div>

        <div class="das-notification" tabindex="-1">
            <p class="das-notification__body">Read the SFA agreement - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
            <p class="das-notification__body">A notification may not always come with a heading</p>
        </div>

        <div class="das-notification das-notification--success" tabindex="-1">
            <h3 class="das-notification__heading">Success summary</h3>
            <p class="das-notification__body">Read the SFA agreement - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
        </div>

        <div class="das-notification das-notification--warning" tabindex="-1">
            <h3 class="das-notification__heading">Warning summary</h3>
            <p class="das-notification__body">Read the SFA agreement - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
        </div>

    </div>
</div>

{% endblock %}