{% extends "template.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Notifications
        </h1>

        <div class="das-notification" tabindex="-1">
            <h3 class="govuk-heading-m">Info summary</h3>
            <p class="das-notification__body">Read the SFA agreement - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
        </div>

        <div class="das-notification das-notification--success" tabindex="-1">
            <h3 class="govuk-heading-m">Success summary</h3>
            <p class="das-notification__body">Read the SFA agreement - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
        </div>

        <div class="das-notification das-notification--warning" tabindex="-1">
            <h3 class="govuk-heading-m">Warning summary</h3>
            <p class="das-notification__body">Read the SFA agreement - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
        </div>

    </div>
</div>

{% endblock %}