{% extends "template.html" %}
{% set backLink = "index" %}

{% block content %}

<ul class="das-pagination">
    <li class="das-pagination__list-item">
        <a class="das-pagination__link das-pagination__link--previous" id="link-pagination-previous" href="#prev">Previous page 
            <span class="das-pagination__caption">1 of 43</span>
        </a>
    </li>
    <li class="das-pagination__list-item">
        <a class="das-pagination__link das-pagination__link--next" id="link-pagination-apprentice-next" href="">Next
            page
            <span class="das-pagination__caption">2 of 43</span>
         </a>
    </li>
</ul>

{% endblock %}