{% extends "template.html" %}
{% set backLink = "index" %}

{% block content %}

<ul class="das-pagination das-pagination--employer">
    <li class="das-pagination__list-item">
        <a class="das-pagination__link das-pagination__link--previous" id="link-pagination-previous">Previous page </a>

    </li>
    <li class="das-pagination__list-item">
        <a class="das-pagination__link das-pagination__link--next" id="link-pagination-apprentice-next" href="">Next
            page </a>
    </li>

</ul>

{% endblock %}