.das-header--no-border {
  border: none;
  & > .govuk-header__container {
    border: none;
    margin-bottom: 0;
  }
}

.das-header--employer {
  & > .govuk-header__container {
    border-color: $employer;
  }
}

.das-header--provider {
  & > .govuk-header__container {
    border-color: $provider;
  }
}

.das-header--has-user-nav {
  .govuk-header__content {
    @include govuk-media-query($from: desktop) {
      width: 33.33%;
    }
  }
}

.das-header--provider-legacy {
  border-bottom: 10px solid #6f777b;
  .govuk-header__logo {
    display: none;
  }
  .govuk-header__content {
    @include govuk-media-query($from: tablet) {
      padding-left: 0;
    }
  }
  .govuk-header__service-name {
    font-size: 24px;
    margin: 15px 0 25px;
    @include govuk-media-query($from: tablet) {
      font-size: 32px;
      margin: 12px 0 21px;
    }
  }
}
