

// Paragraphs in MAIN body of pages

p {
  @include govuk-font($size: 19);
}

.das-text--muted {
  color: govuk-colour('dark-grey');
}

abbr {
    font-variant: none;

    &[title] {
      text-decoration: none;
      border-bottom: 1px dotted $grey-2;

      .govuk-heading-xl &,
      .govuk-heading-l & {
          border-bottom: 1px dashed $grey-2;
      }
    }
}

.das-text-capitalise {
  display: inline-block;
  &:first-letter {
    text-transform: capitalize;
  }
}

.das-text--normal {
  font-style: normal;
}