<footer  class="footer" role="contentinfo">
<div class="grid-row">
<div class="grid-column-one-quarter">
Apprenticeship logo
   <img src="">
</div>
<div class="grid-column-one-quarter footer__section">
<h4 class="footer__list-header">Apprenticeships</h4>
    <ul class="footer__list">
        <li class="footer__list-item"> <a class="footer__link" href="#">What is an apprenticeship?</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">Benefits</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">How to become a great apprentice</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">How to find an apprenticeship</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">Find an Apprenticeship</a></li>
        
    </ul>
</div>
<div class="grid-column-one-quarter footer__section">
<h4 class="footer__list-header">Employers</h4>
    <ul class="footer__list">
        <li class="footer__list-item"> <a class="footer__link" href="#">What are they & how can I hire an apprentice?</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">What are the costs to my business?</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">ESFA helpful videos</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">Employer useful links</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">Find Apprenticeships Training</a></li>
    </ul>
</div>
<div class="grid-column-one-quarter footer__section">
<h4 class="footer__list-header">Based outside England?</h4>
    <ul class="footer__list">
        <li class="footer__list-item"><p class="footer__text">Find out what opportunities are available in:</p></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">Scotland</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">Northern Ireland</a></li>
        <li class="footer__list-item"> <a class="footer__link" href="#">Wales</a></li>
    </ul>
</div>
</div>
<hr class="footer__hr" />
<div class="grid-row footer__meta">
<div class="grid-column-one-third">gov logo</div>
<div class="grid-column-two-thirds">
    <div class="grid-row">
        <div class="grid-column-full">
            <ul class="footer__inline-list">
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="/sitemap">Privacy and cookies</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="/sitemap">Privacy notice</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="/sitemap">Terms and conditions</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-row footer__licence-description">
        <div class="grid-column-full">
         <p>All content is available under the <a class="footer__link" href="#">Open Government Licence v2.0</a>, except where otherwise stated</p>
        </div>
    </div>
</div>
</div>
</footer>