<footer class="footer" role="contentinfo">
    <div class="grid-row">
        <div class="grid-column-one-quarter">
            <img class="footer__apprenticeship-logo" src="/dist/assets/images/apprenticeship-logo.png" srcset="/dist/assets/images/apprenticeship-logo.png 1x, /dist/assets/images/apprenticeship-logo@2x.png 2x"/>
            
        </div>
        <div class="govuk-accordion" data-module="accordion" id="accordion-footer">
            <div class="grid-column-one-quarter footer__section govuk-accordion__section accordion__section">
                <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                    <div class="govuk-accordion__section-header-button" id="accordion-footer-heading-1"></div>
                    Apprenticeships
                </h2>
                <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-footer-heading-1">
                    <ul class="footer__list">
                        <li class="footer__list-item"> <a class="footer__link" href="#">What is an apprenticeship?</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">Benefits</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">How to become a great
                                apprentice</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">How to find an apprenticeship</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">Find an Apprenticeship</a></li>

                    </ul>
                </div>
            </div>
            <div class="grid-column-one-quarter footer__section govuk-accordion__section accordion__section">
                <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                    <div class="govuk-accordion__section-header-button" id="accordion-footer-heading-2"></div>
                    Employers
                </h2>
                <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-footer-heading-2">
                    <ul class="footer__list">
                        <li class="footer__list-item"> <a class="footer__link" href="#">What are they & how can I hire
                                an
                                apprentice?</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">What are the costs to my
                                business?</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">ESFA helpful videos</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">Employer useful links</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">Find Apprenticeships Training</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid-column-one-quarter footer__section govuk-accordion__section accordion__section">
                <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                    <div class="govuk-accordion__section-header-button" id="accordion-footer-heading-3"></div>
                    Based outside England?
                </h2>
                <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-footer-heading-3">
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <span class="footer__text">Find out what opportunities are available in:</span>
                        </li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">Scotland</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">Northern Ireland</a></li>
                        <li class="footer__list-item"> <a class="footer__link" href="#">Wales</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <hr class="footer__hr" />
    <div class="grid-row footer__meta">
        <div class="grid-column-one-third">
            <img class="footer__HMGovernment-logo" src="/dist/assets/images/HMGovernment-logo.png" srcset="/dist/assets/images/HMGovernment-logo.png 1x, /dist/assets/images/HMGovernment-logo@2x.png 2x"/>
        </div>
        <div class="grid-column-two-thirds">
            <div class="grid-row">
                <div class="grid-column-full">
                    <ul class="footer__inline-list">
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="/sitemap">Privacy and cookies</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="/sitemap">Privacy notice</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="/sitemap">Terms and conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-row footer__licence-description">
                <div class="grid-column-full">
                    <p class="footer__text">All content is available under the <a class="footer__link" href="#">Open Government
                            Licence v2.0</a>,
                        except where otherwise stated</p>
                </div>
            </div>
        </div>
    </div>
</footer>