
.fiu-form-group-inline {
  display: table;
  & > .govuk-input {
    display: table-cell;
  }
}

.fiu-form-group-inline__button-wrap {
  display: table-cell;
  vertical-align: top;
  width: 1%;
  padding-left: 5px;
  & > .govuk-button {
    margin: 0;
  }
}

.fiu-inline-form {
  @include govuk-clearfix()
}

.fiu-inline-form-group {
  @include govuk-media-query(tablet) {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.fiu-checkboxes__label:before {
  background: $white;
}

.govuk-error-summary {
  @extend .fiu-notification--error;
  border: none;
}

.govuk-error-summary__title {
  color: inherit;
}
.govuk-error-summary__list a:link,
.govuk-error-summary__list a:visited,
.govuk-error-summary__list a:hover
{
  color: $white;
}

.govuk-error-summary__list a:active,
.govuk-error-summary__list a:focus {
  color: inherit;
}
