.fiu-grid-column-pull-right {
  @include govuk-media-query(tablet) {
    float: right;
  }
}

.fiu-flex-row {
  @include govuk-media-query(tablet) {
    display: flex;
    margin-bottom: 20px;
  }
}

.fiu-clearfix {
  @include govuk-clearfix;
}


.fiu-grid-layout {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  @include govuk-media-query(440px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include govuk-media-query(700px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include govuk-media-query(900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
