.fiu-link {
  @include fiu-link-common;
  color: $fiu-global-link-colour;
  &:hover {
    color: $fiu-global-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-link--no-visited-state {
  &:visited {
    color: $fiu-global-link-colour;
  }
}

.fiu-link--citizens {
  color: $fiu-citizens-link-colour;
  &:hover {
    color: $fiu-citizens-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-link--citizens-light {
  color: $fiu-citizens-link-colour-light;
  &:hover {
    color: lighten($fiu-citizens-link-colour-light, 15%);
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-link--employers {
  color: $fiu-employers-link-colour;
  &:hover {
    color: $fiu-employers-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-link--employers-light {
  color: $fiu-employers-link-colour-light;
  &:hover {
    color: lighten($fiu-employers-link-colour-light, 15%);
  }
  &:focus {
    @include govuk-focused-text;
  }
}

// Content coming from CMS
.fiu-article > p > a,
.fiu-article li > a,
.fiu-article li > p > a {
  @extend .fiu-link;
}

.fiu-article > h2 > a {
  @extend .fiu-button;
}
