.fiu-link {
  color: $fiu-global-link-colour;
  &:hover {
    color: $fiu-global-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}


.fiu-link--citizens {
  color: $fiu-citizens-link-colour;
  &:hover {
    color: $fiu-citizens-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-link--employers {
  color: $fiu-employers-link-colour;
  &:hover {
    color: $fiu-employers-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-link--employers-light {
  color: lighten($fiu-employers-link-colour, 15%);
  &:hover {
    color: lighten($fiu-employers-link-colour, 30%);
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-article > p > a,
.fiu-article > li > a {
  @extend .fiu-link;
}

.fiu-link--citizens {

}