$fiu-font-family:       nobel, sans-serif;
$fiu-font-weight-bold:  700;

.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-heading-xs {
  font-family: $fiu-font-family;
}