$fiu-font-family:         nobel, sans-serif;
$fiu-font-weight-book:    300;
$fiu-font-weight-regular: 500;
$fiu-font-weight-bold:    700;

.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-heading-xs,
.govuk-fieldset__legend,
.govuk-error-summary__title,
.govuk-error-message,
.fiu-font-weight-bold,
b {
  @include fiu-typography-common;
  font-weight: $fiu-font-weight-bold;
}

.govuk-details__summary,
.govuk-summary-list,
.govuk-input,
.govuk-select,
.govuk-table,
.govuk-body-l,
.govuk-body-m,
.govuk-body,
.govuk-link,
.govuk-list,
.govuk-label,
.govuk-checkboxes__label {
  @include fiu-typography-common;
}

.govuk-caption-s,
.govuk-caption-m,
.govuk-caption-l,
.govuk-caption-xl {
  color: $mid-grey;
  @include fiu-typography-common;
  .fiu-article & {
    color: $dark-grey;
  }
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
  vertical-align: top;
}

.govuk-summary-list__value > ul,
.govuk-summary-list__value > p {
  margin-top: 0;
}

.govuk-summary-list__value > ul {
  padding-left: 20px;
}

.govuk-\!-font-family {
  font-family: $govuk-font-family;
}

.fiu-feature-text {
  @include fiu-rotate-skew;
}

.fiu-heading-m-l {
  @extend .govuk-heading-m;
  @include govuk-media-query(tablet) {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.15;
  }
}

.fiu-body-m-l {
  @include fiu-typography-common;
  @include govuk-media-query(tablet) {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.15;
  }
}

// Content coming from CMS

.fiu-article > h2:not([class]) {
  @extend .govuk-heading-l;
}

.fiu-article > h3:not([class]) {
  @extend .govuk-heading-m;
}

.fiu-article > h4:not([class]) {
  @extend .govuk-heading-s;
}

.fiu-article > h5:not([class]) {
  @extend .govuk-heading-xs;
}

.fiu-article > p:not([class]) {
  @extend .govuk-body;
}

.fiu-article > ul:not([class]) {
  @extend .govuk-list;
  @extend .govuk-list--bullet;
}

.fiu-article > ol:not([class]) {
  @extend .govuk-list;
  @extend .govuk-list--number;
}

.fiu-article > blockquote:not([class]) {
  @extend .fiu-quote;
  @extend .fiu-quote__blockquote;
}

.fiu-article > ul > li > p {
  margin: 0;
}

// Content coming from FAT API

.markdown > ul {
  @extend .govuk-list--bullet;
  margin: 0;
}

.markdown > p {
  margin-top: 0;
}