.fiu-width-container {
  @extend .govuk-width-container;
  @include govuk-media-query($until: 1020px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.fiu-main-wrapper {
  padding: 0;
  background: $fiu-body-colour;
  position: relative;
}

.fiu-main-wrapper--homepage {
  background: #fff;
}

.fiu-main-wrapper:after {
    content: ' ';
    display: table;
}