.fiu-width-container {
  @extend .govuk-width-container;
  @include govuk-media-query($until: 1020px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.fiu-width-container--feature {
  background: red;
}

.fiu-main-wrapper {
  @extend .govuk-main-wrapper;
  background: $light-grey;
}