// This contains styles to make GDS v3 appear like v2
// This is a temporary solution and should eventually be removed

$purple:        #2e358b;
$purple:        #2e358b;
$light-purple:  #6f72af;
$bright-purple: #912b88;
$red:	        #b10e1e;
$bright-red:    #df3034;
$pink:          #d53880;
$light-pink:    #f499be;
$orange:        #f47738;
$brown:         #b58840;
$yellow:	    #ffbf47;
$light-green:   #85994b;
$green:	        #006435;
$black:         #0b0c0c;
$grey-1:	    #6f777b;
$grey-2:	    #bfc1c3;
$grey-3:	    #dee0e2;
$grey-4:	    #f8f8f8;
$light-blue:	#2b8cc4;
$blue:	        #005ea5;
$turquoise:     #28a197;

$_govuk-colour-palette-modern: (
  "red": $bright-red,
  "yellow": $yellow,
  "green": $green,
  "blue": $blue,
  "dark-blue": $blue,
  "light-blue": $light-blue,
  "purple": $purple,
  "black": $black,
  "dark-grey": $grey-1,
  "mid-grey": $grey-2,
  "light-grey": $grey-3,
  "white": #ffffff,
  "light-purple": $light-purple,
  "bright-purple": $bright-purple,
  "pink": $pink,
  "light-pink": $light-pink,
  "orange": $orange,
  "brown": $brown,
  "light-green": $light-green,
  "turquoise": #28a197
);

$govuk-colours: $_govuk-colour-palette-modern;

.govuk-panel--confirmation {
  background: $turquoise !important;
}