// Override path variables
$govuk-assets-path: "../assets/";
$govuk-fonts-path: "../assets/fonts/";

// GDS Design System
@import "all";

// DAS Components
@import "components/global-navigation";
@import "components/mast-head";

// DAS defaults

main {

  h1 {
    @extend .govuk-heading-xl
  }
  h2 {
    @extend .govuk-heading-l
  }
  h3 {
    @extend .govuk-heading-m
  }
  p {
    @extend .govuk-body
  }
  img {
    display: inline-block;
    max-width: 100%;
  }
  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  a {
    @extend .govuk-link;
  }

}