// Override path variables
$govuk-assets-path: "../assets/";
$govuk-fonts-path: "../assets/fonts/";

// GDS Design System
@import "all";

// Autocomplete
@import "autocomplete";

// DAS
@import "settings/all";
@import "components/all";
@import "core/all";

.das-header--no-border {
  border: none;
  & > .govuk-header__container {
    border: none;
    margin-bottom: 0;
  }
}