{% extends "template.html" %}
{% set pageTitle = "DAS - Forgotten password" %}
{% set backLink = "signin" %}
{% set loggedIn = false %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">
            Reset your password
        </h1>
        <p class="govuk-body">Enter your email address to get a password reset code.</p>
        <form action="code" method="get">
            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <input class="govuk-input" id="email" name="email" type="text">
            </div>
            <button type="submit" class="govuk-button">
                Submit
            </button>
        </form>
    </div>
</div>

{% endblock %}