<div>
	<button class="fiu-button">Register interest</button>
	<button class="fiu-button fiu-button--citizens">Register interest</button>
	<button class="fiu-button fiu-button--employers">Register interest</button>
	<button class="fiu-button fiu-button--providers">Register interest</button>
</div>

<div>
	<button class="fiu-button fiu-button--outlined">Register interest</button>
	<button class="fiu-button fiu-button--outlined fiu-button--citizens">Register interest</button>
	<button class="fiu-button fiu-button--outlined fiu-button--employers">Register interest</button>
	<button class="fiu-button fiu-button--outlined fiu-button--providers">Register interest</button>
</div>