{% extends "template.html" %}
{% set serviceTitle = "Apprenticeship service" %}
{% set bodyClass = "landing-page landing-page-nas" %}


{% block preContent %}

<div class="app-masthead">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1>Heading H1 - Title of campaign page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<h2>Section Heading (H2) title</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
    </div>
    <div class="govuk-grid-column-one-half">
        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3>Heading (3) title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
        <div class="govuk-inset-text">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <p><a href="#" class="govuk-button">This is a button</a> </p>
    </div>
    <div class="govuk-grid-column-one-half">
        <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="An image of cyclists overlayed with a 3 by 2 grid to explain the aspect ratio of the photograph">
        <p>Apprenticeships have been used in manufacturing for many years to develop technical skills and bring talent into the industry. The OPPORTUNITY for businesses is to up-skill current staff to introduce new skills and to start to address the shortage and Apprenticeships are an way to facilitate ‘on the job training’</p>
    </div>
</div>



<h2>Section heading (H2) title</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                    Text field label
                </label>
                <input class="govuk-input" id="name" name="name" type="text" required>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                    Text area Input field
                </label>
                <span id="more-detail-hint" class="govuk-hint">
                    Paragraph text copy - description of required information
                 </span>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint" required></textarea>
            </div>
            <button type="submit" class="govuk-button">Submit</button>
        </form>
    </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2>Section heading (H2) title</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="An image of cyclists overlayed with a 3 by 2 grid to explain the aspect ratio of the photograph">
        <p><a href="#">Link somewhere</a> </p>
        <p class="govuk-!-font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="An image of cyclists overlayed with a 3 by 2 grid to explain the aspect ratio of the photograph">
        <p><a href="#">Link somewhere</a> </p>
        <p class="govuk-!-font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <img src="https://design-system.service.gov.uk/styles/images/default/3by2.jpg" alt="An image of cyclists overlayed with a 3 by 2 grid to explain the aspect ratio of the photograph">
        <p><a href="#">Link somewhere</a> </p>
        <p class="govuk-!-font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3>Section heading (h3) title</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
            <li>Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        VIDEO
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body statistic">
                    <span class="number govuk-!-font-size-80">65</span>
                    <span class="heading">Heading</span>
                </p>
                <p class="govuk-body statistic">
                    <span class="number govuk-!-font-size-80">65</span>
                    <span class="heading">Heading</span>
                </p>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
                    <li>Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis...</li>
                </ul>
            </div>

        </div>






    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-inset-text">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>
$(function () {


  var forms = $('main form');
  var inputs = forms.find('.govuk-form-group > :input');

  forms.attr('novalidate', 'novalidate');

  forms.on('submit', function () {
    inputs.each(function () {
      var result = this.checkValidity();
      if (!result) {
        showValidationMessage(this);
      } else {
        hideValidationMessage(this);
      }
    });
    return this.checkValidity();
  });

  inputs.on('blur', function () {
    var result = this.checkValidity();
    if (!result) {
      showValidationMessage(this);
    } else {
      hideValidationMessage(this);
    }
  });

});

  var showValidationMessage = function (field) {
    var field = field,
      $field = $(field),
      $parent = $field.parent();

    if (!$parent.hasClass('govuk-form-group--error')) {
      var labelText = $field.data('label') || $("label[for='" + $field.attr('id') + "']").text(),
        errorMessageText = 'Enter a valid ' + labelText.toLowerCase(),
        errorMessage = $('<p>')
          .html(errorMessageText)
          .prop('class', 'govuk-error-message')
          .prop('id', 'validation-' + slugify(labelText));
      $field.before(errorMessage);
      $parent.addClass('govuk-form-group--error');
      $field.attr({
        'aria-describedby' : 'validation-' + slugify(labelText),
        'aria-invalid': 'true'
      }).addClass('govuk-input--error');
    }
  }
  var hideValidationMessage = function (field) {
    var field = field,
      $field = $(field),
      $parent = $field.parent();

    $parent.removeClass('govuk-form-group--error');
    $parent.find('p.govuk-error-message').remove();
    $field.removeAttr('aria-describedby');
    $field.removeAttr('aria-invalid');
    $field.removeClass('govuk-input--error');
  }
  var slugify = function (text) {
    return text.toString().toLowerCase()
      .replace(/\s+/g, '-')
      .replace(/[^\w\-]+/g, '')
      .replace(/\-\-+/g, '-')
      .replace(/^-+/, '')
      .replace(/-+$/, '');
  }


</script>

{% endblock %}