$grey-1:        #212121;
$grey-2:        #212121;
$grey-3:        #646c6f;
$grey-4:        #ddd;
$grey-5:        #212121;

$text-colour:   #000;
$page-bg:       $grey-1;
$focus-colour:  #ffbf47;
$border-colour: #ddd;

$employer:      #ffb007;
$employer-light: #c00;

$apprentice:    #006dff;
$apprentice-light: #f5faff;