
$employer:        #ffb007;
$employer-mid:    #ffe9c1;
$employer-light:  #fff4df;

$apprentice:      #006dff;
$apprentice-mid:  #d1e6fb;
$apprentice-light: #d7e9fc;

$grey-1:        #212121;
$grey-2:        #212121;
$grey-3:        #646c6f;
$grey-4:        #ddd;
$grey-5:        #6F777B;
$grey-6:        #E2E2E2;
$grey-7:        #F8F8F8;

$black:           #0B0C0C;

$text-colour:     #6F777B;
$heading-colour:  $black;
$border-colour:   #dee0e2;

$link-colour:             $apprentice;
$link-visited-colour:     $apprentice;

$secondary-text-colour: $grey-3;
$page-bg:       #1e1d1d;
$focus-colour:  #ffbf47;
$border-colour: #ddd;
$error-colour:  #C42B3A;

$input-border-colour: #000;


