.page-template {
   background: $page-bg;
 }

.wrap {
  margin: 0 auto;
  max-width: $page-width;
}

.main-content {
  padding: 20px;
  background: #fff;
  @include media-query($from: tablet) {
    padding: 50px;
  }
}

.section-break {
  margin: 0;
  border: none;
  height: 0;
  border-bottom: 1px solid $border-colour;
  @include responsive-margin(6, "top");
  @include responsive-margin(6, "bottom");
}