.page-template {
   background: $page-bg;
}

.js-menu-open {
  overflow: hidden;
}

.wrap {
  margin: 0 auto;
  min-width: 320px;
  max-width: $page-width;
  position: relative;
  overflow: hidden;
}

.main-content {
  padding: 20px;
  background: #fff;
  @include media-query($from: tablet) {
    padding: 50px;
  }
}

.main-content,
.section,
.footer {
  padding: $gutter-half;
  @include media-query($from: tablet) {
    padding: $gutter;
  }
  @include media-query($from: desktop) {
    padding: 40px $gutter-double
  }
}

.page {
  max-width: 700px;
}

.section-break {
  margin: 0;
  border: none;
  height: 0;
  border-bottom: 1px solid $border-colour;
  @include responsive-margin(6, "top");
  @include responsive-margin(6, "bottom");
}