$grid-widths: (
        one-fifth: 20%,
    one-quarter: 25%,
    one-third: 33.3333%,
    one-half: 50%,
    two-thirds: 66.6666%,
    three-quarters: 75%,
    four-fifths: 80%,
    full: 100%
);

@function grid-width($key) {
  @if map-has-key($grid-widths, $key) {
  @return map-get($grid-widths, $key);
  }
  @error "Unknown grid width `#{$key}`";
}

@mixin grid-row($class: "grid-row") {
  .#{$class} {
    @include clearfix;
    margin-right: - ($gutter-half);
    margin-left: - ($gutter-half);
  }
}

@mixin grid-column($width: full, $float: left, $at: tablet, $class: "grid-column") {
  .#{$class}-#{$width} {
    box-sizing: border-box;
    @if $at != desktop {
      width: 100%;
    }
    padding: 0 $gutter-half;
    @include media-query($from: $at) {
      width: grid-width($width);
      float: $float;
    }
  }
}

@include grid-row;
@include grid-column(one-fifth);
@include grid-column(one-quarter);
@include grid-column(one-third);
@include grid-column(one-half);
@include grid-column(two-thirds);
@include grid-column(three-quarters);
@include grid-column(four-fifths);
@include grid-column();

.grid-row-full-width {
  @include clearfix;
  @include media-query($from: tablet) {
    display: flex;
  }
}

.grid-column-full-width-one-quarter {
  @include media-query($from: tablet) {
    width: 25%;
    float: left;
  }
}

.grid-column-full-width-one-half {
  @include media-query($from: tablet) {
    width: 50%;
    float: left;
  }
}