.hidden--mobile {
  display: none;
  @include media-query($from: tablet) {
    display: block;
  }
}

.hidden--desktop {
  @include media-query($from: tablet) {
    display: none;
  }
}

.display--block {
  display: block !important;
}

.u-\!-margin-top-0 {
  margin-top:0;
}

.u-\!-margin-bottom-0 {
  margin-bottom:0;
}

.u-\!-font-weight-bold {
  font-weight:bold;
}