
$font-family: nobel, sans-serif;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;

$root-font-size: 16px !default;

$page-width: 1440px;

$gutter: 40px !default;
$gutter-half: $gutter / 2;
$gutter-double: $gutter * 2;

$edgeGutter:            20px;
$edgeGutterTablet:      40px;
$edgeGutterDesktop:     80px;

$nav-breakpoint: 900px;
$nav-breakpoint-desktop: 1200px;

$border-width: 5px !default;
$border-width-wide: 10px !default;
$border-width-mobile: 4px !default;
$border-width-form-element: 5px !default;
$border-width-form-element-error: 4px !default;
$border-width-form-group-error: $border-width !default;
$focus-width: 3px !default;




$typography-scale: (
        80: (
                null: (
                        font-size: 53px,
                        line-height: 55px
                ),
                tablet: (
                        font-size: 80px,
                        line-height: 80px
                ),
                print: (
                        font-size: 53pt,
                        line-height: 1.1
                )
        ),
        48: (
                null: (
                        font-size: 32px,
                        line-height: 35px
                ),
                tablet: (
                        font-size: 48px,
                        line-height: 50px
                ),
                print: (
                        font-size: 32pt,
                        line-height: 1.15
                )
        ),
        36: (
                null: (
                        font-size: 24px,
                        line-height: 25px
                ),
                tablet: (
                        font-size: 36px,
                        line-height: 40px
                ),
                print: (
                        font-size: 24pt,
                        line-height: 1.05
                )
        ),
        27: (
                null: (
                        font-size: 18px,
                        line-height: 20px
                ),
                tablet: (
                        font-size: 27px,
                        line-height: 30px
                ),
                print: (
                        font-size: 18pt,
                        line-height: 1.15
                )
        ),
        24: (
                null: (
                        font-size: 18px,
                        line-height: 20px
                ),
                tablet: (
                        font-size: 24px,
                        line-height: 30px
                ),
                print: (
                        font-size: 18pt,
                        line-height: 1.15
                )
        ),
        19: (
                null: (
                        font-size: 16px,
                        line-height: 20px
                ),
                tablet: (
                        font-size: 19px,
                        line-height: 25px
                ),
                print: (
                        font-size: 14pt,
                        line-height: 1.15
                )
        ),
        18: (
                null: (
                        font-size: 16px,
                        line-height: 20px
                ),
                tablet: (
                        font-size: 18px,
                        line-height: 25px
                ),
                print: (
                        font-size: 14pt,
                        line-height: 1.15
                )
        ),
        16: (
                null: (
                        font-size: 14px,
                        line-height: 16px
                ),
                tablet: (
                        font-size: 16px,
                        line-height: 20px
                ),
                print: (
                        font-size: 14pt,
                        line-height: 1.2
                )
        ),
        14: (
                null: (
                        font-size: 12px,
                        line-height: 15px
                ),
                tablet: (
                        font-size: 14px,
                        line-height: 20px
                ),
                print: (
                        font-size: 12pt,
                        line-height: 1.2
                )
        ),
        12: (
                null: (
                        font-size: 10px,
                        line-height: 14px
                ),
                tablet: (
                        font-size: 12px,
                        line-height: 18px
                ),
                print: (
                        font-size: 10pt,
                        line-height: 1.1
                )
        )
);

$spacing-responsive-scale: (
        0: (
                null: 0,
                tablet: 0
        ),
        1: (
                null: 5px,
                tablet: 5px
        ),
        2: (
                null: 10px,
                tablet: 10px
        ),
        3: (
                null: 15px,
                tablet: 15px
        ),
        4: (
                null: 15px,
                tablet: 20px
        ),
        5: (
                null: 15px,
                tablet: 25px
        ),
        6: (
                null: 20px,
                tablet: 30px
        ),
        7: (
                null: 25px,
                tablet: 40px
        ),
        8: (
                null: 30px,
                tablet: 50px
        ),
        9: (
                null: 40px,
                tablet: 60px
        ),
        10: (
                null: 60px,
                tablet: 80px
        ),
        11: (
                null: 80px,
                tablet: 100px
        ),

) !default;

$spacing-points: (
        0: 0,
        1: 5px,
        2: 10px,
        3: 15px,
        4: 20px,
        5: 25px,
        6: 30px,
        7: 40px,
        8: 50px,
        9: 60px,
        10: 70px,
        11: 80px
) !default;