html {
  line-height: 1.25;
}

// Headings

.heading-xl {
  color: $heading-colour;
  text-transform: uppercase;
  @include font($size: 48, $weight: bold);
  margin-top: 0;
  @include responsive-margin(8, "bottom");
}

.heading-l {
  color: $heading-colour;
  text-transform: uppercase;
  @include font($size: 36, $weight: bold);
}

.heading-m {
  color: $heading-colour;
  text-transform: uppercase;
  @include font($size: 24, $weight: bold);
}

.heading-s {
  color: $heading-colour;
  text-transform: uppercase;
  @include font($size: 19, $weight: bold);
}

.heading-xs {
  color: $heading-colour;
  text-transform: uppercase;
  @include font($size: 14, $weight: bold);
}

// Captions

.caption-xl {
  @include font($size: 27);
  display: block;
  text-transform: uppercase;
  margin-bottom: spacing(1);
  color: $secondary-text-colour;
}

.caption-l {
  @include font($size: 24);
  display: block;
  margin-bottom: spacing(1);
  text-transform: uppercase;
  color: $secondary-text-colour;
  @include media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.caption-m {
  @include font($size: 19);
  display: block;
  text-transform: uppercase;
  color: $secondary-text-colour;
}

.caption-s {
  @include font($size: 14, $weight: light);
  display: block;
  text-transform: uppercase;
  color: $secondary-text-colour;
}

// Generic

p {
  @include typography-common;
  font-weight: $font-weight-light;
  font-size: 21px;
  //color: $text-colour;
}

.lead-paragraph {
  font-size: 26px;
}

.caption-s + .heading-m {
  margin-top: .2em;
}

.hr {
  height: 6px;
  border: none;
  @include responsive-margin(5, "bottom");
}

.hr-apprentice{
  background-color:$apprentice;
}
.hr-employer{
  background-color: $employer;
}

.text--apprentice{
  color:$apprentice;
}
.text--employer{
  color: $employer;
}
.text-danger{
  color:$error-colour;
}