// Clearfix

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.clearfix {
  @include clearfix
}

// Visually Hidden

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.vh, .visually-hidden {
  @include visually-hidden
}

.js-enabled .js-show {
  display: block;
}

.js-enabled .js-hidden {
  display: none;
}
