.fiu-notification {
  @include fiu-typography-common;
  background: $fiu-action-information;
  padding: 20px;
  color: $white;
  margin-bottom: 20px;
  &:focus {
    @include fiu-focused-block;
  }
}

.fiu-notification__heading {
  @extend .govuk-heading-m;
  color: inherit;
  margin-bottom: 0;
}

.fiu-notification__body {
  @extend .govuk-body;
  color: inherit;
}

.fiu-notification__heading + .fiu-notification__body {
  margin-top: .4em;
}

.fiu-notification__body:last-child {
  margin-bottom: 0;
  @include govuk-media-query(tablet) {
    margin-bottom: -2px;
  }
}

.fiu-notification--success {
  background: $fiu-action-success;
}

.fiu-notification--error {
  background: $fiu-action-error;
  color: $white;
}