{% extends "template-ma.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}

{% block content %}

    <section class="das-dashboard-header">
        <div class="govuk-width-container das-dashboard-header__border">
            <h1 class="das-dashboard-header__title">Your employer account</h1>
            <h2 class="das-dashboard-header__account-name">Assurance Aerospace Ltd</h2>
        </div>
    </section>

    <section class="das-section das-section--search">
        <div class="govuk-width-container">
            <div class="govuk-form-group das-form-group-inline das-dashboard-search">
                <label for="search" class="govuk-visually-hidden">Search</label>
                <input class="govuk-input das-dashboard-search__input" id="search" type="search" placeholder="Search">
                <div class="das-form-group-inline__button-wrap">
                    <button class="govuk-button das-dashboard-search__button" type="submit">Search</button>
                </div>
            </div>
        </div>
    </section>

    <main class="govuk-main-wrapper das-section--dashboard" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="das-panels">
                <div class="das-panels__row">
                    <div class="das-panel das-panel--featured">
                        <h3 class="das-panel__heading">Check if government funding is available for apprenticeship training </h3>
                        <p>Use government funding to pay for part of all of the cost of apprenticeship training.</p>
                        <p><a href="#" class="das-panel__link">Check and secure funding now</a> </p>
                    </div>
                    <div class="das-panel">
                        <h3 class="das-panel__heading">Training provider permissions</h3>
                        <p>Control what tasks you would like your training provider to do on your behalf.</p>
                        <p><a href="#" class="govuk-link">Set permissions</a> </p>
                    </div>
                </div>
                <div class="das-panels__row das-panels__row--secondary">
                    <div class="das-panel">
                        <h3 class="das-panel__heading">Your saved apprenticeships and training providers</h3>
                        <p>You do not have any apprenticeships or training providers saved.</p>
                    </div>
                    <div class="das-panel">
                        <h3 class="das-panel__heading">Your account settings</h3>
                        <ul class="govuk-list">
                           <li><a href="#" class="govuk-link">Your accounts</a> </li>
                           <li><a href="#" class="govuk-link">Rename account </a> </li>
                           <li><a href="#" class="govuk-link">Change your password </a> </li>
                           <li><a href="#" class="govuk-link">Change your email address </a> </li>
                           <li><a href="#" class="govuk-link">Notification settings </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="das-section das-section--main" aria-labelledby="more-title">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <hr class="das-section-break das-section-break--l das-section-break--heavy das-section-break--gutters">
                <div class="govuk-grid-column-one-third">
                    <h2 id="more-title" class="govuk-heading-l">More on the Apprenticeships Service</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Most active</h3>
                    <ul class="govuk-list das-list--">
                        <li><a href="#" class="govuk-link">Add an apprentice</a></li>
                        <li><a href="#" class="govuk-link">Manage your apprentices</a></li>
                        <li><a href="#" class="govuk-link">Add a new training provider</a></li>
                        <li><a href="#" class="govuk-link">Add a new organisation</a></li>
                        <li><a href="#" class="govuk-link">Rename your account</a></li>
                    </ul>
                </div>
                <div class="govuk-grid-column-one-third">
                    <a class="das-promo" href="#">
                        What you need to know about apprenticeships
                    </a>
                    <p>
                        Find out more about <a href="#" class="govuk-link"> what the Apprenticeship Service can do for your organisation</a>.
                    </p>
                </div>
            </div>
        </div>

    </section>

{% endblock  %}