{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}
{% set backLink = 'a' %}

{% block content %}

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Select your organisation</h1>

                    <form action="/search" method="get" role="search" aria-label="On this page">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="search-list">Search results</label>

                            <div class=" das-form-group-inline das-form-group-inline--sm">
                                <input id="search-list" name="search-list" title="Search" class="govuk-input" type="text" value="" aria-describedby="inline-search-hint">

                                <span id="inline-search-hint" class="govuk-hint">50 results found</span>

                                <div class="das-form-group-inline__button-wrap">
                                    <button class="govuk-button das-dashboard-search__button" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="govuk-grid-row">
               <section class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Filter results</h2>
                    <form method="POST">

                        <div class="govuk-form-group das-form-group--panel">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h3 class="govuk-fieldset__heading">
                                        Organisation type
                                    </h3>
                                </legend>
                                <div class="govuk-radios govuk-radios--small">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="company" name="organisationType" type="radio" value="CompaniesHouse">
                                        <label class="govuk-label govuk-radios__label" for="company">
                                            Company
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="charity" name="organisationType" type="radio" value="Charities">
                                        <label class="govuk-label govuk-radios__label" for="charity">
                                            Charity
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="publicSector" name="organisationType" type="radio" value="PublicBodies">
                                        <label class="govuk-label govuk-radios__label" for="publicSector">
                                            Public sector
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="all" name="organisationType" type="radio" value="">
                                        <label class="govuk-label govuk-radios__label" for="all">
                                            Show all
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="form-group" id="apply-filter">
                                <button type="submit" class="govuk-button govuk-button--secondary das-visually-hidden">Apply filter</button>
                            </div>

                        </div>

                    </form>
                </section>
                <section class="govuk-grid-column-two-thirds">

                    <ul class="govuk-list das-govuk-list-forms">
                        <li>
                            <form>
                                <input type="hidden" name="DateOfInception" value="@organisation.DateOfInception" />

                                <input type="hidden" name="ReferenceNumber" value="@organisation.ReferenceNumber" />

                                <input type="hidden" name="Sector" value="@organisation.Sector" />

                                <input type="hidden" name="Type" value="@organisation.Type" />

                                <input type="hidden" name="Name" value="@organisation.Name" />

                                <input type="hidden" name="Address" value="@organisation.Address" />

                                <button type="submit">
                                    THIS IS THE NAME OF THE ORGANISATION
                                </button>
                            </form>
                            <dl class="das-inline-def-list">
                                <dt>Address</dt>
                                <dd>129  Caterham Drive, Coulsdon, CR5 1JQ</dd>
                                <dt>Type</dt>
                                <dd>Listed on Companies House</dd>
                            </dl>
                        </li>
                        <li>
                            <!-- ******************NEW HTML TO CREATE/TEST *****************-->
                            this is my text
                                    <span class="govuk-heading-s">THIS IS THE NAME OF THE ORGANISATION</span>
                                    <dl class="das-inline-def-list">
                                        <dt>Address</dt>
                                        <dd>No address supplied</dd>
                                        <dt>Type</dt>
                                        <dd>GetDescription()</dd>
                                    </dl>
                                    <span>
                                        Already added - <a href="#" class="govuk-link">view my organisations</a>
                                    </span>
                            </li>
                            <li>
                        <span class="govuk-heading-s">Can't find your organisation?</span>   <br>Check the spelling and <a href="#searchTerm" class="govuk-link">search again</a>. <br>You can also <a href="#" class="govuk-link">enter your details manually.</a>
                            </li>

                    <li>
                        <span class="govuk-heading-s">No results found. </span><br>
                        <span class="xgovuk-heading-s">Can't find your organisation?</span>          <br>Check the spelling and <a href="#searchTerm" class="govuk-link">search again</a>. <br>You can also <a href="#" class="govuk-link">enter your details manually.</a>
                    </li>
                    </ul>

                    <nav class="das-pagination-link">
                        <div class="das-pagination-link__wrap das-pagination-link--next">
                            <a href="" class="govuk-link govuk-link--no-visited-state">
                                <span>Next page</span> <span>Page 2 of 3</span>
                            </a>
                        </div>
                    </nav>



                </section>
            </div>





        </main>
    </div>

{% endblock %}