// Pagination

.das-pagination {
  @include govuk-font($size: 19);
  list-style: none;
  padding: 0;
  margin: 0 0 0 -10px;
  @include govuk-media-query($from: tablet) {
    padding: 10px 0;
  }
}

.das-pagination__item {
  display: inline-block;
}

.das-pagination__link {
  display: block;
  padding: 5px 10px;
  color: $govuk-link-colour;
  &:hover,
  &:focus {
    color: $govuk-link-hover-colour;
    text-decoration: none;
  }
  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
  &.current {
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: $govuk-text-colour;
    &:hover,
    &:focus {
      background: none;
    }
  }
}

.das-pagination__summary {
  @include govuk-font($size: 19);
  padding: 10px 0;
  @include govuk-media-query($from: tablet) {
    float: right;
    padding: 15px 0;
  }
}

// Pagination simple - just previous and next links

.das-pagination-simple {
  @include govuk-font($size: 19);
  margin: 20px 0;
}

.das-pagination-simple__list {
  list-style: none;
  padding: 0;
  margin: 0 -10px;
  @include govuk-clearfix;
}

.das-pagination-simple__list-item {
  float: left;
  width: 50%;
}

.das-pagination-simple__list-item--next {
  text-align: right;
  float: right;
}

.das-pagination-simple__link {
  @include govuk-link-common;
  @include govuk-link-style-no-visited-state;
  display: block;
  padding: 5px 10px;
}

.das-pagination-simple__link-text {
  display: block;
  font-weight: 700;
  margin-bottom: 3px;
}
