@mixin arrow-right($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="' + $color + '" viewBox="0 0 25 40" xml:space="preserve"><path class="das-pagination__arrow" d="M0,4.3L16.2,20L0,35.8L4.4,40L25,20L4.5,0L0,4.3z"/></svg>');
}
@mixin arrow-left($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block; transform: scale(-1,1)"  x="0px" y="0px" fill="' + $color + '" viewBox="0 0 25 40" xml:space="preserve"><path class="das-pagination__arrow" d="M0,4.3L16.2,20L0,35.8L4.4,40L25,20L4.5,0L0,4.3z"/></svg>');
}

.das-pagination {
  @include govuk-font($size: 19);
  list-style: none;
  padding: 0;
  margin:0 0 0 -10px;
  @include govuk-media-query($from: tablet) {
    padding: 10px 0;
  }
}

.das-pagination__item {
  display: inline-block;
}

.das-pagination__link {
  display: block;
  padding: 5px 10px;
  color: $govuk-link-colour;
  &:hover, &:focus {
    color: $govuk-link-hover-colour;
    text-decoration: none;
  }
  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
  &.current {
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: $govuk-text-colour;
    &:hover, &:focus {
      background: none;
    }
  }
}

.das-pagination__summary {
  @include govuk-font($size: 19);
  padding: 10px 0;
  @include govuk-media-query($from: tablet) {
    float: right;
    padding: 15px 0;
  }
}
