<nav class="das-pagination-simple" role="navigation" aria-label="Pagination">
    <ul class="das-pagination-simple__list">
        <li class="das-pagination-simple__list-item das-pagination-simple__list-item--previous">
            <a href="#" class="das-pagination-simple__link" rel="prev">
                <span class="das-pagination-simple__link-text">Previous page</span>
                <span class="das-pagination-simple__link-divider govuk-visually-hidden">:</span>
                <span class="das-pagination-simple__link-label">1 of 1286</span>
            </a>
        </li>
        <li class="das-pagination-simple__list-item das-pagination-simple__list-item--next">
            <a href="#" class="das-pagination-simple__link" rel="next">
                <span class="das-pagination-simple__link-text">Next page</span>
                <span class="das-pagination-simple__link-divider govuk-visually-hidden">:</span>
                <span class="das-pagination-simple__link-label">3 of 1286</span>
            </a>
        </li>
    </ul>
</nav>