.das-definition-list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}

.das-definition-list__title {
  font-weight: $govuk-font-weight-bold;
}

.das-definition-list__definition {
  margin: 0;
}

.das-definition-list--inline {
  overflow: hidden;
  .das-definition-list__title {
    clear: both;
    float: left;
    margin-right: 10px;
    &:after {
      content: ':';
    }
  }
  .das-definition-list__definition {
    float: left;
  }
}

.das-definition-list--meta {
  overflow: hidden;
  @include govuk-font($size: 16);
  .das-definition-list__title {
    clear: both;
    float: left;
    font-weight: normal;
    color: $govuk-secondary-text-colour;
    margin-right: .3em;
    &:after {
      content: ':';
    }
  }
  .das-definition-list__definition {
    float: left;
  }
}

.das-definition-list--table {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-flow: row wrap;
  }
  .das-definition-list__title {
    font-weight: $govuk-font-weight-bold;
    flex-basis: 35%;
    padding-right: 5%;
    @include govuk-media-query($from: tablet) {
      margin-bottom: 5px;
      &.das-definition-list__title--spacer {
        margin-bottom: 10px;
      }
    }
    &:after {
      content: ':';
    }
  }
  .das-definition-list__definition {
    flex-basis: 60%;
    flex-grow: 1;
    margin-bottom: 5px;
    &.das-definition-list__definition--spacer {
      margin-bottom: 10px;
    }
  }
}

.das-definition-list--muted {
  color: $govuk-secondary-text-colour;
  .das-definition-list__title {
    font-weight: normal;
  }
}

.das-definition-list__title--spacer {
  @include govuk-media-query($from: tablet) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.das-definition-list__definition--spacer {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $govuk-border-colour;
}

dl.das-inline-def-list {
  margin: 0;
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  dt {
    font-weight: bold;
    display: inline;
    padding-right: govuk-spacing(1);
    &:before {
      content: '';
      display: block;
    }
    &:after{
      content: ':';
      font-weight: normal;
    }
  }
  dd {
    font-weight: normal;
    display: inline;
    margin: 0;
    padding-right: govuk-spacing(2);
  }
}
