.das-inline-list {
  @include govuk-font($size: 19);
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    display: inline-block;
  }
}

.das-inline-list--bar {
  & > li {
    &:after {
      padding-left: $govuk-gutter-half;
      padding-right: $govuk-gutter-half - 5;
      content: "|";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.das-inline-list--comma {
  & > li {
    &:after {
      content: ",";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.das-govuk-list-forms {
  li {
    border-bottom: 1px solid govuk-colour("mid-grey");
    padding: govuk-spacing(3) govuk-spacing(4) govuk-spacing(4) govuk-spacing(4);
    &:first-child {
      padding-top: govuk-spacing(0);
    }

    form {
      button {
        font-weight: bold;
        padding: 0;
        margin: 0 0 govuk-spacing(2) 0;
        background: none;
        border: none;
        text-decoration: underline;
        font-size: inherit;
        color: $govuk-link-colour;
        cursor: pointer;
        &:hover {
          color: $govuk-link-hover-colour;
        }
        &:focus {
          /* outline only as its a btn */
          outline: $govuk-focus-width solid $govuk-focus-colour;
          outline-offset: 0;
        }
      }
    }
    .govuk-heading-s,
    & > span strong {
      margin-bottom: govuk-spacing(2);
    }
    & > span {
      display: inline-block;
    }
    dl + span {
      margin-top: govuk-spacing(2);
    }
  }
}

.das-icon-list__list-item {
  position: relative;
  padding-left: 1.35em;
}

.das-icon-list__icon {
  height: 0.75em;
  width: 0.75em;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 0.2em;
  overflow: hidden;
  text-indent: -9999px;
}

.das-icon-list__icon--cross {
  background-image: url("../images/icon-cross--red.svg");
}

.das-icon-list__icon--tick {
  background-image: url("../images/icon-tick--green.svg");
  width: 1em;
}

.das-icon-list--large {
  line-height: 1.6em;
}

.das-icon-list--large .das-icon-list__list-item {
  padding-left: 1.6em;
}

.das-icon-list--large .das-icon-list__icon {
  height: 0.95em;
  width: 0.95em;
}

.das-icon-list--large .das-icon-list__icon--tick {
  width: 1.2em;
}
