p {
  @extend .govuk-body;
  color: inherit;
}

.das-text--error-icon {
  padding-left: 30px;
  background-image: url("../images/icon-cross--red.svg");
  background-repeat: no-repeat;
  background-position: 0 0.2em;
  background-size: 18px 18px;
}

.das-text--success-icon {
  padding-left: 30px;
  background-image: url("../images/icon-tick--green.svg");
  background-repeat: no-repeat;
  background-size: 23px 22px;
}

abbr {
  font-variant: none;

  &[title] {
    text-decoration: none;
    border-bottom: 1px dotted govuk-colour("mid-grey");

    .govuk-heading-xl &,
    .govuk-heading-l & {
      border-bottom: 1px dashed govuk-colour("mid-grey");
    }
  }
}

.das-mark {
  color: govuk-colour("black");
}

.das-mark--green {
  background: #cffdc6;
}
