p {
  @extend .govuk-body;
  color: inherit;
}

.das-text--muted {
  color: govuk-colour('dark-grey');
}

.das-text--error {
  color: govuk-colour('red');
}

.das-text--error-icon {
  padding-left: 30px;
  background-image: url("../images/icon-cross--red.svg");
  background-repeat: no-repeat;
  background-position: 0 .2em;
  background-size: 18px 18px;
}


abbr {
    font-variant: none;

    &[title] {
      text-decoration: none;
      border-bottom: 1px dotted govuk-colour('mid-grey');

      .govuk-heading-xl &,
      .govuk-heading-l & {
          border-bottom: 1px dashed govuk-colour('mid-grey');
      }
    }
}

.das-text-capitalise {
  display: inline-block;
  &:first-letter {
    text-transform: capitalize;
  }
}

.das-text--normal {
  font-style: normal;
}

.das-mark {
  color: govuk-colour('black');
}

.das-mark--green {
  background: #cffdc6;
}