

// Generic float classes

.das-float-left {
    float: left;
}

.das-float-right {
    float: right;
}

.das-\!-text-align-left {
  text-align: left;
}

.das-\!-text-align-right {
  text-align: right;
}

.das-\!-text-align-left--from-tablet {
  @include govuk-media-query($from: tablet) {
    text-align: left;
  }
}

.das-\!-text-align-right--from-tablet {
  @include govuk-media-query($from: tablet) {
    text-align: right;
  }
}


// Clearfix

@mixin das-clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// Javascript hidden class(es)
.js-enabled {
  .js-hidden {
    display: none;
  }
  .das-visually-hidden {/* only if js is enabled make visually hidden */
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
      clip: rect(0 0 0 0) !important;
      -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
      border: 0 !important;
      white-space: nowrap !important;
  }
}

// Utility hidden class, for server side code
.das-hidden {
  display: none;
}

// Breakable class, forces words to wrap.
// Useful for email addresses and other user-generated content

.das-breakable {
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  display: inline-block;
  max-width: 100%;
}

.das-breakable--inline {
  display: inline;
}

.das-breakable--block {
  display: block;
}

.das-no-wrap {
  white-space: nowrap;
}

.das-\!-display--block {
  display: block;
}

.das-show {
  display: block;
}

.das-hide {
  display: none;
}

.das-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color:#fff;
}

.das-pub-cover-link {/* wrapper to img:pub-cover-html.png */
    display: inline-block;
    outline: 5px solid rgba(11,12,12,.1);
    -webkit-box-shadow: 0 2px 2px rgba(11,12,12,.4);
    -moz-box-shadow: 0 2px 2px rgba(11,12,12,.4);
    box-shadow: 0 2px 2px rgba(11,12,12,.4);
    & img {
      border: 0;
    }
}

