.das-navigation {
  @include govuk-text-colour;
  @include govuk-font($size: 19);
  border-bottom: 1px solid govuk-colour(dark-grey);
}

.das-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0 $govuk-gutter-half * -1;
  position: relative;
  @include govuk-clearfix;
}

.das-navigation__list-item {
  float: left;
}

.das-navigation__link {
  @include govuk-link-common;
  display: block;
  padding: 10px $govuk-gutter-half 8px;
  color: $govuk-link-colour;
  @include govuk-media-query($from: tablet) {
    display: inline-block;
  }
}

.das-navigation__link--current {
  position: relative;
  text-decoration: none;
  font-weight: $govuk-font-weight-bold;
  color: govuk-colour("black");
  &:after {
    background: govuk-colour("blue");
    bottom: -1px;
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 5px;
    position: absolute;
    z-index: 0;
    @include govuk-media-query($from: tablet) {
      top: auto;
      bottom: 0;
      left: $govuk-gutter-half;
      right: $govuk-gutter-half;
      width: auto;
      height: 5px;
    }
  }
  &:focus:after {
    background: transparent;
  }
}

.das-navigation__priority-list {
  background: #ccc;
  list-style: none;
  padding-left: 0;
  clear: both;
  & > .das-navigation__list-item {
    width: 100%;
    border-top: 1px solid #ccc;
    @include govuk-media-query($from: desktop) {
        width: auto;
    }
  }
}

.das-navigation__priority-button {
  display: block;
  padding: 10px $govuk-gutter-half 8px;
  padding-right: 35px;
  color: $govuk-link-colour;
  @include govuk-link-common;
  position: absolute;
  top: 0;
  right: 0;
  &:after {
    position: absolute;
    right: 15px;
    top: 17px;
    @include triangle-equilateral(down, 10px, currentColor)
  }
  &.open:after {
    top: 15px;
    @include triangle-equilateral(up, 10px, currentColor)
  }
}