

<ol class="sidebar-nav">
    <li class="sidebar-nav__section sidebar-nav__section--active"><a href=""> How much is it going to me?</a>
        <ul>
            <li><a href=""> Paying for apprentices using a transfer of funds</a></li>
            <li><a href=""> Transfer funds from a levy payer</a></li>
            <li><a href=""> Paying the levy</a></li>
        </ul>
    </li>
    <li class="sidebar-nav__section"><a href=""> Choose an apprenticeship</a></li>
    <li class="sidebar-nav__section"><a href=""> Choose a training provider</a></li>
    <li class="sidebar-nav__section"><a href=""> Hire an apprentice</a> </li>
    <li class="sidebar-nav__section"><a href=""> Monitor progress</a></li>
    <li class="sidebar-nav__section"><a href=""> Assessment & qualification</a></li>
</ol>