<ol class="sidebar-nav">
    <li class="sidebar-nav__section sidebar-nav__section--active ">
        <a id="link-sidebar-apprentice-1" href="/apprentice/what-is-an-apprenticeship">
            Before you start
        </a>
    </li>

    <li class="sidebar-nav__section">
        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" id="link-sidebar-faa" rel="external" target="_blank">
            Find an apprenticeship
        </a>
    </li>

    <li class="sidebar-nav__section ">
        <a id="link-sidebar-apprentice-3" href="/apprentice/application">
            Application
        </a>
    </li>
    <li class="sidebar-nav__section ">
        <a id="link-sidebar-apprentice-4" href="/apprentice/interview">
            Interview
        </a>
    </li>
    <li class="sidebar-nav__section ">
        <a id="link-sidebar-apprentice-5" href="/apprentice/your-apprenticeship">
            Your apprenticeship
        </a>
    </li>
    <li class="sidebar-nav__section ">
        <a id="link-sidebar-apprentice-6" href="/apprentice/assessment-and-certification">
            Assessment and certification
        </a>
    </li>
</ol>