$vertical-link-heights: 60px;
$link-widths: 74px;
$navpad: 6px;

@mixin arrow($bgcolour, $leftpos) {
    content: ' ';
    display: inline-block;
    position: absolute;
    bottom: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid $bgcolour;
    left: $leftpos;
}

.fiu-header {
  background-color: $fiu-header-bg-colour;
  padding: 0;
  margin: 0;
}

.fiu-header__nav-row {
  background-color: $white;
}

.fiu-header__apprenticeship-logo {
  max-width: 100%;
  display: inline-block;
  margin-top: 12px;
  height: 62px;
}

.fiu-header__navigation-wrap {
  display: block;
  padding: 0;
}

.govuk-header__navigation--fiu {
  font-family: $fiu-font-family;
  font-weight: $fiu-font-weight-bold;
  min-height: $vertical-link-heights;
  list-style: none;
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  float: right;
}

.fiu-header__navigation-item {
  display: inline-block;
  padding: 10px $navpad;
  line-height: $vertical-link-heights;
  min-height: $vertical-link-heights;
  min-width: $link-widths;
  text-align: center;
  position: relative;

    &:last-child {
      padding-right: 0;
    }

    .fiu-button {
      vertical-align: baseline;
      vertical-align: unset;
      margin-bottom: 0;
      font-size: 13px;
    }
}

.fiu-header__navigation-item--active:after {
  @include arrow($fiu-header-sub-bg-colour,#{$link-widths / 2 + $navpad});
}

$fiu-header__link: 'a.fiu-header__link, a.fiu-header__link:active, a.fiu-header__link:hover, a.fiu-header__link:visited';
#{$fiu-header__link} {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: $fiu-header-link-colour;
}

.fiu-header__fav-row,
.fiu-header_fav-row-bg {
  min-height: 36px;
  background-color: $fiu-header-sub-bg-colour;
}

@media (max-width: 40.0625em) {/* tablets/mobiles: match gds desktop govuk-grid-columns*/
  .fiu-header__apprenticeship-logo {
    display: block;
    margin: 0 auto 10px auto;
    width: 50%;
    height: auto;
  }
  .govuk-header__navigation--fiu {
    width: 100%;
  }
  .govuk-header__navigation--fiu {
    min-height: 30px;
  }
  .fiu-header__navigation-item {
    line-height: 0;
    min-height: 24px;
    padding: 0;
    width: 48%;
  }
  .fiu-header__navigation-item:last-child {
    display: none;
  }

  .fiu-header__navigation-item--active:after {
    @include arrow($mid-grey,44%);
  }
}
