
.fiu-header {
  background-color: $fiu-header-bg-colour;
  padding: 0;
  margin: 0;
  text-align: center;
  @media print {
    text-align: left;
    margin-top: 50px;
  }
}

.fiu-header__apprenticeship-logo-link {
  padding-top: 1px;
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 10px;
  &:focus {
    @include fiu-focused-block
  }
  @include govuk-media-query(tablet) {
    float: left;
    display: block;
  }
}

.fiu-header__apprenticeship-logo {
  display: block;
  max-width: 100%;
  height: 60px;
  @include govuk-media-query(tablet) {
    max-width: none;
  }
}

.fiu-header__navigation-wrap {
  display: block;
  padding: 0;
}

.fiu-header__nav {
  @include govuk-media-query(tablet) {
    display: table;
    float: right;
    margin-right: -20px;
  }
}

.fiu-header__navigation {
  font-family: $fiu-font-family;
  font-weight: $fiu-font-weight-bold;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0 -10px;
  @include govuk-media-query(tablet) {
    display: table-row;
    margin: 0;
  }
}

.fiu-header__navigation-item {
  display: inline-block;
  position: relative;
  padding: 15px 0;

  @include govuk-media-query(tablet) {
    padding: 0 10px;
    display: table-cell;
    height: 80px;
    vertical-align: middle;
  }
}

.fiu-header__link {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: $fiu-header-link-colour;
  padding: 5px;
  &:hover {
    color: $fiu-header-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
  @include govuk-media-query(tablet) {
    padding: 5px 10px;
  }
}

.fiu-header__navigation-item--citizens-active:after {
  @include arrow($fiu-citizens-brand-colour);
}

.fiu-header__navigation-item--employers-active:after {
  @include arrow($fiu-employers-brand-colour);
}

.fiu-header__navigation-item--influencers-active:after {
  @include arrow($fiu-influencers-brand-colour);
}

