<header class="fiu-header" role="banner">
	<div class="fiu-width-container fiu-clearfix">
		<a href="/fiu/homepage" class="fiu-header__apprenticeship-logo-link">
			<img src="/fiu/assets/images/apprenticeships-logo-black.png" alt="Apprenticeships logo" class="fiu-header__apprenticeship-logo">
		</a>
		<nav class="fiu-header__nav">
			<ul id="fiu-nav" class="fiu-header__navigation" aria-label="Top Level Navigation">
				<li class="fiu-header__navigation-item fiu-header__navigation-item--citizens-active">
					<a class="fiu-header__link" href="/fiu/hub-apprentices">
						Apprentices
					</a>
				</li>
				<li class="fiu-header__navigation-item fiu-header__navigation-item--employers-active">
					<a class="fiu-header__link" href="/fiu/hub-employers">
						Employers
					</a>
				</li>
				<li class="fiu-header__navigation-item">
					<a href="/fiu/register" class="fiu-button">Register interest</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
