<header class="fiu-header" role="banner">
	<div class="govuk-grid-row fiu-header__nav-row">
		<div class="govuk-width-container">

			<div class="govuk-grid-column-one-third fiu-header__logo-wrap">
				<a href="#" class="govuk-header__link">
					<img src="/fiu/assets/images/apprenticeships-logo-black.png" alt="Apprenticeships logo" class="fiu-header__apprenticeship-logo">
				</a>
			</div>
			<nav class="govuk-grid-column-two-thirds fiu-header__navigation-wrap">
				<ul id="fiu-nav" class="govuk-header__navigation--fiu" aria-label="Top Level Navigation">
					<li class="fiu-header__navigation-item fiu-header__navigation-item--active">
						<a class="fiu-header__link" href="#1">
							Apprentices
						</a>
					</li>
					<li class="fiu-header__navigation-item ">
						<a class="fiu-header__link" href="#2">
							Employers
						</a>
					</li>
					<li class="fiu-header__navigation-item">
						<button class="fiu-button">Register interest</button>
					</li>
				</ul>
			</nav>

		</div>
	</div>
	<div class="govuk-grid-row fiu-header__fav-row">
		<div class="govuk-width-container">

      <!-- mobile nav component -->

		</div>
	</div>
</header>
