<header class="fiu-header" role="banner">
  <div class="fiu-width-container">
    <div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
				<a href="/fiu/homepage" class="fiu-header__apprenticeship-logo-link">
					<img src="/fiu/assets/images/apprenticeships-logo-black.png" alt="Apprenticeships logo" class="fiu-header__apprenticeship-logo">
				</a>
			</div>
			<nav class="govuk-grid-column-two-thirds">
				<ul id="fiu-nav" class="govuk-header__navigation--fiu" aria-label="Top Level Navigation">
					<li class="fiu-header__navigation-item fiu-header__navigation-item--active">
						<a class="fiu-header__link" href="/fiu/hub">
							Apprentices
						</a>
					</li>
					<li class="fiu-header__navigation-item ">
						<a class="fiu-header__link" href="/fiu/hub">
							Employers
						</a>
					</li>
					<li class="fiu-header__navigation-item">
						<a href="#" class="fiu-button">Register interest</a>
					</li>
				</ul>
			</nav>
    </div>
  </div>
</header>
