<div class="grid-row hero-banner hero-banner--employer hero-banner--right-aligned">
    <div class="grid-column-full">
        <div class="hero-banner__caption">
            <span class="hero-banner__caption-icon"></span>
            <span class="hero-banner__caption-text">Real apprentice stories</span>
        </div>
        <div class="grid-row hero-banner__content">
            <div class="grid-column-one-half  hero-banner__icon-play-container">
                <div class="hero-banner__icon-play"></div>
            </div>
            <div class="grid-column-one-half hero-banner__content-main">
                <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                <p class="hero-banner__copy">
                    "I didn't think university was for me. I saw a lot of my friends
                    struggling to make ends meet - I didn't want the debt and I was desperate to get the hands-on experience."
                </p>
                <p class="hero-banner__cite">Sarah Bloggs <span class="hero-banner__cite-detail">33, Designer, Manchester</span></p>
                <a class="hero-banner__link" href="#">View more apprentice stories</a>
            </div>
        </div>
        <span class="hero-banner__background hero-banner__background--employer-gail"></span>
    </div>
</div>
