<div class="grid-row hero-banner">
    <div class="grid-column-full">


        <div class="hero-banner_content">

            <div class="hero-banner_content-main">
                <h3 class="hero-banner_header">Valuable hands-on experience</h3>
                <div class="hero-banner-p">“I didn’t think university was for me. I saw a lot of my friends struggling
                    to
                    make ends meet - I didn’t want the debt and I was desperate to get the hands-on experience.”</div>

                <div class="hero-banner_cite">Sarah Bloggs <br />
                    <span class="hero-banner_cite_employer">33, Designer, Manchester</span>
                </div>

                <a class="hero-banner_link" href="#">find out more</a>
            </div>

        </div>

    </div>




    <img class="hero-banner_img-background" src="/dist/assets/images/hero-banner-bg.jpg" />
</div>
