<div class="grid-row hero-banner hero-banner--apprentice">
    <div class="grid-column-full">
        <div class="hero-banner__caption">
            <span class="hero-banner__caption-icon"></span>
            <span class="hero-banner__caption-text">Real apprentice stories</span>
        </div>
        <div class="grid-row hero-banner__content">
            <div class="grid-column-one-half  hero-banner__icon-play-container">
                <div class="hero-banner__icon-play"></div>
            </div>
            <div class="grid-column-one-half hero-banner__content-main">
                <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                <p class="hero-banner__copy">
                    "I didn't think university was for me. I saw a lot of my friends
                    struggling to make ends meet - I didn't want the debt and I was desperate to get the hands-on experience."
                </p>
                <div class="hero-banner__cite">Sarah Bloggs <span class="hero-banner__cite-detail">33, Designer, Manchester</span></div>
                <a class="hero-banner__link" href="#">View more apprentice stories</a>
            </div>
        </div>
        <span class="hero-banner__background">
            <div data-module="googleMaps" style="height:500px; width:100%" data-markerdataurl="/campaign/json/searchResults"
    data-lat="52.3996" data-lon="-0.536041">

    <div data-google-map-infobox-template="">
        <div class="infobox_container">
            <div class="arrow-up"></div>
            <div class="infobox">
                <h1 class="heading-small">((Title))</h1>
                <p>((ShortDescription))</p>
                <img height="14px" src="https://www.findapprenticeship.service.gov.uk/Content/_assets/img/gov.uk_logotype_crown_invert_trans.png">
                <a href="((Url))" target="_blank">View more details on gov.uk site</a>
            </div>
        </div>
    </div>
</div>
        </span>
    </div>
</div>

<script defer src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjlbjx6_-sz4utE2SVVNwc63PlUM_MLE&callback=DASFrontend.initMaps" type="text/javascript"></script>
<script defer src="/dist/campaign/js/infobox.js"></script>
