// Text colours

.das-\!-color-white {
  color: #fff !important;
}

.das-\!-color-green {
  color: govuk-colour("green") !important;
}

.das-\!-color-red {
  color: govuk-colour("red") !important;
}

.das-\!-color-blue {
  color: govuk-colour("blue") !important;
}

.das-\!-color-dark-blue {
  color: govuk-colour("dark-blue") !important;
}

.das-\!-color-purple {
  color: govuk-colour("purple") !important;
}

.das-\!-color-dark-grey {
  color: govuk-colour("dark-grey") !important;
}

.das-\!-color-mid-grey {
  color: govuk-colour("mid-grey") !important;
}

.das-\!-color-inherit,
.das-\!-colour-inherit {
  color: inherit !important;
}

// Existing text colour classes, that need phasing out

.das-text--muted {
  @extend .das-\!-color-dark-grey;
}
.das-text--error {
  @extend .das-\!-color-red;
}
.das-text--success {
  @extend .das-\!-color-green;
}

// Text align

.das-\!-text-align-left {
  text-align: left !important;
}

.das-\!-text-align-right {
  text-align: right !important;
}

.das-\!-text-align-left--from-tablet {
  @include govuk-media-query($from: tablet) {
    text-align: left !important;
  }
}

.das-\!-text-align-right--from-tablet {
  @include govuk-media-query($from: tablet) {
    text-align: right !important;
  }
}
