<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Campaign</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->
  {#
  <link href="/dist/css/main.css" rel="stylesheet" /> #}
  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph-image.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <div class="wrap">
    <main id="main-content" class="main-content">
      {% block content %}
      <h1 class="heading-xl">Default component template</h1>
      {% endblock %}
    </main>
  </div>
</body>
<script src="/dist/js/das-all.js"></script>
<script>
  window.DASFrontend.initAll()
</script>

</html>