// Description: Class to give a .govuk-form-group element (of a vertical
// list of radios/checkboxes) a border, and a bg colour to the legend heading

.das-form-group--panel {
    border: 1px solid govuk-colour('mid-grey');

    .govuk-fieldset__legend {
        background-color: govuk-colour('light-grey');
        width: 100%;

        .govuk-fieldset__heading {
            padding: govuk-spacing(1) govuk-spacing(2);
        }
    }

    .form-group,
    .govuk-radios,
    .govuk-checkboxes {
        padding-left: govuk-spacing(3);
        padding-right: govuk-spacing(3);
        padding-bottom: govuk-spacing(2);
    }

    .form-group .govuk-button {
        margin-bottom: govuk-spacing(2);
    }
}
