.govuk-header__logo {
  margin-bottom: 5px;
}

.govuk-header__link--homepage {
  font-weight: $govuk-font-weight-bold;
}

.govuk-header__logotype {
  vertical-align: text-top;
}

.govuk-header__logotype-text {
  vertical-align: text-top;
}

.govuk-header__service-name,
.govuk-header__link--service-name {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1;
  @include govuk-media-query(tablet) {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}