.das-pane {
  padding: $govuk-gutter-half;
  background: govuk-colour("light-grey");
}

.das-pane__inline-form {
  .govuk-form-group {
    margin-bottom: $govuk-gutter-half;
  }
  .govuk-button {
    margin-bottom: 3px;
  }
}
