// This contains styles to make GDS v3 appear like v2
// This is a temporary solution and should eventually be removed

$_govuk-colour-palette-modern: (
        "red": #df3034,
        "yellow": #ffbf47,
        "green": #006435,
        "blue": #005ea5,
        "dark-blue": #005ea5,
        "light-blue": #2b8cc4,
        "purple": #2e358b,
        "black": #0b0c0c,
        "dark-grey": #6f777b,
        "mid-grey": #bfc1c3,
        "light-grey": #dee0e2,
        "white": #fff,
        "light-purple": #6f72af,
        "bright-purple": #912b88,
        "pink": #d53880,
        "light-pink": #f499be,
        "orange": #f47738,
        "brown": #b58840,
        "light-green": #85994b,
        "turquoise": #28a197
);

$govuk-colours: $_govuk-colour-palette-modern;

.govuk-panel--confirmation {
  background: #28a197 !important;
}