// Override path variables
$govuk-assets-path: "../assets/";
$govuk-fonts-path: "../assets/fonts/";
$govuk-new-link-styles: true;



// Import the GOV.UK Frontend styles
@import "node_modules/govuk-frontend/dist/govuk/index";

@import "libs/_autocomplete";

// DAS
@import "settings/all";
@import "helpers/all";
@import "core/all";
@import "utilities/all";
@import "legacy/all";
@import "components/all";
@import "overrides/all";