<div class="fiu-banner fiu-visually-hidden" data-fiu-banner="true" data-fiu-banner-cookie-name="fiu-banner-1">
	<div class="fiu-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-three-quarters">
        <div class="fiu-banner__body fiu-article">
          <p>You can start an apprenticeship whether you’re starting your career, want a change or you're upskilling in your current job. You can have a previous qualification like a degree and still start an apprenticeship.</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
				<a href="#" data-fiu-banner-hide-link="true" class="fiu-banner__hide-link">Hide message</a>
			</div>
    </div>
	</div>
</div>
<div class="fiu-banner fiu-visually-hidden" data-fiu-banner="true" data-fiu-banner-cookie-name="COOKIE-NAME">
  <div class="fiu-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="fiu-banner__heading">Title</h2>
        <div class="fiu-banner__body fiu-article">
          Content
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <a href="#" data-fiu-banner-hide-link="true" class="fiu-banner__hide-link">Hide message</a>
      </div>
    </div>
  </div>
</div>
<div class="fiu-banner fiu-banner--highlight">
  <div class="fiu-width-container">
      <h2 class="fiu-banner__heading">Heading</h2>
      <div class="fiu-banner__body fiu-article">
        Content
      </div>
  </div>
</div>
<div class="fiu-banner fiu-banner--warning">
  <div class="fiu-width-container">
    <h2 class="fiu-banner__heading">Heading</h2>
    <div class="fiu-banner__body fiu-article">
      <p>You can start an apprenticeship whether you’re starting your career, want a change or you're upskilling in your current job. You can have a previous qualification like a degree and still start an apprenticeship.</p>
      <p>If you don’t live in England, check out apprenticeship options in <a href="https://www.apprenticeships.scot/" title="" rel="external" target="_blank">Scotland</a>, <a href="https://gov.wales/apprenticeships-genius-decision" title="" rel="external" target="_blank">Wales</a>, or <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" title="" rel="external" target="_blank">Northern Ireland</a>.</p>
    </div>
  </div>
</div>