.fiu-attachment {
  @include fiu-typography-common;
  background: $white;
  padding: 20px;
  margin-bottom: 20px;
  color: $fiu-text-colour;
  border: 1px solid $fiu-border-colour;
  border-radius: $fiu-border-radius;
  position: relative;
  @include govuk-media-query($from: desktop) {
    padding: 30px;
  }
}

.fiu-attachment__heading {
  margin-bottom: 10px;
  margin-top: -5px;
}

.fiu-attachment__meta {
  color: $dark-grey;
  margin: 0 0 8px;
  text-transform: uppercase;
  @include govuk-media-query($from: desktop) {
    margin-bottom: 15px;
  }
}

.fiu-attachment__meta-title {
  @extend .fiu-visually-hidden;
}

.fiu-attachment__meta-description {
  display: inline;
  margin: 0 7px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid $fiu-border-colour;
}

.fiu-attachment__meta-description:last-child {
  border: none;
}

.fiu-attachment__link-wrap {
  margin-bottom: 0;
}
