<div class="fiu-attachment">
  <h2 class="fiu-attachment--heading">How to help your child find the right employer for them</h2>
  <dl class="fiu-attachment--meta">
    <dt class="fiu-attachment--meta-title">File type</dt>
    <dd class="fiu-attachment--meta-description">PDF</dd>
    <dt class="fiu-attachment--meta-title">File size</dt>
    <dd class="fiu-attachment--meta-description">989KB</dd>
  </dl>
  <p class="fiu-attachment--description"></p>
  <a href="#" class="fiu-attachment--download-link">Download</a>
</div>