<div class="fiu-attachment">
  <h2 class="govuk-heading-m fiu-attachment__heading">
    How to help your child find the right employer for them
  </h2>
  <dl class="fiu-attachment__meta">
    <dt class="fiu-attachment__meta-title">File type</dt>
    <dd class="fiu-attachment__meta-description">PDF</dd>
    <dt class="fiu-attachment__meta-title">File size</dt>
    <dd class="fiu-attachment__meta-description">989KB</dd>
  </dl>
  <p class="govuk-body fiu-attachment__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, dolor ac luctus
    auctor, orci libero cursus turpis, non ultrices ligula tortor vitae ipsum.
  </p>
  <p class="govuk-body fiu-attachment__link-wrap">
    <a href="#" class="govuk-link fiu-attachment__link">Download</a>
  </p>
  <span class="fiu-attachment__icon">
    <span class="fiu-attachment__icon-label">Pdf</span>
  </span>
</div>
