.fiu-favbar {
    @include fiu-typography-common;
    text-align: right;
}

.fiu-favbar__link {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    background-size: 20px 20px;
    background-image: url('../assets/images/icon-star-outlined.svg');
    background-repeat: no-repeat;
    background-position: center right;
}

$fiu-favbar__link: '.fiu-favbar__link, .fiu-favbar__link:active, .fiu-favbar__link:hover, .fiu-favbar__link:visited';
#{$fiu-favbar__link} {
    text-decoration: underline;

    &:not(){
        color: $fiu-header-link-colour;
    }
}

.fiu-favbar__link {
    &:hover {
        background-image: url('../assets/images/icon-star-filled-yellow.svg');
        text-decoration: none;
        cursor: pointer;
    }
    &:focus {
        @include govuk-focused-text;
    }
}