{% from "../button/macro.njk" import dasButton %}

<section class="grid-row cta-faa grid-row-full-width">
    <div class="grid-column-one-one-third">
        <div class="cta-faa__content">
            <h2 class="heading-s cta-faa__heading">find an apprenticeship In digital</h2>
            <p>Do you think that the digital industry is where you want to start your career? If so, then you need to
                search for the right apprenticeship and level. Use the field below to find organisations that are
                looking to hire! </p>
        </div>
    </div>
    <div class="grid-column-one-third cta-faa__action">
        <a href="#" role="button" draggable="false" class="button button--sparks"> start looking</a>
    </div>
</section>