<div class="card-stories">
    <div class="card-stories__image">
        <span class="card-stories__img card__img--agriculture-environment-animal-care"></span>
        
        <a class="card-stories__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
        <a class="card-stories__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
    </div>
    <div class="card-stories__content">
        <h2 class="card-stories__headline heading-l">Easy to get started</h2>
        <p class="card-stories__summary">We wanted to get the best candidates and so created a special apprenticeship
            programme that delivers training that we need to expand our business needs as well as passing on our
            expertise
            and mentoring up and coming talent.
        </p>
        <p  class="card-stories__summary">So far we’ve managed to attract some of the brightest apprentices who’ve been an absolute delight to
            employ.</p>
        <div class="card-stories__cite">Sarah Bloggs <span class="card-stories__cite-detail">33, Designer, Manchester</span></div>

    </div>
</div>