{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = false %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Contents</h2>
        <h3 class="govuk-heading-s"><a href="#components" class="govuk-link">Components </a></h3>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="#notifications" class="govuk-link">Notifications</a> </li>
            <li><a href="#promo" class="govuk-link">Promo box</a> </li>
            <li><a href="#search" class="govuk-link">Search field</a> </li>
            <li><a href="#buttons" class="govuk-link">Buttons</a> </li>
            <li><a href="#insets" class="govuk-link">Insets</a> </li>
        </ul>

        <h3 class="govuk-heading-s"><a href="#typography" class="govuk-link">Typography </a></h3>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="#dls" class="govuk-link">Definition lists</a> </li>
        </ul>


    </div>

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">DAS frontend examples</h1>

        <h2 class="govuk-heading-l" id="components">Components</h2>

        <h3 class="govuk-heading-m" id="notifications">Notifications</h3>

        <div class="das-notification">
            <h1 class="das-notification__heading">Hello</h1>
            <p class="das-notification__body">
                This is some information
            </p>
        </div>

        <div class="das-notification das-notification--success">
            <h1 class="das-notification__heading">Hello</h1>
            <p class="das-notification__body">
                This is some information
            </p>
        </div>

        <div class="das-notification das-notification--warning">
            <h1 class="das-notification__heading">Hello</h1>
            <p class="das-notification__body">
                This is some information
            </p>
        </div>

        <hr class="govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m" id="promo">Promo box</h3>

        <a class="das-promo" href="#">
            A simple box with center aligned text, which is supposed to be used as a link
        </a>

        <hr class="govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m" id="search">Search field</h3>

        <form>
            <div class="govuk-form-group das-form-group-inline das-dashboard-search">
                <label for="search" class="govuk-visually-hidden">Search</label>
                <input class="govuk-input das-dashboard-search__input" id="search" type="search" placeholder="Search">
                <div class="das-form-group-inline__button-wrap">
                    <button class="govuk-button das-dashboard-search__button" type="submit">Search</button>
                </div>
            </div>
        </form>

         <hr class="govuk-section-break--l govuk-section-break--visible">

         <h3 class="govuk-heading-m" id="buttons">Buttons</h3>

        <div>
            <button class="govuk-button das-button--outline">govuk-button das-button--outline</button>
        </div>

        <div>
            <button class="govuk-button das-button--inverted">govuk-button das-button--inverted</button>
        </div>

        <div>
            <button class="govuk-button das-button--blue">govuk-button das-button--blue</button>
         </div>

         <div>
            <button class="govuk-button">Action</button>
            <a href="#" class="govuk-link das-link--button-aligned">Secondary action</a>
         </div>

        <hr class="govuk-section-break--l govuk-section-break--visible">

         <h3 class="govuk-heading-m" id="insets">Insets</h3>

         <div class="govuk-inset-text das-inset-text--filled">
           It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
         </div>

         <div class="govuk-inset-text das-inset-text--highlight">
           It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
         </div>


         <hr class="govuk-section-break--l govuk-section-break--visible">

         <h2 class="govuk-heading-l" id="typography">Typography</h2>
         <h3 class="govuk-heading-m" id="dls">Definition lists</h3>

         <dl class="das-definition-list">
             <dt class="das-definition-list__title">Apprentice</dt>
             <dd class="das-definition-list__definition">Joe Bloggs</dd>
             <dt class="das-definition-list__title ">Start date</dt>
             <dd class="das-definition-list__definition">19 September 2019</dd>
             <dt class="das-definition-list__title">Much longer title name</dt>
             <dd class="das-definition-list__definition">Definition</dd>
        </dl>

        <hr class="govuk-section-break--m govuk-section-break--visible">

        <dl class="das-definition-list das-definition-list--inline">
             <dt class="das-definition-list__title">Apprentice</dt>
             <dd class="das-definition-list__definition">Joe Bloggs</dd>
             <dt class="das-definition-list__title ">Start date</dt>
             <dd class="das-definition-list__definition">19 September 2019</dd>
             <dt class="das-definition-list__title">Much longer title name</dt>
             <dd class="das-definition-list__definition">Definition</dd>
        </dl>

        <hr class="govuk-section-break--m govuk-section-break--visible">

        <dl class="das-definition-list das-definition-list--table">
             <dt class="das-definition-list__title">Apprentice</dt>
             <dd class="das-definition-list__definition">Joe Bloggs</dd>
             <dt class="das-definition-list__title">Start date</dt>
             <dd class="das-definition-list__definition">19 September 2019</dd>
             <dt class="das-definition-list__title">Much longer title name</dt>
             <dd class="das-definition-list__definition">Definition</dd>
        </dl>

        <hr class="govuk-section-break--m govuk-section-break--visible">

        <dl class="das-definition-list das-definition-list--table-narrow">
             <dt class="das-definition-list__title">Apprentice</dt>
             <dd class="das-definition-list__definition">Joe Bloggs</dd>
             <dt class="das-definition-list__title">Start date</dt>
             <dd class="das-definition-list__definition">19 September 2019</dd>
             <dt class="das-definition-list__title">Much longer title name</dt>
             <dd class="das-definition-list__definition">Definition</dd>
        </dl>

        <hr class="govuk-section-break--m govuk-section-break--visible">

        <dl class="das-definition-list das-definition-list--muted">
             <dt class="das-definition-list__title">Apprentice</dt>
             <dd class="das-definition-list__definition">Joe Bloggs</dd>
             <dt class="das-definition-list__title">Start date</dt>
             <dd class="das-definition-list__definition">19 September 2019</dd>
             <dt class="das-definition-list__title">Much longer title name</dt>
             <dd class="das-definition-list__definition">Definition</dd>
        </dl>

    </div>
</div>

{% endblock  %}

{% block js %}

{% endblock %}
