{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = false %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="das-breakable">Loremipsumisplaceholdertextcommonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p><span class="das-breakable">emailaddress@long.domain.name.governmenttld.gov.uk</span></p>
    </div>
</div>

{% endblock  %}

{% block js %}

{% endblock %}
