{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page header</h1>
        <p class="govuk-body-l">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <h2 class="govuk-heading-m">Sub heading</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Lorem ipsum dolor sit amet consectetuer.</li>
          <li>Aenean commodo ligula eget dolor.</li>
          <li>Aenean massa cum sociis natoque penatibus.</li>
        </ul>

        <h2 class="govuk-heading-m">Definition lists (.das-definition-list)</h2>
        <dl class="das-definition-list">
            <dt class="das-definition-list__title">Account name</dt>
            <dd class="das-definition-list__definition">Skills funding agency </dd>
            <dt class="das-definition-list__title">Agreement ID</dt>
            <dd class="das-definition-list__definition">12345678</dd>
        </dl>

        <h2 class="govuk-heading-m">Definition lists (.das-definition-list .das-definition-list--inline)</h2>
        <dl class="das-definition-list das-definition-list--inline das-definition-list--muted govuk-!-font-size-24">
            <dt class="das-definition-list__title">Account name</dt>
            <dd class="das-definition-list__definition">Skills funding agency </dd>
            <dt class="das-definition-list__title">Agreement ID</dt>
            <dd class="das-definition-list__definition">12345678</dd>
        </dl>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Sort by
          </label>
          <select class="govuk-select" id="course-search" name="sort">
            <option value="">Please select</option>
            <option value="published">Recently published</option>
            <option value="updated" selected>Recently updated</option>
            <option value="views">Most views</option>
            <option value="comments">Most comments</option>
          </select>
        </div>

            <div class="govuk-form-group das-form-group-inline">
              <input class="govuk-input"  asp-for="Keywords" type="search" placeholder="Apprenticeship keyword...">
              <button class="govuk-button" type="submit">Search</button>
          </div>

            <div class="govuk-form-group das-form-group-inline">
                <input class="govuk-input"  asp-for="Keywords" type="search" placeholder="Apprenticeship keyword...">
                <div class="das-form-group-inline__button-wrap">
                    <button class="govuk-button" type="submit">Search</button>
                </div>
            </div>



    </div>
</div>

{% endblock  %}

{% block js %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script>
  $(function() {
    var $btn = $('.das-navigation__priority-button');

    var navLinksContainer = document.getElementsByClassName('das-navigation__list');
    var navLinksListItems = document.getElementsByClassName('das-navigation__list-item');
    var menuLinksContainer = document.getElementsByClassName('das-navigation__priority-list');
    var availableSpace, currentVisibleLinks, numOfVisibleItems, requiredSpace, currentHiddenLinks;

    var totalSpace = 0;
    var breakWidths = [];

    for (var i = 0; i < navLinksListItems.length; i++) {
        var width = navLinksListItems[i].offsetWidth;
        totalSpace += width;
        breakWidths.push(totalSpace);
    }

    function checkSpaceForPriorityLinks() {
      availableSpace = navLinksContainer[0].offsetWidth - 80;
      currentVisibleLinks = document.querySelectorAll('.das-navigation__list > .das-navigation__list-item');
      currentHiddenLinks = document.querySelectorAll('.das-navigation__priority-list > .das-navigation__list-item');
      numOfVisibleItems = currentVisibleLinks.length;
      requiredSpace = breakWidths[numOfVisibleItems - 1];

      if (requiredSpace > availableSpace) {
         numOfVisibleItems -= 1;
         var lastVisibleLink = currentVisibleLinks[numOfVisibleItems];
         menuLinksContainer[0].insertBefore(lastVisibleLink, menuLinksContainer[0].childNodes[0]);

         checkSpaceForPriorityLinks();

      } else if (availableSpace > breakWidths[numOfVisibleItems]) {

        if (currentHiddenLinks.length > 0) {
            var firstLink = currentHiddenLinks[0];
            var priorityListItem = document.getElementsByClassName('das-navigation__priority-list-item');
            navLinksContainer[0].insertBefore(firstLink, priorityListItem[0])
        }
        numOfVisibleItems += 1;
      }
    }

    // Window listeners
    $(window).resize(function() {
      checkSpaceForPriorityLinks();
    });

    $btn.on('click', function(e) {
      $(menuLinksContainer).toggleClass('visually-hidden');
      $(this).toggleClass('open');
      e.preventDefault();
    });

    checkSpaceForPriorityLinks();

  });
</script>

{% endblock %}
