{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page header</h1>


        <div class="govuk-inset-text das-inset-text--filled">
            <h3 class="govuk-heading-s">End-point assessments</h3>
            <p>If you have chosen an apprenticeship standard, we'll ask the employer to confirm the <a class="govuk-link" href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank" title="Opens in a new window">apprentice assessment organisation</a> for this apprentice. We'll do this before the end of the apprenticeship.</p>
            <p>Apprenticeship frameworks have different assessment arrangements and don't need end-point assessments.</p>
        </div>

    </div>
</div>

{% endblock  %}

{% block js %}

{% endblock %}
