{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = false %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="das-panel das-panel--featured">
            <h1 class="das-panel__heading">Upcoming change to government-funding training </h1>
            <p>Government funding for apprenticeships training will be paused on 1 July 2019. You must reserve funding for your non-levy employers' training before this date.</p>
            <p>This change will not affect funding reserved before 1 July 2019.</p>
            <p><a href="#" class="govuk-button das-button--inverted das-panel__button">Continue</a> </p>
        </div>
    </div>
</div>

{% endblock  %}

{% block js %}

{% endblock %}
