{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Tables</h1>


        <table class="govuk-table das-table--responsive">
          <caption class="govuk-table__caption">Dates and amounts</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">First 6 weeks</th>
              <td class="govuk-table__cell" data-label="Amount">£109.80 per week</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">Next 33 weeks</th>
              <td class="govuk-table__cell" data-label="Amount">£109.80 per week</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">Total estimated pay</th>
              <td class="govuk-table__cell" data-label="Amount">£4,282.20</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table das-table--responsive">
          <caption class="govuk-table__caption">Dates and amounts</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">First 6 weeks</th>
              <td class="govuk-table__cell" data-label="Amount">£109.80 per week</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">Next 33 weeks</th>
              <td class="govuk-table__cell" data-label="Amount">£109.80 per week</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">Total estimated pay</th>
              <td class="govuk-table__cell" data-label="Amount"><span class="das-table-cell--highlight">£4,282.20</span></td>
            </tr>
          </tbody>
        </table>

         <table class="govuk-table">
          <caption class="govuk-table__caption">Dates and amounts</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
              <th class="govuk-table__header" scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">First 6 weeks</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Amount">£109.80 per week</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a> </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">Next 33 weeks</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Amount">£109.80 per week</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a> </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" data-label="Date">Total estimated pay</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price">
                <span class="das-table-cell--highlight">&pound;4,500</span>
              </td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a> </td>
            </tr>
          </tbody>
        </table>


    </div>
</div>

{% endblock  %}

{% block js %}

{% endblock %}
