.fiu-card {
  @include fiu-typography-common;
  background: $white;
  padding: 20px;
  margin-bottom: 15px;
  height: 100%;
  display: block;
  color: $fiu-text-colour;
  text-decoration: none;
  border: 1px solid $fiu-border-colour;
  border-radius: 10px;
  position: relative;
  &:focus {
    @include fiu-focused-block;
  }
}

.fiu-card__category {
  @include govuk-clearfix;
  display: block;
}

.fiu-card__category-link {
  text-transform: uppercase;
  float: right;
  font-size: 9px;
  display: inline-block;
  letter-spacing: 1px;
  color: $dark-grey;
  text-decoration: none;
  text-align: right;
  &:hover {
    color: $black;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-card__heading {
  margin: 1em 0 .7em;
  font-size: 20px;
  line-height: 1.1em;
  font-weight: $fiu-font-weight-bold;
  @include fiu-word-break();
  @include govuk-media-query($from: tablet) {
    font-size: 18px;
  }
  @include govuk-media-query($from: $fiu-large-desktop-breakpoint) {
    font-size: 24px;
  }
}

.fiu-card__content {
  margin-bottom: 0;
}

.fiu-card__link {
  margin-top: 1.5em;
  display: inline-block;
  font-weight: $fiu-font-weight-bold;
  color: $fiu-global-link-colour;
  &:hover {
    color: $fiu-global-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-card__link--citizens {
  color: $fiu-citizens-link-colour;
  &:hover {
    color: $fiu-citizens-link-hover-colour;
  }
  &:focus {
    color: inherit;
  }
}

.fiu-card__link--employers {
  color: $fiu-employers-link-colour;
  &:hover {
    color: $fiu-employers-link-hover-colour;
  }
  &:focus {
    color: inherit;
  }
}


