.fiu-card {
  @include fiu-typography-common;
  background: $light-grey;
  padding: 15px;
  margin-bottom: 15px;
}

.fiu-card__category {
  text-transform: uppercase;
  text-align: right;
  font-size: 10px;
  display: block;
  letter-spacing: .03em;
}

.fiu-card__heading {
  margin: .8em 0;
  font-size: 19px;
  font-weight: $fiu-font-weight-bold;
}

.fiu-card__image {

}

.fiu-card__content {
  margin-bottom: 0;
}

.fiu-card__link {

}


