.fiu-card {
  @include fiu-typography-common;
  background: $white;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  color: $fiu-text-colour;
  text-decoration: none;
  border: 1px solid $fiu-border-colour;
  border-radius: $fiu-border-radius;
  &:focus {
    @include fiu-focused-block;
  }
  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.fiu-card__category {
  @include govuk-clearfix;
  display: block;
  .fiu-template--employers & {
    display: none;
  }
}

.fiu-card__category-link {
  text-transform: uppercase;
  float: right;
  font-size: 9px;
  display: inline-block;
  letter-spacing: 1px;
  color: $dark-grey;
  text-decoration: none;
  text-align: right;
  &:hover {
    color: $black;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-card__heading {
  margin: .7em 0;
  font-size: 20px;
  line-height: 1.1em;
  font-weight: $fiu-font-weight-bold;
  @include govuk-media-query($from: tablet) {
    font-size: 18px;
  }
  @include govuk-media-query($from: $fiu-large-desktop-breakpoint) {
    font-size: 24px;
  }
  .fiu-template--employers & {
    margin-top: 0;
  }
}


.fiu-card__content {
  @extend .govuk-body;
}

.fiu-card__link {
  margin-top: auto;
  color: $fiu-global-link-colour;
  font-size: 16px;
  @include fiu-link-common;
  @include govuk-media-query($from: tablet) {
    font-size: 19px;
  }
}

.fiu-template--apprentices .fiu-card__link {
  color: $fiu-citizens-link-colour;
  &:hover {
    color: $fiu-citizens-link-hover-colour;
  }
  &:focus {
    color: inherit;
  }
}

.fiu-template--employers .fiu-card__link {
  color: $fiu-employers-link-colour;
  &:hover {
    color: $fiu-employers-link-hover-colour;
  }
  &:focus {
    color: inherit;
  }
}

/* Cards on the homepage */

.fiu-card--with-image {
  border: none;
  border-radius: 0;
  padding: 0;
}

.fiu-card__image {
  height: 165px;
  border-bottom: 5px solid $fiu-border-colour;
  display: block;
  background-color: #ccc;
  background-image: url("/fiu/assets/images/placeholder.png");
  background-size: contain;
}

.fiu-card__image--resources {background-size: cover; background-image: url("/fiu/assets/images/panels/homepage-resources.jpg");  }
.fiu-card__image--aan {background-size: cover; background-image: url("/fiu/assets/images/panels/homepage-yaan.jpg"); }
.fiu-card__image--browse {background-size: cover; background-image: url("/fiu/assets/images/panels/homepage-faa.jpg"); }
.fiu-card__image--naw {background-size: cover; background-image: url("/fiu/assets/images/panels/homepage-naw.jpg"); }

.fiu-card__image--influencers {
  border-color: $fiu-influencers-brand-colour;
}

.fiu-card__content-wrap {
  padding: 0 20px 40px;
}

/* Cards on interests index */

.fiu-interest-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.fiu-interest-card {
  color: $white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  @include govuk-media-query($from: tablet) {
    width: 50%;
  }
  @include govuk-media-query($from: desktop) {
    width: 33%;
  }
  &:hover {
    opacity: .7;
    .fiu-interest-card__heading {
      text-decoration: none;
    }
  }
  &:focus {
    outline: none;
    opacity: 1;
    .fiu-interest-card__heading {
      text-decoration: none;
      span {
        @include govuk-focused-text;
      }
    }
  }
}

.fiu-interest-card__image-wrap {
  position: relative;
  margin-bottom: -140px;
  z-index: 1;
}

.fiu-interest-card__image {
  max-width: 100%;
  display: block;
  border: 1px solid transparent;
}

.fiu-interest-card__image-mask {
  position: absolute;
  background-image: url("../assets/images/interests/mask.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fiu-interest-card__heading {
  text-decoration: underline;
}

.fiu-interest-card__heading,
.fiu-interest-card__content {
  margin-left: 15px;
  margin-right: 15px;
  z-index: 2;
  position: relative;
}

.fiu-interest-card__content {
  @extend .govuk-body;
  color: inherit;
}
