.fiu-card {
  @include fiu-typography-common;
  background: $white;
  padding: 20px 20px 50px;
  margin-bottom: 20px;
  height: 100%;
  display: block;
  color: $fiu-text-colour;
  text-decoration: none;
  border: 1px solid $fiu-border-colour;
  border-radius: 10px;
  position: relative;
  &:focus {
    @include fiu-focused-block;
  }
}

.fiu-card__category {
  @include govuk-clearfix;
  display: block;
}

.fiu-card__category-link {
  text-transform: uppercase;
  float: right;
  font-size: 9px;
  display: inline-block;
  letter-spacing: 1px;
  color: $dark-grey;
  text-decoration: none;
  text-align: right;
  &:hover {
    color: $black;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-card__heading {
  margin: 1em 0 .7em;
  font-size: 20px;
  line-height: 1.1em;
  font-weight: $fiu-font-weight-bold;
  @include fiu-word-break();
  @include govuk-media-query($from: tablet) {
    font-size: 18px;
  }
  @include govuk-media-query($from: $fiu-large-desktop-breakpoint) {
    font-size: 24px;
  }
}

.fiu-card__content {
  margin-bottom: 0;
  @extend .govuk-body;
}

.fiu-card__link {
  margin-top: 1.5em;
  display: inline-block;
  color: $fiu-global-link-colour;
  position: absolute;
  bottom: 20px;
  font-size: 19px;
  &:hover {
    color: $fiu-global-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-card__link--citizens {
  color: $fiu-citizens-link-colour;
  &:hover {
    color: $fiu-citizens-link-hover-colour;
  }
  &:focus {
    color: inherit;
  }
}

.fiu-card__link--employers {
  color: $fiu-employers-link-colour;
  &:hover {
    color: $fiu-employers-link-hover-colour;
  }
  &:focus {
    color: inherit;
  }
}


/* Cards on interests index */

.fiu-interest-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.fiu-interest-card {
  color: $white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  @include govuk-media-query($from: tablet) {
    width: 50%;
  }
  @include govuk-media-query($from: desktop) {
    width: 33%;
  }
  &:hover {
    opacity: .7;
    .fiu-interest-card__heading {
      text-decoration: none;
    }
  }
  &:focus {
    outline: none;
    opacity: 1;
    .fiu-interest-card__heading {
      text-decoration: none;
      span {
        @include govuk-focused-text;
      }
    }
  }
}

.fiu-interest-card__image-wrap {
  position: relative;
  margin-bottom: -140px;
  z-index: 1;
}

.fiu-interest-card__image {
  max-width: 100%;
  display: block;
  border: 1px solid transparent;
}

.fiu-interest-card__image-mask {
  position: absolute;
  background-image: url("../assets/images/interests/mask.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fiu-interest-card__heading {
  text-decoration: underline;
}

.fiu-interest-card__heading,
.fiu-interest-card__content {
  margin-left: 15px;
  margin-right: 15px;
  z-index: 2;
  position: relative;
}

.fiu-interest-card__content {
  @extend .govuk-body;
  color: inherit;
}