.fiu-card {
  @include fiu-typography-common;
  background: $light-grey;
  padding: 20px;
  margin-bottom: 15px;
}

.fiu-card__category {
  text-transform: uppercase;
  text-align: right;
  font-size: 8px;
  display: block;
  letter-spacing: 1px;
  color: $dark-grey;
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-card__heading {
  margin: 1em 0;
  font-size: 19px;
  font-weight: $fiu-font-weight-bold;
}

.fiu-card__content {
  margin-bottom: 0;
}

.fiu-card__link {
  margin-top: 1.5em;
  display: inline-block;
  font-weight: $fiu-font-weight-bold;
  color: $fiu-global-link-colour;
  &:hover {
    color: $fiu-global-link-hover-colour;
  }
  &:focus {
    @include govuk-focused-text;
  }
}

.fiu-card__link--citizens {
  color: $fiu-citizens-link-colour;
}

.fiu-card__link--employers {
  color: $fiu-employers-link-colour;
}


