.fiu-quote {
  @include fiu-typography-common;
  color: $fiu-text-colour;
  margin: 0 0 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 5px solid $fiu-border-colour;
}

.fiu-quote__blockquote {
  @extend .govuk-body;
  color: inherit;
  margin: 0;
}

.fiu-quote__caption {
  margin-top: 20px;
  margin-bottom: 0;
  @extend .govuk-body;
  color: inherit;
  font-weight: $fiu-font-weight-regular;
}

.fiu-quote__caption-description {
  font-weight: $fiu-font-weight-book;
  display: block;
  color: inherit;
}

.fiu-quote--employer {
  color: $fiu-employers-brand-colour;
  border-left-color: $fiu-employers-brand-colour;
}