.fiu-quote {
  @include fiu-typography-common;
  color: $fiu-text-colour;
  margin: 0 0 20px;
  padding-left: 20px;
  border-left: 5px solid $fiu-border-colour;
}

.fiu-quote__blockquote {
  @extend .govuk-body;
  font-style: italic;
  margin: 0;
  @include govuk-media-query(tablet) {
    font-size: 21px
  }
}

.fiu-quote__caption {
  margin-top: 20px;
  @extend .govuk-body;
  font-weight: $fiu-font-weight-bold;
}

.fiu-quote__caption-description {
  font-weight: $fiu-font-weight-book;
  display: block;
  text-transform: uppercase;
  color: $dark-grey;
  margin-bottom: 40px;
}