// Duplicate styles for .govuk-panel

.das-panel {
  @extend .govuk-panel;
}

.das-panel__title {
  @extend .govuk-panel__title;
}

.das-panel--featured {
  background: govuk-colour("blue");
  color: #fff;
}

.das-panel--muted {
  background: govuk-colour("dark-grey");
  color: #fff;
}

.das-panel--confirmation {
  @extend .govuk-panel--confirmation;
}

.das-panel__link {
  color: #fff;
  &:focus {
    @include govuk-focused-text;
  }
}
