<div class="das-panel">
	<h1 class="das-panel__title">
		Task is complete
	</h1>
	<div class="das-panel__body">
		Here are the details of the next steps
	</div>
</div>

<div class="das-panel das-panel--featured">
    <h1 class="das-panel__title">
        Featured task is complete
    </h1>
    <div class="das-panel__body">
        Here are the details of the next steps
    </div>
</div>

<div class="das-panel das-panel--muted">
    <h1 class="das-panel__title">
        Task is complete
    </h1>
    <div class="das-panel__body">
        Here are the details of the next steps
    </div>
</div>

<div class="das-panel das-panel--confirmation">
    <h1 class="das-panel__title">
        Task is complete
    </h1>
</div>