.fiu-footer {
  background: $fiu-footer-bg-colour;
  color: $fiu-footer-text-colour;
  font-family: $fiu-font-family;
}

.fiu-footer__row {
  padding: 20px 0;
  text-align: center;
}

.fiu-footer__heading {
  color: #fff;
}

.fiu-footer__apprenticeship-logo-wrap {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #fff;
  @include govuk-media-query(tablet) {
    text-align: left;
  }
}

.fiu-footer__apprenticeship-logo {
  width: 200px;
  max-width: 100%;
  display: inline-block;
}

.fiu-footer__hm-logo {
  width: 200px;
  max-width: 100%;
  display: inline-block;
}

.fiu-footer__link {
  color: $fiu-footer-link-colour;
}