<footer class="fiu-footer">
	<div class="govuk-width-container">
		<div class="fiu-footer__apprenticeship-logo-wrap">
			<img src="/fiu/assets/images/apprenticeships-logo.png" alt="Apprenticeships logo" class="fiu-footer__apprenticeship-logo" />
		</div>
		<div class="govuk-grid-row fiu-footer__row">
			<div class="govuk-grid-column-one-third">
				<h3 class="fiu-footer__heading">Based outside england?</h3>
			</div>
			<div class="govuk-grid-column-two-thirds">
				<ul>
					<li>Find out what opportunities are available in:</li>
					<li>
						<a class="fiu-footer__link" href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-footer-scotland">Scotland<span class="fiu-vh"> (Opens in a new window)</span></a>
					</li>
					<li>
						<a class="fiu-footer__link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-footer-northern-ireland">Northern Ireland<span class="fiu-vh"> (Opens in a new window)</span></a>
					</li>
					<li>
						<a class="fiu-footer__link" href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-footer-wales">Wales<span class="fiu-vh"> (Opens in a new window)</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="govuk-grid-row fiu-footer__row">
			<div class="govuk-grid-column-two-thirds">
				<ul class="footer__inline-list">
	                <li class="footer__inline-list-item">
	                    <a class="fiu-footer__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" id="link-footer-feedback" target="_blank" rel="external">Feedback<span class="visually-hidden"> (Opens in a new window)</span></a>
	                </li>
	                <li class="footer__inline-list-item">
	                    <a class="fiu-footer__link" id="link-footer-cookie-policy" href="/sitemap">Sitemap</a>
	                </li>
	                <li class="footer__inline-list-item">
	                    <a class="fiu-footer__link" id="link-footer-cookie-policy" href="/cookies">Cookies</a>
	                </li>
	                <li class="footer__inline-list-item">
	                    <a class="fiu-footer__link" id="link-footer-privacy-notice" href="/privacy">Privacy notice</a>
	                </li>
	                <li class="footer__inline-list-item">
	                    <a class="fiu-footer__link" id="link-footer-accessibility" href="/accessibility">Accessibility</a>
	                </li>
	                <li class="footer__inline-list-item">
	                    Built by the <a class="fiu-footer__link" href="https://www.gov.uk/esfa" rel="external" target="_blank" id="link-footer-esfa">Education and Skills Funding Agency<span class="visually-hidden"> (Opens in a new window)</span></a>
	                </li>
	            </ul>
			</div>
			<div class="govuk-grid-column-one-third">
                <img class="fiu-footer__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
            </div>
		</div>
	</div>
</footer>