<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Campaign</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        <header class="header">
            <div class="header__logo">
                <a href="#">
                    <img src="/dist/campaign/images/apprenticeships-logo.png" alt="Apprenticeships Logo" class="header__logo-image">
                </a>
            </div>
            {% include './components/navigation/_navigation.html'%}
        </header>

        <div class="hero">
            <div class="grid-row">
                <div class="grid-column-one-half">
                    <div class="hero-heading">
                        <span class="caption-m hero-heading__caption hero-heading__caption--employer">Employer</span>
                        <h1 class="heading-xl hero-heading__heading">Apprenticeship costs</h1>
                    </div>
                    <ul class="list list--arrows">
                        <li><a href="#" class="hero__link">How much can you earn</a> </li>
                        <li><a href="#" class="hero__link">Cost to you</a> </li>
                        <li><a href="#" class="hero__link">Future prospects</a> </li>
                        <li><a href="#" class="hero__link">Top 5 reasons for becoming an apprentice</a> </li>
                    </ul>
                    <img alt="HM Government Logo" class="hero__hm-government-logo" src="/dist/campaign/images/hm-government-logo.png" srcset="/dist/campaign/images/hm-government-logo.png 1x, /dist/campaign/images/hm-government-logo@2x.png 2x" />
                </div>
            </div>
        </div>

        <main id="main-content" class="main-content">

            <div class="grid-row">
                <div class="grid-column-two-thirds">


                    <div class="page">

                        <h2 class="heading-l">Introduction to apprenticeships</h2>

                        <p>An apprenticeship gives you hands-on experience, a salary and the opportunity to train while you work.   You get a same as other employees: a contract of employment, holiday leave and sick pay.   Anyone from the age of 16 can become an apprentice as long as they're living in England and not in full-time education.</p>
                        <p>An apprenticeship is a real job. It's a way to:</p>

                        <ul class="list list--bullet list--bullet-employer">
                            <li>get paid and learn at the same time, with at least 20% of your time set aside for learning - normally at a college, university or other training providers</li>
                            <li>gain official certification of your skills, equivalent to a qualification ranging from level 2 (GCSE equivalent) up to degree level</li>
                            <li>start a long-term career path with the possibility of higher earnings</li>
                        </ul>

                        <table class="table table--employer">
                            <thead class="table__header">
                            <tr class="table__row table__header-row">
                                <th class="table__cell table__row-title table__row-title--header">Rail Infrastructure Operator</th>
                                <th class="table__cell table__row-value--header">Level 2 - (<a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" rel="external" id="link-qualification-levels-2">levels explained</a>)</th>
                            </tr>
                            </thead>
                            <tbody class="table__body">
                            <tr class="table__row">
                                <th class="table__cell table__row-title" scope="row">Number of apprentices</th>
                                <td class="table__cell">1</td>
                            </tr>
                            <tr class="table__row">
                                <th class="table__cell table__row-title" scope="row">Funding band maximum</th>
                                <td class="table__cell">£12,000</td>
                            </tr>
                            <tr class="table__row">
                                <th class="table__cell table__row-title" scope="row">Agreed price with training provider</th>
                                <td class="table__cell">£10,000</td>
                            </tr>
                            <tr class="table__row">
                                <th class="table__cell table__row-title" scope="row">The government will pay</th>
                                <td class="table__cell">£9,000</td>
                            </tr>
                            </tbody>
                            <tfoot class="table__footer">
                            <tr class="table__row">
                                <th class="table__cell table__row-title" scope="row">Cost to you</th>
                                <td class="table__cell">£1,000</td>
                            </tr>
                            </tfoot>
                        </table>

                        <p>An apprenticeship can take 2 to 4 years to complete depending on which level you do.   </p>

                        <p>By successfully completing your apprenticeship, you'll have gained the confidence and skills needed to progress in your chosen career. </p>

                        <p>Apprenticeships are available across a wide range of industries and organisations, from local businesses to large national brands.</p>

                        <p>Apprenticeships have been through a massive change in the last few years.  They're not the 'easy option' and studying whilst you're working takes hard work!  Degree apprenticeship are now recognised as credible alternatives to full-time university courses. </p>

                        <p>If you live in <a href="#" rel="external"> Scotland</a>, <a href="#" rel="external">Wales</a>  or <a href="" rel="external">Northern Ireland</a>  you can find out more about apprenticeships in your area.  </p>

                        
                        {% include './components/cta-contactphone/_cta-contactphone.html'%}

                        <ul class="pagination pagination--employer">
                            <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/how-much-is-it-going-to-cost"> How much is it going to cost?</a></li>
                            <li class="pagination__list-item pagination__list-item--next"><a class="pagination__link pagination__link--next" href="/employer/choose-training-provider"> Choose a training provider</a></li>
                        </ul>

                    </div>


                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                            <img src="/dist/campaign/images/worker-girl.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">The process to becoming an apprentice</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            <ol class="sidebar-nav">
                                <li class="sidebar-nav__section sidebar-nav__section--active "><a id="link-sidebar-employer-1" href="/employer/how-much-is-it-going-to-cost"> How much is it going to cost?</a></li>
                                <li class="sidebar-nav__section "><a id="link-sidebar-employer-2" href="/employer/the-right-apprenticeship"> The right apprenticeship</a></li>
                                <li class="sidebar-nav__section "><a id="link-sidebar-employer-3" href="/employer/choose-training-provider"> Choose a training provider</a></li>
                                <li class="sidebar-nav__section "><a id="link-sidebar-employer-4" href="/employer/hire-an-apprentice"> Hire an apprentice</a> </li>
                                <li class="sidebar-nav__section "><a id="link-sidebar-employer-5" href="/employer/preparing-and-monitoring"> Preparing and monitoring</a></li>
                                <li class="sidebar-nav__section "><a id="link-sidebar-employer-6" href="/employer/assessment-and-certification"> Assessment and certification</a></li>
                            </ol>
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__sub-content">
                                <h2 class="heading-s sidebar__heading">Find out more</h2>
                                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                                <a class="button button--sparks button--shadow " href="#modal-RegisterInterest">Register Interest</a>
                            </div>
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__sub-content sidebar__sub-content--mid">
                                <h2 class="heading-m sidebar__heading">Already have a <img class="sidebar__sub-content-crown-logo" src="/dist/assets/images/govuk-mask-icon.svg" /> gov.uk account?</h2>
                                <a class="button button-inverted button--shadow " href="#modal-RegisterInterest">Go to my account</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        {% include './components/resources/_resources.html'%}

    {% include './components/footer/_footer.html'%}

    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
        <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script>




</body>

</html>