<div class="header__title">
  <span class="govuk-heading-s">New provider (logged in)</span>
</div>

<header class="rebranded-cross-service-header dfe-branding" data-module="one-login-header">
  <div class="rebranded-one-login-header" data-one-login-header-nav>
    <div class="rebranded-one-login-header__container govuk-width-container">
      <div class="rebranded-one-login-header__logo">
        <a
          href="https://www.gov.uk/"
          class="rebranded-one-login-header__link rebranded-one-login-header__link--homepage das-header__dfe-logo-link"
        >
          <img
            src="/images/department-for-education_white.png"
            alt="Department for Education"
            class="das-header__dfe-logo"
          />
        </a>
      </div>
      <button
        type="button"
        aria-controls="one-login-header__nav"
        aria-label="Show account menu"
        data-open-class="rebranded-cross-service-header__toggle--open"
        data-label-for-show="Show account menu"
        data-label-for-hide="Hide account menu"
        aria-expanded="false"
        class="rebranded-cross-service-header__toggle js-x-header-toggle das-header__toggle"
      >
        <span class="rebranded-cross-service-header__toggle-content-wrapper">
          <span class="rebranded-cross-service-header__toggle-content">Account</span>
        </span>
      </button>
      <nav
        aria-label="GOV.UK One Login"
        class="rebranded-one-login-header__nav"
        data-open-class="rebranded-one-login-header__nav--open"
        id="one-login-header__nav"
      >
        <ul class="rebranded-one-login-header__nav__list">
          <li class="rebranded-one-login-header__nav__list-item das-header__nav__list-item">
            <a
              class="rebranded-one-login-header__nav__link das-header__nav__link--has-menu"
              href="#provider-settings"
              aria-controls="provider-settings"
            >
              <span
                class="rebranded-one-login-header__nav__link-content das-header__nav__link-content"
                >Settings</span
              >
            </a>
            <ul class="das-header__sub-menu" id="provider-settings">
              <li class="das-header__sub-menu-item">
                <a role="menuitem" href="#" class="das-header__sub-menu-link"
                  >Change your sign-in details</a
                >
              </li>
              <li class="das-header__sub-menu-item">
                <a role="menuitem" href="#" class="das-header__sub-menu-link"
                  >Notification settings</a
                >
              </li>
            </ul>
          </li>
          <li class="rebranded-one-login-header__nav__list-item das-header__nav__list-item">
            <a class="rebranded-one-login-header__nav__link" href="/test">
              <span
                class="rebranded-one-login-header__nav__link-content das-header__nav__link-content"
                >Sign out</span
              >
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <section aria-label="Service information" class="govuk-service-navigation das-header__navigation">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container das-header__navigation__container">
        <div class="das-header__service-user-name-wrap">
          <span class="govuk-service-navigation__service-name">
            <span class="govuk-service-navigation__text">Your training provider account</span>
          </span>
          <p class="das-header__user-name">Sebastian Longbottom</p>
        </div>
        <nav
          aria-label="Menu"
          class="govuk-service-navigation__wrapper das-header__navigation__wrapper"
        >
          <ul class="govuk-service-navigation__list das-header__navigation__list">
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="#"> Home </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="#"> Apprentice requests </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="#"> Manage funding </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="#"> Manage your apprentices </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="#"> Recruit apprentices </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="#">
                View employers and manage permissions
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="#">
                Your standards and training venues
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <!-- End of service navigation -->
</header>
