.das-tabs {

}



// Bingo boxes style tabs

.das-tabs-boxes {
  @include govuk-responsive-margin(1, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-media-query($from: tablet) {
    margin-left: -$govuk-gutter-half;
    margin-right: -$govuk-gutter-half;
  }
}

.das-tabs-boxes__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.das-tabs-boxes__list-item {
  @include govuk-font($size: 19);
  margin-bottom: 3px;
  border: 1px solid  govuk-colour(blue);
  background: govuk-colour(blue);
  color: #fff;
  @include govuk-media-query($from: tablet) {
    width: 25%;
    margin-left: $govuk-gutter-half;
    margin-right: $govuk-gutter-half;
  }
}

.das-tabs-boxes__list-item--selected {
  background: #fff;
  color: $govuk-link-colour
}

.das-tabs-boxes__tab {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  &:link,
  &:visited {
    color: inherit;
  }
  @include govuk-media-query($from: tablet) {
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
  }
}

.das-tabs-boxes__tab:focus {
  @include govuk-focused-text;
}

.das-tabs-boxes__figure {
  font-weight: bold;
  margin-right: 3px;
  @include govuk-media-query($from: tablet) {
    display: block;
    font-size: 3em;
    text-decoration: none;
  }
}

.das-tabs-boxes__text {
  text-decoration: underline;
}