<div class="das-account-header das-account-header--employer">
  <div class="govuk-width-container">
    <p class="das-account-header__title">Your employer account</p>
    <nav class="das-user-navigation" id="das-user-navigation">
      <ul class="das-user-navigation__list" role="menu">
        <li class="das-user-navigation__list-item" role="menuitem">
          <a href="/help" target="_blank" class="das-user-navigation__link"
            >Help</a
          >
        </li>
        <li
          role="menuitem"
          class="das-user-navigation__list-item das-user-navigation__list-item--has-sub-menu"
        >
          <a href="/" class="das-user-navigation__link">Settings</a>
          <ul role="menu" class="das-user-navigation__sub-menu js-hidden">
            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
              <a href="/accounts" class="das-user-navigation__sub-menu-link"
                >Your accounts</a
              >
            </li>
            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
              <a href="/rename" class="das-user-navigation__sub-menu-link"
                >Rename account</a
              >
            </li>
            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
              <a
                href="/changepassword"
                class="das-user-navigation__sub-menu-link"
                >Change your password</a
              >
            </li>
            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
              <a href="/changeemail" class="das-user-navigation__sub-menu-link"
                >Change your email address</a
              >
            </li>
            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
              <a
                href="/notifications"
                class="das-user-navigation__sub-menu-link"
                >Notification settings</a
              >
            </li>
            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
              <a
                href="/notifications-manage"
                class="das-user-navigation__sub-menu-link"
                >Manage your advert notifications</a
              >
            </li>
          </ul>
        </li>
        <li class="das-user-navigation__list-item" role="menuitem">
          <a
            href="https://accounts.manage-apprenticeships.service.gov.uk/service/signOut"
            role="menuitem"
            class="das-user-navigation__link"
            >Sign out</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
