// Description:

.das-account-header {
  @include govuk-font($size: 19);
  color: #fff;
  padding: 5px 0;
  @include govuk-media-query($from: tablet) {
    padding: 0;
  }
  & > .govuk-width-container {
    @include govuk-clearfix;
  }
}

.das-account-header--provider {
  background: $provider;
}

.das-account-header--employer {
  background: $employer;
}

.das-account-header__title {
  margin: 0 $govuk-gutter-half * -1;
  padding: 10px $govuk-gutter-half;
  font-weight: $govuk-font-weight-bold;
  @include govuk-media-query($from: tablet) {
    float: left;
    padding: 8px $govuk-gutter-half;
  }
}

.das-account__title {
  font-weight: $govuk-font-weight-regular;
  color: $govuk-secondary-text-colour;
  margin-bottom: 5px;
  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.das-account__account-name {
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  max-width: 100%;
  @include govuk-media-query($from: desktop) {
    font-size: 48px;
  }
}

.das-favourites-link {
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  color: $govuk-link-colour;
  text-decoration: underline;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 0;
  @include das-focusable;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.das-favourites-link__icon {
  width: 1.6em;
  margin-right: 8px;
  & > img {
    max-width: 100%;
    display: block;
  }
}

.das-favourites-link__text {
  margin-top: 5px;
}

.das-favourites-link__count {
  font-weight: $govuk-font-weight-bold;
}