[data-module='jumpToScroll'] {
    & + .app-back-to-top__link {
        visibility: hidden;
    }
}

[data-module='jumpToScroll'].das-show-jump-to-scroll {
    @include govuk-media-query($from: tablet) {
        & + .app-back-to-top__link {
            visibility: visible;
            position: fixed;
            top: 26px;
        }
    }
}

