
.das-form-group-inline {
  display: table;
  width: 100%;
  & > .govuk-input {
    display: table-cell;
    width: 100%;
  }

  &.das-form-group-inline--sm {
    .govuk-input {
      padding: 0 govuk-spacing(1) 0 govuk-spacing(2);
      border: 1px solid govuk-colour('mid-grey');
      @include govuk-font($size: 16);//1rem
    }
    .govuk-button {
      width: 40px;
      height: 40px;
    }
    .govuk-hint {
      @include govuk-text-colour;
      margin: govuk-spacing(2) 0;
    }
  }
}

.das-form-group-inline__button-wrap {
  display: table-cell;
  vertical-align: top;
  width: 1%;
  & > .govuk-button {
    margin: 0;
  }
}

.das-dashboard-search {
  margin: 0;
}

.das-dashboard-search__input {
  border: 1px solid govuk-colour('mid-grey');
  border-right: none;
  height: 40px;
  box-sizing: border-box;
  padding: 15px;
  @include govuk-media-query($from: tablet) {
    padding: 29px 20px 29px;
  }
}

.das-dashboard-search__button {
  @extend .das-button--blue;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('data:image/svg+xml;utf8,#{$icon-search}');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 40px;
  &:focus,
  &:hover {
    background-image: url('data:image/svg+xml;utf8,#{$icon-search}');
    background-position: center center;
    background-repeat: no-repeat;
  }
  @include govuk-media-query($from: tablet) {
    width: 60px;
    height: 60px;
    background-size: 25px;
    &:hover,
    &:focus {
      background-size: 25px;
    }
  }
}
