.das-button--blue {
  background: govuk-colour("blue");
  &:hover,
  &:focus {
    background: darken(govuk-colour("blue"), 10%);
  }
}

.das-button--inverted {
  background-color: #fff;
  box-shadow: 0 2px 0 darken(govuk-colour("blue"), 20%);

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour("blue");
  }

  &:hover,
  &:focus {
    background-color: #e6eff6;
  }
}

.das-link--button-aligned {
  display: inline-block;
  padding: 10px 15px 5px 10px;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

.das-button--link {
  @include govuk-font($size: 19, $line-height: 19px);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  @include govuk-responsive-margin(6, "bottom");
  padding: (govuk-spacing(2) - $govuk-border-width-form-element)
    govuk-spacing(2) (govuk-spacing(2) - $govuk-border-width-form-element);
  border: $govuk-border-width-form-element solid transparent;
  border-radius: 0;
  color: $govuk-link-colour;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;

  &:link,
  &:visited,
  &:active {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus {
    border-color: $govuk-focus-colour;
    outline: $govuk-focus-width solid transparent;
    box-shadow: inset 0 0 0 1px $govuk-focus-colour;
  }

  @include govuk-media-query($from: tablet) {
    width: auto;
  }
}

.das-button--inline-link {
  @extend %govuk-link;
  color: $govuk-link-colour;
  text-decoration: underline;
  font-size: inherit;
  font-weight: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: left;
  display: inline;
}

.das-button--outline {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
  background-color: #fff;
  box-shadow: 0 2px 0 govuk-colour("green");

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour("green");
  }

  &:hover,
  &:focus {
    background: govuk-colour("light-grey");
    color: govuk-colour("green");
  }
}
