.fiu-tag {
  @extend .govuk-tag;
  @include fiu-typography-common;
  font-weight: $fiu-font-weight-bold;
  font-size: 12px;
  letter-spacing: 0;
}

.fiu-tag--citizens {
  background: $fiu-citizens-brand-colour;
}

.fiu-tag--employers {
  background: $fiu-employers-brand-colour;
}

.fiu-tag--national {
  background: $dark-grey;
}