<div class="hero"  data-module="smoothScroll">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--apprentice">Employer</span>
                <h1 class="heading-xl hero-heading__heading">Find Apprenticeship Training</h1>
            </div>
         <form>
            <div class="form-group das-form-group-inline">
                <input class="input"  asp-for="Keywords" type="search" placeholder="Apprenticeship keyword...">
                <button class="button button-sparks button-employer button--sparks" type="submit">Search</button>
            </div>
         </form>
        </div>
    </div>
</div>