<div class="hero">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--apprentice">Apprentice</span>
                <h1 class="heading-xl hero-heading__heading">What is an apprenticeship?</h1>
            </div>
            <ul class="list list--arrows">
                <li><a href="#" class="hero__link">How much can you earn</a> </li>
                <li><a href="#" class="hero__link">Cost to you</a> </li>
                <li><a href="#" class="hero__link">Future prospects</a> </li>
                <li><a href="#" class="hero__link">Top 5 reasons for becoming an apprentice</a> </li>
            </ul>
        </div>
    </div>
</div>