<div class="hero"  data-module="smoothScroll">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--apprentice">Apprentice</span>
                <h1 class="heading-xl hero-heading__heading">What's an Apprenticeship?</h1>
            </div>
            <ul class="list list--arrows">
                <li><a href="#heading1" class="hero__link">Introduction to apprenticeships</a> </li>
                <li><a href="#heading2" class="hero__link">What are the different types of apprenticeships?</a> </li>
            </ul>
        </div>
    </div>
</div>