.das-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 9999;
  margin: 15px;
  @include govuk-media-query(tablet) {
    width: 50%;
    max-width: 500px;
    padding: 0;
    background: none;
    margin: 10% auto 0;
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.das-modal__body {
  background: #fff;
  padding: 30px;
  margin-bottom: 15px;
  height: 100%;
  display: block;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  &:focus {
    outline: 3px solid $govuk-focus-colour;
  }
}

.das-modal__actions {
  margin-top: 30px;
  margin-bottom: -20px;
  @include govuk-media-query(tablet) {
    margin-top: 10px;
    margin-bottom: -10px;
  }
}
