{% from "../button/macro.njk" import dasButton %}
<section class="section cookiesettings-text">
  <div class="grid-row">
    <div class="grid-column-full">
      <span class="caption-s">Cookie settings</span>
      <h1 class="heading-m">Manage cookies on this website</h1>
      <p>Cookies are small text files that can be used by websites to make a user's experience more efficient.
      </p>
      <p>
        The law states that we can store cookies on your device if they are strictly necessary for the operation of
        this site. For all other types of cookies we need your permission.
      </p>
      <p>
        You can at any time change or withdraw your consent below
      </p>
      <hr />
      <div class="form-group">
        <div class="grid-row toggleContainer">
          <div class="grid-column-one-quarter">
          </div>
          <div class="grid-column-three-quarters">
            <h3 class="heading-xs">Necessary cookies</h3>
            <p> Ensure the basic performance and user friendliness of the website. The website cannot function properly without these cookies, which can only be disabled by changing your browser preferences </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <div class="grid-row toggleContainer">
          <div class="grid-column-one-quarter">

            <input type="checkbox" name="any" id="any2" checked>
            <label for="any2" data-on="ON" data-off="OFF"></label>

          </div>
          <div class="grid-column-three-quarters">
            <h3 class="heading-xs">Marketing cookies</h3>
            <p>We use these to inform the relevancy of advertising campaigns you receive and to tailor certain content on our website.</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <div class="grid-row toggleContainer">
          <div class="grid-column-one-quarter">

            <input type="checkbox" name="any" id="any3" checked>
            <label for="any3" data-on="ON" data-off="OFF"></label>

          </div>
          <div class="grid-column-three-quarters">
            <h3 class="heading-xs">Analytics cookies</h3>
            <p>Help us to improve our website by collecting and reporting information on how it is being used. .</p>
          </div>
        </div>
      </div>
      {{ dasButton({
      "text": "Save settings",
      "classes": "button-apprentice",
      "shadow":true
      }) }}
    </div>
  </div>
</section>