.cssmask {
  .launcher--apprentices {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    margin-bottom: -80px;
    z-index: 4;
    @include media-query($from: tablet) {
      -webkit-clip-path: none;
      clip-path: none;
      margin-bottom: 0;
    }
  }

  .launcher--employer {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    margin-bottom: -80px;
    z-index: 3;
    @include media-query($from: tablet) {
      -webkit-clip-path: none;
      clip-path: none;
      margin-bottom: 0;
    }
  }

  .launcher__wrap {
    @include media-query($from: tablet) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
      margin-bottom: -100px;
      z-index: 5;
      position: relative;
    }
    @include media-query($from: desktop) {
      margin-bottom: -80px;
    }
  }

  .hero-banner {
    padding-top: 100px;
  }

  .hero-banner--apprentice {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    padding-bottom: 80px;
    margin-bottom: -80px;
    z-index: 2;
    @include media-query($from: desktop) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    }
  }

  .hero-banner--employer {

  }

}