.cssmask {
  .card__collection--industry {

    background: none;

    .grid-column-full-width-one-quarter:nth-child(odd) {
      -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
      margin-top: -40px;
      @include media-query($from: tablet) {
        -webkit-clip-path: none;
        clip-path: none;
        margin-top: 0;
      }
    }

    .grid-column-full-width-one-quarter:nth-child(even) {
      -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
      margin-top: -30px;
      @include media-query($from: tablet) {
        -webkit-clip-path: none;
        clip-path: none;
        margin-top: 0;
      }
    }

    .card {
      background: #fff;
    }

    .card__content {
      padding-bottom: 90px;
      @include media-query($from: tablet) {
        padding-bottom: 100px;
      }
    }

    .card__link {
      padding-bottom: 40px;
      @include media-query($from: tablet) {
        padding-bottom: 50px;
      }
    }

    .card__summary {
      font-size: 19px;
    }

  }

  .card__collection--industry:nth-child(odd) {
    @include media-query($from: tablet) {
      -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
      margin-top: -50px;
    }
  }

  .card__collection--industry:nth-child(even) {
    @include media-query($from: tablet) {
      -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
      margin-top: -50px;
      background: #fff;
    }
  }
}