.thecalling-body {
  background: $page-bg;
  text-align: center;
  color: #fff;
}

.thecalling-main {
  background: $black;
  margin: 0 auto;
  max-width: 1200px;
  p {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 2em;
  }
}

// Buttons

.thecalling-button {
  @extend .button;
  background: $thecalling-pink;
  color: #fff;
  width: auto;
  &:link {
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
  &:focus,
  &:hover {
    background: darken($thecalling-pink, 10%);
    color: #fff;
  }
  &:active {
    top: 0;
  }
}

.thecalling-site-heading {
  text-transform: uppercase;
  transform: rotate(-6deg) skewX(-6deg);
  @include font($size: 48, $weight: bold);
  font-size: 40px;
  letter-spacing: -0.05em;
  margin-top: 1.2em;
  margin-bottom: 20px;
  @include media-query($from: 500px) {
    font-size: 60px;
  }
  @include media-query($from: tablet) {
    font-size: 90px;

  }
  @include media-query($from: desktop) {
    font-size: 120px;

  }
}


// Video hero

.thecalling-video {
  background-image: url("../images/thecalling/hero-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.thecalling-video__contents {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 25px;
  color: white;
}

.thecalling-video__play {
  width: 50px;
  height: 50px;
  background-image: url("../images/thecalling/icon-play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  margin: 20px auto;
  @include media-query($from: 500px) {
    width: 80px;
    height: 80px;
  }
  @include media-query($from: tablet) {
    width: 80px;
    height: 80px;
    margin: 50px auto;
  }
  @include media-query($from: desktop) {
    width: 100px;
    height: 100px;
  }
}

  // Sections

.thecalling-section {
  position: relative;
  margin-top: -40px;
  @include media-query($from: tablet) {
    padding: 80px 0;
    margin: 0;
    @include clearfix();
    transform: skewY(-6deg);
  }
}

.thecalling-section--jamal {
  background: $black;
  margin-top: 0;
  @include media-query($from: tablet) {
    transform: skewY(0);
    padding-bottom: 120px;
    margin-bottom: -80px;
  }
}

.thecalling-section--homepage {

  padding-bottom: 0;
  margin-bottom: 0;
  @include media-query($from: tablet) {
    padding-bottom: 50px;
    z-index: 9;
  }
}

.thecalling-section--transparent {
  position: absolute;
  min-height: 50px;
  display: block;
  bottom: 100%;
  left: 0;
  right: 0;
  img {
    display: block;
    width: 160%;
    position: absolute;
    right: 0;
    bottom: 0;
    @include media-query($from: tablet) {
      width: 100%;
    }
  }
  .thecalling-section--homepage & {
    display: none;
    @include media-query($from: tablet) {
      display: block;
    }
  }
}

.thecalling-section__heading {
  text-transform: uppercase;
  @include font($size: 48, $weight: bold);
  font-size: 40px;
  letter-spacing: -0.1em;
  margin-top: 0;
  @include media-query($from: tablet) {
    font-size: 48px;
  }
  @include media-query($from: desktop) {
    font-size: 64px;
  }
}

.thecalling-section__heading-line-break {
  display: block;
  margin-left: 92px;
  margin-bottom: -60px;
  position: relative;
  top: -12px;
  @include media-query($from: tablet) {
    margin-left: 110px;
    margin-bottom: -80px;
  }
  @include media-query($from: desktop) {
    margin-left: 147px;
    margin-bottom: -100px;
    top: -16px;
  }
}

.thecalling-section__heading--skew {
  transform: rotate(-6deg) skewX(-6deg);
}

.thecalling-section__heading--light {
  font-weight: 300;
}

.thecalling-section__image-wrap {
  overflow: hidden;
  height: 410px;
  position: relative;
  @include media-query($from: tablet) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }
  .thecalling-section--homepage & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }
}

.thecalling-section__image-wrap--jamal {
  height: 280px;
  @include media-query($from: tablet) {
    height: auto;
  }
}

.thecalling-section__image {
  display: block;
  position: absolute;
  top: -60px;
  left: 0;
  width: 160%;
  @include media-query($from: tablet) {
    height: auto;
    -webkit-transform: skewY(6deg);
    transform: skewY(6deg);
    top: -80px;
    width: 100%;
    .thecalling-section--jamal & {
      -webkit-transform: skewY(0);
      transform: skewY(0);
    }
  }
}

.thecalling-section__image--jamal {
  right: 0;
  top: 0;
  left: auto;
  .thecalling-section--homepage & {
    right: -50%;
    width: 220%;
    top: 40px;
    @include media-query($from: tablet) {
      width: 100%;
      right: 0;
      top: 0;
    }
  }
}

.thecalling-section__panel {
  padding: 50px 30px;
  margin-top: -50px;
  position: relative;
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg);
  background: $black;
  z-index: 1;
  @include media-query($from: tablet) {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    float: right;
    -webkit-transform: skewY(0);
    transform: skewY(0);
    .thecalling-section--jamal & {
      float: left;
      -webkit-transform: skewY(-6deg);
      transform: skewY(-6deg);
    }
  }
  .thecalling-section--homepage & {
    background: none;
    padding: 0;
    @include media-query($from: tablet) {
      background: $black;
      padding: 50px 30px;
    }
  }
}

.thecalling-section__panel-content {
  -webkit-transform: skewY(6deg);
  transform: skewY(6deg);
  max-width: 410px;
  margin: 0 auto;
  .thecalling-section--homepage & {
    padding: 180px 20px 20px;
    text-align: left;
    max-width: none;
    background: linear-gradient(225deg, rgba(0,0,0,0) 0%, #000 100%);
    @include media-query($from: tablet) {
      padding: 0 10px;
    }
    @include media-query($from: desktop) {
      padding: 0 50px;
    }
  }
}

.thecalling-section--theteam {
  background: #fff;
  padding: 80px 30px 30px;
  text-align: center;
  color: $black;
}

.thecalling-section:last-child {
  padding-bottom: 50px;
  .thecalling-section__panel {
    @include media-query($from: tablet) {
      margin-bottom: -150px;
    }
  }
  @include media-query($from: tablet) {
    padding-bottom: 80px;
  }
}

.thecalling-reverse-skew {
  @include media-query($from: tablet) {
    -webkit-transform: skewY(6deg);
    transform: skewY(6deg);
  }
}


// Cards

.thecalling-cards {
  @include media-query($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px;
  }
}

.thecalling-cards__card {
  margin-bottom: 20px;
  @include media-query($from: tablet) {
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  @include media-query($from: desktop) {
    width: 33%;
  }
}

.thecalling-cards__photo {
  border-radius: 50%;
  max-width: 150px;
}

.thecalling-cards__heading {
  color: $heading-colour;
  text-transform: uppercase;
  @include font($size: 19, $weight: bold);
  font-size: 24px;
  margin-bottom: .4em;
}

.thecalling-cards__intro,
p.thecalling-cards__intro {
  color: $text-colour;
  margin-top: 0;
  font-weight: 300;
}

.thecalling-apprenticeship-logo {
  max-width: 80%;
}

.thecalling-footer {
  text-align: left;
  margin: 0 auto;
  max-width: 1200px;
  @include font($size: 19, $weight: light);
  font-size: 16px;
  color: #fff;
  padding: 50px 30px;
  .footer__inline-list-item {
    margin-bottom: 10px;
    font-size: 15px;
    @include media-query($from: tablet) {
      text-align: right;
      margin-right: 5px;
      padding-right: 7px;
      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  .footer__link:link,
  .footer__link:visited {
    color: #fff;
  }
  p.footer__text {
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    @include media-query($from: tablet) {
      margin-top: 0px;
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  .footer__inline-list {
    @include media-query($from: tablet) {
      text-align: right;
      margin-top: 40px;
    }
  }
}

