<div class="fiu-cookie-banner" data-fiu-cookie-banner="true">
  <div class="fiu-cookie-banner__body" tabindex="0">
    <div class="fiu-cookie-banner__message">
      <h2 class="fiu-cookie-banner__heading">
        Tell us whether you accept cookies
      </h2>
      <p class="fiu-cookie-banner__content">
        We use
        <a href="/cookie-details" class="fiu-link" id="fiu-cb-link-details"
          >cookies to collect</a
        >
        information about how you use this service. We use this information to
        make the service work as well as possible and improve this service. We
        also share some of this information with our social media, advertising
        and analytics partners.
      </p>
      <div class="fiu-cookie-banner__actions">
        <a
          class="fiu-button"
          id="fiu-cb-button-accept"
          tabindex="0"
          href="#"
          role="button"
          data-accept-cookies="true"
          >Accept all cookies</a
        >
        <a
          class="fiu-button fiu-button--text"
          id="fiu-cb-link-set-pref"
          href="/cookies"
          >Set cookie preferences</a
        >
      </div>
    </div>

    <div class="fiu-cookie-banner__confirmation">
      <p class="fiu-cookie-banner__content">
        You've accepted all cookies. You can
        <a class="fiu-link" href="/cookies">change your cookie settings</a> at
        any time.
      </p>
      <div class="fiu-cookie-banner__actions">
        <a
          class="fiu-button das-cookie-banner__hide-button"
          data-hide-cookie-banner="true"
          id="fiu-cb-close"
          >Close</a
        >
      </div>
    </div>
  </div>
</div>
