<blockquote class="quote-box">
    <p class="quote-box__content">I had great grades at 'A' level, but I didn't want to get into huge debt.... my career advisor at school told me about apprenticeships.  I am now about to complete my degree apprenticeship and I have a job lined up.  So pleased I chose this career path...</p>
    <footer class="quote-box__footer">
        <span class="quote-box__icon"></span>
        <span class="quote-box__avatar"><img src="/dist/campaign/images/avatar-apprentice.jpg" alt="James, 23, Chester" class="quote-box__avatar-image"></span>
        <cite class="quote-box__cite">James, 23, Chester</cite>
    </footer>
</blockquote>