.das-breakable {
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  display: inline-block;
  max-width: 100%;
}

.das-breakable--inline {
  display: inline;
}

.das-breakable--block {
  display: block;
}
