.fiu-promo {
    @include fiu-typography-common;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: $white;
    color: $light-black;
}

.fiu-promo--citizens {
    background-color: $fiu-citizens-brand-colour;
    color: $white;
}
.fiu-promo--employers {
    background-color: $fiu-employers-brand-colour;
    color: $white;
}

.fiu-promo__heading {
    color: inherit;
    margin-bottom: -10px;
}

.fiu-promo__content {
    font-size: 20px;
    line-height: 24px;
    font-weight: $fiu-font-weight-book;

    & + .fiu-promo__content {
        margin-top: -20px;
    }

    @include govuk-media-query(tablet) {
        font-size: 24px;
        line-height: 29px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

.fiu-promo__button {
    margin-bottom: 0;
}