<aside class="fiu-promo fiu-promo--citizens">
  <div class="fiu-width-container">
    <h2 class="govuk-heading-l fiu-promo__heading">Become an apprentice</h2>

    <p class="fiu-promo__content">
      Create an account and start applying for apprinticeships today
    </p>

    <a href="#" class="fiu-button fiu-button--inverse"> Create account </a>
  </div>
</aside>

<aside class="fiu-promo fiu-promo--employers">
  <div class="fiu-width-container">
    <h2 class="govuk-heading-l fiu-promo__heading">Hire an apprentice</h2>

    <p class="fiu-promo__content">
      Looking to bring valuable skills into your business by hiring someone new?
    </p>
    <p class="fiu-promo__content">
      Apprenticeships are suitable for people at any level.
    </p>

    <a href="#" class="fiu-button fiu-button--inverse"> Request callback </a>
  </div>
</aside>
