<div class="fiu-search-filter">
  <div class="fiu-width-container">
    <form
      method="get"
      action="/employers/find-apprenticeships"
      data-fiu-search-filter="true"
    >
      <h3 class="govuk-heading-s fiu-search-filter__title">Filter results</h3>
      <fieldset class="govuk-fieldset fiu-search-filter__fieldset">
        <legend class="govuk-fieldset__legend fiu-search-filter__legend">
          Apprenticeship level:
        </legend>
        <div
          class="govuk-checkboxes govuk-checkboxes--small fiu-search-filter__checkboxes"
        >
          <div class="govuk-checkboxes__item fiu-search-filter__checkbox-item">
            <input
              class="govuk-checkboxes__input fiu-search-filter__checkbox"
              value="2"
              id="SelectedLevels_2"
              name="SelectedLevels"
              type="checkbox"
              checked=""
            />
            <label
              for="SelectedLevels_2"
              class="govuk-label govuk-checkboxes__label fiu-search-filter__label"
              >Level 2 (13)</label
            >
          </div>
          <div class="govuk-checkboxes__item fiu-search-filter__checkbox-item">
            <input
              class="govuk-checkboxes__input fiu-search-filter__checkbox"
              value="3"
              id="SelectedLevels_3"
              name="SelectedLevels"
              type="checkbox"
              checked=""
            />
            <label
              for="SelectedLevels_3"
              class="govuk-label govuk-checkboxes__label fiu-search-filter__label"
              >Level 3 (38)</label
            >
          </div>
          <div class="govuk-checkboxes__item fiu-search-filter__checkbox-item">
            <input
              class="govuk-checkboxes__input fiu-search-filter__checkbox"
              value="4"
              id="SelectedLevels_4"
              name="SelectedLevels"
              type="checkbox"
              checked=""
            />
            <label
              for="SelectedLevels_4"
              class="govuk-label govuk-checkboxes__label fiu-search-filter__label"
              >Level 4 (15)</label
            >
          </div>
          <div class="govuk-checkboxes__item fiu-search-filter__checkbox-item">
            <input
              class="govuk-checkboxes__input fiu-search-filter__checkbox"
              value="5"
              id="SelectedLevels_5"
              name="SelectedLevels"
              type="checkbox"
              checked=""
            />
            <label
              for="SelectedLevels_5"
              class="govuk-label govuk-checkboxes__label fiu-search-filter__label"
              >Level 5 (2)</label
            >
          </div>
          <div class="govuk-checkboxes__item fiu-search-filter__checkbox-item">
            <input
              class="govuk-checkboxes__input fiu-search-filter__checkbox"
              value="6"
              id="SelectedLevels_6"
              name="SelectedLevels"
              type="checkbox"
              checked=""
            />
            <label
              for="SelectedLevels_6"
              class="govuk-label govuk-checkboxes__label fiu-search-filter__label"
              >Level 6 (23)</label
            >
          </div>
          <div class="govuk-checkboxes__item fiu-search-filter__checkbox-item">
            <input
              class="govuk-checkboxes__input fiu-search-filter__checkbox"
              value="7"
              id="SelectedLevels_7"
              name="SelectedLevels"
              type="checkbox"
              checked=""
            />
            <label
              for="SelectedLevels_7"
              class="govuk-label govuk-checkboxes__label fiu-search-filter__label"
              ><b>Level 7</b> (7)</label
            >
          </div>
        </div>
      </fieldset>
      <input type="hidden" id="Keywords" name="Keywords" value="engineer" />
      <input type="hidden" id="SortOrder" name="SortOrder" value="0" />
      <input type="hidden" id="ResultsToTake" name="ResultsToTake" value="20" />
      <button
        type="submit"
        class="fiu-button fiu-button--employers fiu-search-filter__button"
        id="fat-filter-update-results"
      >
        Update results
      </button>
    </form>
  </div>
</div>
