$blue:          #4282ba;
$green:         #3cb821;
$light-green:   #94EB81;
$purple:        #4d43a3;
$light-purple:  #A49DE3;
$orange:        #ff7b20;
$yellow:        govuk-colour('yellow');

$black:       #000;
$light-black: govuk-colour('black');
$dark-grey:   #6f777b;
$mid-grey:    govuk-colour('mid-grey');
$grey:        #cbd0d3;
$light-grey:  #f3f3f3;
$white:       govuk-colour('white');
