$blue:        #1d70b8;
$green:       #3cb821;
$purple:      #4d43a3;
$orange:      #ff7b20;

$black:       #000;
$dark-grey:   govuk-colour('dark-grey');
$mid-grey:    govuk-colour('mid-grey');
$light-grey:  #f3f3f3;
$white:       govuk-colour('white');
