$fiu-global-brand-colour:     $blue;
$fiu-citizens-brand-colour:   $green;
$fiu-employers-brand-colour:  $purple;
$fiu-providers-brand-colour:  $orange;

$fiu-global-link-colour:      $blue;
$fiu-citizens-link-colour:    $green;
$fiu-employers-link-colour:   $purple;
$fiu-providers-link-colour:   $orange;
