$fiu-global-brand-colour:     $blue;
$fiu-citizens-brand-colour:   $green;
$fiu-employers-brand-colour:  $purple;
$fiu-providers-brand-colour:  $orange;

$fiu-global-link-colour:      $blue;
$fiu-citizens-link-colour:    $green;
$fiu-employers-link-colour:   $purple;
$fiu-providers-link-colour:   $orange;

$fiu-global-link-hover-colour:      darken($blue, 10%);
$fiu-citizens-link-hover-colour:    darken($green, 10%);
$fiu-employers-link-hover-colour:   darken($purple, 10%);
$fiu-providers-link-hover-colour:   darken($orange, 10%);

$fiu-page-bg-colour:     $black;

$fiu-footer-bg-colour:   $black;
$fiu-footer-text-colour: $mid-grey;
$fiu-footer-link-colour: $mid-grey;

$fiu-header-bg-colour:   $black;
$fiu-header-text-colour: $black;
$fiu-header-menu-button: $mid-grey;