$fiu-text-colour: $light-black;
$fiu-body-colour: $light-grey;

$fiu-global-brand-colour: $blue;
$fiu-citizens-brand-colour: $green;
$fiu-employers-brand-colour: $purple;
$fiu-providers-brand-colour: $orange;
$fiu-influencers-brand-colour: $blue;

$fiu-global-link-colour: $blue;
$fiu-citizens-link-colour: $blue;
$fiu-employers-link-colour: $purple;
$fiu-providers-link-colour: $orange;
$fiu-influencers-link-colour: $blue;

$fiu-citizens-link-colour-light: $light-green;
$fiu-employers-link-colour-light: $light-purple;

$fiu-global-link-hover-colour: darken($blue, 10%);
$fiu-citizens-link-hover-colour: darken($green, 10%);
$fiu-employers-link-hover-colour: darken($purple, 10%);
$fiu-providers-link-hover-colour: darken($orange, 10%);
$fiu-influencers-link-hover-colour: darken($blue, 10%);

$fiu-page-bg-colour: $black;
$fiu-border-colour: $grey;

$fiu-footer-bg-colour: $black;
$fiu-footer-text-colour: $mid-grey;
$fiu-footer-link-colour: $mid-grey;

$fiu-header-bg-colour: $white;
$fiu-header-link-colour: $black;
$fiu-header-link-hover-colour: $dark-grey;

$fiu-navigation-bg-colour: $light-black;

$fiu-action-success: $green;
$fiu-action-error: $red;
$fiu-action-information: $blue;
