.das-button {

}

.das-button--blue {
  background: govuk-colour("blue");
  &:hover,
  &:focus {
    background: darken(govuk-colour("blue"), 10%);
  }
}

.das-button--inverted {
  background-color: #fff;
  box-shadow: 0 2px 0 darken(govuk-colour("blue"), 20%);

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour("blue");
  }

  &:hover,
  &:focus {
    background-color: #e6eff6;
  }
}

.das-button--outline {
  border-color: $cookie;
  color: $cookie;
  background-color: #fff;
  box-shadow: 0 2px 0 $cookie;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $cookie;
  }

  &:hover,
  &:focus {
    background: govuk-colour('light-grey');
    color: $cookie;
  }
}

.das-link--button-aligned {
  display:inline-block;
  padding:10px 15px 5px 10px;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px
}