.js-enabled #global-cookie-message {
  display: none;
}

#global-cookie-message {
  background-color: #fff;
  padding: 15px 0;
  box-sizing: border-box;
  width: 100%;
}

.das-cookie-banner {
  @include govuk-font($size: 16, $weight: 400);
  padding: 10px 0;
  background-color: #fff;
  border: 2px solid govuk-colour('black');
}

.das-cookie-banner__message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: govuk-colour('green');
  @include govuk-media-query($from: desktop) {
    margin: 0;
  }
}

.das-cookie-banner__buttons {
  @include das-clearfix();
  @include govuk-media-query($from: 320px) {
    margin: 0 -5px;
  }
  @include govuk-media-query($from: desktop) {
    display: inline-block;
    padding-top: 5px;
  }
}

.das-cookie-banner__button-wrap {
  margin-bottom: 5px;
  vertical-align: top;
  @include govuk-media-query($from: 320px) {
    width: 50%;
    float: left;
    padding: 0 5px;
    box-sizing: border-box;
  }
  @include govuk-media-query($from: desktop) {
    float: none;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
}

.das-cookie-banner__button {
  margin: 0;
  width: 100%;
  @include govuk-media-query($from: desktop) {
    vertical-align: baseline;
  }
}

.das-cookie-banner__confirmation {
  position: relative;
  padding: 5px;
  display: none;
}

.das-cookie-banner__confirmation-message {
  margin: 0;
}

.das-cookie-banner__hide-button {
  @include govuk-font($size: 19, $weight: 400);
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  color: govuk-colour('blue');
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    color: $govuk-link-hover-colour;
  }
  &:focus {
    color: $govuk-focus-text-colour;
    background: $govuk-focus-colour;
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
  @include govuk-media-query($from: desktop) {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0;
  }
}
