.js-enabled #global-cookie-message {
  display: block; /* Change */
}

#global-cookie-message {
  background-color: #ffffff;
  padding: 20px 0;
  box-sizing: border-box;
  width: 100%;
}

.gem-c-cookie-banner {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  padding: 10px 0;
  background-color: #ffffff;
  border: 2px solid #0b0c0c;
}

.gem-c-cookie-banner__message {
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #00823b;
}

.gem-c-button--inline {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  vertical-align: top;
}

.gem-c-button--secondary {
  padding: 8px 10px;
  border-color: #00823b;
  color: #00823b;
  background-color: #ffffff;
  box-shadow: none;
}

.gem-c-button--secondary:link, .gem-c-button--secondary:visited, .gem-c-button--secondary:active, .gem-c-button--secondary:focus {
  color: #00823b;
  background-color: #ffffff;
  text-decoration: none;
}

.gem-c-cookie-banner__confirmation {
  position: relative;
  padding: 5px;
  background: #eee;
}

.gem-c-cookie-banner__hide-button {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  color: #005ea5;
  padding: 0;
  margin-top: 10px;
}
