.das-dashboard-header {
  background: #fff;
  padding-bottom: 20px;
  @include govuk-font(19);
}

.das-dashboard-header__border {
  border-top: 10px solid govuk-colour("blue");
  .das-dashboard-header--employer & {
    border-color: $employer;
  }
}

.das-dashboard-header__title {
  margin: 20px 0 0;
  font-size: 19px;
  font-weight: $govuk-font-weight-regular;
  @include govuk-media-query($from: tablet) {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: -7px;
  }
}

.das-dashboard-header__account-name {
  margin: 0;
  font-size: 24px;
  @include govuk-media-query($from: tablet) {
    font-size: 36px;
  }
  @include govuk-media-query($from: desktop) {
    font-size: 48px;
  }
}