
// Description: Styles the headings above the panels on the account homepage

.das-dashboard-header {
  background: #fff;
  padding-bottom: 20px;
  @include govuk-font(19);
}

.das-dashboard-header__title {
  margin: 20px 0 0;
  font-size: 19px;
  font-weight: $govuk-font-weight-regular;
  color: $govuk-secondary-text-colour;
  @include govuk-media-query($from: tablet) {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: -7px;
  }
}

.das-dashboard-header__account-name {
  margin: 0;
  font-size: 24px;
  @include govuk-media-query($from: tablet) {
    font-size: 36px;
  }
  @include govuk-media-query($from: desktop) {
    font-size: 48px;
  }
}

.das-dashboard-header__row {
  @include govuk-media-query($from: tablet) {
    display: flex;
    margin: 0 -$das-dashboard-gutter / 2;
  }
}

.das-dashboard-header__col {
  @include govuk-media-query($from: tablet) {
    margin: 0 $das-dashboard-gutter / 2;
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
}

.das-dashboard-header__col--primary {
  @include govuk-media-query($from: tablet) {
    width: $das-primary-col-size;
  }
}

.das-dashboard-header__col--secondary {
  @include govuk-media-query($from: tablet) {
    width: $das-secondary-col-size;
  }
}

.das-placeholder-tasks {
  @include govuk-font($size: 19, $weight: bold, $line-height: 1);
  color: #fff;
  background-color: govuk-colour('blue');
  background-image: url('data:image/svg+xml;utf8,#{$icon-arrow-down}');
  background-position: 94% center;
  background-repeat: no-repeat;
  margin: 10px 0 0;
  @include govuk-responsive-padding(4);
  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
}