
.das-definition-list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}

.das-definition-list__title {
  font-weight: $govuk-font-weight-bold;
}

.das-definition-list__definition {
  margin: 0;
}

.das-definition-list--inline {
  overflow: hidden;
  .das-definition-list__title {
    clear: both;
    float: left;
    margin-right: 10px;
    &:after {
      content: ':';
    }
  }
  .das-definition-list__definition {
    float: left;
  }
}

.das-definition-list--table {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-flow: row wrap;
  }
  .das-definition-list__title {
    font-weight: $govuk-font-weight-bold;
    flex-basis: 35%;
    padding-right: 5%;
    @include govuk-media-query($from: tablet) {
      margin-bottom: 5px;
      &.das-definition-list__title--spacer {
        margin-bottom: 10px;
      }
    }
    &:after {
      content: ':';
    }
  }
  .das-definition-list__definition {
    flex-basis: 60%;
    flex-grow: 1;
    margin-bottom: 5px;
    &.das-definition-list__definition--spacer {
      margin-bottom: 10px;
    }
  }
}

.das-definition-list--muted {
  color: $govuk-secondary-text-colour;
  .das-definition-list__title {
    font-weight: normal;
  }
}

.das-definition-list--with-separator {
  .das-definition-list__title {
    padding-top: 10px;
  }
  .das-definition-list__definition {
    border-bottom: 1px solid $govuk-border-colour;
    padding-bottom: 10px;
  }
}

.das-definition-list__results {
  padding-bottom: 20px;
}

.das-definition-list__results dt {
  float: left;
  font-weight:600;
  clear: both;
  display:block;
  width: 25%;
}

.das-definition-list__results dd {
  display:block;
  float: left;
  margin-inline-start:0px;
  margin-bottom: 1em;
  width:75%;   
}

.das-definition-list__title--spacer {
  @include govuk-media-query($from: tablet) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.das-definition-list__definition--spacer {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $govuk-border-colour;
}
