.das-navigation {
  border-bottom: 1px solid govuk-colour(grey-1);
  @include govuk-text-colour;
  @include govuk-font($size: 19);
}

.das-navigation__list {
  list-style: none;
  padding: 0;
}

.das-navigation__list-item {
  @include govuk-media-query($from: tablet) {
    display: inline-block;
  }
}

.das-navigation__link {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid govuk-colour(grey-3);
  color: $govuk-link-colour;
  font-weight: bold;
  text-decoration: none;
  @include govuk-focusable;
  @include govuk-media-query($from: tablet) {
    border: none;
    padding: 10px 10px 8px;
  }
}

.das-navigation__link--current {
  border-bottom: 4px solid govuk-colour(blue);
  margin-bottom: -4px;
}

.das-navigation__link--last {
  border-bottom: none;
}