
.das-inline-list {
  @include govuk-font($size: 19);
  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    display: inline-block;
  }
}

.das-inline-list--bar {
  & > li {
    &:after {
      padding-left: $govuk-gutter-half;
      padding-right: $govuk-gutter-half - 5;
      content: "|";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.das-inline-list--comma {
  & > li {
    &:after {
      content: ",";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.das-list--featured {
  font-weight: $govuk-font-weight-bold;
  & > li {
    margin-bottom: 7px;
  }
}

dl.das-inline-def-list {//Description: definition lists - brings the DT and DD inline
  margin: 0;
  @include govuk-font($size: 19);
  @include govuk-text-colour;

  dt {

    font-weight: bold;
    display: inline;
    padding-right: govuk-spacing(1);
    &:before {
        content: '';
        display: block;
    }
    &:after{
      content: ':';
      font-weight: normal;
    }
  }
  dd {
    font-weight: normal;
    display: inline;
    margin: 0;
    padding-right: govuk-spacing(2);
    //& + dd {display: inline-block; }
  }
}

.das-govuk-list-forms {//Description: search results list featuring forms (btn as link) in ea LI
  li {
    border-bottom: 1px solid $grey-2;
    padding: govuk-spacing(3) govuk-spacing(4) govuk-spacing(4) govuk-spacing(4);
    &:first-child{
      padding-top: govuk-spacing(0);
    }

    form {
      button {
        font-weight: bold;
        padding: 0;
        margin: 0 0 govuk-spacing(2) 0;
        background: none;
        border: none;
        text-decoration: underline;
        font-size: inherit;
        color: $govuk-link-colour;
        cursor: pointer;
          &:hover {
            color: $govuk-link-hover-colour;
          }
          &:focus {/* outline only as its a btn */
            outline: $govuk-focus-width solid $govuk-focus-colour;
            outline-offset: 0;
          }
      }
    }
    .govuk-heading-s,
    & > span strong {
      margin-bottom: govuk-spacing(2);
    }
    & > span {
      display: inline-block;
    }
    dl + span {
      margin-top: govuk-spacing(2);
    }
  }
}


