
// Description: Collection of panels

.dashboard {
  background: #e9eaec;
}

.das-panels {
  margin-top: -5px;
  @include govuk-media-query($from: tablet) {
    display: table;
    border-spacing: 20px;
    margin: -10px -20px;
  }
}

.das-panels__row {
  @include govuk-media-query($from: tablet) {
    display: table-row;
    & > .das-panel {
      display: table-cell;
    }
  }
}
