
// Description: Account homepage panel

.das-panel {
  padding: $das-dashboard-gutter;
  background: #fff;
  margin-bottom: $govuk-gutter / 2;
  @include govuk-media-query($from: tablet) {
    border-top: $das-dashboard-gutter solid $das-dashboard-bg;
    margin-bottom: 0;
    padding: 30px;
  }
}

.das-panel--featured {
  background: govuk-colour("blue");
  color: #fff;
  & > p {
    color: #fff;
  }
  @include govuk-media-query($from: tablet) {
  //  width: 60%;
  }
  .das-panel__link {
    color: #fff;
    font-weight: $govuk-font-weight-bold;
    @include govuk-link-common;
    &:focus {
      color: #000;
    }
  }
}

.das-panel__heading {
  @include govuk-font($size: 19, $weight: bold);
  margin-top: 0;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    font-size: 24px;
  }

  .das-panel--featured & {
    font-size: 24px;
    @include govuk-media-query($from: tablet) {
      font-size: 36px;
      line-height: 1.2;
    }
  }
  & + .govuk-list {
    margin-top: 20px;
  }
}

