
// Description: Collection of panels. Used on the Employer dashboard

.das-panels {
  margin-bottom: 50px;
  @include govuk-media-query($from: tablet) {
    display: flex;
    background: $das-dashboard-bg;
    margin: 0 -$das-dashboard-gutter / 2;
    padding-bottom: $das-dashboard-gutter;
  }
}

.das-panels__col {
  @include govuk-media-query($from: tablet) {
    width: 50%;
    margin: 0 $das-dashboard-gutter / 2;
    background: #fff;

  }
}

.das-panels__col--primary {
  @include govuk-media-query($from: tablet) {
    width: $das-primary-col-size;
  }
}

.das-panels__col--secondary {
  @include govuk-media-query($from: tablet) {
    width: $das-secondary-col-size;
  }
}

