.das-search-form__group {
  display: table;
  width: 100%;
}

.das-search-form__input {
  display: table-cell;
  vertical-align: top;
  padding-left: 5px;
  border-right-width: 0;
  width: 100%;
}

.das-search-form__button-wrap {
  display: table-cell;
  vertical-align: top;
  width: 1%;
}

.das-search-form__button {
  @extend .das-button--blue;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('data:image/svg+xml;utf8,#{$icon-search}');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0;
  &:focus,
  &:hover {
    background-image: url('data:image/svg+xml;utf8,#{$icon-search}');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
  }
}

.das-search-form--m {
  .das-search-form__input {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
  }
  .das-search-form__button {
    width: 50px;
    height: 50px;
    background-size: 25px;
    &:focus,
    &:hover {
      background-size: 25px;
    }
  }
}

.das-search-form--l {
  .das-search-form__input {
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
  }
  .das-search-form__button {
    width: 60px;
    height: 60px;
    background-size: 30px;
    &:focus,
    &:hover {
      background-size: 30px;
    }
  }
}

.das-search-form--no-border {
  .das-search-form__input {
    border: none;
  }
}