
.das-form-group-inline {
  display: table;
  width: 100%;
  & > .govuk-input {
    display: table-cell;
    width: 100%;
  }
}

.das-form-group-inline__button-wrap {
  display: table-cell;
  vertical-align: top;
  width: 1%;
  & > .govuk-button {
    margin: 0;
  }
}

.das-dashboard-search {
  margin: 0;
}

.das-dashboard-search__input {
  border: none;
  height: 40px;
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  @include govuk-responsive-padding(4, "left");
  @include govuk-responsive-padding(4, "right");
}

.das-dashboard-search__button {
  @extend .das-button--blue;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('data:image/svg+xml;utf8,#{$icon-search}');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 40px;
  &:focus,
  &:hover {
    background-image: url('data:image/svg+xml;utf8,#{$icon-search}');
    background-position: center center;
    background-repeat: no-repeat;
  }
  @include govuk-media-query($from: tablet) {
    width: 60px;
    height: 60px;
    background-size: 25px;
    &:hover,
    &:focus {
      background-size: 25px;
    }
  }
}

.das-placeholder-tasks {
  @include govuk-font($size: 19, $weight: bold, $line-height: 1);
  color: #fff;
  background-color: govuk-colour('blue');
  background-image: url('data:image/svg+xml;utf8,#{$icon-arrow-down}');
  background-position: 94% center;
  background-repeat: no-repeat;
  margin: 10px 0 0;
  @include govuk-responsive-padding(4);
  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
}