
.das-form-group-inline {
  display: table;
  width: 100%;
  & > .govuk-input {
    display: table-cell;
    width: 100%;
  }
}

.das-form-group-inline__button-wrap {
  display: table-cell;
  vertical-align: top;
  width: 1%;
  & > .govuk-button {
    margin: 0;
  }
}