// Description: User specific links in the header. 'Help', 'Settings' etc

.das-user-navigation {
  margin: 0 $govuk-gutter-half * -1;
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.das-user-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.das-user-navigation__list-item {
  @include govuk-media-query($from: tablet) {
    float: left;
    position: relative;
  }
}

.das-user-navigation__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid transparent;
  @include govuk-focusable;
  &:hover {
    text-decoration: underline;
  }
  .das-user-navigation__list-item--has-sub-menu & {
    padding-right: 32px;
    position: relative;
    &:after {
      position: absolute;
      right: 15px;
      top: 17px;
      @include triangle-equilateral(down, 8px, #fff)
      .govuk-header & {
        @include govuk-media-query($from: tablet) {
          top: 20px;
        }
      }
    }
  }
  .das-user-navigation__sub-menu--open & {
    &:after {
      top: 15px;
      @include triangle-equilateral(up, 8px, $govuk-link-colour);
      .govuk-header & {
        @include govuk-media-query($from: tablet) {
          top: 18px;
        }
      }
    }
  }
  .govuk-header & {
    @include govuk-media-query($from: tablet) {
      position: relative;
      margin-top: -10px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.das-user-navigation__sub-menu {
  background: govuk-colour("grey-1");
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 1;
  @include govuk-media-query($from: desktop) {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 20px;
    background: #fff;
    margin-top: -1px;
    border: 1px solid $govuk-border-colour;
  }
}

.das-user-navigation__sub-menu-list-item {
  @include govuk-media-query($from: desktop) {
    border-bottom: 1px solid $govuk-border-colour;
    &:last-child {
      border-bottom: none;
    }
  }
}

.das-user-navigation__sub-menu-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
  font-size: 15px;
  @include govuk-focusable;
  &:hover {
    text-decoration: underline;
  }
  @include govuk-media-query($from: desktop) {
    color: $govuk-link-colour;
    text-decoration: underline;
    white-space: nowrap;
    font-size: inherit;
    margin: 0 -15px;
    padding: 10px 15px;
  }
}

.das-user-navigation__sub-menu--open > a {
  background: #fff;
  color: $govuk-link-colour;
  position: relative;
  z-index: 2;
  border: 1px solid $govuk-border-colour;
  border-bottom: 1px solid #fff;
}