<section class="resources resources--employer">
    <h2 class="heading-m resources__heading">Resources</h2>
    <ul class="resources__list">
        <li class="resources__item">
            <a href="https://www.gov.uk/government/collections/apprenticeship-changes" target="_blank" rel="external" class="resources__link">
                <span class="resources__link-title">Apprenticeship funding collection</span>
                <p class="resources__description">A collection of further reading to help you take on an apprentice</p>
            </a>
        </li>
        <li class="resources__item">
            <a href="https://www.gov.uk/guidance/pay-apprenticeship-levy" target="_blank" rel="external" class="resources__link">
                <span class="resources__link-title">Pay the apprenticeship levy</span>
                <p class="resources__description">Find out when you have to pay the apprenticeship levy and how to report your payments</p>
            </a>
        </li>
        <li class="resources__item">
            <a href="https://www.gov.uk/government/publications/apprenticeship-funding" target="_blank" rel="external" class="resources__link">
                <span class="resources__link-title">Funding rules</span>
                <p class="resources__description">The latest funding rules for employers wanting to take on an apprentice</p>
            </a>
        </li>
        <li class="resources__item">
            <a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" target="_blank" rel="external" class="resources__link">
                <span class="resources__link-title">Transferring unused levy funds</span>
                <p class="resources__description">Transfer unused funds to another employer and how to use transferred funds if you're an employer who's received a transfer of funds</p>
            </a>
        </li>
        <li class="resources__item">
            <a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank" rel="external" class="resources__link">
                <span class="resources__link-title">Find apprenticeship training</span>
                <p class="resources__description">If you're an employer who's looking to take on an apprentice, you can search for apprenticeships by job or keyword and find suitable training providers</p>
            </a>
        </li>
        <li class="resources__item">
            <a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank" rel="external" class="resources__link">
                <span class="resources__link-title">Find a training provider</span>
                <p class="resources__description">Use this service to find a training provider that you want to use to train your apprentice</p>
            </a>
        </li>
        <li class="resources__item">
            <a href="https://www.gov.uk/government/collections/apprenticeship-vacancies" target="_blank" rel="external" class="resources__link">
                <span class="resources__link-title">Recruit an apprentice collection</span>
                <p class="resources__description">Support documents on how to recruit an apprentice</p>
            </a>
        </li>
    </ul>
</section>