
$employer:  govuk-colour('light-purple');
$provider:  govuk-colour('orange');

$status-success:  govuk-colour('turquoise');
$status-warning:  govuk-colour('orange');
$status-error:    govuk-colour('turquoise');