.das-highlight {
  background: govuk-colour(light-grey);
  @include govuk-responsive-padding(4);
  @include govuk-responsive-padding(5, "bottom");
  @include govuk-responsive-margin(4, "top");
  @include govuk-responsive-margin(4, "bottom");
}

.das-highlight__link,
.das-highlight__link:link,
.das-highlight__link:hover {
  color: inherit;
}

.das-highlight__link:hover {
  text-decoration: none;
}

.das-highlight__link:focus,
.das-highlight__link:active {
  color: $govuk-link-active-colour;
}

.das-highlight--interruption,
.das-highlight--information {
  background: govuk-colour("blue");
  color: #fff;
  & * {
    color: inherit;
  }
}