<nav class="das-nav das-nav--employer">
    <ul class="das-nav__list" id="nav1">
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Home</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Finance</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Adverts</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Apprentices</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Your team</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Your organisations and agreements</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">PAYE schemes</span>
            </a>
        </li>
    </ul>
</nav>


<nav class="das-nav das-nav--provider">
    <ul class="das-nav__list" id="nav2">
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Home</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Apprentice requests</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Manage funding</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Manage your apprentices</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Recruit apprentices</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Find employers that need a training provider</span>
            </a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">
                <span class="das-nav__link-text">Organisations and agreements</span>
            </a>
        </li>
    </ul>
</nav>