<nav class="das-nav">
    <ul class="das-nav__list" id="nav1">
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Home</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Finance</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Adverts</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Apprentices</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Your team</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Your organisations and agreements</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">PAYE schemes</a>
        </li>
    </ul>
</nav>


<nav class="das-nav" style="display: none">
    <ul class="das-nav__list" id="nav2">
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Home</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Apprentice requests</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Manage funding</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Manage your apprentices</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Recruit apprentices</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Find employers that need a training provider</a>
        </li>
        <li class="das-nav__list-item">
            <a href="#" class="das-nav__link">Organisations and agreements</a>
        </li>
    </ul>
</nav>