{% extends "_layout.html" %}
{% from "card/macro.njk" import fiuCard %}
{% from "panel/macro.njk" import fiuPanel %}


{% block content %}
<main id="main" class="fiu-main-wrapper">

	{% include "page-header/page-header.html" %}

	<span class="fiu-header-content-spacer"></span>

	<div class="fiu-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<article class="fiu-article">
					<h2 class="govuk-heading-m">What are my future prospects?</h2>
			        <p class="govuk-body-l">
			           Once you've successfully finished, you have plenty of choices. You could apply for another apprenticeship or
			           find a career that uses your new skills.
			        </p>
			        <p>Some of the top reasons for becoming an apprentice:</p>
			        <ul class="govuk-list govuk-list--bullet">
			           <li>earn while you learn and get paid a competitive salary</li>
			           <li>your training is free</li>
			           <li>choose from hundreds of different apprentice jobs in thousands of organisations</li>
			           <li>get high quality training paid for by your employer and the government</li>
			           <li>a great way to get back into the workplace after a career break, or to re-train in a new areas</li>
			           <li>get a boost to your future earnings potential</li>
			           <li>develop the skills you need for a range of exciting jobs or careers, no matter your age or background</li>
			        </ul>
			        <h2 class="govuk-heading-m">How much can you earn?</h2>
			        <p>
			           Your salary will depend upon the industry, location and type of apprenticeship you choose.
			        </p>
			        <p>
			           If you're aged 16 to 18 or in the first year of your apprenticeship, you're entitled to the apprentice rate. This is currently £4.15 - but many employers pay more than this.
			        </p>
			        <p>
			           If you're aged 19 or over and have completed the first year of your apprenticeship,
			           you are entitled to the national <a href="https://www.gov.uk/national-minimum-wage-rates" target="_blank" rel="external" id="link-min-wage">minimum wage<span class="fiu-visually-hidden"> (Opens in a new window)</span></a> for your age.
			        </p>
			        <h2 class="govuk-heading-m">What will my apprenticeship cost me?</h2>
			        <p>
			           When you become an apprentice, you'll need to cover the cost of your day-to-day expenses,
			           such as lunch and travel.
			        </p>
			        <p>
			           If you're a care leaver aged 16-24, you'll receive a £1,000 bursary payment to support you in the first year of your
			           apprenticeship.
			        </p>
		        </article>

		        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

		        <h3 class="govuk-heading-s">Read on...</h3>
		        <div class="govuk-grid-row fiu-flex-row">
		            <div class="govuk-grid-column-one-half">
		                {{ fiuCard({
		                    category: "Getting started",
		                    heading: "Find an apprenticeship",
		                    text: "Quisque libero quam, tristique eu urna a, dictum commodo nibh. Integer vel mattis nunc, sit amet condimentum lacus. "
		                }) }}
		            </div>
		            <div class="govuk-grid-column-one-half">
		                {{ fiuCard({
		                    category: "Are apprenticeships right for me?",
		                    heading: "What are the benefits for me?",
		                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis hendrerit sem at porta. Vivamus eu sollicitudin eros, tincidunt viverra metus."
		                }) }}
		            </div>
		        </div>
			</div>
			<div class="govuk-grid-column-one-third">
				{{ fiuPanel({
		            heading: "Find an apprenticeship",
		            html: "Search hundreds of apprenticeships across the country",
		            buttonText: "Find an apprenticeship"
		        }) }}
			</div>
		</div>
	</div>
</main>
{% endblock %}