{% extends "_layout.html" %}
{% from "card/macro.njk" import fiuCard %}
{% from "panel/macro.njk" import fiuPanel %}


{% block content %}
<main id="main" class="fiu-main-wrapper">

	<div class="fiu-page-header">
        <div class="fiu-width-container">
            <div class="govuk-breadcrumbs fiu-page-header__breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">Back</a>
                    </li>
                </ol>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                    <h1 class="govuk-heading-xl fiu-page-heading__title ">Cookie preferences</h1>
                    <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
                </div>
            </div>
        </div>
    </div>

	<span class="fiu-header-content-spacer"></span>

	<div class="fiu-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				{% include "cookie-settings/cookie-settings.html" %}
			</div>
		</div>
	</div>
</main>
{% endblock %}