{% extends "_layout.html" %}
{% from "card/macro.njk" import fiuCard %}
{% from "panel/macro.njk" import fiuPanel %}

{% block content %}

<h1 class="govuk-heading-xl">Apprenticeships</h1>
<p class="govuk-body-l">Connecting people with ambition to business with vision </p>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		{{ fiuPanel({
            heading: "Become an apprentice",
            html: "Everything you need to know about becoming an appretice"
        }) }}
	</div>
	<div class="govuk-grid-column-one-half">
        {{ fiuPanel({
            type: "employers",
            tag: "Employers",
            heading: "Hire an apprentice",
            html: "Find out how to hire an apprentice and what you need to do"
        }) }}
    </div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		{{ fiuCard({
			category: "Getting started"
		}) }}
	</div>
	<div class="govuk-grid-column-one-quarter">
        {{ fiuCard({
            category: "Getting started"
        }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
        {{ fiuCard({
            type: "employers",
            category: "Getting started"
        }) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
        {{ fiuCard({
	        type: "employers",
	        category: "Getting started"
	    }) }}
    </div>
</div>

{% endblock %}