{% extends "_layout.html" %}
{% from "card/macro.njk" import fiuCard %}
{% from "panel/macro.njk" import fiuPanel %}

{% block content %}

<nav class="fiu-navigation">
	<div class="govuk-width-container">

	</div>
</nav>

<main id="main" role="main" class="fiu-main-wrapper">
	<div class="fiu-homepage-banner">
		<div class="fiu-width-container">
			<h1 class="fiu-homepage-banner__heading fiu-feature-text">Apprenticeships</h1>
			<p class="fiu-homepage-banner__content">
				Connecting people with ambition
				<span class="fiu-homepage-banner__content-line-break">to business with vision</span>
			</p>
			<img class="fiu-homepage-banner__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
		</div>
	</div>
	<div class="fiu-feature-row">
		<div class="fiu-width-container">
			<div class="govuk-grid-row fiu-flex-row govuk-!-margin-bottom-0">
				<div class="govuk-grid-column-one-half">
					<div class="fiu-panel-homepage">
						<div class="fiu-feature-text">
							<strong class="fiu-tag fiu-tag--citizens fiu-panel__tag">Apprentices</strong>
							<h2 class="govuk-heading-xl fiu-panel-homepage__heading">Become an apprentice</h2>
						</div>
						<p class="fiu-panel-homepage__content">Everything you need to know about becoming an apprentice</p>
						<a href="hub" class="fiu-button fiu-button--citizens fiu-panel-homepage__button">Learn more</a>
						<ul class="govuk-list">
							<li><a href="#" class="fiu-link--citizens">Are apprenticeship right for you?</a> </li>
							<li><a href="#" class="fiu-link--citizens">How do they work?</a> </li>
							<li><a href="#" class="fiu-link--citizens">Getting started</a> </li>
							<li><a href="#" class="fiu-link--citizens">Find an apprenticeship</a> </li>
						</ul>
					</div>
				</div>
				<div class="govuk-grid-column-one-half">
					<div class="fiu-panel-homepage">
			            <div class="fiu-feature-text">
			                <strong class="fiu-tag fiu-tag--employers fiu-panel__tag">Employers</strong>
			                <h2 class="govuk-heading-xl fiu-panel-homepage__heading">Hire an apprentice</h2>
			            </div>
			            <p class="fiu-panel-homepage__content">Find out how to hire an apprentice and what you need to do</p>
			            <a href="hub" class="fiu-button fiu-button--employers fiu-panel-homepage__button">Learn more</a>
			            <ul class="govuk-list">
                            <li><a href="#" class="fiu-link--employers-light">Are apprenticeship right for you?</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">How do they work?</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">Setting it up</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">Guides</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">Find the right apprenticeship</a> </li>
                        </ul>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<div class="fiu-grad-row">
		<span class="fiu-grad-row__bg"></span>
		<div class="fiu-width-container">
			<div class="govuk-grid-row fiu-flex-row">
				<div class="govuk-grid-column-one-quarter">
					{{ fiuCard({
						category: "Getting started",
						heading: "Find an apprenticeship",
						text: "Quisque libero quam, tristique eu urna a, dictum commodo nibh. Integer vel mattis nunc, sit amet condimentum lacus. "
					}) }}
				</div>
				<div class="govuk-grid-column-one-quarter">
			        {{ fiuCard({
			            category: "Are apprenticeships right for me?",
			            heading: "What are the benefits for me?",
			            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis hendrerit sem at porta. Vivamus eu sollicitudin eros, tincidunt viverra metus."
			        }) }}
			    </div>
			    <div class="govuk-grid-column-one-quarter">
			        {{ fiuCard({
			            type: "employers",
			            category: "How do they work?",
			            heading: "Funding an apprenticeship",
			            text: "Quisque libero quam, tristique eu urna a, dictum commodo nibh. Integer vel mattis nunc, sit amet condimentum lacus. "
			        }) }}
			    </div>
			    <div class="govuk-grid-column-one-quarter">
			        {{ fiuCard({
				        type: "employers",
				        category: "Setting it up",
				        heading: "Find the right apprenticeship",
			            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis hendrerit sem at porta. Vivamus eu sollicitudin eros, tincidunt viverra metus."
				    }) }}
			    </div>
			</div>
		</div>
	</div>
</main>

{% endblock %}