{% extends "template-apprentice.html" %}
{% block content %}

<h1 class="govuk-heading-l">Confirm my apprenticeship details</h1>
<p>Read through each section below to confirm your apprenticeship. If you ever need to check on the details of your apprenticeship, you can come back here.</p>
<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <span>
  You have 13 days to confirm your apprenticeship details
  </span>
    </strong>
</div>
<p>Your answers will save automatically, so you can leave and come back if you need to.</p>

<ol class="govuk-list app-status-list">
    <li class="app-status-list__list-item">
        <a href="/apprenticeships/MLBB8M/confirmyouremployer" class="app-status-list__link complete">
            <div class="app-status-list__link-content">
                <h3 class="app-status-list__link-text">
                    Your employer
                </h3>
                <strong class="app-status-list__tag govuk-tag govuk-tag--green">Complete</strong>
            </div>
        </a>
    </li>
    <li class="app-status-list__list-item">
        <a href="/apprenticeships/MLBB8M/confirmyourtrainingprovider" class="app-status-list__link incorrect">
            <div class="app-status-list__link-content">
                <h3 class="app-status-list__link-text">
                    Your training provider
                </h3>
                <strong class="app-status-list__tag govuk-tag govuk-tag--red">Waiting for<br>correction</strong>
            </div>
        </a>
    </li>
    <li class="app-status-list__list-item">
        <a href="/apprenticeships/MLBB8M/yourapprenticeshipdetails" class="app-status-list__link ">
            <div class="app-status-list__link-content">
                <h3 class="app-status-list__link-text">
                    Your apprenticeship details
                </h3>
                <strong class="app-status-list__tag govuk-tag govuk-tag--yellow">Incomplete</strong>
            </div>
        </a>
    </li>
    <li class="app-status-list__list-item">
        <a href="/apprenticeships/MLBB8M/howyourapprenticeshipwillbedelivered" class="app-status-list__link ">
            <div class="app-status-list__link-content">
                <h3 class="app-status-list__link-text">
                    How your apprenticeship will be delivered
                </h3>
                <strong class="app-status-list__tag govuk-tag govuk-tag--yellow">Incomplete</strong>
            </div>
        </a>
    </li>
    <li class="app-status-list__list-item">
        <a href="/apprenticeships/MLBB8M/rolesandresponsibilities" class="app-status-list__link ">
            <div class="app-status-list__link-content">
                <h3 class="app-status-list__link-text">
                    Roles and responsibilities
                </h3>
                <strong class="app-status-list__tag govuk-tag govuk-tag--yellow">Incomplete</strong>
            </div>
        </a>
    </li>
</ol>
<div class="govuk-heading-m">
    <h2 class="govuk-heading-m">Help and support</h2>
    <p>If you have any questions or need support, guidance can be found in the <a class="govuk-link" href="https://localhost:5001/HelpAndSupport">help and support section</a>.</p>
</div>
{% endblock  %}