{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}

{% block breadcrumbs %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/form">Form</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Test form</h1>
    <form method="post" action="form">
      <div class="govuk-form-group">
        <label class="govuk-label" for="text-field">Text field</label>
        <input type="text" class="govuk-input" name="text-field" id="text-field" value="{{ data['text-field'] }}">
      </div>
      <div class="govuk-form-group">
          <label for="course" class="govuk-label govuk-label--s">Apprenticeship training course</label>
          <select id="course" name="course" class="govuk-select das-autocomplete" data-placeholder="This is some text">
            <option value="">Select an apprenticeship training course</option>
            <option value="Network">Network engineer (level 4)</option>
            <option value="Software">Software developer (level 4)</option>
            <option value="Installation">Installation electrician / maintenance electrician (level 3)</option>
            <option value="Power">Power network craftsperson (level 3)</option>
            <option value="Financial">Financial services administrator (level 3)</option>
            <option value="Control">Control / technical support engineer (degree) (level 6)</option>
            <option value="Electrical">Electrical / electronic technical support engineer (degree) (level 6)</option>
            <option value="Manufacturing">Manufacturing engineer (degree) (level 6)</option>
            <option value="Product">Product design and development engineer (degree) (level 6)</option>
            <option value="Laboratory">Laboratory technician (level 3)</option>
          </select>
      </div>

      <button class="govuk-button">Submit</button>
    </form>

    <form action="form" method="post">
      <div class="das-highlight govuk-!-padding-bottom-0">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Filter employers by location</legend>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third das-float-right">
              <div class="govuk-form-group govuk-!-margin-bottom-5">
                <label class="govuk-label" for="radius">
                  Radius
                </label>
                <select class="govuk-select" id="radius" name="radius">
                  <option value="5">5 miles</option>
                  <option value="10">10 miles</option>
                  <option value="25">25 miles</option>
                  <option value="50">50 miles</option>
                  <option value="80" selected="">80 miles</option>
                  <option value="england">England</option>
                </select>
              </div>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-form-group govuk-!-margin-bottom-5">
                <label for="search-form-example" class="govuk-label">
                  Enter a town, city or postcode
                </label>
                <div class="das-search-form__group">
                  <input id="search-form-example" title="Search" class="govuk-input das-search-form__input" type="text">
                  <div class="das-search-form__button-wrap">
                    <button class="govuk-button das-search-form__button" type="submit">
                      Search
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </form>


  </div>
</div>



{% endblock %}