{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        How would you prefer to be contacted?
                    </h1>
                </legend>
                <div id="contact-hint" class="govuk-hint">
                    Select one option.
                </div>

                <select class="govuk-select" data-select-conditional-reveal="true">
                    <option>Choose</option>
                    <option value="email" data-aria-controls="conditional-contact">Email</option>
                    <option value="phone" data-aria-controls="conditional-contact-2" selected>Phone</option>
                    <option value="text" data-aria-controls="conditional-contact-3">Text</option>
                </select>



                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-email">
                            Email address
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                    </div>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-phone">
                            Phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
                    </div>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-text">
                            Mobile phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                    </div>
                </div>


            </fieldset>
        </div>

    </div>
</div>

<script>

    function SelectConditionalReveal (module) {
        this.module = module;
        this.panelClass = 'faa-select__panel'
        this.hiddenPanelClass = 'faa-select__panel--hidden'
        this.options = module.querySelectorAll('option')
        this.options.forEach((option) => {
            const targetId = option.getAttribute('data-aria-controls')
            if (!targetId) {
                return
            }
            if (!document.getElementById(targetId)) {
                return;
            }
            option.setAttribute('aria-controls', targetId)
            option.removeAttribute('data-aria-controls')
        })
        this.syncAllConditionalReveals()
        this.module.addEventListener('change', this.syncAllConditionalReveals.bind(this))
    }

    SelectConditionalReveal.prototype.syncAllConditionalReveals = function () {
        const conditionalPanels = document.getElementsByClassName(this.panelClass)
        for (let panel of conditionalPanels) {
            panel.classList.add(this.hiddenPanelClass)
        }
        this.options.forEach((option) => {
            const targetId = option.getAttribute('aria-controls')
            if (targetId && option.selected) {
                document.getElementById(targetId).classList.remove(this.hiddenPanelClass)
            }
        })
    }

    const selects = document.querySelectorAll('[data-select-conditional-reveal]')
    selects.forEach(function (select) {
        new SelectConditionalReveal(select);
    });

</script>
{% endblock  %}