
<!doctype html>
<html lang="en" class="fiu-template">
  <head>
    <meta charset="utf-8">
    <title>Become an apprentice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0b0c0c" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="apple-touch-icon" href="/fiu/assets/images/apple-touch-icon.png" />

    <link rel="stylesheet" href="https://use.typekit.net/xwy5uap.css" />
    <link rel="stylesheet" href="/fiu/css/all.css" />


    <meta property="og:image" content="/fiu/assets/images/opengraph.png" />

  </head>

  <body class="fiu-template__body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4VJPRW"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main" class="govuk-skip-link">Skip to main content</a>

    <header class="fiu-header">
      <div class="fiu-width-container fiu-clearfix">
        <a href="/" class="fiu-header__apprenticeship-logo-link" id="fiu-header-link-logo">
          <span class="fiu-vh">Home</span><img src="/fiu/assets/images/apprenticeships-logo-black.svg" alt="Apprenticeships logo" class="fiu-header__apprenticeship-logo" />
        </a>
        <nav class="fiu-header__nav">
          <ul id="fiu-nav" class="fiu-header__navigation">
            <li class="fiu-header__navigation-item fiu-header__navigation-item--citizens-active">
              <a class="fiu-header__link" id="fiu-header-link-apprentices" href="/apprentices">
                Apprentices
              </a>
            </li>
            <li class="fiu-header__navigation-item ">
              <a class="fiu-header__link" id="fiu-header-link-employers" href="/employers">
                Employers
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <nav class="fiu-navigation fiu-navigation--employers" data-fiu-navigation="true">
      <div class="govuk-width-container">
        <a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
          <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
          <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav" data-fiu-nav-menu="true" id="navigation">
          <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-employers">Employers</h3>
          <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-employers">
            <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-1" class="fiu-navigation__link" href="/employers/are-they-right-for-you">Are they right for you?</a> </li>
            <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-2" class="fiu-navigation__link" href="/employers/how-do-they-work">How do they work?</a> </li>
            <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-3" class="fiu-navigation__link" href="/employers/setting-it-up">Setting it up</a> </li>
            <li class="fiu-navigation__list-item"><a id="fiu-emp-menu-link-4" class="fiu-navigation__link" href="/employers/employer-guides">Employer guides</a> </li>
          </ul>
        </nav>
      </div>
    </nav>
    <div class="fiu-alert fiu-visually-hidden" data-fiu-alert="true" data-fiu-alert-cookie-name="fiu-covid19">
      <div class="fiu-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="fiu-alert__heading">Coronavirus (COVID-19)</h2>
            <p class="fiu-alert__body">

              Find out about
              <a href="/employers/financial-incentives" target="_blank" class="fiu-alert__link">incentive payments for hiring a new apprentice<span class="fiu-vh"> (Opens in a new window)</span></a>,
              how to
              <a href="https://apprentice-support.apprenticeships.education.gov.uk/employer" target="_blank" class="fiu-alert__link">recruit apprentices who have been made redundant<span class="fiu-vh"> (Opens in a new window)</span></a>
              and
              <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/sections/360003798540-Apprentice" target="_blank" class="fiu-alert__link">support for apprentices who have been furloughed or made redundant<span class="fiu-vh"> (Opens in a new window)</span></a>.
            </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <a href="#" data-fiu-alert-hide-link="true" class="fiu-alert__hide-link">Hide message</a>
          </div>
        </div>
      </div>
    </div>

    <main id="main" class="fiu-main-wrapper">


      {% block content %}
      <h1 class="govuk-heading-xl">Default page template</h1>
      {% endblock %}

    </main>

    <footer class="fiu-footer">
      <div class="fiu-width-container">
        <div class="fiu-footer__apprenticeship-logo-wrap">
          <img src="/fiu/assets/images/apprenticeships-logo.svg" alt="Apprenticeships logo" class="fiu-footer__apprenticeship-logo" />
        </div>
        <div class="govuk-grid-row fiu-footer__row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="fiu-footer__heading">Based outside England?</h3>
          </div>
          <div class="govuk-grid-column-three-quarters fiu-footer__content">
            <dl class="fiu-footer__inline-list">
              <dt class="fiu-footer__inline-list-title">Find out what opportunities are available in:</dt>
              <dd class="fiu-footer__inline-list-item">
                <a class="fiu-footer__link" href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-footer-scotland">Scotland<span class="fiu-vh"> (Opens in a new window)</span></a>
              </dd>
              <dd class="fiu-footer__inline-list-item">
                <a class="fiu-footer__link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-footer-northern-ireland">Northern Ireland<span class="fiu-vh"> (Opens in a new window)</span></a>
              </dd>
              <dd class="fiu-footer__inline-list-item">
                <a class="fiu-footer__link" href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-footer-wales">Wales<span class="fiu-vh"> (Opens in a new window)</span></a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="govuk-grid-row fiu-footer__row">
          <div class="govuk-grid-column-full fiu-grid-column-pull-right fiu-footer__content">
            <ul class="fiu-footer__list">
              <li class="fiu-footer__list-item">
                <a class="fiu-footer__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" id="link-footer-feedback" target="_blank" rel="external">Give us feedback<span class="fiu-vh"> (Opens in a new window)</span></a>
              </li>
              <li class="fiu-footer__list-item">
                <a class="fiu-footer__link" id="link-footer-sitemap" href="/sitemap">Sitemap</a>
              </li>
              <li class="fiu-footer__list-item">
                <a class="fiu-footer__link" id="link-footer-cookie-policy" href="/cookies">Cookies</a>
              </li>
              <li class="fiu-footer__list-item">
                <a class="fiu-footer__link" id="link-footer-privacy-notice" href="/privacy">Privacy notice</a>
              </li>
              <li class="fiu-footer__list-item">
                <a class="fiu-footer__link" id="link-footer-accessibility" href="/accessibility">Accessibility statement</a>
              </li>
              <li class="fiu-footer__list-item">
                Built by <a class="fiu-footer__link" id="link-footer-built-by"  href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" rel="external" target="_blank">Education and Skills Funding Agency</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-grid-row fiu-footer__row fiu-footer__row-flex">
          <div class="govuk-grid-column-three-quarters fiu-grid-column-pull-right fiu-footer__content">
            <p class="fiu-footer__copyright">All content is available under the <a class="fiu-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="external" id="link-footer-ogl">Open Government Licence v3.0<span class="fiu-vh"> (Opens in a new window)</span></a>, except where otherwise stated.</p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <img class="fiu-footer__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
          </div>
        </div>
      </div>
    </footer>

    <div class="fiu-cookie-banner" data-module="cookieBanner" data-fiu-cookie-banner="true">
      <div class="fiu-cookie-banner__body" tabindex="0">
        <div class="fiu-cookie-banner__message">
          <h2 class="fiu-cookie-banner__heading">Tell us whether you accept cookies</h2>
          <p class="fiu-cookie-banner__content">
            We use <a class="fiu-link" id="fiu-cb-link-details" href="/cookie-details">cookies to collect information</a> about how you use this website.
            We use this information to make the website work as well as possible and improve this website.
            We also share some of this information with our social media, advertising and analytics partners.
          </p>
          <div class="fiu-cookie-banner__actions">
            <a class="fiu-button" id="fiu-cb-button-accept" tabindex="0" href="#" role="button"  data-accept-cookies="true">Accept all cookies</a>
            <a class="fiu-button fiu-button--text" id="fiu-cb-link-set-pref" href="/cookies">Set cookie preferences</a>
          </div>
        </div>
        <div class="fiu-cookie-banner__confirmation">
          <p class="fiu-cookie-banner__content">
            You've accepted all cookies. You can <a class="fiu-link" href="/cookies">change your cookie settings</a> at any time.
          </p>
          <div class="fiu-cookie-banner__actions">
            <a class="fiu-button das-cookie-banner__hide-button" data-hide-cookie-banner="true" id="fiu-cb-close">Close</a>
          </div>
        </div>
      </div>
    </div>

    <script src="/fiu/js/app.min.js"></script>

  </body>
</html>