<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Apprentice hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        {% include './components/header/_header.html'%}

        <div class="hero-banner">
                <div class="grid-row">
                    <div class="grid-column-one-half">
                        <div class="hero-heading">
                            <h1 class="heading-xl hero-heading__heading">Ignite your career</h1>
                        </div>
                        <h2 class="heading-s hero-banner__sub-heading">Embrace change and become an apprentice</h2>
                        <p class="hero-banner__copy">Do you want to earn while you learn, be debt free at the end of your training and have valuable hands-on experience? Then enter your postcode or town below and start to fire up your apprenticeship journey.</p>
                         <p>FORM</p>

                    </div>
                </div>
            <span class="hero-banner__background"></span>
        </div>

            <div class="grid-row-full-width card__collection">
                <div class="grid-column-full-width-one-quarter">
                    <a class="card" href="#">
                        <div class="card__image">
                            <span class="card__img card__img--1"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="card__headline heading-s">What are the steps I need to take?</h2>
                            <p class="card__summary">Discover the journey - how you can become an apprentice.</p>
                            <p class="card__link">Find out more</p>
                        </div>
                    </a>
                </div>
                <div class="grid-column-full-width-one-quarter">
                    <a class="card" href="#">
                        <div class="card__image">
                            <span class="card__img card__img--2"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="card__headline heading-s">What is an apprenticeship?</h2>
                            <p class="card__summary">To inspire you, here's everything you need to know to help you become an apprentice.</p>
                            <p class="card__link">Find out more</p>
                        </div>
                    </a>
                </div>
                <div class="grid-column-full-width-one-quarter">
                    <a class="card" href="#">
                        <div class="card__image">
                            <span class="card__img card__img--3"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="card__headline heading-s">What are the benefits For me? </h2>
                            <p class="card__summary">Kick start your career and earn while you learn.</p>
                            <p class="card__link">Find out more</p>
                        </div>
                    </a>
                </div>
                <div class="grid-column-full-width-one-quarter">
                    <a class="card" href="#">
                        <div class="card__image">
                            <span class="card__img card__img--4"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="card__headline heading-s">Don't just take our word for it</h2>
                            <p class="card__summary">Read some of our real stories and see which famous people have made a success.</p>
                            <p class="card__link">Find out more</p>
                        </div>
                    </a>
                </div>
            </div>


            <!-- ============================= -->

            <div class="promotion promotion--apprentice">

                <span class="caption-s promotion__caption">Apprentice</span>
                <h2 class="heading-m promotion__heading">Coming soon</h2>

                <div class="grid-row">
                    <div class="grid-column-one-half">
                        <h3 class="heading-xs promotion__sub-heading">New apprenticeships</h3>
                        <p class="promotion__content">Sign up to email alerts that make sure you’re in the know about new and exciting apprenticeships being launched.</p>
                        <h3 class="heading-xs promotion__sub-heading">New apprenticeships</h3>
                        <p class="promotion__content">Sign up to email alerts that make sure you’re in the know about new and exciting apprenticeships being launched.</p>
                    </div>
                    <div class="grid-column-one-half">
                        <h3 class="heading-xs promotion__sub-heading">New apprenticeships</h3>
                        <p class="promotion__content">Sign up to email alerts that make sure you’re in the know about new and exciting apprenticeships being launched.</p>
                        <h3 class="heading-xs promotion__sub-heading">New apprenticeships</h3>
                        <p class="promotion__content">Sign up to email alerts that make sure you’re in the know about new and exciting apprenticeships being launched.</p>
                    </div>
                </div>
            </div>

            <!-- ============================= -->

            <div class="grid-row hero-banner hero-banner--apprentice">
                <div class="grid-column-full">
                    <div class="hero-banner__caption">
                        <span class="hero-banner__caption-icon"></span>
                        <span class="hero-banner__caption-text">Real employer stories</span>
                    </div>
                    <div class="grid-row hero-banner__content">

                        <div class="grid-column-one-half hero-banner__content-main">
                            <h3 class="hero-banner__header">The very best candidates</h3>
                            <p class="hero-banner__copy">
                                "t 'Wates' we wanted to train the very best candidates and give them the opportunity to work in this exciting organisation which continues to grow and prosper."
                            </p>
                            <p class="hero-banner__cite">Wates Smartspace <span class="hero-banner__cite-detail">Site management trainee, Birmingham</span></p>
                            <a class="hero-banner__link" href="#">View more employer stories</a>
                        </div>
                    </div>
                    <span class="hero-banner__background"></span>
                </div>
            </div>


    {% include './components/footer/_footer.html'%}

    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
        <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script>




</body>

</html>