<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Apprentice hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        {% include './components/header/_header.html'%}

        <div class="hero-banner">
                <div class="grid-row">
                    <div class="grid-column-one-half">
                        <div class="hero-heading">
                            <h1 class="heading-xl hero-heading__heading">Ignite your career</h1>
                        </div>
                        <h2 class="heading-s hero-banner__sub-heading">Embrace change and become an apprentice</h2>
                        <p class="hero-banner__copy">Do you want to earn while you learn, be debt free at the end of your training and have valuable hands-on experience? Then enter your postcode or town below and start to fire up your apprenticeship journey.</p>
                         <p>FORM</p>

                    </div>
                </div>
            <span class="hero-banner__background"></span>
        </div>

        <main id="main-content" class="main-content">

            <div class="grid-row-full-width">
                <div class="grid-column-full-width-one-quarter">
                    <div class="card">
                        CARD
                    </div>
                </div>
                <div class="grid-column-full-width-one-quarter">
                    <div class="card">
                        CARD
                    </div>
                </div>
                <div class="grid-column-full-width-one-quarter">
                    <div class="card">
                        CARD
                    </div>
                </div>
                <div class="grid-column-full-width-one-quarter">
                    <div class="card">
                        CARD
                    </div>
                </div>
            </div>
        </main>


    {% include './components/footer/_footer.html'%}

    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
        <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script>




</body>

</html>