
<!DOCTYPE html>
<html lang="en-gb">

<head><link rel="preconnect" href="" />
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M4VJPRW');
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <title>EOI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="description" content="Find out about how we will use your data and how long we will hold onto it for. Understand your individual rights, how to unsubscribe and contact us." />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/campaign/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/campaign/images/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/campaign/images/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/campaign/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="/campaign/images/apple-touch-icon.png" />

    <!--[if !IE 8]><!-->

    <link href="/campaign/css/screen.css" rel="stylesheet" />

    <link rel="preload" onload="this.rel = 'stylesheet'" href="https://use.typekit.net/xwy5uap.css" as="style" crossorigin />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/xwy5uap.css" />
    </noscript>

    <!--<![endif]-->

    <meta property="og:image" content="/campaign/images/opengraph.png" />

    <link rel="preconnect" href="//youtube.com">

    <script type="text/javascript">
	
    var appInsights=window.appInsights||function(a){
        function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
    }({
        instrumentationKey: '9b18d9d0-0548-4842-83e0-86454414a8a5'
    });

    window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();
	
    </script>
</head>



<body class="page-template" id="privacy">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4VJPRW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        <header class="header" data-module="navigation">
    <div class="header__logo">
        <a href="/"><img src="/campaign/images/apprenticeships-logo.png" alt="Apprenticeships Logo" class="header__logo-image" /></a>
    </div>
    

<a href="#navigation" class="navigation__toggle">
    <span class="navigation__toggle-label" id="nav-label">Menu</span>
    <span class="navigation__toggle-icon"></span>
</a>

<nav class="navigation" aria-labelledby="nav-label">
    <ul class="navigation__menu">
        <li class="navigation__list-item">
            <a class="navigation__link--top-level navigation__link--top-level--apprentice" id="link-nav-apprentice" href="/apprentice/what-is-an-apprenticeship">
                Apprentice
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <div class="grid-row navigation__sub-menu navigation__sub-menu--apprentice">
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">Why</span>
                        <span class="secondary">you should become an apprentice...</span>
                    </h3>
                    <ul class="navigation__list">
                        <li>
                            <a class="navigation__link" id="link-nav-app-real-stories" href="/real-stories/apprentice">
                                Real stories
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-benefits" href="/apprentice/what-are-the-benefits-for-me">
                                What are the benefits for me?
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-interests" href="/industries">
                                My interests - find your perfect apprenticeship
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">How</span>
                        <span class="secondary">to become an apprentice</span>
                    </h3>
                    <ol class="navigation__ordered-list">
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-1" href="/apprentice/what-is-an-apprenticeship">
                                What is an apprenticeship?
                            </a>
                        </li>
                        <li>
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" id="link-navigation-faa" class="navigation__link" rel="external" target="_blank">
                                Find an apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-3" href="/apprentice/application">
                                Application
                            </a>
                        </li>
                        
                         
                    </ol>
                    <ol class="navigation__ordered-list navigation__ordered-list--reset-3" start="3">
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-4" href="/apprentice/interview">
                                Interview
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-5" href="/apprentice/your-apprenticeship">
                                Your apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-6" href="/apprentice/assessment-and-certification">Assessment and certification</a>
                               
        
                        </li>
                    </ol>
                </div>
            </div>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link--top-level  navigation__link--top-level--employer" id="link-nav-employer" href="/employer/how-much-is-it-going-to-cost">
                Employer
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <div class="grid-row navigation__sub-menu navigation__sub-menu--employer">
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">Why</span>
                        <span class="secondary">you should hire an apprentice...</span>
                    </h3>
                    <ul class="navigation__list">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-benefits" href="/employer/benefits">
                                Benefits to your organisation
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-real-stories" href="/real-stories/employer">
                                Real stories
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">How</span>
                        <span class="secondary">to hire an apprentice - step by step...</span>
                    </h3>
                    <ol class="navigation__ordered-list">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-1" href="/employer/how-much-is-it-going-to-cost">
                                How much is it going to cost?
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-2" href="/employer/the-right-apprenticeship">
                                The right apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-3" href="/employer/choose-training-provider">
                                Choose a training provider
                            </a>
                        </li>
                    </ol>
                    <ol class="navigation__ordered-list navigation__ordered-list--reset-3" start="3">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-4" href="/employer/hire-an-apprentice">
                                Hire an apprentice
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-5" href="/employer/preparing-and-monitoring">
                                Preparing and monitoring
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-6" href="/employer/assessment-and-certification">
                                Assessment and certification
                            </a>
                        </li>
                    </ol>
                </div>
            </div>

        </li>

    </ul>
</nav>
</header>

        
<main id="main-content">


<div class="hero" data-module="smoothScroll">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption"></span>
                <h1 class="heading-xl hero-heading__heading">We need YOU!</h1>

            </div>
             <div class="hero-heading__content">
                <p class="lead-paragraph">Express your interest in shaping the apprenticeship service.</p>
                <p>For employers that do not pay the apprenticeship levy who want to take part in testing the apprenticeship service. Apply between now and 30 June 2019.</p>
            </div>

            

            <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                <img alt="HM Government" class="hero-heading__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x" />
            </a>

        </div>
    </div>
</div>
    <div class="main-content">

    <div class="grid-row">
    <div class="grid-column-two-thirds">



        <div class="page">
            <p class="lead-paragraph">The apprenticeship service is for organisations that want to take on apprentices.</p>
            <p>Users can:</p>
            <ul class="list list--bullet list--bullet-employer">
            <li>Set up and manage apprenticeship training</li>
            <li>Get funding for apprenticeship training</li>
            <li>Create and upload apprenticeship job adverts</li>
            </ul>
            <p>The service is currently only open to employers who pay the apprenticeship levy. We are planning to open it up to all employers in 2020 and would like the help of businesses who do not pay the apprenticeship levy to help us test the service to ensure that it works for everyone.</p>
            <h2 class="heading-m">How will you be helping us?</h2>
            <p>We&rsquo;re expanding this service to include those businesses who do not pay the apprenticeship levy and who are looking to take on apprentices.By signing up to take part you will be able to help us learn, shape and develop the new digital Apprenticeship Service.</p>
            <h2 class="heading-m">Why should I sign my business up to do this now?</h2>
            <p>By being part of the digital service from the start, as well as shaping the service for future users, you will get hands on help and support as you progress along your journey to hiring and managing new apprentices.</p>
            <h2 class="heading-m">Types of employers we need help from...</h2>
            <p>We need help from different types of small and medium sized businesses who plan to have apprentices starting apprenticeships this Autumn (August, September or October). </p>
            <p>Apprentices can either be existing employees, who are ready to start an apprenticeship, or new apprentices you will need to recruit.</p>
            <h2 class="heading-m">What would be involved in the process?</h2>
            <p>If you would like to express an interest in helping, check your eligibility below and follow the link to register. If you are selected to take part you will get early access to our new digital service and we will support you through the process of registration, creation and management of your new apprentices.</p>
            <p>All we really need from you is a willingness to take part and to give us feedback on how you find the process of using our new online digital service for apprenticeships.</p>
            <h2 class="heading-m">Application criteria...</h2>
            <p>Employers and training providers must have already agreed the apprenticeship before they apply.</p>
            <p>They must have a plan and agreement for an apprentice start, for a specific standard and in a specific month. Both the employer and the training provider must agree who will submit the application and become the lead contact?</p>
            <h2 class="heading-m">Providers must be government-approved</h2>
            <p>At the point of the EOI application submission, the named training provider must be on the Register of Apprenticeship Training Providers, with an existing contract that allows them to work with employers who do not pay the apprenticeship levy and must also have money left in their current allocation for non-levy funding.</p>
            <h2 class="heading-m">This is for small and medium-sized businesses only</h2>
            <p>You cannot take part in this testing if your organisation pays the apprenticeship levy. <a href="https://accounts.manage-apprenticeships.service.gov.uk/service/index">Register for an apprenticeship service account</a>&nbsp;if you pay the levy.</p>


            <p class="heading-s">To get involved, simply click the button below, give us a few details and we will be in contact.</p>

            <p>
                <a href="https://plus-forms.com/form/YDsiqLcj/U4DkLClDd/eoi" class="button button--employer" style="color: #000;">Get involved</a>
            </p>

            <h3 class="heading-s">Questions?</h3>
            <p>Call the Apprenticeship Service on <b>0800 015 0600</b> or email <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></p>

        </div>
        </div>
        <div class="grid-column-one-third">
        <div class="trimmer sidebar--employer">
        <div class="sidebar__sub-content sidebar__sub-content--mid">
                    <h2 class="heading-s sidebar__heading">To get involved, simply click the button below, give us a few details and we will be in contact.</h2>
                    <a id="link-sidebar-ma-cta" class="button button-inverted" href="https://plus-forms.com/form/YDsiqLcj/U4DkLClDd/eoi">Get involved</a>
                </div>
                </div>
        </div>
        </div>

    </div>
</main>


        <footer class="footer">
    <div class="grid-row">
        <div class="grid-column-one-fifth">
            <img class="footer__apprenticeship-logo" alt="Apprenticeships" src="/campaign/images/apprenticeships-logo.png" />
        </div>
        <div class="grid-column-four-fifths govuk-accordion" data-module="accordion" id="accordion-footer">
            <div class="grid-row">
                <div class="grid-column-one-half footer__section govuk-accordion__section accordion__section">
                    <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                        <span class="govuk-accordion__section-header-button" id="accordion-footer-heading-1"></span>
                        Apprentices
                    </h2>
                    <div class="grid-row govuk-accordion__section-panel accordion__section-panel">
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-real-stories" href="/real-stories/apprentice">
                                        Real stories
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-benefits" href="/apprentice/what-are-the-benefits-for-me">
                                        What are the benefits for me?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-interests" href="/industries">
                                        My interests - find your perfect apprenticeship
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-1" href="/apprentice/what-is-an-apprenticeship">
                                        What is an apprenticeship?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" id="link-footer-faa" class="footer__link" rel="external" target="_blank">
                                        Find an apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-3" href="/apprentice/application">
                                        Application
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-4" href="/apprentice/interview">
                                        Interview
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-5" href="/apprentice/your-apprenticeship">
                                        Your apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-6" href="/apprentice/assessment-and-certification">
                                        Assessment and certification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-column-one-half footer__section govuk-accordion__section accordion__section">
                    <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                        <span class="govuk-accordion__section-header-button" id="accordion-footer-heading-2"></span>
                        Employers
                    </h2>
                    <div class="grid-row govuk-accordion__section-panel accordion__section-panel">
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-benefits" href="/employer/benefits">
                                        Benefits to your organisation
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-real-stories" href="/real-stories/employer">
                                        Real stories 
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-1" href="/employer/how-much-is-it-going-to-cost">
                                        How much is it going to cost?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-2" href="/employer/the-right-apprenticeship">
                                        The right apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-3" href="/employer/choose-training-provider">
                                        Choose a training provider
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-4" href="/employer/hire-an-apprentice">
                                        Hire an apprentice
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-5" href="/employer/preparing-and-monitoring">
                                        Preparing and monitoring
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-6" href="/employer/assessment-and-certification">
                                        Assessment and certification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer__hr">
    <div class="grid-row footer__meta">
        <div class="grid-column-one-third">
            <h2 class="footer__list-header">
                Based outside England?
            </h2>
        </div>
        <div class="grid-column-two-thirds">
            <ul class="footer__inline-list">
                <li class="footer__inline-list-item">Find out what opportunities are available in:</li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-footer-scotland">Scotland</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-footer-northern-ireland">Northern Ireland</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-footer-wales">Wales</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="footer footer--privacy" role="contentinfo">
    <div class="grid-row footer__meta">
        <div class="grid-column-one-third">
            <img alt="HM Government" class="footer__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x" />
        </div>
        <div class="grid-column-two-thirds">
            <div class="grid-row">
                <div class="grid-column-full">
                    <ul class="footer__inline-list">
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" id="link-footer-feedback" target="_blank" rel="external">Feedback</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="/cookies" id="link-footer-cookie-policy">Cookies policy</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="/privacy" id="link-footer-privacy-notice">Privacy notice</a>
                        </li>
                        <li class="footer__inline-list-item">
                            Built by the <a class="footer__link" href="https://www.gov.uk/esfa" rel="external" target="_blank" id="link-footer-esfa">Education and Skills Funding Agency</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-row footer__licence-description">
                <div class="grid-column-full">
                    <p class="footer__text">
                        All content is available under the <a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="external" id="link-footer-ogl">Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>

    

    
<div class="modal" id="modal-RegisterInterest" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>


<form action="/register-interest" method="post">

    <h2 class="heading-m">Keep me up to date with the latest information</h2>
    <div class="form-validation-summary" style="display: none">
        <h3 class="heading-s">Sorry but there seems to be a problem with your registration</h3>
        
    </div>
    <div class="form-group">
        <label class="label visually-hidden" for="FirstName">
            First name
        </label>
        <input id="FirstName" class="input" type="text" placeholder="First name" autocomplete="given-name" data-val="true" data-val-required="The First name field is required." name="FirstName" value="">
    </div>

    <div class="form-group">

        <label class="label visually-hidden" for="LastName">
            Last name
        </label>
        <input class="input" type="text" placeholder="Last name" autocomplete="family-name" data-val="true" data-val-required="The Last name field is required." id="LastName" name="LastName" value="">
    </div>
    <div class="form-group">

        <label class="label visually-hidden" for="Email">
            Email Address
        </label>
        <input class="input" type="text" placeholder="Email address" autocomplete="email" data-val="true" data-val-email="The Email address field is not a valid e-mail address." data-val-required="The Email address field is required." id="Email" name="Email" value="">
    </div>
    <div class="form-group radios">

        <div class="radios__item">

            <input class="input radios__input" value="1" type="radio" id="rbApprentice" data-val="true" data-val-required="The Registration type field is required." name="Route" />
            <label class="label radios__label" for="rbApprentice">I want to become an <span class="text--apprentice">apprentice</span> </label>
        </div>
        <div class="radios__item">
            <input class="input radios__input" value="2" type="radio" id="rbEmployer" name="Route" />
            <label class="label radios__label" for="rbEmployer">I want to <span class="text--employer">employ</span> an apprentice</label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkboxes__item">
            <input class="checkboxes__input" type="checkbox" value="true" data-val="true" data-val-range="You need to accept terms and conditions" data-val-range-max="True" data-val-range-min="True" data-val-required="The AcceptTandCs field is required." id="AcceptTandCs" name="AcceptTandCs">
            <label class="label checkboxes__label" for="AcceptTandCs">
                I would like to receive information via emails from the Education and Skills Funding Agency in relation to apprenticeships. I can confirm that I am over the age of 13
            </label>
        </div>
    </div>

    <input type="hidden" value="/privacy" id="ReturnUrl" name="ReturnUrl" />
    <button class="button button-inverted " name="registerInterestSubmit" type="submit" id="btn-register-interest-complete">Register Interest </button>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8OAYIQJE6iFHlPn-9XGSKebiO-MzX5qtY7ceZfDfDfHgMADdhipKN4_GQ92KelrTxdL67cmZRZ42-noO6YvMIc6iNuAEm6L6xxRhugJ3GihgOWUEh94e4Xl78j8HGPfz8eTdqWHtW0nOJPvtqxJypH0" /><input name="AcceptTandCs" type="hidden" value="false"></form>

    </div>
</div>

    
<div class="modal" id="modal-register-thanks" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>

                
<span class="caption-s">Register interest</span>
<h2 class="heading-l heading--success"><span class="heading__icon heading__icon--tick"></span> Success</h2>
<p>Keep an eye on your inbox for all details of future updates to the site.</p>
<a role="button" class="button button--with-icon button--success" href="#" id="btn-register-interest-success">
    <img src="/campaign/images/icon-cross-white.svg" class="button__icon button__icon--close" alt="" />
    <span class="button__text">Close</span>
</a>

    </div>
</div>

    <div class="cookiebanner cookiebanner--variant-1 visually-hidden"  data-module="cookieBanner">
    <div class="grid-row cookiebanner__content">
        <div class="grid-column-two-thirds cookiebanner__text">
            <h4 class="cookiebanner__heading">Cookies on this site</h4>
            <p>Please read : We use cookies to improve user experience of our website, and also share information about use of our site with our social media, advertising and analytics partners. For information on how to opt out or change your cookie settings, please see our <a href="/cookies">Cookie policy</a>. </p>
        </div>
        <div class="grid-column-one-third cookiebanner_actions">
            <a role="button" class="button button--with-icon button-apprentice cookiebanner__button cookiebanner__button--continue" id="link-cookie-accept">
                <img src="/campaign/images/icon-circle-tick.svg" class="button__icon" alt="" />
                <span class="button__text">Continue</span>
                <span class="vh"> and accept the cookie settings</span>
            </a>
            <a class="cookiebanner__link cookiebanner--close" href="#modal-cookiesettings" id="link-cookie-settings">No, take me to my settings</a>
        </div>
    </div>
</div>


<div class="modal" id="modal-cookiesettings" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>


<span class="caption-s">Cookie settings</span>
<h2 class="heading-l">Manage cookies on this website</h2>
<p>
    Cookies are small text files that can be used by websites to make a user's experience more efficient.
</p>
<p>
    The law states that we can store cookies on your device if they are strictly necessary for the operation of
    this site. For all other types of cookies we need your permission.
</p>
<p>
    You can at any time change or withdraw your consent below.
</p>
<hr />
<div class="form-group">
    <div class="grid-row toggleContainer">
        <div class="grid-column-one-quarter">
        </div>
        <div class="grid-column-three-quarters grid-column--pull-right">
            <h3 class="heading-xs">Necessary cookies</h3>
            <p> Ensure the basic performance and user friendliness of the website. The website cannot function properly without these cookies, which can only be disabled by changing your browser preferences. </p>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <div class="grid-row toggleContainer">
        <div class="grid-column-three-quarters grid-column--pull-right">
            <h3 class="heading-xs">Marketing cookies</h3>
            <p>We use these to inform the relevancy of advertising campaigns you receive and to tailor certain content on our website.</p>
        </div>
        <div class="grid-column-one-quarter">
            <input type="checkbox" name="cbxMarketingConsent" id="cbxMarketingConsent" checked>
            <label for="cbxMarketingConsent" data-on="ON" data-off="OFF"><span class="vh">Marketing cookies</span></label>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <div class="grid-row toggleContainer">
        <div class="grid-column-three-quarters grid-column--pull-right">
            <h3 class="heading-xs">Analytics cookies</h3>
            <p>Help us to improve our website by collecting and reporting information on how it is being used.</p>
        </div>
        <div class="grid-column-one-quarter">
            <input type="checkbox" name="cbxAnalyticsConsent" id="cbxAnalyticsConsent" checked>
            <label for="cbxAnalyticsConsent" data-on="ON" data-off="OFF"><span class="vh">Analytics cookies</span></label>
        </div>
    </div>
</div>
       
    </div>
</div>

    
<script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>

<script defer src="/campaign/js/plyr.min.js" crossorigin="anonymous"></script>
    <script defer src="/campaign/js/app.min.js" crossorigin="anonymous"></script>
    <script defer src="/js/das-all.min.js" crossorigin="anonymous" id="dasJs"></script>
<script>
    var dasJs = document.getElementById('dasJs');
    dasJs.onload = function() {
        window.DASFrontend.initAll();
    }
    
</script>

</body>

</html>