{% extends "campaign/template.html" %}s

{% block hero %}

<div class="hero">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--employer">Search apprenticeships  >  Training provider details</span>
                <h1 class="heading-xl hero-heading__heading">WKCIC GROUP</h1>
            </div>
            <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                <img alt="HM Government" class="hero-heading__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x" />
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="main-content">
    <div class="grid-row">

        <div class="grid-column-one-third grid-column--pull-right">

            <div class="sidebar-panel sidebar-panel--employer">
                <div class="sidebar-panel__content">

                    <section class="das-provider__contact-details">
                        <h2 class="heading-l">Contact details</h2>


                    </section>

                </div>
            </div>

        </div>

        <div class="grid-column-two-thirds">
            <div class="page">


            </div>
        </div>
    </div>
</div>

{% endblock %}