<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Campaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/campaign/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/campaign/images/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/campaign/images/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/campaign/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/campaign/images/apple-touch-icon.png">

    <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="https://cdn.plyr.io/3.4.7/plyr.css">
    <link href="/campaign/css/screen.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

    <!--<![endif]-->

    <meta property="og:image" content="/campaign/images/opengraph.png">

</head>

<body class="page-template">

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        {% include './components/header/_header.html'%}
        {% include './components/hero-heading/_hero-heading-apprenticeship-details.html'%}

        <main id="main-content" class="main-content">

            <div class="grid-row">
                <div class="grid-column-full">
                    <div class="page page--full-width">
                        <h2 class="heading-l u-!-margin-top-0">Summary of this apprenticeship</h2>

                        <dl class="list das-definition-list__results">
                            <dt>Level</dt>
                            <dd>(equivalent to A levels at grades A to E)</dd>
                            <dt>Typical length</dt>
                            <dd>18 months</dd>

                            <dt>Current funding band</dt>
                            <dd>
                                Up to £5,000 per apprentice.<br>
                                <a href="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers#funding-for-your-apprenticeship" target="_blank" rel="external" class="link external">More information about funding</a>
                            </dd>

                            <dt>Entry requirements</dt>
                            <dd>Set by employer.</dd>

                            <dt>What apprentices will learn</dt>
                            <dd>
                                <ul class="list list--bullet list--bullet-employer">
                                    <li>using IT systems to write emails, create proposals and produce spreadsheets</li>
                                    <li>maintaining records and files</li>
                                    <li>how to build positive working relationships</li>
                                    <li>communications skills</li>
                                    <li>resource planning</li>
                                    <li>project management techniques</li>
                                </ul>
                            </dd>

                            <dt>Qualifications</dt>
                            <dd>None specified. Before taking their end-point assessment apprentices must achieve level 2 English and maths (equivalent to GCSE grades 9 to 4 or A* to C)</dd>

                            <dt>Professional registration</dt>
                            <dd>None specified.</dd>

                            <dt>End Point Assessment</dt>
                            <dd>
                                <details class="details">
                                    <summary class="details__summary">
                                        <span class="details__summary-text link">View a list of end point assessment organisations for this standard</span>
                                    </summary>
                                    <div class="details__text">
                                        <table class="tableGDS responsive">
                                            <thead class="table__headGDS">
                                                    <tr class="table__rowGDS table__rowGDS-title">
                                                        <th class="table__headerGDS" scope="col">Organisation</th>
                                                        <th class="table__headerGDS" scope="col">Phone Number</th>
                                                        <th class="table__headerGDS" scope="col">Email</th>
                                                    </tr>
                                            </thead>
                                            <tbody class="table__bodyGDS">
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="https://www.activeiq.co.uk/" target="_blank" class="link">Active IQ</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">01480 467950 </td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:Sarah@activeiq.co.uk" target="_blank" class="link">Sarah@activeiq.co.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="https://www.biiab.org/apprenticeships/apprenticeships-standards-and-epa/" target="_blank" class="link">BIIAB</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">01276 684449</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:customersupport@bii.org" target="_blank" class="link">customersupport@bii.org</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://dswapprenticeships.co.uk/" target="_blank" class="link">DSW Consulting</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">01302 760 008</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:info@dswapprenticeships.co.uk" target="_blank" class="link">info@dswapprenticeships.co.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://www.oawards.co.uk/" target="_blank" class="link">Occupational Awards Limited</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">01235 432 032</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:Info@oawards.co.uk" target="_blank" class="link">Info@oawards.co.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://www.furthertraining.co.uk/end-point-assessement/" target="_blank" class="link">Further Training Ltd</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">0845 600 6690</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:enquiries@furthertraining.co.uk" target="_blank" class="link">enquiries@furthertraining.co.uk</a></td>
                                                        </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://skillsfirst.co.uk/end-point-assessment" target="_blank" class="link">Skillsfirst Assess</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">0121 270 5100</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:enquiries@skillsfirstassess.co.uk" target="_blank" class="link">enquiries@skillsfirstassess.co.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="https://www.tquk.org/index.php/what-we-do/epa" target="_blank" class="link">Training Qualifications UK</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">03333 583 344</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:epa@tquk.org" target="_blank" class="link">epa@tquk.org</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">The Real Apprenticeship Company</td>
                                                        <td class="table__cellGDS" data-label="phone-number">01926 298020 </td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:abirch@thereal.company" target="_blank" class="link">abirch@thereal.company</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://www.apprenticeship-centre.co.uk/epa" target="_blank" class="link">Apprenticeship EPA Centre</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">0845 223 5020</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:Louise@apprenticeship-centre.co.uk" target="_blank" class="link">Louise@apprenticeship-centre.co.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">Specialist Training &amp; Development Limited</td>
                                                        <td class="table__cellGDS" data-label="phone-number">07908 720674</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:delia@conquestlearning.co.uk" target="_blank" class="link">delia@conquestlearning.co.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://www.cityandguilds.com/ " target="_blank" class="link">City and Guilds</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">0844 543 0000</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:apprenticeships@cityandguilds.com" target="_blank" class="link">apprenticeships@cityandguilds.com</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://uk.pearson.com/further-education.html" target="_blank" class="link">Pearson Education Limited</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">+44 (0) 7879 602674</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:ellyn.duggan@pearson.com" target="_blank" class="link">ellyn.duggan@pearson.com</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="https://www.innovateawarding.org/" target="_blank" class="link">Innovate Awarding Limited</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">0117 3142800</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:epa@innovateawarding.org" target="_blank" class="link">epa@innovateawarding.org</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://www.managers.org.uk/management-apprenticeships" target="_blank" class="link">Chartered Management Institute</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">07592 111588</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:matt.mills@managers.org.uk" target="_blank" class="link">matt.mills@managers.org.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="https://www.ncfe.org.uk/apprenticeships/apprenticeship-standards/" target="_blank" class="link">NCFE/CACHE</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">0191 240 8950</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:epa@ncfe.org.uk" target="_blank" class="link">epa@ncfe.org.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="https://www.highfieldassessment.com/" target="_blank" class="link">Highfield Awarding Body for Compliance (HABC)</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">0845 226 0350</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:bcressey@highfieldabc.com" target="_blank" class="link">bcressey@highfieldabc.com</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">
                                                            <a href="http://www.teachsoutheast.co.uk" target="_blank" class="link">The Colleges' Partnership Ltd</a>
                                                        </td>
                                                        <td class="table__cellGDS" data-label="phone-number">07843 582969</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:natalie.trezise@tcpartnership.ac.uk" target="_blank" class="link">natalie.trezise@tcpartnership.ac.uk</a></td>
                                                    </tr>
                                                    <tr class="table__rowGDS">
                                                        <td class="table__cellGDS" data-label="organisation">South West Councils</td>
                                                        <td class="table__cellGDS" data-label="phone-number">01823 270101</td>
                                                        <td class="table__cellGDS" data-label="email"><a href="mailto:epa@swcouncils.gov.uk" target="_blank" class="link">epa@swcouncils.gov.uk</a></td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </details>
                            </dd>

                            <dt>More Information</dt>
                            <dd>The Institute for Apprenticeships has more <a href="https://www.instituteforapprenticeships.org/apprenticeship-standards/business-administrator/" target="_blank" class="link">detailed information</a> about this apprenticeship.</dd>
                        </dl>

                    </div>

                </div>

            </div>

            <div class="grid-row">
                <div class="grid-column-full">
                    <section class="cta-fat">
                        <div class="cta-fat__content">
                            <h2 class="heading-l u-!-margin-top-0">FIND A TRAINING PROVIDER</h2>
                            
                        </div>
            
                        <div class="cta-fat__action">
                            <form action="/TrainingProvider/Search">
                                <div class="grid-row grid-row--align-bottom">
                                    <div class="grid-column-two-fifths">
                                        <div class="form-group">
                                                <p class="u-!-margin-top-0">Please enter the postcode for where the apprentice will work</p>
                                            <input class="input input__postcode" type="search" placeholder="Enter Postcode..." data-val="true" data-val-regex="You must enter a valid postcode" data-val-regex-pattern="\b((?:(?:girGIR)|(?:[a-pr-uwyzA-PR-UWYZ])(?:(?:[0-9](?:[a-hjkpstuwA-HJKPSTUW]|[0-9])?)|(?:[a-hk-yA-HK-Y][0-9](?:[0-9]|[abehmnprv-yABEHMNPRV-Y])?)))) ?([0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2})\b" data-val-required="The Postcode field is required." id="Postcode" name="Postcode" value="">
                                            <span class="error-message field-validation-valid" data-valmsg-for="Postcode" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="grid-column-two-fifths">
                                        <div class="form-group">
                                                <p class="u-!-margin-top-0">As an employer, is your pay bill more than £3 million per year? </p>
                                            <div class="radios radios--inline"> 
                                                <div class="radios__item">
                                                    <input class="input radios__input" type="radio" value="true" id="LevyPayerYes" data-val="true" data-val-required="The IsLevyPayer field is required." name="IsLevyPayer">
                                                    <label class="label radios__label" for="LevyPayerYes">Yes</label>
                                                </div>
                                                <div class="radios__item">
                                                    <input class="input radios__input" type="radio" value="false" id="LevyPayerNo" checked="checked" name="IsLevyPayer">
                                                    <label class="label radios__label" for="LevyPayerNo">No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-column-one-fifth">
                                        <div class="form-group">
                                            <input type="hidden" data-val="true" data-val-required="The ApprenticeshipId field is required." id="ApprenticeshipId" name="ApprenticeshipId" value="157" />
                                            <input type="hidden" id="Keywords" name="Keywords" value="" />
                                            <button class="button button--sparks button-employer" type="submit">Search</button>
                                        </div>
                                 
                                    </div>
                                </div>
                            </form>
                        </div>
                        

                    </section>
                    
                </div>
            </div>

        </main>

        {% include './components/footer/_footer.html'%}

    </div>
    <!-- <script defer src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjlbjx6_-sz4utE2SVVNwc63PlUM_MLE&callback=DASFrontend.initMaps" type="text/javascript"></script>
    <script defer src="/campaign/js/infobox.js"></script> -->

    <script src="/campaign/js/app.min.js"></script>
    <script src="/js/das-all.js"></script>
    <script>
        window.DASFrontend.initAll()
    </script>

</body>

</html>