{% extends "./template.html" %}


{% block content%}

{% include './components/hero-banner/_hero-banner.html' %}
{% include './components/hero-banner/_hero-banner.html' %}
{% include './components/hero-banner/_hero-banner-employer.html' %}
{% include './components/hero-banner/_hero-banner-employer.html' %}

          <h1 class="heading-l">Lorem ipsum dolor sit amet consectetuer adipiscing
          elit</h1>


          <h2 class="heading-m">Aenean commodo ligula eget dolor aenean massa</h2>


          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem.</p>

          <p><a href="home.html" class="button">Get started</a> </p>


          <h2 class="heading-s">Aenean commodo ligula eget dolor aenean massa</h2>


          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem.</p>


          <ul class="list">
            <li>Lorem ipsum dolor sit amet consectetuer.</li>
            <li>Aenean commodo ligula eget dolor.</li>
            <li>Aenean massa cum sociis natoque penatibus.</li>
          </ul>
{% endblock %}