<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Campaign</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">



</head>


<body class="page-template" id="industry-agriculture-environment-animal-care">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4VJPRW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        <header class="header" data-module="navigation">
    <div class="header__logo">
        <a href="/"><img src="https://das-at-frnt-end.azureedge.net/campaign/images/apprenticeships-logo.png" alt="Apprenticeships Logo" class="header__logo-image" /></a>
    </div>


<a href="#navigation" class="navigation__toggle">
    <span class="navigation__toggle-label" id="nav-label">Menu</span>
    <span class="navigation__toggle-icon"></span>
</a>

<nav class="navigation" aria-labelledby="nav-label">
    <ul class="navigation__menu">
        <li class="navigation__list-item">
            <a class="navigation__link--top-level navigation__link--top-level--apprentice" id="link-nav-apprentice" href="/apprentice/what-is-an-apprenticeship">
                Apprentice
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <div class="grid-row navigation__sub-menu navigation__sub-menu--apprentice">
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">Why</span>
                        <span class="secondary">you should become an apprentice...</span>
                    </h3>
                    <ul class="navigation__list">
                        <li>
                            <a class="navigation__link" id="link-nav-app-real-stories" href="/real-stories/apprentice">
                                Real stories
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-benefits" href="/apprentice/what-are-the-benefits-for-me">
                                What are the benefits for me?
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-interests" href="/industries">
                                My interests - find your perfect apprenticeship
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">How</span>
                        <span class="secondary">to become an apprentice</span>
                    </h3>
                    <ol class="navigation__ordered-list">
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-1" href="/apprentice/what-is-an-apprenticeship">
                                What is an apprenticeship?
                            </a>
                        </li>
                        <li>
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" id="link-navigation-faa" class="navigation__link" rel="external" target="_blank">
                                Find an apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-3" href="/apprentice/application">
                                Application
                            </a>
                        </li>


                    </ol>
                    <ol class="navigation__ordered-list navigation__ordered-list--reset-3" start="3">
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-4" href="/apprentice/interview">
                                Interview
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-5" href="/apprentice/your-apprenticeship">
                                Your apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-6" href="/apprentice/assessment-and-certification">Assessment and certification</a>


                        </li>
                    </ol>
                </div>
            </div>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link--top-level  navigation__link--top-level--employer" id="link-nav-employer" href="/employer/how-much-is-it-going-to-cost">
                Employer
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <div class="grid-row navigation__sub-menu navigation__sub-menu--employer">
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">Why</span>
                        <span class="secondary">you should hire an apprentice...</span>
                    </h3>
                    <ul class="navigation__list">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-benefits" href="/employer/benefits">
                                Benefits to your organisation
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-real-stories" href="/real-stories/employer">
                                Real stories
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">How</span>
                        <span class="secondary">to hire an apprentice - step by step...</span>
                    </h3>
                    <ol class="navigation__ordered-list">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-1" href="/employer/how-much-is-it-going-to-cost">
                                How much is it going to cost?
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-2" href="/employer/the-right-apprenticeship">
                                The right apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-3" href="/employer/choose-training-provider">
                                Choose a training provider
                            </a>
                        </li>
                    </ol>
                    <ol class="navigation__ordered-list navigation__ordered-list--reset-3" start="3">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-4" href="/employer/hire-an-apprentice">
                                Hire an apprentice
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-5" href="/employer/preparing-and-monitoring">
                                Preparing and monitoring
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-6" href="/employer/assessment-and-certification">
                                Assessment and certification
                            </a>
                        </li>
                    </ol>
                </div>
            </div>

        </li>

        <li class="navigation__list-item navigation__list-item--with-button">
            <a class="button button--sparks button--shadow " id="btn-register-interest-header" href="/register-interest">Register Interest</a>
        </li>
    </ul>
</nav>
</header>


<main id="main-content">
    <div class="hero">
        <div class="grid-row">
            <div class="grid-column-one-half">
                <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Agriculture, environment and animal care</h1>
                </div>
                <div class="hero-heading__content">

<p class="lead-paragraph">
    This fertile sector for apprenticeships can be separated into three major categories:
</p>
<ol class="list  list--number">
    <li>land management and production,</li>
    <li>animal health and welfare,</li>
    <li>environmental industries.</li>
</ol>
<p>
As you can imagine, There are a wide variety of jobs in the sector. While many
apprentices find their ideal job in the farming and skilled agricultural and environmental areas,
there are also plenty of diverse, practical, and animal-centric options out there too.
</p>
<p>
You will also find creative occupations here, like forestry, and caring jobs, for example,
working as an apprentice veterinary nurse.

</p>
<dl class="inline-list">
    <dt class="inline-list__title">Agriculture, environment and animal care includes:</dt>
    <dd>Land-based service engineering technician</dd>
    <dd>Sports turf operative</dd>
    <dd>Horticulture and Landscape Operative</dd>
</dl>
                </div>
            </div>
            <div class="grid-column-one-half">
                <img src="https://das-at-frnt-end.azureedge.net/campaign/images/industries/industry-agriculture-environment-animal-care.jpg" class="hero-heading__image" />
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="grid-row">
            <div class="grid-column">
                <section class="grid-row cta-faa">
    <div class="grid-column-two-thirds">
        <div class="cta-faa__content">
            <h2 class="heading-s cta-faa__heading">Find an apprenticeship</h2>
            <p>
             Search for the right apprenticeship for you! Blaze your own trail and become an apprentice.
            </p>
        </div>
    </div>
    <div class="grid-column-one-third cta-faa__action">
        <a id="link-faa-cta" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" class="button button--shadow button--sparks" target="_blank" rel="external"> Start looking <span class="vh">for an apprenticeship in the Agriculture, environment and animal care industry</span></a>
    </div>
</section>
            </div>
        </div>
    </div>

    <section class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                My apprenticeship will give me the best stepping stone to become a highly trained firefighter, with regular assessments and development days
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">Claire Lester</span>
                <span class="quote-hero__cite-source">Staffordshire Fire and Rescue</span>
            </figcaption>
        </figure>
    </section>


</main>

        <footer class="footer">
    <div class="grid-row">
        <div class="grid-column-one-fifth">
            <img class="footer__apprenticeship-logo" alt="Apprenticeships" src="https://das-at-frnt-end.azureedge.net/campaign/images/apprenticeships-logo.png" />
        </div>
        <div class="grid-column-four-fifths govuk-accordion" data-module="accordion" id="accordion-footer">
            <div class="grid-row">
                <div class="grid-column-one-half footer__section govuk-accordion__section accordion__section">
                    <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                        <span class="govuk-accordion__section-header-button" id="accordion-footer-heading-1"></span>
                        Apprenticeships
                    </h2>
                    <div class="grid-row govuk-accordion__section-panel accordion__section-panel">
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-real-stories" href="/real-stories/apprentice">
                                        Real stories
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-benefits" href="/apprentice/what-are-the-benefits-for-me">
                                        What are the benefits for me?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-interests" href="/industries">
                                        My interests - find your perfect apprenticeship
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-1" href="/apprentice/what-is-an-apprenticeship">
                                        What is an apprenticeship?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" id="link-footer-faa" class="footer__link" rel="external" target="_blank">
                                        Find an apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-3" href="/apprentice/application">
                                        Application
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-4" href="/apprentice/interview">
                                        Interview
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-5" href="/apprentice/your-apprenticeship">
                                        Your apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-6" href="/apprentice/assessment-and-certification">
                                        Assessment and certification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-column-one-half footer__section govuk-accordion__section accordion__section">
                    <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                        <span class="govuk-accordion__section-header-button" id="accordion-footer-heading-2"></span>
                        Employers
                    </h2>
                    <div class="grid-row govuk-accordion__section-panel accordion__section-panel">
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-benefits" href="/employer/benefits">
                                        Benefits to your organisation
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-real-stories" href="/real-stories/employer">
                                        Real stories
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-1" href="/employer/how-much-is-it-going-to-cost">
                                        How much is it going to cost?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-2" href="/employer/the-right-apprenticeship">
                                        The right apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-3" href="/employer/choose-training-provider">
                                        Choose a training provider
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-4" href="/employer/hire-an-apprentice">
                                        Hire an apprentice
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-5" href="/employer/preparing-and-monitoring">
                                        Preparing and monitoring
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-6" href="/employer/assessment-and-certification">
                                        Assessment and certification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer__hr">
    <div class="grid-row footer__meta">
        <div class="grid-column-one-third">
            <h2 class="footer__list-header">
                Based outside England?
            </h2>
        </div>
        <div class="grid-column-two-thirds">
            <ul class="footer__inline-list">
                <li class="footer__inline-list-item">Find out what opportunities are available in:</li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-footer-scotland">Scotland</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-footer-northern-ireland">Northern Ireland</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-footer-wales">Wales</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="footer footer--privacy" role="contentinfo">
    <div class="grid-row footer__meta">
        <div class="grid-column-one-third">
            <img alt="HM Government" class="footer__hm-government-logo" src="https://das-at-frnt-end.azureedge.net/campaign/images/hm-government-logo.png" srcset="https://das-at-frnt-end.azureedge.net/campaign/images/hm-government-logo.png 1x, https://das-at-frnt-end.azureedge.net/campaign/images/hm-government-logo@2x.png 2x" />
        </div>
        <div class="grid-column-two-thirds">
            <div class="grid-row">
                <div class="grid-column-full">
                    <ul class="footer__inline-list">
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" id="link-footer-feedback" target="_blank" rel="external">Feedback</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="/cookies" id="link-footer-cookie-policy">Cookies policy</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="/privacy" id="link-footer-privacy-notice">Privacy notice</a>
                        </li>
                        <li class="footer__inline-list-item">
                            Built by the <a class="footer__link" href="https://www.gov.uk/esfa" rel="external" target="_blank" id="link-footer-esfa">Education and Skills Funding Agency</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-row footer__licence-description">
                <div class="grid-column-full">
                    <p class="footer__text">
                        All content is available under the <a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="external" id="link-footer-ogl">Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>




<div class="modal" id="modal-RegisterInterest" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>


<form action="/register-interest" method="post">

        <h2 class="heading-m">Keep me up to date with the latest information</h2>
        <div class="form-validation-summary" style="display: none">
            <h3 class="heading-s">Sorry but there seems to be a problem with you registration</h3>

        </div>
        <div class="form-group">
            <label class="label visually-hidden" for="FirstName">
                First name
            </label>
            <input id="FirstName" class="input" type="text" placeholder="First name" autocomplete="given-name" data-val="true" data-val-required="The First name field is required." name="FirstName" value="">
        </div>

        <div class="form-group">

            <label class="label visually-hidden" for="LastName">
                Last name
            </label>
            <input class="input" type="text" placeholder="Last name" autocomplete="family-name" data-val="true" data-val-required="The Last name field is required." id="LastName" name="LastName" value="">
        </div>
        <div class="form-group">

            <label class="label visually-hidden" for="Email">
                Email Address
            </label>
            <input class="input" type="text" placeholder="Email address" autocomplete="email" data-val="true" data-val-email="The Email address field is not a valid e-mail address." data-val-required="The Email address field is required." id="Email" name="Email" value="">
        </div>
        <div class="form-group radios">

            <div class="radios__item">

                <input class="input radios__input" value="1" type="radio" id="rbApprentice" data-val="true" data-val-required="The Registration type field is required." name="Route" />
                <label class="label radios__label" for="rbApprentice">I want to become an <span class="text--apprentice">apprentice</span> </label>
            </div>
            <div class="radios__item">
                <input class="input radios__input" value="2" type="radio" id="rbEmployer" name="Route" />
                <label class="label radios__label" for="rbEmployer">I want to <span class="text--employer">employ</span> an apprentice</label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkboxes__item">
                <input class="checkboxes__input" type="checkbox" value="true" data-val="true" data-val-range="You need to accept terms and conditions" data-val-range-max="True" data-val-range-min="True" data-val-required="The AcceptTandCs field is required." id="AcceptTandCs" name="AcceptTandCs">
                <label class="label checkboxes__label" for="AcceptTandCs">
                    I would like to receive information via emails from the Education and Skills Funding Agency in relation to apprenticeships. I can confirm that I am over the age of 13
                </label>
            </div>
        </div>

        <input type="hidden" value="/industries/agriculture-environment-animal-care" id="ReturnUrl" name="ReturnUrl" />

<button class="button button-inverted " name="registerInterestSubmit" type="submit">Register Interest </button>



<input name="__RequestVerificationToken" type="hidden" value="CfDJ8G6_JBOdgKhBlmnQu632zYsV_gDWJelSN_4ZlyipAh54c2wdN2PlJPuu8PNgfxosAYOFjKM_yR_-SYbSK-JJMGi3rote2byTyl23KQJA8FarwlZ2n7sSsoqrOQfFzX01znpZvLS9WRaOHcdnSXNhysM" /><input name="AcceptTandCs" type="hidden" value="false"></form>

    </div>
</div>


<div class="modal" id="modal-register-thanks" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>


    <section class="section">
        <div class="grid-row">
            <div class="grid-column-full">
                <span class="caption-s">Registration complete</span>
                <h2 class="heading-m">Thanks for registering</h2>

                <p>You will hear from us soon......</p>


<a class="button button-inverted " href="#">Close</a>




            </div>
        </div>
    </section>


    </div>
</div>

    <div class="cookiebanner visually-hidden"  data-module="cookieBanner">
    <div class="grid-row cookiebanner__content">
        <div class="grid-column-two-thirds cookiebanner__text">
            <h4 class="cookiebanner__heading">Cookies on this site</h4>
            <p>Please read : Our website is set to allow cookies. We use cookies to improve your website experience, the products and services we offer and to make sure our digital marketing is personalised to you. See the cookies we use on our website by visiting our <a href="/cookies">cookie policy</a>. </p>
        </div>
        <div class="grid-column-one-third cookiebanner_actions">
            <a role="button" class="button button--with-icon button-apprentice cookiebanner__button cookiebanner__button--continue" id="link-cookie-accept">
                <img src="https://das-at-frnt-end.azureedge.net/campaign/images/icon-circle-tick.svg" class="button__icon" alt="" />
                <span class="button__text">Continue</span>
                <span class="vh"> and accept the cookie settings</span>
            </a>
            <a class="cookiebanner__link cookiebanner--close" href="#modal-cookiesettings" id="link-cookie-settings">No, take me to my settings</a>
        </div>
    </div>
</div>


<div class="modal" id="modal-cookiesettings" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>

<section class="section cookiesettings-text">
    <div class="grid-row">
        <div class="grid-column-full">
            <span class="caption-s">Cookie settings</span>
            <h2 class="heading-m">Manage cookies on this website</h2>
            <p>
                Cookies are small text files that can be used by websites to make a user's experience more efficient.
            </p>
            <p>
                The law states that we can store cookies on your device if they are strictly necessary for the operation of
                this site. For all other types of cookies we need your permission.
            </p>
            <p>
                You can at any time change or withdraw your consent below.
            </p>
            <hr />
            <div class="form-group">
                <div class="grid-row toggleContainer">
                    <div class="grid-column-one-quarter">
                    </div>
                    <div class="grid-column-three-quarters">
                        <h3 class="heading-xs">Necessary cookies</h3>
                        <p> Ensure the basic performance and user friendliness of the website. The website cannot function properly without these cookies, which can only be disabled by changing your browser preferences. </p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="grid-row toggleContainer">
                    <div class="grid-column-one-quarter">

                        <input type="checkbox" name="cbxMarketingConsent" id="cbxMarketingConsent" onchange="setChecked(this,'MarketingConsent')" checked>
                        <label for="cbxMarketingConsent" data-on="ON" data-off="OFF"></label>

                    </div>
                    <div class="grid-column-three-quarters">
                        <h3 class="heading-xs">Marketing cookies</h3>
                        <p>We use these to inform the relevancy of advertising campaigns you receive and to tailor certain content on our website.</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="grid-row toggleContainer">
                    <div class="grid-column-one-quarter">

                        <input type="checkbox" name="cbxAnalyticsConsent" id="cbxAnalyticsConsent" onchange="setChecked(this,'AnalyticsConsent')" checked>
                        <label for="cbxAnalyticsConsent" data-on="ON" data-off="OFF"></label>

                    </div>
                    <div class="grid-column-three-quarters">
                        <h3 class="heading-xs">Analytics cookies</h3>
                        <p>Help us to improve our website by collecting and reporting information on how it is being used.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    </div>
</div>


    <script src="/dist/campaign/js/plyr.min.js"></script>
    <script src="/dist/campaign/js/app.min.js"></script>
    <script src="/dist/js/das-all.js"></script>
    <script src="/dist/js/aspnet-validation.min.js"></script>
    <script>
    window.DASFrontend.initAll()
    </script>

</body>

</html>