<nav>
    <ul>
        <li><a href="">Apprenticeships</a>
            <ul>
                <li><a href="">
                    What is an apprenticeship?
                    <span>Find out how taking on an apprentice can recharge your business</span>
                    </a>
                </li>
                <li><a href="">
                    What's the cost to me?
                    <span>Discover the costs to you and the help with funding that you can get from the government when you take on an apprentice</span>
                    </a>
                </li>
                <li><a href="">
                    ESFA helpful videos
                    <span>Take a look at our video 'how to' guides and find out all about apprenticeships</span>
                    </a>
                </li>
                <li><a href="">
                    Employer useful links
                    <span>For further reading and help you can access the resources on .GOV</span>
                    </a>
                </li>
                <li><a href="">
                    Find Apprenticeship training
                    <span>For further reading and help you can access the resources on .GOV</span>
                    </a>
                </li>
            </ul>
        </li>
        <li><a href="">Employers</a> </li>
        <li><a href="">Real stories</a> </li>
        <li><a href="">Sectors</a>
            <ul>
                <li><a href="#">Agriculture, environment &amp;amp; animal care</a></li>
                <li></li>
            </ul>
        </li>
    </ul>
</nav>