
<!DOCTYPE html>
<html lang="en-gb">

<head><link rel="preconnect" href="" />
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="preconnect" href="https://www.googletagmanager.com">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M4VJPRW');

/**/</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <title>Apprenticeship advice for parents and guardians</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="description" content="Apprenticeships offer the chance to learn, earn and get a degree. As a parent, guardian or carer, you can support your child as they explore their options." />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/campaign/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/campaign/images/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/campaign/images/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/campaign/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="/campaign/images/apple-touch-icon.png" />

    <!--[if !IE 8]><!-->

    <link href="/campaign/css/screen.css" rel="stylesheet" />

    <link rel="preload" onload="this.rel = 'stylesheet'" href="https://use.typekit.net/xwy5uap.css" as="style" crossorigin />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/xwy5uap.css" />
    </noscript>

    <!--<![endif]-->

    <meta property="og:image" content="/campaign/images/opengraph.png" />

    <link rel="preconnect" href="//youtube.com">

    <script type="text/javascript">
	
    var appInsights=window.appInsights||function(a){
        function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
    }({
        instrumentationKey: '9b18d9d0-0548-4842-83e0-86454414a8a5'
    });

    window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();
	
    </script>
</head>



<body class="page-template" id="parents-their-career">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4VJPRW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <!-- Alert -->
<section class="alert visually-hidden" data-module="alertBanner" >

    <div class="alert__inner-wrap">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <p class="alert__content">
                    If you're interested in apprenticeships in
                    <a href="https://www.apprenticeships.scot/" rel="external" target="_blank" class="alert__link--external">Scotland</a>,
                    <a href="https://www.nidirect.gov.uk/apprenticeships" rel="external" target="_blank" class="alert__link--external">Northern Ireland</a> or
                    <a href="https://gov.wales/apprenticeships-skills-and-training" rel="external" target="_blank" class="alert__link--external">Wales</a>,
                    there's plenty of information that's tailored to you.
                </p>
            </div>
            <div class="grid-column-one-third alert__actions">
                <a class="button alert__button" id="alert-countries-options" aria-label="View details of other apprenticeship websites in the UK" href="/countries">View options</a>
                <a class="alert__link" href="#" id="alert-countries-stay">No, I'm happy to stay on this website</a>
            </div>
        </div>
    </div>

</section>
<!-- End Alert -->

    <div class="wrap">

        <header class="header" data-module="navigation">
    <div class="header__logo">
        <a href="/"><img src="/campaign/images/apprenticeships-logo.png" alt="Apprenticeships Logo" class="header__logo-image" /></a>
    </div>
    

<a href="#navigation" class="navigation__toggle">
    <span class="navigation__toggle-label" id="nav-label">Menu</span>
    <span class="navigation__toggle-icon"></span>
</a>

<nav id="navigation" class="navigation" aria-labelledby="nav-label">
    <ul class="navigation__menu">
        <li class="navigation__list-item">
            <a class="navigation__link--top-level navigation__link--top-level--apprentice" id="link-nav-apprentice" href="/apprentice/what-is-an-apprenticeship">
                Apprentice
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <div class="grid-row navigation__sub-menu navigation__sub-menu--apprentice">
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">Why</span>
                        <span class="secondary">you should become an apprentice...</span>
                    </h3>
                    <ul class="navigation__list">
                        <li>
                            <a class="navigation__link" id="link-nav-app-real-stories" href="/real-stories/apprentice">
                                Real stories
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-benefits" href="/apprentice/what-are-the-benefits-for-me">
                                What are the benefits for me?
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-interests" href="/industries">
                                My interests - find your perfect apprenticeship
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">How</span>
                        <span class="secondary">to become an apprentice</span>
                    </h3>
                    <ol class="navigation__ordered-list">
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-1" href="/apprentice/what-is-an-apprenticeship">
                                What is an apprenticeship?
                            </a>
                        </li>
                        <li>
                            <a id="link-nav-app-step-2" class="navigation__link" href="/apprentice/find-an-apprenticeship">
                                Find an apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-3" href="/apprentice/application">
                                Application
                            </a>
                        </li>
                        
                         
                    </ol>
                    <ol class="navigation__ordered-list navigation__ordered-list--reset-3" start="3">
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-4" href="/apprentice/interview">
                                Interview
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-5" href="/apprentice/your-apprenticeship">
                                Your apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-app-step-6" href="/apprentice/assessment-and-certification">Assessment and certification</a>
                               
        
                        </li>
                    </ol>
                </div>
            </div>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link--top-level  navigation__link--top-level--employer" id="link-nav-employer" href="/employer/how-much-is-it-going-to-cost">
                Employer
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <div class="grid-row navigation__sub-menu navigation__sub-menu--employer">
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">Why</span>
                        <span class="secondary">you should hire an apprentice...</span>
                    </h3>
                    <ul class="navigation__list">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-benefits" href="/employer/benefits">
                                Benefits to your organisation
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-real-stories" href="/real-stories/employer">
                                Real stories
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-find-apprenticeship-training" href="/employer/find-apprenticeship-training">
                                Find the right apprenticeship
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid-column-one-half navigation__column">
                    <h3 class="heading-s navigation_sub-heading">
                        <span class="highlight">How</span>
                        <span class="secondary">to hire an apprentice - step by step...</span>
                    </h3>
                    <ol class="navigation__ordered-list">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-1" href="/employer/how-much-is-it-going-to-cost">
                                How much is it going to cost?
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-2" href="/employer/the-right-apprenticeship">
                                The right apprenticeship
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-3" href="/employer/choose-training-provider">
                                Choose a training provider
                            </a>
                        </li>
                    </ol>
                    <ol class="navigation__ordered-list navigation__ordered-list--reset-3" start="3">
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-4" href="/employer/hire-an-apprentice">
                                Hire an apprentice
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-5" href="/employer/preparing-and-monitoring">
                                Preparing and monitoring
                            </a>
                        </li>
                        <li>
                            <a class="navigation__link" id="link-nav-emp-step-6" href="/employer/assessment-and-certification">
                                Assessment and certification
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link--top-level navigation__link--top-level--parent" id="link-nav-parents" href="/parents/their-career">
                Parents
            </a>
        </li>
        
        <li class="navigation__list-item">
        <a class="navigation__link--top-level navigation__link--top-level--apprentice" id="link-nav-interests" href="/industries">
            Interests
        </a>
        </li>

        <li class="navigation__list-item navigation__list-item--with-button">
            <a class="button button--sparks button--shadow " id="btn-register-interest-header" href="/register-interest">Register Interest</a>
        </li>
    </ul>
</nav>
</header>

        
<main id="main-content">


    
<div class="hero" data-module="smoothScroll">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--parent">Parent</span>
                <h1 class="heading-xl hero-heading__heading">HELP SHAPE THEIR CAREER</h1>
            </div>

            <ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">Apprenticeships, but not as you know them</a> </li>
        <li>
            <a href="#h2" class="hero__link">
                They’ll earn a salary – and their training will be paid
                for
            </a>
        </li>
        <li>
            <a href="#h3" class="hero__link">
                They’ll get experience in a relevant role, plus
                career-boosting skills
            </a>
        </li>
        <li><a href="#h4" class="hero__link">Levels of apprenticeships</a> </li>
        <li><a href="#h5" class="hero__link">Next steps</a> </li>
    </ul>

            <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                <img alt="HM Government" class="hero-heading__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x" />
            </a>

        </div>
    </div>
</div>

    <div class="main-content">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="page">
                    


<p class="lead-paragraph no-top-margin">
    Setting off on a career path can be overwhelming for young people. As their parent, guardian
    or carer, you’ll play a key role in guiding them as they take their next step. Whether they get
    top grades or don’t thrive in academic environments, apprenticeships shouldn’t be overlooked.
    With new higher and degree apprenticeships popping up each year, they could get the best of both
    worlds – learning and earning at the same time.
</p>

<h2 class="heading-l" id="h1">Apprenticeships, but not as you know them</h2>

<p>
    Perceptions of apprenticeships as entry-level, trade-based, low-quality courses persist –
    yet this couldn’t be further from today’s reality. Changes to funding, minimum requirements and
    the development of occupation-focused standards have driven up the quality of apprenticeships,
    and employers are taking notice. While earning a wage, apprentices gain highly transferable
    skills and training (which could include a degree) to set them up for a wide range of career
    paths. Alongside this, they’ll gain hands-on experience in a real-world setting – an invaluable
    asset when it comes to future employment.
</p>

<h2 class="heading-m" id="h2">
    They’ll earn a salary – and their training will be paid for
</h2>

<p>
    An apprenticeship can boost a young person’s career, while offering great financial benefits.
    They’ll be paid (at least the <a href="/apprentice/what-are-the-benefits-for-me#h2" class="link"></a>national minimum wage, but often a more competitive salary),
    and  they’ll spend at least 20% of their time completing off-the-job training – at no cost to
    them.
    This could include working towards a degree or other qualifications. At the same time,
    they’ll gain experience in a real workplace, and develop important soft skills as they transition
    into the world of work.
</p>

<h2 class="heading-m" id="h3">
    They’ll get experience in a relevant role, plus
    career-boosting skills
</h2>

<p>
    From digital marketing and teaching to dental healthcare and textile manufacturing, there’s
    an apprenticeship for everyone – and the number available is constantly on the rise. 
    You can use the <a class="link" href="/apprentice/find-an-apprenticeship">Find an apprenticeship</a>
    tool to see what’s on offer. During the apprenticeship, your child will gain important
    insight into their chosen industry – and if they decide the occupation isn’t for them, they’ll be equipped with
    skills and experience to make them extremely employable, no matter what step they take next. In
    fact, 88% of apprentices remain in employment after completing their apprenticeship.
</p>

<h2 class="heading-m" id="h4">Levels of apprenticeships</h2>

<p>
    Apprenticeships have the following equivalent educational levels:
</p>

<table class="table table--parents">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell table__row-title table__header-row-title">Name</th>
            <th class="table__cell  table__row-value--header">Level</th>
            <th class="table__cell  table__row-value--header">Equivalent educational level</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell table__row-title">Intermediate</td>
            <td class="table__cell">2</td>
            <td class="table__cell">GCSE</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell table__row-title">Advanced</td>
            <td class="table__cell">3</td>
            <td class="table__cell">A level</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell table__row-title">Higher</td>
            <td class="table__cell">4, 5, 6 and 7</td>
            <td class="table__cell">Foundation degree and above</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell table__row-title">Degree</td>
            <td class="table__cell">6 and 7</td>
            <td class="table__cell">Bachelor’s or master’s degree</td>
        </tr>

    </tbody>
</table>

<p>
    Some apprenticeships also give you an additional qualification such as a diploma.
</p>

<h2 class="heading-m" id="h5">Next steps</h2>

<p>
    If your child isn’t sure which route to take, it’s worth remembering that they can keep
    their options open. They could apply for both university degrees and apprenticeships,
    for example, and make their final decision when they’ve had more time to research and
    reflect.
</p>

<p>
    In the meantime, these useful resources will help you to support them:
</p>

<ul class="list list--bullet list--bullet-parents">
    <li>
        The
        <a href="https://www.gov.uk/topic/further-education-skills/apprenticeships"
           rel="external" target="_blank" class="external">
            government website
        </a>
        is a great starting point for researching apprenticeships, from
        application criteria to pay and conditions
    </li>
    <li>
        The <a href="https://amazingapprenticeships.com/resources/" rel="external"
               target="_blank" class="external">Amazing Apprenticeships</a>
        website features a host of resources, including handy packs for parents
    </li>
    <li>
        Which? University has teamed up with the National Apprenticeship Service to create a
        downloadable
        <a href="https://university.which.co.uk/teachers/introduce-higher-education-options/higher-and-degree-apprenticeships-guide-download"
           rel="external" target="_blank" class="external">
            guide to higher and degree apprenticeships
        </a>
    </li>
    <li>
        The National Careers Service website is packed with tips, from
        <a href="https://nationalcareers.service.gov.uk/get-a-job/interview-advice"
           rel="external" target="_blank" class="external">
            interview advice
        </a>
        to the
        <a href="https://nationalcareers.service.gov.uk/get-a-job/top-10-interview-questions"
           rel="external" target="_blank" class="external">
            top 10 questions
        </a>
        your child could be asked
    </li>
    <li>
        The stories below will give you some great insight into apprentices’ real experiences
    </li>
</ul>







                </div>
            </div>
            <div class="grid-column-one-third">

    <div class="sidebar sidebar--parent">

        <div class="sidebar__hero">
            <img src="/campaign/images/sidebar/parents-their-career.jpg" class="sidebar__hero-image" alt="" />
        </div>
        

       
    </div>
            </div>
        </div>
        <div class="grid-row">
            
        </div>
    </div>
</main>


    <div class="grid-row">
        <div class="grid-column">
            <section class="section section--slant section--slant-after section--parent">
                <figure class="quote-hero quote-hero--parent">
                    <blockquote class="quote-hero__quote">
                        My apprenticeship will give me the best stepping stone to become a highly trained
                        firefighter, with regular assessments and development days
                    </blockquote>
                    <figcaption class="quote-hero__cite">
                        <span class="quote-hero__cite-person">Claire Lester</span>
                        <span class="quote-hero__cite-source">Staffordshire Fire and Rescue</span>
                    </figcaption>
                </figure>
            </section>
        </div>
    </div>


    <div class="grid-row hero-banner hero-banner--parent cssmask-remove">
        <div class="grid-column-full">
            <div class="grid-row hero-banner__content">
                <div class="grid-column-one-half  hero-banner__icon-play-container">
                    <a class="hero-banner__icon-play" href="#player-1" id="play-1" data-module="videoPlayer"
                       data-playerclass="video-player--parent" data-videoplayerid="plyr-1"
                       data-videourl="https://www.youtube.com/embed/s0fcP0QgtGE?origin=https://www.apprenticeships.gov.uk&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
                </div>
                <div class="grid-column-one-half hero-banner__content-main">
                    <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                    <p class="hero-banner__copy">
                        "I wasn’t a hundred percent sure what I wanted to do after 6th form.
                        Then, my mum showed me an ad in the local paper for an apprenticeship.
                        I want to be earning six figures by the time I’m thirty. And that’s the beauty of
                        starting young, it’s all possible."
                    </p>
                    <div class="hero-banner__cite">
                        Ella <span class="hero-banner__cite-detail">
                            22,
                            Operations
                            Manager, Chipping Campden
                        </span>
                    </div>
                </div>
            </div>
            <span class="hero-banner__background hero-banner__background--apprentice-ella"></span>
        </div>

    </div>




        <footer class="footer">
    <div class="grid-row">
        <div class="grid-column-one-fifth">
            <img class="footer__apprenticeship-logo" alt="Apprenticeships" src="/campaign/images/apprenticeships-logo.png" />
        </div>
        <div class="grid-column-four-fifths govuk-accordion" data-module="accordion" id="accordion-footer">
            <div class="grid-row">
                <div class="grid-column-one-half footer__section govuk-accordion__section accordion__section">
                    <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                        <span class="govuk-accordion__section-header-button" id="accordion-footer-heading-1"></span>
                        Apprentices
                    </h2>
                    <div class="grid-row govuk-accordion__section-panel accordion__section-panel">
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-real-stories" href="/real-stories/apprentice">
                                        Real stories
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-benefits" href="/apprentice/what-are-the-benefits-for-me">
                                        What are the benefits for me?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-interests" href="/industries">
                                        My interests - find your perfect apprenticeship
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-1" href="/apprentice/what-is-an-apprenticeship">
                                        What is an apprenticeship?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-2" href="/apprentice/find-an-apprenticeship">
                                        Find an apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-3" href="/apprentice/application">
                                        Application
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-4" href="/apprentice/interview">
                                        Interview
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-5" href="/apprentice/your-apprenticeship">
                                        Your apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-app-step-6" href="/apprentice/assessment-and-certification">
                                        Assessment and certification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-column-one-half footer__section govuk-accordion__section accordion__section">
                    <h2 class="footer__list-header govuk-accordion__section-header accordion__section-header">
                        <span class="govuk-accordion__section-header-button" id="accordion-footer-heading-2"></span>
                        Employers
                    </h2>
                    <div class="grid-row govuk-accordion__section-panel accordion__section-panel">
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-benefits" href="/employer/benefits">
                                        Benefits to your organisation
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-real-stories" href="/real-stories/employer">
                                        Real stories 
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-column-one-half">
                            <ul class="footer__list">
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-1" href="/employer/how-much-is-it-going-to-cost">
                                        How much is it going to cost?
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-2" href="/employer/the-right-apprenticeship">
                                        The right apprenticeship
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-3" href="/employer/choose-training-provider">
                                        Choose a training provider
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-4" href="/employer/hire-an-apprentice">
                                        Hire an apprentice
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-5" href="/employer/preparing-and-monitoring">
                                        Preparing and monitoring
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="footer__link" id="link-footer-emp-step-6" href="/employer/assessment-and-certification">
                                        Assessment and certification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer__hr">
    <div class="grid-row footer__meta">
        <div class="grid-column-one-third">
            <h2 class="footer__list-header">
                Based outside England?
            </h2>
        </div>
        <div class="grid-column-two-thirds">
            <ul class="footer__inline-list">
                <li class="footer__inline-list-item">Find out what opportunities are available in:</li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-footer-scotland">Scotland</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-footer-northern-ireland">Northern Ireland</a>
                </li>
                <li class="footer__inline-list-item">
                    <a class="footer__link" href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-footer-wales">Wales</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="footer footer--privacy" role="contentinfo">
    <div class="grid-row footer__meta">
        <div class="grid-column-one-third">
            <img alt="HM Government" class="footer__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x" />
        </div>
        <div class="grid-column-two-thirds">
            <div class="grid-row">
                <div class="grid-column-full">
                    <ul class="footer__inline-list">
                        <li class="footer__inline-list-item">
                            <a class="footer__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" id="link-footer-feedback" target="_blank" rel="external">Feedback</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" id="link-footer-cookie-policy" href="/cookies">Cookies</a>
                        </li>
                        <li class="footer__inline-list-item">
                            <a class="footer__link" id="link-footer-privacy-notice" href="/privacy">Privacy notice</a>
                        </li>
                        <li class="footer__inline-list-item">
                            Built by the <a class="footer__link" href="https://www.gov.uk/esfa" rel="external" target="_blank" id="link-footer-esfa">Education and Skills Funding Agency</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-row footer__licence-description">
                <div class="grid-column-full">
                    <p class="footer__text">
                        All content is available under the <a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="external" id="link-footer-ogl">Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>

    

    
<div class="modal" id="modal-RegisterInterest" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>


<form action="/register-interest" method="post">

    <h2 class="heading-m">Keep me up to date with the latest information</h2>
    <div class="form-validation-summary" style="display: none">
        <h3 class="heading-s">Sorry but there seems to be a problem with your registration</h3>
        
    </div>
    <div class="form-group">
        <label class="label visually-hidden" for="FirstName">
            First name
        </label>
        <input id="FirstName" class="input" type="text" placeholder="First name" autocomplete="given-name" data-val="true" data-val-required="The First name field is required." name="FirstName" value="">
    </div>

    <div class="form-group">

        <label class="label visually-hidden" for="LastName">
            Last name
        </label>
        <input class="input" type="text" placeholder="Last name" autocomplete="family-name" data-val="true" data-val-required="The Last name field is required." id="LastName" name="LastName" value="">
    </div>
    <div class="form-group">

        <label class="label visually-hidden" for="Email">
            Email Address
        </label>
        <input class="input" type="text" placeholder="Email address" autocomplete="email" data-val="true" data-val-email="The Email address field is not a valid e-mail address." data-val-required="The Email address field is required." id="Email" name="Email" value="">
    </div>
    <div class="form-group radios">

        <div class="radios__item">

            <input class="input radios__input" value="1" type="radio" id="rbApprentice" data-val="true" data-val-required="The Registration type field is required." name="Route" />
            <label class="label radios__label" for="rbApprentice">I want to become an <span class="text--apprentice">apprentice</span> </label>
        </div>
        <div class="radios__item">
            <input class="input radios__input" value="2" type="radio" id="rbEmployer" name="Route" />
            <label class="label radios__label" for="rbEmployer">I want to <span class="text--employer">employ</span> an apprentice</label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkboxes__item">
            <input class="checkboxes__input" type="checkbox" value="true" data-val="true" data-val-range="You need to accept terms and conditions" data-val-range-max="True" data-val-range-min="True" data-val-required="The AcceptTandCs field is required." id="AcceptTandCs" name="AcceptTandCs">
            <label class="label checkboxes__label" for="AcceptTandCs">
                I'd like to receive more information about apprenticeships from the Education and Skills Funding Agency via email, and i'm over the age of 13.
            </label>
        </div>
        <p>To find out how we handle your personal data, please visit our <a href="/privacy">privacy notice</a>.</p>
    </div>

    <input type="hidden" value="/parents/their-career" id="ReturnUrl" name="ReturnUrl" />
    <button formnovalidate="true" class="button button-inverted " name="registerInterestSubmit" type="submit" id="btn-register-interest-complete">Register Interest </button>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8HByHAKGyLVAtuLEB2MoWEQJvY-3XVCveSvOPWxPCWEbGLeDysQHlxuSLFGKGBR7EcoO-ADr6yzanNzlESxxpcnVcS_NEEZ0e2vGeTV5hMucV93JjEk3oNS76iTxkfuC2YqPwi06D_mRJrvKG-9Xf5g" /><input name="AcceptTandCs" type="hidden" value="false"></form>

    </div>
</div>

    
<div class="modal" id="modal-register-thanks" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>

                
<span class="caption-s">Register interest</span>
<h2 class="heading-l heading--success"><span class="heading__icon heading__icon--tick"></span> Success</h2>
<p>Keep an eye on your inbox for all details of future updates to the site.</p>
<a role="button" class="button button--with-icon button--success" href="#" id="btn-register-interest-success">
    <img src="/campaign/images/icon-cross-white.svg" class="button__icon button__icon--close" alt="" />
    <span class="button__text">Close</span>
</a>

    </div>
</div>


            <div class="cookiebanner cookiebanner--variant-1 visually-hidden"  data-module="cookieBanner">
    <div class="grid-row cookiebanner__content">
        <div class="grid-column-two-thirds cookiebanner__text">
            <h4 class="cookiebanner__heading">Cookies on this site</h4>
            <p>Please read : We use cookies to improve user experience of our website, and also share information about use of our site with our social media, advertising and analytics partners. For information on how to opt out or change your cookie settings, please see our <a href="/cookies">Cookie policy</a>. </p>
        </div>
        <div class="grid-column-one-third cookiebanner_actions">
            <a role="button" class="button button--with-icon button-apprentice cookiebanner__button cookiebanner__button--continue" id="link-cookie-accept">
                <img src="/campaign/images/icon-circle-tick.svg" class="button__icon" alt="" />
                <span class="button__text">Continue</span>
                <span class="vh"> and accept the cookie settings</span>
            </a>
            <a class="cookiebanner__link cookiebanner--close" href="#modal-cookiesettings" id="link-cookie-settings">No, take me to my settings</a>
        </div>
    </div>
</div>


<div class="modal" id="modal-cookiesettings" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close</span>
            </a>
        </div>




<h2 class="heading-m">Cookie settings</h2>

<p>
    We use 3 types of cookie. You can choose which cookies you're happy for us to use.
</p>

<div class="form-group">
    <div class="grid-row toggleContainer">
        <div class="grid-column-three-quarters grid-column--pull-right">
            <h3 class="heading-xs">Cookies that measure website use</h3>
            <p>
                We use Google Analytics to measure how you use the website so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:
            </p>
            <ul class="list list--bullet">
                <li>
                    how you got to the site
                </li>
                <li>the pages you visit on the service and how long you spend on each page</li>
                <li>
                    what you click on while you're visiting the site
                </li>
            </ul>
            <p>
                We do not allow Google to use or share the data about how you use this site.
            </p>
            <p>
                Cookies may be set by other third-party websites to do things like measure how you view YouTube videos that are on the service.
            </p>
            <p>If you register an account with the Find an apprenticeship service or the Manage apprenticeships service, both provided by the Education and Skills Funding Agency, the information collected using analytics cookies will be linked to your account to help us make the service work better for you.</p>

        </div>
        <div class="grid-column-one-quarter">
            <input type="checkbox" name="cbxAnalyticsConsent" id="cbxAnalyticsConsent" checked>
            <label for="cbxAnalyticsConsent" id="lblAnalyticsConsent" data-on="ON" data-off="OFF"><span class="vh">Analytics cookies</span></label>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <div class="grid-row toggleContainer">
        <div class="grid-column-three-quarters grid-column--pull-right">
            <h3 class="heading-xs">Cookies that help with our communications and marketing</h3>
            <p>These cookies help us improve the relevancy of advertising campaigns you receive from us. </p>
            <p>We also share information about your use of our site with our social media, advertising and analytics partners, who may combine it with other information that they’ve collected from your use of their services.</p>

        </div>
        <div class="grid-column-one-quarter">
            <input type="checkbox" name="cbxMarketingConsent" id="cbxMarketingConsent" checked>
            <label for="cbxMarketingConsent" id="lblMarketingConsent" data-on="ON" data-off="OFF"><span class="vh">Marketing cookies</span></label>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <div class="grid-row toggleContainer">
        <div class="grid-column-one-quarter">
        </div>
        <div class="grid-column-three-quarters grid-column--pull-right">
            <h3 class="heading-xs">Strictly necessary cookies</h3>
            <p>These essential cookies do things like:</p>
            <ul class="list list--bullet">
                <li>remember the notifications you've seen so we do not show them to you again</li>
                <li>remember your progress through a form</li>
            </ul>
            <p>They always need to be on.</p>
            <p><a href="/cookie-details">Find out more about cookies on this service</a></p>
        </div>
    </div>
</div>


    </div>
</div>



    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>

    <script defer src="/campaign/js/plyr.min.js" crossorigin="anonymous"></script>
    <script defer src="/campaign/js/app.min.js" crossorigin="anonymous"></script>
    <script defer src="/js/das-all.min.js" crossorigin="anonymous" id="dasJs"></script>
    <script>
        var dasJs = document.getElementById('dasJs');
        dasJs.onload = function () {
            window.DASFrontend.initAll();
        }

    </script>
    
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>