<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Campaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/campaign/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/campaign/images/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/campaign/images/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/campaign/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/campaign/images/apple-touch-icon.png">

    <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="https://cdn.plyr.io/3.4.7/plyr.css">
    <link href="/campaign/css/screen.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

    <!--<![endif]-->

    <meta property="og:image" content="/campaign/images/opengraph.png">

</head>

<body class="page-template">

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        {% include './components/header/_header.html'%}
        {% include './components/hero-heading/_hero-heading-fat.html'%}

        <main id="main-content" class="main-content">

            <div class="page page--full-width">

                <div class="grid-row">
                    <div class="grid-column-two-thirds">&nbsp;</div>
                    <div class="grid-column-one-third">

                        <div class="sidebar sidebar--fixed-170 sidebar--employer">
                            <div class="sidebar__hero">
                                <section class="das-provider__contact-details">

                                    <h2 class="heading-l">Contact details</h2>

                                    <dl class="list das-provider__contact-details-definition-list">
                                        <dt>Website:</dt>
                                        <dd>
                                            <a href="https://paragonskills.co.uk/get-qualified/sectors-and-apprenticeships/business-administration/business-administrator-level-3-apprenticeship-standard/" rel="external" target="_blank" class="link">
                                                    PARAGON - SKILLS FOR INDUSTRY website
                                            </a>
                                        </dd>

                                        <dt class="phone-title">Phone number:</dt>
                                        <dd>0800 783 2545</dd>

                                        <dt>Email:</dt>
                                        <dd>
                                            <a href="mailto:enquiries@pgon.co.uk" class="link">enquiries@pgon.co.uk</a>
                                        </dd>

                                        <dt>Contact page:</dt>
                                        <dd>
                                            <a href="https://paragonskills.co.uk/contact-us/" rel="external" target="_blank" class="link external">
                                                    contact this training provider
                                            </a>
                                        </dd>

                                        <dt>Address:</dt>
                                        <dd>
                                            Warwick, Paragon Skills, National Provider, Warwick, Warwickshire, <strong>CV32 4XP</strong>
                                        </dd>
                                    </dl>

                                </section>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="grid-row">
                    <div class="grid-column-two-thirds">
                        
                        <h2 class="heading-l u-!-margin-top-0">Training Information</h2>

                        <dl class="list das-provider__training-information-definition-list__results">
                            <dt>Apprenticeship:</dt>
                            <dd>Business Administrator</dd>
                            <dt>Level:</dt>
                            <dd>3 (equivalent to A levels at grades A to E)</dd>
                            
                            <dt>Training options:</dt>
                            <dd>
                                <ul class="list list--bullet list--bullet-employer">
                                    <li><span class="das-search-results__training-options--cross">day release</span></li>
                                    <li><span class="das-search-results__training-options--cross">block release</span></li>
                                    <li><span class="das-search-results__training-options--tick">at your location</span></li>
                                </ul>
                                <details class="details">
                                    <summary class="details__summary">
                                        <span class="details__summary-text link">Explain training options</span>
                                    </summary>
                                    <div class="details__text">
                                        <p><span class="das-provider__copy--black">Day release:</span> for example one day a week at the training provider's location.</p>
                                        <p><span class="das-provider__copy--black">Block release:</span> for example 3-4 weeks at the training provider's location.</p>
                                        <p><span class="das-provider__copy--black">At your location:</span> the training provider comes to your workplace.</p>
                                    </div>
                                </details>
                            </dd>
                        </dl>
                    </div>
                </div>   

                <div class="grid-row">
                    <div class="grid-column-full grid-column-two-thirds-from-desktop">

                        <dl class="list das-definition-list__results das-definition-list__results--black">

                            <dt>Achievement rates:</dt>
                            <dd>
                                <div>Acheivement average: <span class="das-provider__copy--black">65%</span></div>
                                <progress class="das-provider__progress-bar" max="100" value="65"></progress>

                                <div>National average: <span class="das-provider__copy--black">70%</span></div>
                                <progress class="das-provider__progress-bar" max="100" value="70"></progress>

                                <details class="details">
                                    <summary class="details__summary">
                                        <span class="details__summary-text link">Explain achievement rates</span>
                                    </summary>
                                    <div class="details__text">
                                        <p>Percentage of apprentices who successfully achieved a similar apprenticeship with this training provider.</p>
                                        <p>Based on the latest data for 50 apprentices.</p>
                                        <p>Source: <a href="https://www.gov.uk/government/collections/sfa-national-success-rates-tables" target="_blank" rel="external">Skills Funding Agency apprenticeship achievement rates</a></p>
                                    </div>
                                </details>
                            </dd>
                        </dl>
                        <div class="das-provider-about">
                            <h2 class="heading-m">ABOUT THE APPRENTICESHIP</h2>

                            <p>
                                The <span class="fat-search-keyword">Business Administrator</span> Level 3 Apprenticeship Standard is designed to
                                develop your skills and knowledge further and enhance your career prospects
                                in the business world. As a natural progression from the Level 2
                                Intermediate Business Administration Apprenticeship, this Level
                                3 Apprenticeship is suitable for anyone working in either of the
                                following roles:
                            </p>

                            <ul class="list list--bullet list--bullet-employer">
                                <li>Administration Assistant</li>
                                <li>Personal Assistant</li>
                                <li class="fat-search-keyword">Business Administrator</li>
                                <li>Office Assistant</li>
                                <li>Office Supervisor</li>
                            </ul>
                        </div>

                        <div class="das-provider-information">

                            <h2 class="heading-m">PROVIDER INFORMATION</h2>

                            <p>
                                <span class="fat-training-provider-title">Paragon - Skills for the industry</span> is a leading Grade 2, Good, Ofsted rated national training
                                provider delivering first-class apprenticeship programmes across a variety
                                of sectors including; Adult Care, Childcare &amp; Education, Hair &amp; Beauty,
                                Customer Experience, Automotive &amp; Marine, Leadership &amp; Management
                                and Accountancy.
                            </p>

                            <p>
                                We deliver high-quality apprenticeship programmes and employers will
                                receive customised programmes that fit their unique business to drive
                                their strategy, whilst learning plans are tailored to each individual
                                apprentice's needs. All programmes contain the essential elements
                                expected from an apprenticeship and will lead to an industry-wide
                                recognised qualification.
                            </p>

                            <p>
                                <span class="das-provider-tag--national">National</span> This training provider is willing to offer apprenticeship training across England.
                            </p>

                        </div>

                        <div class="das-provider-employers">

                            <h2 class="heading-m">What employers are saying</h2>

                            <p>Based on <strong>22 reviews from employers</strong> that work with this training provider.</p>

                            <p><a href="#">Find out how these reviews work</a></p>

                            <h2 class="heading-xs">Overall rating from October 2018 to now</h2>

                            <div class="das-provider-rating-reviews">

                                <dl class="list">
                                    <dt class="das-provider-rating-reviews__definition-list--title">Excellent</dt>
                                    <dd class="das-provider-rating-reviews__definition-list--details">
                                        <progress class="das-provider__progress-bar das-provider__progress-bar--excellent" max="22" value="6"></progress>
                                        <span class="das-provider-rating-reviews__reviews-no">6 reviews <span class="visually-hidden">out of 22</span></span>
                                    </dd>
                                    <dt class="das-provider-rating-reviews__definition-list--title">Good</dt>
                                    <dd class="das-provider-rating-reviews__definition-list--details">
                                        <progress class="das-provider__progress-bar das-provider__progress-bar--good" max="22" value="13"></progress>
                                        <span class="das-provider-rating-reviews__reviews-no">13 reviews <span class="visually-hidden">out of 22</span></span>
                                    </dd>
                                    <dt class="das-provider-rating-reviews__definition-list--title">Poor</dt>
                                    <dd class="das-provider-rating-reviews__definition-list--details">
                                        <progress class="das-provider__progress-bar das-provider__progress-bar--poor" max="22" value="2"></progress>
                                        <span class="das-provider-rating-reviews__reviews-no">2 reviews <span class="visually-hidden">out of 22</span></span>
                                    </dd>
                                    <dt class="das-provider-rating-reviews__definition-list--title">Very poor</dt>
                                    <dd class="das-provider-rating-reviews__definition-list--details">
                                        <progress class="das-provider__progress-bar das-provider__progress-bar--very-poor" max="22" value="1"></progress>
                                        <span class="das-provider-rating-reviews__reviews-no">1 review <span class="visually-hidden">out of 22</span></span>
                                    </dd>
                                </dl>

                            </div>

                            <div class="grid-row">
                                <div class="grid-column-one-half">
                                        <h3 class="heading-s">Strengths</h3>
                                        <ul class="list list--bullet list--bullet-employer">
                                            <li>Getting new apprentices started <strong>(12)</strong></li>
                                            <li>Communication with employers <strong>(10)</strong></li>
                                            <li>Improving apprentice skills <strong>(8)</strong></li>
                                            <li>Providing the right training at the right time <strong>(8)</strong></li>
                                            <li>Initial assessment of apprentices <strong>(5)</strong></li>
                                            <li>Reporting on progress of apprentices <strong>(5)</strong></li>
                                            <li>Adapting to my needs <strong>(4)</strong></li>
                                            <li>Training facilities <strong>(1)</strong></li>
                                            <li>Working with small numbers of apprentices <strong>(1)</strong></li>
                                        </ul>
                                </div>
                                <div class="grid-column-one-half">
                                        <h3 class="heading-s">Things to improve</h3>
                                        <ul class="list list--bullet list--bullet-employer ">
                                            <li>Communication with employers <strong>(6)</strong></li>
                                            <li>Reporting on progress of apprentices <strong>(5)</strong></li>
                                            <li>Getting new apprentices started <strong>(3)</strong></li>
                                            <li>Initial assessment of apprentices <strong>(3)</strong></li>
                                            <li>Providing the right training at the right time <strong>(3)</strong></li>
                                            <li>Improving apprentice skills <strong>(2)</strong></li>
                                            <li>Adapting to my needs <strong>(1)</strong></li>
                                            <li>Working with small numbers of apprentices <strong>(1)</strong></li>
                                        </ul>
                                </div>
                            </div>

                            <dl class="list das-definition-list__results das-definition-list__results--black">

                                <dt>Employer satisfaction:</dt>
                                <dd>
                                    <div>86%</div>
                                    <progress class="das-provider__progress-bar" max="100" value="86"></progress>
                                </dd>

                                <dt>Learner satisfaction:</dt>
                                <dd>
                                    <div>91%</div>
                                    <progress class="das-provider__progress-bar" class="das-provider__progress-bar" max="100" value="91"></progress>
                                    <div class="satisfaction-source font-small">
                                        Source: <a href="https://www.gov.uk/government/statistical-data-sets/fe-choices-performance-indicators" target="_blank">Skills Funding Agency FE Choices</a>
                                    </div>
                                </dd>

                                <dt>Legal name:</dt>
                                <dd>Paragon - Skills for the industry</dd>
                            </dl>
                        </div>

                        <div class="das-provider-disclasimer">

                            <h2 class="heading-xs">Content disclaimer</h2>
                            
                            <p>
                                Education and Skills Funding Agency cannot guarantee the accuracy of
                                course information on this site and makes no representations about
                                the quality of any courses which appear on the site. Education and Skills
                                Funding Agency is not liable for any losses suffered as a result of any party
                                relying on the course information provided.
                            </p>
                        </div>

                    </div>

                </div>

            </div>

            <div class="grid-row">
                <div class="grid-column-full">
                    <section class="cta-fat">
                        <div class="cta-fat__content">
                            <h2 class="heading-l cta-fat__heading">SAVE THIS TRAINING PROVIDER</h2>
                            <p>Then you can create your gov.uk account to start hiring the future...</p>
                            <a id="link-fat-cta" href="#" class="button button--shadow button--sparks" target="_blank" rel="external"> SAVE TRAINING PROVIDER</a>     
                        </div>
                    </section>
                </div>
            </div>

        </main>

        {% include './components/footer/_footer.html'%}

    </div>
    <!-- <script defer src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjlbjx6_-sz4utE2SVVNwc63PlUM_MLE&callback=DASFrontend.initMaps" type="text/javascript"></script>
    <script defer src="/campaign/js/infobox.js"></script> -->

    <script src="/campaign/js/app.min.js"></script>
    <script src="/js/das-all.js"></script>
    <script>
        window.DASFrontend.initAll()
    </script>

</body>

</html>