<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Apprentice hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

  <div class="wrap">

    {% include './components/header/_header.html'%}
    <div class="hero-banner hero-banner--header-slant">
      <div class="grid-row">
        <div class="grid-column-one-half">
          <div class="hero-heading">
            <h1 class="heading-xl hero-heading__heading">My interests</h1>
          </div>
          <div class="hero-heading__content">
            <p class="lead-paragraph">
               Catering and hospitality covers work in restaurants, cafés, pubs, bars, nightclubs and hotels.
               But the sector also supplies food and drink to other industries. Schools, colleges, hospitals and large businesses often have canteens and catering staff too.
           </p>
           <p>
               You could train as a chef in a restaurant, or learn how to cook on a large scale for institutions such as the NHS. Or you could be 'front of house' servicing guests or helping management make sure day-to-day operations run smoothly.
           </p>
           <dl class="inline-list">
                <dt class="inline-list__title">Digital includes</dt>
                <dd>Job title</dd>
                <dd>Job title</dd>
                <dd>Job title</dd>
            </dl>
        </div>
        </div>
      </div>
      <span class="hero-banner__background hero-banner__background--industry"></span>
    </div>
    <div class="grid-row hero-banner hero-banner--apprentice hero-banner--right-aligned">
      <div class="grid-column-full">
        <div class="grid-row hero-banner__content">
          <div class="grid-column-one-half  hero-banner__icon-play-container">
            <a class="hero-banner__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
            <a class="hero-banner__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
          </div>
          <div class="grid-column-one-half hero-banner__content-main">
            <h3 class="hero-banner__header">Valuable hands-on experience</h3>
            <p class="hero-banner__copy">
              "FICTION: I didn't think university was for me. I saw a lot of my friends
              struggling to make ends meet - I didn't want the debt and I was desperate to get the hands-on
              experience."
            </p>
            <div class="hero-banner__cite">Sarah Bloggs <span class="hero-banner__cite-detail">33, Designer, Manchester</span></div>
            <a class="hero-banner__link" href="#">View more apprentice stories</a>
          </div>
        </div>
        <span class="hero-banner__background"></span>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-column-full">
        <section class="main-content-section">

          <section class="grid-row cta-faa">
            <div class="grid-column-two-thirds">
              <div class="cta-faa__content">
                <h2 class="heading-s cta-faa__heading">find an apprenticeship In @ViewBag.Title</h2>
                <p>
                  Do you think that the @ViewBag.Title industry is where you want to start your career? If so, then you
                  need to
                  search for the right apprenticeship and level. Use the field below to find organisations that are
                  looking to hire!
                </p>
              </div>
            </div>
            <div class="grid-column-one-third cta-faa__action">
              <a id="link-FAA-Cta" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" role="button"
                draggable="false" class="button button--shadow button--sparks"> start looking</a>
            </div>
          </section>
        </section>
      </div>
    </div>

    <div class="grid-row hero-banner hero-banner--apprentice">
      <div class="grid-column-full">
        <div class="hero-banner__caption">
          <span class="hero-banner__caption-icon"></span>
          <span class="hero-banner__caption-text">Real apprentice stories</span>
        </div>
        <div class="grid-row hero-banner__content">
          <div class="grid-column-one-half  hero-banner__icon-play-container">
            <a class="hero-banner__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
            <a class="hero-banner__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
          </div>
          <div class="grid-column-one-half hero-banner__content-main">
            <h3 class="hero-banner__header">Valuable hands-on experience</h3>
            <p class="hero-banner__copy">
              "FICTION: I didn't think university was for me. I saw a lot of my friends
              struggling to make ends meet - I didn't want the debt and I was desperate to get the hands-on
              experience."
            </p>
            <div class="hero-banner__cite">Sarah Bloggs <span class="hero-banner__cite-detail">33, Designer, Manchester</span></div>
            <a class="hero-banner__link" href="#">View more apprentice stories</a>
          </div>
        </div>
        <span class="hero-banner__background"></span>
      </div>
    </div>
    <div class="main-content-section">
      <div class="grid-row-full-width card__collection--grey card-stories__collection card-stories--apprentice">
  
          <div class="card-stories">
              <div class="card-stories__image">
                  <span class="card-stories__img card__img--agriculture-environment-animal-care"></span>
  
                  <a class="card-stories__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
                  <a class="card-stories__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
              </div>
              <div class="card-stories__content">
                  <h2 class="card-stories__headline heading-l">My mum found my apprenticeship, and I’ve never looked back</h2>
                  <p class="card-stories__summary">
                      I wasn’t a hundred percent sure what I wanted to do after 6th form. 
                      Then, my mum showed me an ad in the local paper for an apprenticeship.
                  </p>
                  <p class="card-stories__summary">
                      My mum still reminds me to this day that she was the one that found my apprenticeship in the first place.
                  </p>
                  <div class="card-stories__cite">
                      Ella Jackson
                      <span class="card-stories__cite-detail">
                          22, Operations Manager, Chipping Campden
                      </span>
                  </div>
  
              </div>
          </div>
          <div class="card-stories">
              <div class="card-stories__image">
                  <span class="card-stories__img card__img--agriculture-environment-animal-care"></span>
  
                  <a class="card-stories__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
                  <a class="card-stories__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
              </div>
              <div class="card-stories__content">
                  <h2 class="card-stories__headline heading-l">Earn and learn, straight from school</h2>
                  <p class="card-stories__summary">
                      I found the confidence I needed to take the apprenticeship,
                      because I knew theatre is what I loved and where I wanted to be.
                  </p>
                  <p class="card-stories__summary">
                      There’s never really a typical day. There’s always different working
                      hours and different people, which is my favourite part of it.
                  </p>
                  <div class="card-stories__cite">
                      Hosanna
                      <span class="card-stories__cite-detail">
                          18, Technical Apprentice, London
                      </span>
                  </div>
  
              </div>
          </div>
  
      </div>
  
  </div>
  </div>


  {% include './components/footer/_footer.html'%}

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/dist/campaign/js/app.min.js"></script>
  <script src="/dist/js/das-all.js"></script>
  <script>
    window.DASFrontend.initAll()
  </script>




</body>

</html>