{% extends "campaign/template.html" %}

{% block hero %}
 <div class="grid-row">
  <div class="grid-column-one-half">
     <div class="hero-heading">
        <span class="caption-m hero-heading__caption hero-heading__caption--employer">Employer</span>
        <h1 class="heading-xl hero-heading__heading hero-heading__heading-m">Your favourite apprenticeships and training providers</h1>
     </div>
     <ul class="list-numbers">
        <li><span class="vh">You have</span> <span class="list-numbers__number">2</span> Apprenticeships <span class="vh">in your basket</span></li>
        <li><span class="vh">You have</span> <span class="list-numbers__number">1</span> Training providers <span class="vh">in your basket</span></li>
     </ul>
  </div>
  <div class="grid-column-one-half">
      <div class="hero__panel hero__panel--employer">
            <p class="hero__panel-intro">Create an Apprenticeship Service account to save your choices and start hiring.</p>
            <a href="#" class="button hero__panel-button">Create an account</a>

        </div>
    </div>
</div>

{% endblock %}


{% block content %}
<div class="page page--full-width">


    <div class="das-basket__empty">
        <h2 class="heading-m">You haven't added any favourites yet</h2>
        <p>Why not browse the available apprenticeships and start adding your favourites?</p>
        <a href="#" class="button button--inverted button--sparks">View apprenticeships</a>
    </div>

</div>

{% endblock %}