<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Campaign</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        {% include './components/header/_header.html'%}
        {% include './components/hero-heading/_hero-heading.html' %}

        <main id="main-content" class="main-content">

            <div class="grid-row">
                <div class="grid-column-two-thirds">


                    <div class="page">

                        <h2 class="heading-l">Introduction to apprenticeships</h2>

                        <p>An apprenticeship gives you hands-on experience, a salary and the opportunity to train while you work.   You get a same as other employees: a contract of employment, holiday leave and sick pay.   Anyone from the age of 16 can become an apprentice as long as they're living in England and not in full-time education.</p>
                        <p>An apprenticeship is a real job. It's a way to:</p>

                        <ul class="list list--bullet list--bullet-apprentice">
                            <li>get paid and learn at the same time, with at least 20% of your time set aside for learning - normally at a college, university or other training providers</li>
                            <li>gain official certification of your skills, equivalent to a qualification ranging from level 2 (GCSE equivalent) up to degree level</li>
                            <li>start a long-term career path with the possibility of higher earnings</li>
                        </ul>

                        {% include './components/boxQuote/_boxQuote.html'%}

                        <p>An apprenticeship can take 2 to 4 years to complete depending on which level you do.   </p>

                        <p>By successfully completing your apprenticeship, you'll have gained the confidence and skills needed to progress in your chosen career. </p>

                        <p>Apprenticeships are available across a wide range of industries and organisations, from local businesses to large national brands.</p>

                        <p>Apprenticeships have been through a massive change in the last few years.  They're not the 'easy option' and studying whilst you're working takes hard work!  Degree apprenticeship are now recognised as credible alternatives to full-time university courses. </p>

                        <p>If you live in <a href="#"> Scotland</a>, <a href="#">Wales</a>  or <a href="">Northern Ireland</a>  you can find out more about apprenticeships in your area.  </p>


                        <div class="next-step-link">
                        <a href="">
                        Benefits
                        <span class="next-step-link__subtitle">Next step</span>
                        </a>
                        </div>

                    </div>


                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar">
                        <div class="sidebar__hero">
                            <img src="/dist/campaign/images/worker-girl.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">The process to becoming an apprentice</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include './components/sideBar/_sideBar.html'%}
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <section class="section">
            <div class="grid-row">
                <div class="grid-column-one-half">
                    <table class="table">
                        <thead class="table__thead">
                            <tr>
                                <th class="table__header" scope="col">
                                    Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td class="table__cell">
                                Intermediate
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid-column-one-half">
                <h3 class="heading-m">What are the different types of apprenticeships?</h3>

                <p>There are hundreds of different apprenticeships you can do - from different industries and levels; which cater for you depending on whether you’re at the start of your career, wanting to change career direction or returning to work after a break. </p>

                <p>Here’s a brief explanation of the different levels - which are numbered from
                2 - 7.  </p>

                <p>Degree apprenticeships offer the benefits of higher education with none of the cost.  Your tuition fees are paid for by the government and your employer, so you will graduate debt-free.  Apprentices earn a salary right from the start of their employment and training. </p>

                </div>
            </div>
        </section>

    {% include './components/footer/_footer.html'%}

    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
        <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script>




</body>

</html>