.fiu-panel {
  @include fiu-typography-common;
  background: $white;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
  height: 100%;
  display: block;
  color: $fiu-text-colour;
  text-decoration: none;
  border: 1px solid $fiu-border-colour;
  border-radius: 10px;
  position: relative;
  &:focus {
    @include fiu-focused-block;
  }
  @include govuk-media-query($from: desktop) {
    padding: 30px 30px 50px 30px;
  }
}

.fiu-panel__tag {
  margin-bottom: 2em;
}

.fiu-panel__heading {
  color: inherit;
}

.fiu-panel__content {
  @extend .govuk-body-l;
  color: inherit;
}

.fiu-panel__label {
  color: inherit;
  margin-bottom: .5em;
}

.fiu-panel__button {
  margin: 0;
}

.fiu-panel--faa,
.fiu-panel--fat {
  background-color: $black;
  background-image: url("../assets/images/design/warehouse-green.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
  border: none;
}

.fiu-panel--fat {
  background-image: url("../assets/images/design/warehouse-purple.jpg");
}

.fiu-panel--solid-citizens {
  background: $fiu-citizens-brand-colour;
  color: $white;
}

.fiu-panel--solid-employers {
  background: $fiu-employers-brand-colour;
  color: $white;
}

.fiu-panel--left-align {
  text-align: left;
}

.fiu-panel--min-padding {
  padding: 0 15px;
}

.fiu-panel--narrow-col {
  .fiu-panel__heading.govuk-heading-l {
    @include govuk-media-query($from: tablet) {
      font-size: 20px;
    }
    @include govuk-media-query($from: desktop) {
      font-size: 24px;
    }
    @include govuk-media-query($from: $fiu-large-desktop-breakpoint) {
      font-size: 30px;
    }
  }
}


/* Homepage version of the panel */

.fiu-panel-homepage {
  text-align: center;
  padding: 70px 30px 30px;
  margin-bottom: 15px;
  height: 100%;
  display: block;
  color: $white;
  position: relative;
  @include govuk-media-query(tablet) {
    padding-top: 120px;
  }
}

.fiu-panel-homepage__heading {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: -0.08em;
}

.fiu-panel-homepage__content {
  @extend .govuk-body-l;
  @include fiu-typography-common;
  color: inherit;
  position: relative;
}

.fiu-panel-homepage__image-wrap {
  position: absolute;
  top: 0;
  z-index: 0;
}

.fiu-panel-homepage__image {
  z-index: 1;
  width: 100%;
}

.fiu-panel-homepage__image-mask {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("../assets/images/panels/mask.png");
  background-size: cover;
  background-position: top;
}