.fiu-panel {
  @include fiu-typography-common;
  background: $white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  height: 100%;
  display: block;
  color: $fiu-text-colour;
  text-decoration: none;
  border: 1px solid $fiu-border-colour;
  border-radius: $fiu-border-radius;
  position: relative;
  &:focus {
    @include fiu-focused-block;
  }
  @include govuk-media-query($from: desktop) {
    padding: 30px;
  }
}

.fiu-panel__tag {

  margin-bottom: 1.5em;
}

.fiu-panel__heading {
  color: inherit;
  margin-bottom: .4em;
}

.fiu-panel__content {
  @include fiu-typography-common;
  color: $dark-grey;
  margin: 0 0 1.5em;
  @include govuk-media-query(tablet) {
    font-size: 21px;
    line-height: 1.15;
  }
}

.fiu-panel__content--s {
  font-size: 16px;
  line-height: 1.35em;
}

.fiu-panel__label {
  color: inherit;
  margin-bottom: .5em;
}

.fiu-panel__logo {
  height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
}

.fiu-panel__logo-img {
  max-width: 65%;
  max-height: 80%;
  margin: 0 auto;
}

.fiu-panel__button {
  margin: 0;
}

.fiu-panel--solid-citizens {
  background: $fiu-citizens-brand-colour;
  color: $white;
}

.fiu-panel--solid-employers {
  background: $fiu-employers-brand-colour;
  color: $white;
}

.fiu-panel--left-align {
  text-align: left;
}

.fiu-panel--min-padding {
  padding: 0 15px;
}

.fiu-panel--narrow-col {
  .fiu-panel__heading.govuk-heading-l {
    @include govuk-media-query($from: tablet) {
      font-size: 20px;
    }
    @include govuk-media-query($from: desktop) {
      font-size: 24px;
    }
    @include govuk-media-query($from: $fiu-large-desktop-breakpoint) {
      font-size: 30px;
    }
  }
}


/* Homepage version of the panel */

.fiu-panel-homepage {
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  margin-bottom: 15px;
  height: 100%;
  display: block;
  color: $white;
  position: relative;
  background: #333;
  border-radius: $fiu-border-radius;
  @include govuk-media-query(tablet) {
    padding: 20px;
  }
}

.fiu-panel-homepage__heading {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: -0.08em;
}

.fiu-panel-homepage__content {
  @include fiu-typography-common;
  color: inherit;
  position: relative;
  @include govuk-media-query(tablet) {
    font-size: 19px;
  }
}

.fiu-panel-homepage__button {
  margin-bottom: 0;
}
