.fiu-panel {
  background: $white;
  text-align: center;
  padding: 30px;
  margin-bottom: 15px;
  height: 100%;
  display: block;
  color: $fiu-text-colour;
  text-decoration: none;
  border: 1px solid $fiu-border-colour;
  border-radius: 10px;
  &:focus {
    @include fiu-focused-block;
  }
}

.fiu-panel__tag {
  margin-bottom: 2em;
}

.fiu-panel__heading {

}

.fiu-panel__content {
  @extend .govuk-body-l;
  @include fiu-typography-common;
}

.fiu-panel__button {
  margin: 0;
}

/* Homepage version of the panel */

.fiu-panel-homepage {
  background: $black;
  text-align: center;
  padding: 30px;
  margin-bottom: 15px;
  height: 100%;
  display: block;
  color: $white;
}

.fiu-panel-homepage__heading {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: -0.08em;
}

.fiu-panel-homepage__content {
  @extend .govuk-body-l;
  @include fiu-typography-common;
  color: inherit;
}