<div class="fiu-width-container govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <div class="fiu-guides-panel fiu-guides-panel--pdf">

            <h2 class="fiu-guides-panel__heading">7 reasons to embrace apprenticeships</h2>

            <span class="fiu-guides-panel__spec">
                <abbr>PDF</abbr> &vert; 989 <abbr>KB</abbr>
            </span>

            <a href="#" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="govuk-visually-hidden">the 7 reasons to embrace apprenticeships</span> guide</a>

        </div>

        <div class="fiu-guides-panel fiu-guides-panel--pdf">

            <h2 class="fiu-guides-panel__heading">How does off-the-job-training work</h2>

            <span class="fiu-guides-panel__spec">
                <abbr>PDF</abbr> &vert; 566 <abbr>KB</abbr>
            </span>

            <a href="#" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="govuk-visually-hidden">the How does off-the-job-training work</span> guide</a>

        </div>

        <div class="fiu-guides-panel fiu-guides-panel--pdf">

            <h2 class="fiu-guides-panel__heading">An employer's guide to higher degree apprenticeships</h2>

            <span class="fiu-guides-panel__spec">
                <abbr>PDF</abbr> &vert; 1055 <abbr>KB</abbr>
            </span>

            <a href="#" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="govuk-visually-hidden">the An employer's guide to higher degree apprenticeships</span> guide</a>

        </div>

    </div>

    <aside class="govuk-grid-column-one-half">

        <p class="govuk-body">Alternative/Additional content</p>

        <div class="fiu-guides-panel fiu-guides-panel--pdf">

            <h2 class="fiu-guides-panel__heading">An employer's guide to higher degree apprenticeships</h2>

            <span class="fiu-guides-panel__spec">
                <abbr>PDF</abbr> &vert; 1055 <abbr>KB</abbr>
            </span>

            <a href="#" class="fiu-link fiu-link--citizens fiu-guides-panel__link">Download <span class="govuk-visually-hidden">the An employer's guide to higher degree apprenticeships</span> guide</a>

        </div>

    </aside>

</div>