<section class="fiu-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body-l">
                Providing digital design solutions to internal and external clients, across a range of sectors and contexts.
            </p>

            <dl class="govuk-summary-list fiu-provider-details-summary">
                <div class="govuk-summary-list__row fiu-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Creative Digital Design Professional
                    </dd>
                </div>
                <div class="govuk-summary-list__row fiu-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Level
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Standard
                    </dd>
                </div>
                <div class="govuk-summary-list__row fiu-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Training options
                    </dt>
                    <dd class="govuk-summary-list__value">

                        <ul class="govuk-list">
                            <li class="fiu-provider-details-summary__status-yes">
                                <span class="fiu-vh">Yes: </span>day release
                            </li>
                            <li class="fiu-provider-details-summary__status-no">
                                <span class="fiu-vh">No: </span>block release
                            </li>
                            <li class="fiu-provider-details-summary__status-no">
                                <span class="fiu-vh">No: </span>at your location
                            </li>
                        </ul>

                    </dd>
                </div>
                <div class="govuk-summary-list__row fiu-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Achievement rates
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="fiu-provider-details-summary__content">Achievement average</p>



<dl class="govuk-summary-list fiu-provider-details-bars">
  <div class="govuk-summary-list__row fiu-provider-details-bars__row">
    <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
      Excellent
    </dt>
    <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
        <span class="fiu-provider-details-bars__employers-excellent" style="width: 80%;">Visual bar showing 80% score</span>
    </dd>
    <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
        80%
    </dd>
  </div>
  <div class="govuk-summary-list__row fiu-provider-details-bars__row">
    <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
      Good
    </dt>
    <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
        <span class="fiu-provider-details-bars__employers-good" style="width: 66%;">Visual bar showing 66% score</span>
    </dd>
    <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
        66%
    </dd>
  </div>
  <div class="govuk-summary-list__row fiu-provider-details-bars__row">
    <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
      Poor
    </dt>
    <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
        <span class="fiu-provider-details-bars__employers-poor" style="width: 43%;">Visual bar showing 43% score</span>
    </dd>
    <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
        43%
    </dd>
  </div>
  <div class="govuk-summary-list__row fiu-provider-details-bars__row">
    <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
      Very poor
    </dt>
    <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
      <span class="fiu-provider-details-bars__employers-very-poor" style="width: 27%;">Visual bar showing 27% score</span>
    </dd>
    <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
        27%
    </dd>
  </div>
</dl>



                        <details class="govuk-details fiu-provider-details__details" data-module="govuk-details">
                            <summary class="govuk-details__summary fiu-link--employers">
                                <span class="govuk-details__summary-text fiu-provider-details__summary-text">
                                    Explain training options
                                </span>
                            </summary>
                            <div class="govuk-details__text fiu-provider-details__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida eleifend magna eu rhoncus. Nulla quis auctor neque, eu tristique ante. Nullam vitae accumsan sapien.
                            </div>
                        </details>


                    </dd>
                </div>
            </dl>



          <dl class="govuk-summary-list fiu-provider-details-bars">
            <div class="govuk-summary-list__row fiu-provider-details-bars__row">
              <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
                Excellent
              </dt>
              <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
                  <span class="fiu-provider-details-bars__employers-excellent" style="width: 80%;">Visual bar showing 80% score</span>
              </dd>
              <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
                  80%
              </dd>
            </div>
            <div class="govuk-summary-list__row fiu-provider-details-bars__row">
              <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
                Good
              </dt>
              <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
                  <span class="fiu-provider-details-bars__employers-good" style="width: 66%;">Visual bar showing 66% score</span>
              </dd>
              <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
                  66%
              </dd>
            </div>
            <div class="govuk-summary-list__row fiu-provider-details-bars__row">
              <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
                Poor
              </dt>
              <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
                  <span class="fiu-provider-details-bars__employers-poor" style="width: 43%;">Visual bar showing 43% score</span>
              </dd>
              <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
                  43%
              </dd>
            </div>
            <div class="govuk-summary-list__row fiu-provider-details-bars__row">
              <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
                Very poor
              </dt>
              <dd class="govuk-summary-list__value fiu-provider-details-bars__value">
                <span class="fiu-provider-details-bars__employers-very-poor" style="width: 27%;">Visual bar showing 27% score</span>
              </dd>
              <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
                  27%
              </dd>
            </div>
          </dl>



        </div>

        <div class="govuk-grid-column-one-third">

            contact details

        </div>
    </div>

    <hr class="fiu-section-break fiu-section-break--l">
</section>


