<section class="fiu-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body-l">
              Providing digital design solutions to internal and external clients, across a range of sectors and contexts.
          </p>

          <dl class="govuk-summary-list fiu-provider-details-summary">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key fiu-provider-details-summary__key">
                      Apprenticeship
                  </dt>
                  <dd class="govuk-summary-list__value fiu-provider-details-summary__value">
                      Creative Digital Design Professional
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key fiu-provider-details-summary__key">
                      Level
                  </dt>
                  <dd class="govuk-summary-list__value fiu-provider-details-summary__value">
                      Standard
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key fiu-provider-details-summary__key">
                      Training options
                  </dt>
                  <dd class="govuk-summary-list__value fiu-provider-details-summary__value">

                      <ul class="govuk-list">
                          <li class="fiu-provider-details-summary__status-yes">
                              <span class="fiu-vh">Yes: </span>day release
                          </li>
                          <li class="fiu-provider-details-summary__status-no">
                              <span class="fiu-vh">No: </span>block release
                          </li>
                          <li class="fiu-provider-details-summary__status-no">
                              <span class="fiu-vh">No: </span>at your location
                          </li>
                      </ul>

                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key fiu-provider-details-summary__key">
                      Achievement rates
                  </dt>
                  <dd class="govuk-summary-list__value fiu-provider-details-summary__value">

                    <dl class="govuk-summary-list fiu-provider-details-bars fiu-provider-details-bars--comparison">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
                          Achievement average
                        </dt>
                        <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--employers-default">
                            <span style="width: 80%;">Visual bar showing 80% score</span>
                        </dd>
                        <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
                            80%
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
                          National average
                        </dt>
                        <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--default">
                            <span style="width: 66%;">Visual bar showing 66% score</span>
                        </dd>
                        <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
                            66%
                        </dd>
                      </div>
                    </dl>

                    <details class="govuk-details fiu-provider-details-details" data-module="govuk-details">
                        <summary class="govuk-details__summary fiu-link--employers">
                            <span class="govuk-details__summary-text fiu-provider-details-details__summary-text">
                                Explain training options
                            </span>
                        </summary>
                        <div class="govuk-details__text fiu-provider-details-details__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida eleifend magna eu rhoncus. Nulla quis auctor neque, eu tristique ante. Nullam vitae accumsan sapien.
                        </div>
                    </details>

                  </dd>
              </div>
          </dl>

          <article class="fiu-article">
            <h2 class="govuk-heading-m govuk-!-margin-top-8">About the apprenticeship</h2>

            <p>Integer facilisis feugiat nibh, at finibus purus maximus et. Aliquam at neque porta, vehicula felis sit amet, vulputate massa. Morbi ullamcorper est a rutrum blandit.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida eleifend magna eu rhoncus. Nulla quis auctor neque, eu tristique ante. Nullam vitae accumsan sapien. Donec ultricies metus eu lorem pharetra, ac laoreet arcu dignissim. Praesent eu odio lacus. Vivamus urna sapien, tincidunt malesuada ligula vel, mollis aliquam arcu.</p>

            <h2 class="govuk-heading-m  govuk-!-margin-top-8">Provider information</h2>

            <p>Sed euismod porta neque, sit amet consectetur justo. Quisque magna sapien, lacinia eu convallis sed, gravida sed tellus. Duis sit amet lorem vel est bibendum gravida. Nulla eget ante sollicitudin, vestibulum nisi sed, ultricies leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida eleifend magna eu rhoncus. Nulla quis auctor neque, eu tristique ante.</p>

            <p>Sed eu ultricies mauris. Curabitur est ipsum, tempor at rutrum ultrices, luctus quis eros. Quisque at lorem tincidunt, pretium sapien et, vestibulum neque. Suspendisse dictum et nunc et dignissim. Curabitur tempus fermentum pharetra. Vestibulum porta quis erat sit amet tempor. Fusce maximus risus nec rhoncus consectetur. Phasellus lacinia dolor pellentesque, ullamcorper augue at, gravida orci.</p>

            <p>Duis ex odio, condimentum sodales magna ut, tincidunt blandit nibh. Phasellus a nulla dignissim, rutrum dolor commodo, lacinia elit. Integer nec eros fermentum, porttitor massa nec, varius ante. Suspendisse dapibus metus in arcu tempor, vitae posuere erat mollis.</p>

            <p>Nulla eget ante sollicitudin, vestibulum nisi sed, ultricies leo.</p>
          </article>

        </div>

        <div class="govuk-grid-column-one-third">

            contact details

        </div>
    </div>
</section>

<div class="fiu-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="fiu-section-break fiu-section-break--l">
    </div>
  </div>
</div>

<section class="fiu-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-4">What employers are saying</h2>

      <p class="govuk-body-l">Based on <b class="fiu-font-weight-bold">68 reviews</b> from employers that work with this training provider.</p>

      <dl class="govuk-summary-list fiu-provider-details-bars">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
            Excellent
          </dt>
          <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--employers-excellent">
            <span style="width: 16%;">
              Visual bar showing 16 reviews
            </span>
          </dd>
          <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
            16 reviews
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
            Good
          </dt>
          <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--employers-good">
            <span style="width: 39%;">
              Visual bar showing 39 reviews
            </span>
          </dd>
          <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
            39 reviews
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
            Poor
          </dt>
          <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--employers-poor">
            <span style="width: 11%;">
              Visual bar showing 11 reviews
            </span>
          </dd>
          <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
            11 reviews
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
            Very poor
          </dt>
          <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--employers-very-poor">
            <span style="width: 2%;">
              Visual bar showing 2 reviews
            </span>
          </dd>
          <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
            2 reviews
          </dd>
        </div>
      </dl>

      <details class="govuk-details fiu-provider-details-details" data-module="govuk-details">
          <summary class="govuk-details__summary fiu-link--employers">
              <span class="govuk-details__summary-text fiu-provider-details-details__summary-text">
                  Find out how these reviews work
              </span>
          </summary>
          <div class="govuk-details__text fiu-provider-details-details__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida eleifend magna eu rhoncus. Nulla quis auctor neque, eu tristique ante. Nullam vitae accumsan sapien.
          </div>
      </details>

    </div>
  </div>

  <div class="govuk-grid-row fiu-flex-row">
    <div class="govuk-grid-column-one-half">
        <div class="fiu-panel fiu-panel--left-align">
          <h3 class="govuk-heading-m">
            Strengths
          </h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Initial assessment of apprentices (27)
            </li>
            <li>
              Communication with employers (26)
            </li>
            <li>
              Getting new apprentices started (17)
            </li>
            <li>
              Reporting on progress of apprentices (16)
            </li>
            <li>
              Training facilities (16)
            </li>
            <li>
              Adapting to my needs (9)
            </li>
            <li>
              Improving apprentice skills (9)
            </li>
            <li>
              Providing the right training at the right time (5)
            </li>
            <li>
              Working with small numbers of apprentices (4)
            </li>
          </ul>

        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="fiu-panel fiu-panel--left-align">
          <h3 class="govuk-heading-m">
            Things to improve
          </h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Communication with employers (26)
            </li>
            <li>
              Reporting on progress of apprentices (23)
            </li>
            <li>
              Getting new apprentices started (10)
            </li>
            <li>
              Improving apprentice skills (6)
            </li>
            <li>
              Adapting to my needs (5)
            </li>
            <li>
              Training facilities (5)
            </li>
            <li>
              Providing the right training at the right time (4)
            </li>
            <li>
              Initial assessment of apprentices (2)
            </li>
          </ul>

        </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p class="fiu-provider-details-source">
          Source: <a href="#" class="fiu-link--employers">Skills Funding Agency <abbr>FE</abbr> Choices</a>
        </p>

        <dl class="govuk-summary-list fiu-provider-details-bars">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
            Employer satisfaction
          </dt>
          <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--employers-excellent">
            <span style="width: 96%;">
              Visual bar showing 96%
            </span>
          </dd>
          <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
            96%
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
            Learner satisfaction
          </dt>
          <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--employers-good">
            <span style="width: 90%;">
              Visual bar showing 90%
            </span>
          </dd>
          <dd class="govuk-summary-list__actions fiu-provider-details-bars__actions">
            90%
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key fiu-provider-details-bars__key">
            Legal name
          </dt>
          <dd class="govuk-summary-list__value fiu-provider-details-bars__value fiu-provider-details-bars__value--none">
            Abingdon and Witney college
          </dd>
        </div>
      </dl>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="fiu-article">
        <h4 class="govuk-heading-m">
          Content disclaimer
        </h4>
        <p>
          <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida eleifend magna eu rhoncus. Nulla quis auctor neque, eu tristique ante. Nullam vitae accumsan sapien. Donec ultricies metus eu lorem pharetra, ac laoreet arcu dignissim. Praesent eu odio lacus. Vivamus urna sapien, tincidunt malesuada ligula vel, mollis aliquam arcu.</i>
        </p>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="fiu-section-break fiu-section-break--l">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-top-4">
        Nearest locations for Abingdon and Witney college
      </h2>

      <div class="fiu-panel fiu-panel--left-align">
        content here
      </div>

      <div class="fiu-panel fiu-panel--left-align">
        content here
      </div>

      <p class="govuk-body-m govuk-!-margin-top-6">
        <a href="#" class="fiu-link--employers">
          Search for training providers in a different location
        </a>
      </p>

    </div>
  </div>

</section>












<div class="fiu-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="fiu-section-break fiu-section-break--l">
    </div>
  </div>
</div>

