<a href="#navigation" class="navigation__toggle">
    <span></span>
</a>

<nav class="navigation">
    <ul class="navigation__menu">
        <li class="navigation__list-item">
            <a href="" class="navigation__link--top-level">
                Apprentice
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <ul class="navigation__sub-menu">
                <li><a href="" class="navigation__link">
                        Apprenticeship hub
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                        What is an apprenticeship?
                        <span class="navigation__link-caption">Find out how taking on an apprentice can recharge your business</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                    What's the cost to me?
                    <span class="navigation__link-caption">Discover the costs to you and the help with funding that you can get from the government when you take on an apprentice</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                    ESFA helpful videos
                    <span class="navigation__link-caption">Take a look at our video 'how to' guides and find out all about apprenticeships</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                    Employer useful links
                    <span class="navigation__link-caption">For further reading and help you can access the resources on .GOV</span>
                </a>
                </li>
                <li><a href="" class="navigation__link">
                    Find Apprenticeship training
                    <span class="navigation__link-caption">For further reading and help you can access the resources on .GOV</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link--top-level">
                Employer
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <ul class="navigation__sub-menu">
                <li><a href="" class="navigation__link">
                        Employer hub
                    </a>
                </li>
            </ul>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link--top-level">Resources</a>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link--top-level">Real stories</a>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link--top-level">
                Industries
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <ul class="navigation__sub-menu">
                <li><a href="" class="navigation__link">
                        All sectors
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>