{% from "../button/macro.njk" import dasButton %}

<a href="#navigation" class="navigation__toggle">
    <span class="navigation__toggle-label" id="nav-label">Menu</span>
    <span class="navigation__toggle-icon"></span>
</a>

<nav class="navigation" aria-labelledby="nav-label">
    <ul class="navigation__menu">
        <li class="navigation__list-item">
            <a href="" class="navigation__link--top-level">
                Apprentice
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <ul class="navigation__sub-menu navigation__sub-menu__apprentice">
                <li class="hidden--desktop"><a href="" class="navigation__link">
                        Apprenticeship hub
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                        What is an apprenticeship?
                        <span class="navigation__link-caption">If you don't know what career you want to do....
                            consider an apprenticeship and open up your potential</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                        What are the benefits to me?
                        <span class="navigation__link-caption">Have you wondered what's in it for you? </span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                        How to become a great apprentice
                        <span class="navigation__link-caption">Take a look at what it takes to make a great apprentice</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                        the right apprenticeship for you
                        <span class="navigation__link-caption">Have a look at the different sectors and case studies to
                            help you choose the right apprenticeship</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                        Find an apprenticeship
                        <span class="navigation__link-caption">Find an apprenticeship that you want to do, to kick
                            start your career</span>
                    </a>
                </li>

            </ul>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link--top-level">
                Employer
                <span class="navigation__sub-menu-toggle"></span>
                <span class="navigation__sub-menu-icon"></span>
            </a>
            <div class="grid-row navigation__sub-menu navigation__sub-menu__employer">
                
                <div class="grid-column-one-half">
                        <h3 class="heading-s"><span class="highlight">WHY</span> you should hire an apprentice...</h3>
                    <ul>
                        <li class="hidden--desktop"><a href="" class="navigation__link">
                                Employer hub
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                What is an apprenticeship?
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                What's the cost to me?
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                ESFA helpful videos
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="grid-column-one-half">
                        <h3 class="heading-s"><span class="highlight">how</span> to hire an apprentice - step by step...</h3>
                    <ol>
                        <li class="hidden--desktop"><a href="" class="navigation__link">
                                Employer hub
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                What is an apprenticeship?
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                What's the cost to me?
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                ESFA helpful videos
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                Employer useful links
                            </a>
                        </li>
                        <li><a href="" class="navigation__link">
                                Find Apprenticeship training
                            </a>
                        </li>
                    </ol>
                </div>
            </div>

        </li>

        <li class="navigation__list-item navigation__list-item--with-button">
            {{ dasButton({
            "text": "Register interest",
            "shadow":true,
            "href":"#register-interest"
            }) }}
        </li>
    </ul>
</nav>