{% from "../button/macro.njk" import dasButton %}

<a href="#navigation" class="navigation__toggle">
    <span></span>
</a>
<nav class="navigation" id="navigation">
    <ul class="navigation__menu  govuk-accordion" data-module="accordion"  id="accordion-navigation">
        <li class="govuk-accordion__section">
            <a href="#" class="navigation__link--top-level govuk-accordion__section-header" id="accordion-nav-heading-1">
                Apprenticeships
                <span class="navigation__accordion-button govuk-accordion__section-header-button"></span>
                <span class="navigation__accordion-icon"></span>
            </a>
            <ul class="navigation__sub-menu govuk-accordion__section-panel" aria-labelledby="accordion-nav-heading-1">
                <li><a href="" class="navigation__link">
                        What is an apprenticeship?
                        <span class="navigation__link-caption">Find out how taking on an apprentice can recharge your business</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                    What's the cost to me?
                    <span class="navigation__link-caption">Discover the costs to you and the help with funding that you can get from the government when you take on an apprentice</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                    ESFA helpful videos
                    <span class="navigation__link-caption">Take a look at our video 'how to' guides and find out all about apprenticeships</span>
                    </a>
                </li>
                <li><a href="" class="navigation__link">
                    Employer useful links
                    <span class="navigation__link-caption">For further reading and help you can access the resources on .GOV</span>
                </a>
                </li>
                <li><a href="" class="navigation__link">
                    Find Apprenticeship training
                    <span class="navigation__link-caption">For further reading and help you can access the resources on .GOV</span>
                    </a>
                </li>
               
            </ul>
        </li>
        <li><a href="#" class="navigation__link--top-level">Employers</a> </li>
        <li><a href="#" class="navigation__link--top-level">Real stories</a> </li>
        <li class="govuk-accordion__section">
            <a href="#" class="navigation__link--top-level govuk-accordion__section-header" id="accordion-nav-heading-2">
                Sectors
                <span class="navigation__accordion-button govuk-accordion__section-header-button"></span>
                <span class="navigation__accordion-icon"></span>
            </a>
            <ul class="navigation__sub-menu govuk-accordion__section-panel" aria-labelledby="accordion-nav-heading-2">
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
                <li><a href="#" class="navigation__link">Agriculture, environment &amp; animal care</a></li>
            </ul>
        </li>
        <li>
            {{ dasButton({
                "text": "Register interest",
                "classes": "button-inverted",
                "shadow":true,
                "href":"#register-interest"
                }) }}
        </li>
    </ul>
</nav>