.alert {
  background:  $teal;
  color: #fff;
}

.alert__inner-wrap {
  padding: 15px $gutter-half;
  max-width: $page-width - $gutter-double - $gutter-double;
  margin: 0 auto;
  @include media-query($from: tablet) {
    padding: 15px $gutter;
  }
  @include media-query($from: desktop) {
    padding: 20px $gutter-double
  }
}

.alert__content {
  margin: 0;
  font-size: 16px;
  @include media-query($from: tablet) {
    font-size: 19px;
    padding-top: 5px;
  }
}

.alert__button,
.button.alert__button {
  color: #28a197;
  font-size: 12px;
  padding: 6px 10px;
  margin: 10px 0;
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: #28a197;
  }
  @include media-query($from: tablet) {
    margin-top: 0;
    float: right;
    clear: both;
  }
}

.alert__link {
  color: #fff;
  display: block;
  font-family: $font-family;
  text-align: center;
  &:focus {
    @include focusable;
  }
  @include media-query($from: tablet) {
    float: right;
    text-align: right;
    clear: both;
  }
}

.alert__link--external {
  color: #fff;
  font-weight: bold;
  &:focus {
    @include focusable;
  }
  &:after {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("../images/icon-link-external-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin-left: 2px;
  }
}
