.badge {
  color: #fff;
  background-color: $black;
  display: inline-block;
  padding: .1em .3em .3em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  box-sizing: border-box;
}

.badge--apprentice {
  background: $apprentice;
  color: #fff;
}

.badge--employer {
  background: $employer;
  color: $black;
}

.badge-round {
  background: $black;
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 5px;
  border-radius: 50%;
  line-height: 1;
  height: 1em;
  width: 1em;
  text-align: center;
}

.badge-round--apprentice {
  background: $apprentice;
}

.badge-round--employer {
  background: $employer;
  color: $black;
}