.banner {
  background:  #fff;
  border: 3px solid black;
}

.banner__inner-wrap {
  padding: 15px $gutter-half;
  max-width: $page-width - $gutter-double - $gutter-double;
  margin: 0 auto;
  @
  media-query($from: tablet) {
    padding: 15px $gutter - 10;
  }
  @include media-query($from: desktop) {
    padding: 20px $gutter-double - 10
  }
}

.banner__content {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  @include media-query($from: tablet) {
    font-size: 19px;
    padding-top: 5px;
  }
}


.banner--covid {
  border-color: $covid;
  border-width: 10px;
  margin: 90px 0 0 0;
}

.banner__close {
  font-weight: normal;
  margin-top: 10px;
  display: inline-block;
}