.das-basket__item-header {
  position: relative;
  padding-bottom: 15px;
  @include media-query($from: tablet) {
    padding-bottom: 30px;
  }
}

.das-basket__item-heading {
  @include font($size: 19, $weight: bold);
  margin: 0 60px 0 0;
  font-size: 20px;
  @include media-query($from: tablet) {
    font-size: 24px;
  }
  @include media-query($from: desktop) {
    font-size: 28px;
  }
  & > a {
    display: inline-block;
  }
}

.das-basket__item-delete {
  background-image: url(../images/icon-delete-outlined.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.4em;
  height: 1.4em;
  padding: 10px;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: 0;
  border-radius: 50%;

  box-sizing: border-box;
  border: none;
  font-size: 1.6em;

  &:focus {
    @include focus-outline
  }

}

.das-basket__form {
  background: #eee;
  padding: 15px;
  margin: 20px 0 0;
  .das-form-group-inline {
    margin: 0;
  }
  .das-form-group-inline__button-wrap {
    background: $black;
  }
  @include media-query($from: 420px) {
    margin-left: 0;
  }
  @include media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px;
  }
}

.das-basket__form-label {
  @include font($size: 16, $weight: bold);
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.das-basket__form-input,
.das-form-group-inline > .input.basket__form-input {
  border: 1px solid rgba(0, 0, 0, .25);
}

.button.das-basket__form-button {
  background: $black;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background: #000;
    color: #fff;
  }
  &:focus {
    background: #000;
    color: #fff;
  }
}

.das-basket .warning-text {
  margin-top: 0;
}

.das-basket__provider-heading {
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 1;
  vertical-align: middle;
  @include media-query($from: tablet) {
    margin-top: 0;
  }
}

.das-basket__provider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    font-size: 19px;
    margin: 0;
    &:last-child {
      border-bottom: none;
    }
  }
}

.das-basket__provider-delete {
  display: block;
  background-image: url("../images/icon-delete-outlined.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
}