.basket {

}

.basket__item-header {
  position: relative;
  margin-bottom: 15px;
}

.basket__item-heading {
  margin: 0 40px 0 0;
  font-size: 20px;
}

.basket__item-delete {
  float: right;
  display: block;
  background: url("../images/icon-delete.svg");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 40px;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.basket__form {
  background: #eee;
  padding: 15px;
  margin: 10px 0 0 -60px;
  .das-form-group-inline {
    margin: 0;
  }
  .das-form-group-inline__button-wrap {
    background: $black;
  }
  @include media-query($from: 420px) {
    margin-left: 0;
  }
  @include media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.basket__form-label {
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
  @include media-query($from: tablet) {
    font-size: 16px;
  }
}

.button.basket__form-button {
  background: $black;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background: $black;
    color: #fff;
  }
  &:focus {
    background: $black;
    color: #fff;
  }
}