$button-colour: $apprentice;
$button-hover-colour: darken($button-colour, 5%);
$button-shadow-colour: darken($button-colour, 15%);
$button-text-colour: #fff;

$button-shadow-size: $border-width-form-element;

.button {
  @include font($size: 19, $line-height: 21px, $weight: bold);
  text-transform: uppercase;
  @include focusable;

  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  @include responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
  padding: (spacing(2) - $border-width-form-element - ($button-shadow-size / 2)) spacing(2); // s1
  border: $border-width-form-element solid transparent;
  border-radius: 0;
  color: $button-text-colour;
  background-color: $button-colour;
  box-shadow: 0 $button-shadow-size 0 $button-shadow-colour; // s0
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;

  @include media-query($from: tablet) {
    width: auto;
  }

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $button-text-colour;
    text-decoration: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover,
  &:focus {
    background-color: $button-hover-colour;
  }

  &:active {
    top: $button-shadow-size;
    box-shadow: none;
  }

  &::before {
    content: "";
    display: block;

    position: absolute;

    top: -$border-width-form-element;
    right: -$border-width-form-element;
    bottom: -($border-width-form-element + $button-shadow-size);
    left: -$border-width-form-element;

    background: transparent;
  }

  &:active::before {
    top: -($border-width-form-element + $button-shadow-size);
  }
}

.button--disabled,
.button[disabled="disabled"],
.button[disabled] {
  opacity: (.5);
  background: $button-colour;

  &:hover {
    background-color: $button-colour;
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &:active {
    top: 0;
    box-shadow: 0 $button-shadow-size 0 $button-shadow-colour;
  }
}

$offset: 2;

.button {
  padding-top: (spacing(2) - $border-width-form-element - ($button-shadow-size / 2) + $offset); // s1
  padding-bottom: (spacing(2) - $border-width-form-element - ($button-shadow-size / 2) - $offset + 1); // s1
}