$button-colour: #FFFFFF;
$button-text-colour: #000000;

$button-apprentice-colour: $apprentice;
$button-apprentice-text-colour: #fff;

$button-employer-colour: $employer;
$button-employer-text-colour: #fff;


$button-hover-colour: darken($button-colour, 5%);
$button-shadow-colour: darken($button-colour, 15%);
$button-shadow-size: $border-width-form-element;
$offset: 2;

.button {
  @include font($size: 16, $line-height: 21px, $weight: bold);
  
  @include focusable;

  margin: 0;
  padding: spacing(2) spacing(6);

  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;

  color: $button-text-colour;
  background-color: $button-colour;

  border: $border-width-form-element solid transparent;
  border-radius: 0;

  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  letter-spacing: 0.05rem;
  cursor: pointer;
  -webkit-appearance: none;


  @include media-query($from: tablet) {
    width: auto;
  }

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $button-text-colour;
    text-decoration: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover,
  &:focus {
    background-color: darken($button-colour, 5%);;
  }

  &:active {
    top: 3px;
    box-shadow: none;
  }

  &::before {
    content: "";
    display: block;

    position: absolute;

    top: -$border-width-form-element;
    right: -$border-width-form-element;
    bottom: -($border-width-form-element + $button-shadow-size);
    left: -$border-width-form-element;

    background: transparent;
  }

}

.button--with-icon {
  padding: 8px 20px;
}

.button__text {
  display: inline-block;
  vertical-align: middle;
}

.button__icon {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  margin-right: 10px;
}

.button--sparks{
  border-image-slice: 915 0 850 0; 
  border-image-width: 4em 0px 4em 0.1em; 
  border-image-outset: 4em 0px 4em 0em; 
  border-image-repeat: stretch stretch;
  border-image-source: url('../images/button-border.png')
}

.button--shadow{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button--disabled,
.button[disabled="disabled"],
.button[disabled] {
  opacity: (.5);

  &:hover {
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &:active {
    top: 0;
    box-shadow: 0 $button-shadow-size 0 $button-shadow-colour;
  }
}

.button-apprentice
{
  color: $button-apprentice-text-colour;
  background-color: $button-apprentice-colour;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $button-apprentice-text-colour;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: darken($button-apprentice-colour, 5%);
  }

}

.button-employer
{
  color: $button-employer-text-colour;
  background-color: $button-employer-colour;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $button-employer-text-colour;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: darken($button-employer-colour, 5%);
  }

}

.button-inverted
{
  color: $button-colour;
  background-color: $button-text-colour;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $button-colour;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: lighten($button-text-colour, 10%);
  }

}