.card__collection {
  background: #fff;
  @include media-query($from: desktop) {
    display: flex;
    align-items: stretch;
  }
}

.card {
  text-decoration: none;
  position: relative;
  display: block;
  height: 100%;
}

.card__image {
  height: 200px;
  position: relative;
  overflow: hidden;
  @include media-query($from: tablet) {
    height: 200px;
  }
  @include media-query($from: desktop) {
    height: 300px;
  }
}

.card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all .3s ease;
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.card__img--agriculture-environment-animal-care { background-image: url("../images/industries/industry-card-agriculture-environment-animal-care.jpg") }
.card__img--business-administration { background-image: url("../images/industries/industry-card-business-administration.jpg") }
.card__img--care-services { background-image: url("../images/industries/industry-card-care-services.jpg") }
.card__img--catering-hospitality { background-image: url("../images/industries/industry-card-catering-hospitality.jpg") }
.card__img--construction { background-image: url("../images/industries/industry-card-construction.jpg") }
.card__img--creative-design { background-image: url("../images/industries/industry-card-creative-design.jpg") }
.card__img--digital { background-image: url("../images/industries/industry-card-digital.jpg") }
.card__img--education-childcare { background-image: url("../images/industries/industry-card-education-childcare.jpg") }
.card__img--engineering-manufacturing { background-image: url("../images/industries/industry-card-engineering-manufacturing.jpg") }
.card__img--hair-beauty { background-image: url("../images/industries/industry-card-hair-beauty.jpg") }
.card__img--health-science { background-image: url("../images/industries/industry-card-health-science.jpg") }
.card__img--legal-finance-accounting { background-image: url("../images/industries/industry-card-legal-finance-accounting.jpg") }
.card__img--protective-services { background-image: url("../images/industries/industry-card-protective-services.jpg") }
.card__img--sales-marketing-procurement { background-image: url("../images/industries/industry-card-sales-marketing-procurement.jpg") }
.card__img--transport-logistics { background-image: url("../images/industries/industry-card-transport-logistics.jpg") }

.card__content {
  padding: 20px 40px 70px;
}

.card__summary {
  color: $text-colour;
}

.card__link {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  font-size: 14px;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  color: #000;
  bottom: 0;
  text-decoration: underline;
  &:before {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background: $apprentice;
    position: absolute;
    top: 0;
    .card--employer & {
      background: $employer;
    }
  }
}