$cbk-primary-colour: #000000;

  $checkboxes-size: spacing(7);
  $checkboxes-label-padding-left-right: spacing(3);

  .checkboxes__item {
    @include font($size: 19, $weight: light);

    display: block;
    position: relative;

    min-height: $checkboxes-size;

    margin-bottom: spacing(2);
    padding: 0 0 0 $checkboxes-size;

    clear: left;
  }

  .checkboxes__item:last-child,
  .checkboxes__item:last-of-type {
    margin-bottom: 0;
  }

  .checkboxes__input {
    position: absolute;

    z-index: 1;
    top: 0;
    left: 0;

    width: $checkboxes-size;
    height: $checkboxes-size;

    cursor: pointer;
      margin: 0;
      opacity: 0;

  }

  .checkboxes__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px $checkboxes-label-padding-left-right spacing(1);
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    color: $black;
  }

  .checkboxes__hint {
    display: block;
    padding-right: $checkboxes-label-padding-left-right;
    padding-left: $checkboxes-label-padding-left-right;
  }

  .checkboxes__input + .checkboxes__label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: $checkboxes-size;
    height: $checkboxes-size;
    border: $border-width-form-element solid currentColor;
    background: transparent;

    // padding-bottom: 1px;
  }

  .checkboxes__input + .checkboxes__label::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 9px;
    width: 18px;
    height: 7px;

    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 $border-width $border-width;
    // Fix bug in IE11 caused by transform rotate (-45deg).
    // See: alphagov/govuk_elements/issues/518
    border-top-color: transparent;

    opacity: 0;

    background: transparent;
  }

  // Focused state
  .checkboxes__input:focus + .checkboxes__label::before {
    // Since box-shadows are removed when users customise their colours
    // We set a transparent outline that is shown instead.
    // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
    outline: $focus-width solid transparent;
    outline-offset: $focus-width;
    box-shadow: 0 0 0 $focus-width $focus-colour;
  }

  // Selected state
  .checkboxes__input:checked + .checkboxes__label::after {
    opacity: 1;
  }

  // Disabled state
  .checkboxes__input:disabled,
  .checkboxes__input:disabled + .checkboxes__label {
    cursor: default;
  }

  .checkboxes__input:disabled + .checkboxes__label {
    opacity: .5;
  }

  $conditional-border-width: $border-width-mobile;
  // Calculate the amount of padding needed to keep the border centered against the checkbox.
  $conditional-border-padding: ($checkboxes-size / 2) - ($conditional-border-width / 2);
  // Move the border centered with the checkbox
  $conditional-margin-left: $conditional-border-padding;
  // Move the contents of the conditional inline with the label
  $conditional-padding-left: $conditional-border-padding + $checkboxes-label-padding-left-right;

  .checkboxes__conditional {
    @include responsive-margin(4, "bottom");
    margin-left: $conditional-margin-left;
    padding-left: $conditional-padding-left;
    border-left: $conditional-border-width solid $border-colour;

    .js-enabled &--hidden {
      display: none;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
