
.cookiebanner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: $text-colour;
  box-sizing: border-box;
  z-index: 10000;
  margin: 20px 40px;
  @include media-query($from: tablet) {
    padding: 20px 50px;
  }
}

.cookiebanner__heading {
  margin: 10px 0 0;
  @include typography-common;
  color: $black;
  text-transform: uppercase;
}

.cookiebanner__button {
  display: block;
  width: 100%;
  @include media-query($from: wide) {
    display: inline-block;
    width: auto;
  }
}

.cookiebanner_actions {
  text-align: center;
}

.cookiebanner__link {
  display: block;
  text-align: center;
  padding: 10px 20px;
  color: $apprentice;
  margin-top: 5px;
  @include font($size: 18);
  @include media-query($from: tablet) {
    margin-top: 0;
  }
  @include media-query($from: wide) {
    display: inline-block;
  }
  &:focus {
    @include focus-outline
  }
}

.cookiebanner__text p {
  font-size: 18px;
  & > a {
    color: $apprentice;
    &:focus {
      @include focus-outline
    }
  }
}

.cookiebanner__content {
  @include media-query($from: tablet) {
    display: flex;
    align-items: center;
  }
  &:focus {
    @include focus-outline
  }
}

.cookiebanner--variant-1 {
  @include media-query($from: tablet) {
    width: 50%;
    left: 25%;
    top: 50%;
    padding: 0;
    background: none;
    margin-top: -150px;
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .cookiebanner__content {
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    @include media-query($from: tablet) {
      padding: 30px;
    }
  }
  @include media-query($from: tablet) {
    .cookiebanner__text {
      width: 100% !important;;
      float: none;
    }
    .cookiebanner_actions {
      width: 100% !important;
      float: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
    .cookiebanner__button {
      width: auto;
    }
  }

}

.cookiebanner--variant-2 {
  top: 0;
  bottom: auto;
}