.web-link{
    background: $black;

    .web-link__content {
    padding: 20px;
        & > a {
            @include font($size: 27, $weight: bold);
            color:#fff;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                border-bottom: 2px solid #fff;
            }
            &[rel~="external"] {
                &:after {
                    content: '';
                    display: inline-block;
                    background-image: url("../images/icon-link-external-white.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    vertical-align: text-top;
                    margin-left: 3px;
                    margin-top: 0;
                    height: 20px;
                    width: 20px;
                }
            }
            @include media-query($from: desktop) {
                &[rel~="external"] {
                &:after {
                    margin-top: 0;
                    margin-left: 5px;
                }
                }
            }
        }
    }

}

