.cta-panel {
  padding: $gutter;
  margin: $gutter-half 0;
  @include media-query($from: tablet) {
    display: flex;
    align-items: center;
    padding: $gutter $gutter-half;
  }
}

.cta-panel--apprentice {
  background: $apprentice;
}

.cta-panel--employer {
  background: $employer;
}

.cta-panel__column {
  @include media-query($from: tablet) {
    padding: 0 $gutter-half;
    width: 50%;
  }
}

.cta-panel__column--two-thirds {
  @include media-query($from: tablet) {
    width: 66%;
  }
}

.cta-panel__column--one-third {
  @include media-query($from: tablet) {
    width: 33%;
  }
}

.cta-panel__heading {
  margin: 0 0 15px;
  .cta-panel--apprentice & {
    color: #fff;
  }
}

.cta-panel__content {
  margin: 0 0 25px;
  .cta-panel--apprentice & {
    color: #fff;
  }
  @include media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.cta-panel__button {
  margin: 0 auto;
}