.contact-phone-number{
  background-image: url("data:image/svg+xml, %3Csvg width='720' height='194' viewBox='0 0 720 194' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M0 20L720 0V173L0 194V20Z' fill='%230B0C0C'/%3E %3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='720' height='194'%3E %3Cpath d='M0 20L720 0V173L0 194V20Z' fill='%230B0C0C'/%3E %3C/mask%3E %3Cg mask='url(%23mask0)'%3E %3Cpath d='M680.128 196.665L644.678 164.332C637.647 157.893 637.86 147.228 645.169 140.564L663.023 124.275C662.401 123.245 661.751 122.18 661.062 121.06C654.814 110.774 646.25 96.6953 629.996 81.8804C613.709 67.0217 598.251 59.2026 586.966 53.4856C585.771 52.8823 584.618 52.3043 583.524 51.7335L571.556 62.6658L565.657 68.0406C558.338 74.7151 546.649 74.8992 539.597 68.4743L504.144 36.1422C497.101 29.7173 497.315 19.0478 504.634 12.3732L514.681 3.26095L514.952 3.50996C519.226 0.454486 524.156 -2.09876 529.472 -3.99881C534.532 -5.75029 539.361 -6.84076 544.2 -7.33938C583.001 -11.6086 618.462 4.56494 666.583 48.4579C733.094 109.131 728.07 158.026 727.824 160.135C727.222 164.729 726.019 169.132 724.114 173.607C722.055 178.414 719.26 182.907 715.918 186.803L716.112 187.003L706.202 196.234C698.884 202.895 687.191 203.086 680.128 196.665Z' fill='%232C2E2E'/%3E %3C/g%3E %3C/svg%3E");
  height: 194px;
  width: 100%;
  & .contact-phone-number__content{
    padding: 40px 40px;
    @include responsive-padding(7);

    & .contact-phone-number__heading{
      color: $grey-4;
    }
    & > a{
      @include font($size: 48, $weight: bold);
      color: #FFFFFF;
      text-decoration: none;
    }
  }
  }


  