.cta-fat {
  display: none;
  background-color: $employer;
  color: #000;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
  .button {
    background-color: #000;
    color: #fff;
  }
  @include media-query($from:tablet){
    display: block;
  }
}

.cta-fat form .form-group:last-child {
  margin-bottom: 0;
}