.cta-faa{
  background-color: $apprentice;
  color: #FFFFFF;
  align-items: center;
  padding: 30px;
  margin-top: 20px;

  @include mq($from:tablet){
    display: flex;
    margin-top: 0;
  }
}

.cta-faa__heading{
  color: #FFFFFF;
}