.contact-phone-number{
  background: $black;
}

.contact-phone-number__content {
  padding: 20px;
  & > a {
    @include font($size: 48, $weight: bold);
    text-decoration: none;
    color:#fff;
  }
}

.contact-phone-number__heading{
  color: $grey-4;
  margin: 0 0 5px;
}

  