.contact-phone-number{
  background: $black;
}

.contact-phone-number__content {
  padding: 20px;
  & > a {
    @include font($size: 48, $weight: bold);
    text-decoration: none;
    color:#fff;
  }
}

.contact-phone-number__number {
  @include font($size: 48, $weight: bold);
  color:#fff;
  margin: 0;
  a {
    color: #fff;
    text-decoration: none;
  }

  & + .contact-phone-number__heading {
    margin-top: 5px;
  }
}

.contact-phone-number__heading{
  color: $grey-4;
  margin: 0 0 5px 0;
}

.contact-phone-number__body{
  color: $grey-4;
  margin: 0;
  @include font($size: 16, $weight: bold);

  & + .contact-phone-number__body {
    margin: 6px 0 0 0;
  }

  & a {
    color: $grey-4;
    word-break: break-all;
  }
}

