
.das-definition-list__results dt {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: .25em;
    @include mq ($from: tablet) {
        float: left;
        font-size: 21px;
        clear: both;
        width: 25%;
        padding-right: 15px;
        margin-bottom: 1em;
        box-sizing: border-box;
    }
}

.das-definition-list__results dd {
    font-size: 18px;
    margin: 0 0 1em;
    @include mq ($from: tablet) {
        font-size: 21px;
        float: left;
        margin-inline-start: 0px;
        width: 75%;
    }
    p {
        margin-top: 0;
        margin-bottom: .5em;
    }
}

.das-definition-list__results dd .details__summary-text.link{
    color: $link-colour;
}

.das-definition-list__results--black dt{
    color: $black;
}

.das-definition-list__title {
    font-weight: bolder;
}

.das-definition-list__definition {
    margin: 0;
}

.das-definition-list--inline {
    overflow: hidden;
    margin: .5em 0 0;
    .das-definition-list__title {
        clear: both;
        float: left;
        margin-right: 10px;
        color: $black;
        font-weight: 500;
        &:after {
            content: ':';
        }
    }
    .das-definition-list__definition {
        float: left;
    }
}

dl.list {
    @include clearfix
}