
.das-definition-list__results dt {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: .25em;
    @include mq ($from: tablet) {
        float: left;
        font-size: 21px;
        clear: both;
        width: 25%;
        padding-right: 15px;
        margin-bottom: 1em;
        box-sizing: border-box;
    }
}

.das-definition-list__results dd {
    font-size: 21px;
    margin: 0 0 1em;
    @include mq ($from: tablet) {
        float: left;
        margin-inline-start: 0px;
        width: 75%;
    }
    p {
        margin-top: 0;
        margin-bottom: .5em;
    }
}

.das-definition-list__results dd .details__summary-text.link{
    color: $link-colour;
}

.das-definition-list__results--black dt{
    color: $black;
}