.details {
  @include responsive-margin(6, "bottom");
  display: block;
}

.details__summary {
  display: inline-block;
  position: relative;

  margin-bottom: spacing(1);
  padding-left: spacing(3) + $border-width;
  color: $link-colour;
  cursor: pointer;
}

.details__summary-text {
  text-decoration: underline;
}

.details__summary:hover {
  color: $link-colour;
}

.details__summary::-webkit-details-marker {
  display: none;
}

.details__summary:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  @include triangle-equilateral(right, 10px, $link-colour);
  .details[open] > & {
    @include triangle-equilateral(down, 10px, $link-colour);
  }

}

.details__summary:focus {
  outline: ($focus-width + 1px) solid $focus-colour;
  outline-offset: -1px;
  background: $focus-colour;
  color: $black;
  &:before {
    @include triangle-equilateral(right, 10px, $black);
    .details[open] > & {
      @include triangle-equilateral(down, 10px, $black);
    }
  }

}

.details__text {
  padding: spacing(3);
  padding-left: spacing(4);
  border-left: $border-width solid $border-colour;
}

.details__text p {
  margin-top: 0;
  margin-bottom: spacing(4);
}

.details__text > :last-child {
  margin-bottom: 0;
}