.error_content > hr {
  border: $grey-4 solid 1px;
  margin: 40px 0px;
}

.error__list{
  & > li {
    min-height: 40px;
    list-style-type: decimal;
  }
  & > li > p {
    @include font($size: 18, $weight: light);
  }
  & > li > a {
    @include font($size: 16,$weight: bold);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}