.error-message {
  @include typography-common;
  clear: both;
  color: $error-colour;
  display: block;
  font-weight: $font-weight-light;
  &--light{
    color: #fff;
    font-weight: bolder;
    & > span {
      display: inline-block;
      background: $error-colour;
      padding: 5px 10px;
      margin-top: -5px;
      margin-left: 1px;
    }
  }

}