.favourites-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('../images/icon-star-filled-yellow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}