.favourites-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('../images/icon-star-filled-yellow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.favourites-link {
  position: relative;
}

.favourites-link__text {
  @include media-query($from: $nav-breakpoint) {
    width: 2.4em;
    height: 2.4em;
    overflow: hidden;
    background-image: url('../images/icon-star-outlined.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    text-indent: -999em;
    margin: -7px 0;
    .favourites-link--filled & {
      background-image: url('../images/icon-star-filled-yellow.svg');
      .header--active & ,
      .header:hover & {
        background-image: url('../images/icon-star-filled-yellow.svg');
      }
    }
  }
}

.favourites-link__count {
  background: $apprentice;
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 5px;
  border-radius: 50%;
  line-height: 1;
  height: 1em;
  width: 1em;
  text-align: center;
  @include media-query($from: $nav-breakpoint) {
    position: absolute;
    top: 3px;
    right: 0;
  }
}