.feedback-banner {
    margin: 0 -80px;
    padding: 0 80px;
    background-color: black;
    color: #D2D2D2;
    display: block;
}

.feedback-banner--hidden{
    display: none;
}
.feedback-banner__content {
    margin: 5px 0;
    color: #D2D2D2;

    font-size: 16px;
    @include media-query($from: tablet) {
        font-size: 19px;
    }
}

.feedback-banner__link {
    margin: 5px 0;
    color: #D2D2D2;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    text-align: right;

    @include media-query($from: tablet) {
        font-size: 19px;
    }

    &:hover, &:focus {
        border-bottom-color: transparent;
    }
}

.feedback-banner__close {
    float:right;
}