.form-group {
  @include font($size: 19, $weight: light);
  @include responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
}

.form-list-item {
  @include responsive-padding(4, "left"); // s2
  @include responsive-padding(4, "bottom"); // s2
  color: $grey-5;
}

.form-section {
  background: inherit !important;
}

.error-summary,
.form-validation-summary {
  @include font($size: 19, $weight: light);
  border: 8px solid $error-colour;
  @include responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
  @include responsive-padding(2, $adjustment: $button-shadow-size); // s2
  > a {
    color: $error-colour;
    &:visited {
      color: $error-colour;
    }
  }
}

.error-summary__title,
.form-validation-summary__heading {
  margin-top: 0;
  @extend .heading-s;
}

.error-summary__list,
.list.error-summary__list,
.form-validation-summary__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  & > li {
    margin-bottom: 10px;
  }
}

.page .error-summary__list > li > a,
.form-validation-summary__link,
.page .form-validation-summary__link {
  color: $error-colour;
  &:visited {
    color: $error-colour;
  }
}

.form-group-validation-error {
  border-left: 8px solid $error-colour;
  padding-left: 15px;
}

.validation-summary-valid {
  display: none;
}

.input-validation-error {
  border-bottom-color: $error-colour !important;
}

.das-form-group-inline {

  width: 100%;
  background: #fff;
  & > .input {

    padding: spacing(3);
    width: 100%;
    background: transparent;
    border: none;
    @include media-query($from: tablet) {
      display: table-cell;
    }
  }
  @include media-query($from: tablet) {
    display: table;
  }
}

.das-form-group-inline__button-wrap {

  vertical-align: top;
  background: $employer;

  & > .button {
    margin: 0;
    width: 100%;
    text-align: center;
    border-image-source: none;
  }
  
  @include media-query($from: tablet) {
    display: table-cell;
    width: 1%;
  }
}