.infobox {
  background:#fff;
  height: auto;
  width: 350px;
  font-size:15px;
  padding:12px;

  @include media-query($from: tablet) {
    width: 500px; 
    }
}

.infobox > a {
  font-size: 14px;
}

[data-google-map-infobox-template] {
  display: none;
}

.infobox-content{
  color: $grey-8;
}

.static-map{
  width:100%;
}