.header {
  padding: 0 20px;
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 1000;
  max-width: $page-width;
  margin: 0 auto;
  box-sizing: border-box;
  transition: all 0.2s ease;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15), 0px 4px 4px rgba(0,0,0,0.25);
  .js-menu-open & {
    background: #fff;
  }
  @include media-query($from: $nav-breakpoint) {
    padding: 0 40px;
    &:hover {
      background: #fff;
    }
  }
  @include media-query($from: desktop) {
    padding: 0 80px;
  }
}

.header__logo {
  height: 60px;
  margin: 15px 0;
  @include media-query($from: $nav-breakpoint) {
    float: left;
  }
  & > a {
    &:focus {
      outline: 3px solid $focus-colour;
    }
  }
}

.header__logo-image {
  max-height: 100%;
}
