.header {
 // transition: all 0.2s ease;
  background: #000;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  max-width: $page-width;
  margin: 0 auto;
  box-sizing: border-box;
  .js-menu-open & {
    background: #fff;
  }
  @include media-query($from: $nav-breakpoint) {
    padding: 25px 40px;
    height: 120px;
    &:hover {
      background: #fff;
    }
  }
  @include media-query($from: desktop) {
    padding: 25px 80px;
  }
}

.header__logo {
  height: 55px;
  .js-menu-open & {
    background-image: url('../images/apprenticeships-logo-black.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  @include media-query($from: $nav-breakpoint) {
    height: 70px;
    float: left;
    .header:hover & {
      background-image: url('../images/apprenticeships-logo-black.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.header__logo-image {
  max-height: 100%;
  .js-menu-open & {
    opacity: 0;
  }
  @include media-query($from: $nav-breakpoint) {
    .header:hover & {
      opacity: 0;
    }
  }
}
