$hero-text-colour: #fff;

.hero-banner {
  font-family: $font-family;
  overflow: hidden;
  position: relative;
  color: $hero-text-colour;

  padding: 40px $edgeGutter 40px;

  @include media-query($from: tablet) {
    padding-left: $edgeGutterTablet;
    padding-right: $edgeGutterTablet;
    padding-bottom: 50px;
  }

  @include media-query($from: desktop) {
    padding-left: $edgeGutterDesktop;
    padding-right: $edgeGutterDesktop;
    padding-bottom: 120px;
  }

  &.hero-banner--right-aligned {
    text-align: right;
  }
}

.hero-banner__caption {
  margin-bottom: 80px;
}

.hero-banner__caption-text {
  font-weight: $font-weight-bold;
  font-size: 14px;
  border-bottom: $apprentice 2px solid;
  padding-bottom: 5px;
  text-transform: uppercase;
  padding-left: $edgeGutterDesktop;
  margin-left: $edgeGutterDesktop * -1 - 26;
  .hero-banner--right-aligned & {
    padding-left: 0;
    margin-left: 0;
    padding-right: $edgeGutterDesktop;
    margin-right: $edgeGutterDesktop * -1;
  }
  .hero-banner--employer & {
    border-color: $employer;
  }
}

.hero-banner__caption-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  background: url('../images/icon-quote-white.svg') no-repeat 0 0;
  margin: 0;
  position: relative;
  top: 12px;
  right: -180px;
  .hero-banner--right-aligned & {
    right: 0;
    left: -5px;
  }
}

.hero-banner__content{
  margin-right: - ($gutter-half);
  margin-left: - ($gutter-half);
}

.hero-banner__content-main {

  @include mq ($from: tablet) {
    padding-right: 50px;
  }
  @include mq ($from: desktop) {
    padding-right: 100px;
  }

  .hero-banner--right-aligned & {
    @include mq ($from: tablet) {
      padding-left: 50px;
      padding-right: 20px;
    }
    @include mq ($from: desktop) {
      padding-left: 100px;
      padding-right: 20px;
    }
  }
}

.hero-banner__copy {
  color: $hero-text-colour;
}

.hero-banner__header {
  font-weight: $font-weight-bold;
  font-size: 36px;
  margin-top: 0;
  @include mq ($from: tablet) {
    margin-top: 20px;
  }
  color: $hero-text-colour;
  text-transform: uppercase;
}

.hero-banner__sub-heading {
  color: $hero-text-colour;
}

.hero-banner__hero-header {
  margin-top: 100px;
  color: #fff;
  font-size: 60px;
}

.hero-banner__cite {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.hero-banner__cite-detail {
  display: block;
  color: $apprentice;
  .hero-banner--employer & {
    color: $employer;
  }
}

.hero-banner__link {
  color: $hero-text-colour;
  font-size: 18px;
  &:hover{
    color: darken($color: $hero-text-colour, $amount: 15%);
  }
}

.hero-banner__icon-play-container {
  @include clearfix;
  @include mq ($from: tablet) {
    float: right;
    .hero-banner--right-aligned & {
      float: left;
    }
  }
}

.hero-banner__icon-play {
  position: relative;
  height: 80px;
  width: 80px;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  background: $apprentice;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: box-shadow 0.2s ease;
  display: block;

  @include mq ($from: tablet) {
    display: block;
    margin: 135px auto 120px;
    height: 110px;
    width: 110px;
  }
  @include mq ($from: desktop) {
    margin: 120px auto 120px;
  }

  #homepage &{
    @include mq ($from: tablet) {
      display: block;
      margin: 120px auto 120px;
      height: 110px;
      width: 110px;
    }
    @include mq ($from: desktop) {
      margin: 60px auto 120px;
    }
  }


  .hero-banner--employer & {
    background: $employer;
  }
  .hero-banner--right-aligned & {
    float: right;
    @include mq ($from: tablet) {
      float: none;
    }
  }
  &:before {
    content: "";
    position: absolute;
    background: url("../images/hero-play-apprentice.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    .hero-banner--employer & {
      background-image: url("../images/hero-play-employer.svg");
    }
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 31px 9px rgba(255,255,255,.3);
    -moz-box-shadow: 0px 0px 31px 9px rgba(255,255,255,.3);
    box-shadow: 0px 0px 31px 9px rgba(255,255,255,.3);
  }
}

.hero-banner__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;  
  background-position: 60% 0%;
  background-repeat: no-repeat;
}

.hero-banner--apprentice .hero-banner__background {

  background-size: auto;
  @include mq($from: desktop) {
    background-position: 0 20%;
    background-size: cover;
  }
  @include mq($from: wide) {

  }
}

.hero-banner--employer .hero-banner__background {
  background-position: 80% 0%;
  @include mq($from: tablet) {
  }
  @include mq($from: desktop) {
    background-position: 0 20%;
    background-size: cover;
  }
  @include mq($from: wide) {

  }
}

.hero-banner__background--apprentice-alim{
  background-image: linear-gradient(255deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/apprentice/alim-hero-1.jpg");
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.hero-banner__background--apprentice-hosanna{
  background-image: linear-gradient(255deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/apprentice/hozanna-hero-1.jpg");
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.hero-banner__background--apprentice-sarah{
  background-image: linear-gradient(255deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/apprentice/sarah-hero-1.jpg");
  .hero-banner--right-aligned & {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  }
}

.hero-banner__background--apprentice-ella{
background-image: linear-gradient(255deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/apprentice/ella-hero-1.jpg");
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}
.hero-banner__background--apprentice-michelle{
  background-image: linear-gradient(255deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/apprentice/michelle-hero-1.jpg");
  @include mq($until: desktop) {
    background-position: 35% 0%;
  }
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.hero-banner__background--employer-gail{
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/employer/gail-hero-1.jpg");
  .hero-banner--right-aligned & {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  }
}

.hero-banner__background--employer-bendy{
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/employer/bendy-hero-1.jpg");
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.hero-banner__background--employer-annie{
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/employer/annie-hero-1.jpg");
  background-position: 60% 0% !important;
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}
.hero-banner__background--employer-matt{
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/employer/matt-hero-1.jpg");
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.hero-banner__background--industry{
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/hero-banner-bg.jpg");
  .hero-banner--right-aligned & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}