.hero {
  background-color: #0b0c0c;
  background-image: url("../images/bokeh-tint-bg.jpg");
  background-size: cover;
  padding: 140px 20px 50px;
  color: #fff;
  position: relative;
  z-index: 10;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 151px 1440px;
    border-color: transparent transparent #fff;
    z-index: -1;
  }
  @include media-query($from: tablet) {
    padding: 140px 40px 80px;
  }
  @include media-query($from: desktop) {
    padding: 140px 80px 80px;
  }
}

.hero__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }
}

.hero .list--arrows > li:before {
  color: #fff;
}

.hero__hm-government-logo {
  margin-top: 30px;
}