.hero-heading {
  transform: rotate(-6deg) skewX(-6deg);
  margin-bottom: 40px;
}

.hero-heading__caption {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.05em;
  @include media-query($from: tablet) {
    font-size: 16px;
  }
}

.hero-heading__caption--apprentice {
  color: $apprentice;
}

.hero-heading__caption--employer {
  color: $employer;
}

.hero-heading__heading {
  color: #fff;
  margin: 0;
  line-height: 1;
  font-size: 36px;
  text-indent: -20px;
  padding-left: 20px;
  letter-spacing: -0.08em;
  @include media-query($from: tablet) {
    font-size: 40px;
    text-indent: -30px;
    padding-left: 30px;
  }
  @include media-query($from: desktop) {
    font-size: 68px;
    text-indent: -40px;
    padding-left: 40px;
  }
  .hero-banner & {
    margin-top: 100px;
  }
}

.hero-heading__content {
  color: #fff;
  padding-top: 1px;
}

.hero-heading__image {
  max-width: 100%;
  display: none;
  @include media-query($from: tablet) {
    display: block;
    position: relative;
    right: -40px;
    margin-bottom: -80px;
    clip-path: polygon(0 100%, 100% 93.1%, 100% 0, 0 6.9%);
    -webkit-clip-path: polygon(0 100%, 100% 93.1%, 100% 0, 0 6.9%);
  }
  @include media-query($from: desktop) {
    right: -80px;
  }
}