$hero-text-colour: #fff;

.hero-banner {
  font-family: $font-family;
  overflow: hidden;
  position: relative;
  color: $hero-text-colour;

  padding: 40px $edgeGutter 40px;

  @include media-query($from: tablet) {
    padding-left: $edgeGutterTablet;
    padding-right: $edgeGutterTablet;
    padding-bottom: 50px;
  }

  @include media-query($from: desktop) {
    padding-left: $edgeGutterDesktop;
    padding-right: $edgeGutterDesktop;
    padding-bottom: 120px;
  }

  &.hero-banner--right-aligned {
    text-align: right;
  }
}

.hero-banner__caption svg {
  fill: red
}

.hero-banner__caption-text {
  font-weight: $font-weight-bold;
  font-size: 14px;
  border-bottom: $apprentice 2px solid;
  padding-bottom: 5px;
  text-transform: uppercase;
  padding-left: $edgeGutterDesktop;
  margin-left: $edgeGutterDesktop * -1;
  .hero-banner--right-aligned & {
    padding-left: 0;
    margin-left: 0;
    padding-right: $edgeGutterDesktop;
    margin-right: $edgeGutterDesktop * -1;
  }
  .hero-banner--employer & {
    border-color: $employer;
  }
}

.hero-banner__content{
  margin-right: - ($gutter-half);
  margin-left: - ($gutter-half);
}

.hero-banner__content-main {

  @include mq ($from: tablet) {
    padding-right: 50px;
  }
  @include mq ($from: desktop) {
    padding-right: 100px;
  }

  .hero-banner--right-aligned & {
    @include mq ($from: tablet) {
      padding-left: 50px;
      padding-right: 20px;
    }
    @include mq ($from: desktop) {
      padding-left: 100px;
      padding-right: 20px;
    }
  }
}

.hero-banner__copy {
  color: $hero-text-colour;
}

.hero-banner__header {
  font-weight: $font-weight-bold;
  font-size: 36px;
  @include mq ($from: tablet) {
    margin-top: 100px;
  }
  color: $hero-text-colour;
  text-transform: uppercase;
}

.hero-banner__sub-heading {
  color: $hero-text-colour;
}

.hero-banner__hero-header {
  margin-top: 100px;
  color: #fff;
  font-size: 60px;
}

.hero-banner__cite {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.hero-banner__cite-detail {
  display: block;
  color: $apprentice;
  .hero-banner--employer & {
    color: $employer;
  }
}

.hero-banner__link {
  color: $hero-text-colour;
  font-size: 18px;
  &:hover{
    color: darken($color: $hero-text-colour, $amount: 15%);
  }
}

.hero-banner__icon-play-container {
  @include clearfix;
  @include mq ($from: tablet) {
    float: right;
    .hero-banner--right-aligned & {
      float: left;
    }
  }
}

.hero-banner__icon-play {
  position: relative;
  height: 70px;
  width: 70px;
  display: block;
  margin-top: 40px;
  background: $apprentice;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  .hero-banner--employer & {
    background: $employer;
  }
  .hero-banner--right-aligned & {
    float: right;
    @include mq ($from: tablet) {
      float: none;
    }
  }
  @include mq ($from: tablet) {
    margin: 140px auto;
  }
  &:before {
    content: "";
    position: absolute;
    border-top: 12px solid transparent;
    border-left: 18px solid #fff;
    border-bottom: 12px solid transparent;
    left: 29px;
    top: 23px;
    .hero-banner--employer & {
      border-left-color: #000;
    }
  }
}

.hero-banner__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/hero-banner-bg.jpg");
  background-size: cover;
  background-position: center;
  .hero-banner--right-aligned & {
    background-image:  linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/hero-banner-bg-right-aligned.jpg");
  }
}

