.input {
    @include typography-common();
    @include focusable;
    font-size: 19px;
    font-weight: $font-weight-light;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    padding: 8px;
    border: 1px solid $input-border-colour;
    color: $black;
    border-bottom: $border-width-form-element solid $input-border-colour;
    border-radius: 0;
}

.input::placeholder {
  color: $grey-3;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input--error {
  border: $border-width-form-element-error solid $error-colour;
}

.input--width-30 {
  max-width: 56ex + 3ex;
}

.input--width-20 {
  max-width: 38ex + 3ex;
}

.input--width-10 {
  max-width: 20ex + 3ex;
}

.input--width-5 {
  max-width: 10.8ex;
}

.input--width-4 {
  max-width: 9ex;
}

.input--width-3 {
  max-width: 7.2ex;
}

.input--width-2 {
  max-width: 5.4ex;
}