
.launcher {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: $black;
  z-index: 0;
}

.launcher__content {
  padding: 160px $edgeGutter 50px;
  color: #fff;
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  @include media-query($from: tablet) {
    padding-left: $edgeGutterTablet;
    padding-right: $edgeGutterTablet;
    padding-top: 200px;
    padding-bottom: 80px;
  }

  @include media-query($from: desktop) {
    padding-left: $edgeGutterDesktop;
    padding-right: $edgeGutterDesktop * 1.5;
  }

  @include media-query($from: wide) {
    padding-left: $edgeGutterDesktop;
    padding-right: $edgeGutterDesktop * 3;
  }
}

.launcher__link-wrap {
  text-decoration: none;
}

.launcher__content > a {
  text-decoration: none;
  color: #fff;
}

.launcher__bg {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  transition:all .3s ease;
}

.launcher--apprentice .launcher__bg {
  background-image: url("../images/homepage/home-launch-apprentice.jpg");
  background-position: -250px -60px;
  @include mq($from: 320px) {
    background-position: 25%;
  }
  @include mq($from: tablet) {
    background-position: 30%;
  }
  @include mq($from: desktop) {
    background-position: 10%;
  }
  @include mq($from: wide) {

  }
}

.launcher--employer .launcher__bg {
  background-image: url("../images/homepage/home-launch-employer.jpg");
  background-position: center;
  @include mq($from: tablet) {

  }
  @include mq($from: desktop) {

  }
  @include mq($from: wide) {

  }
}

.launcher:hover .launcher__bg {
  transform: scale(1.1);
}

.launcher__section-heading {
  background: $apprentice;
  font-family: $font-family;
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  .launcher--employer & {
    background: $employer;
    color: $black;
  }
}

.launcher__heading {
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: 30px;
  margin: 10px 0 15px;
  @include mq($from: tablet) {
    font-size: 36px;
  }
}

.launcher__intro {
  color: #fff;
}

.launcher__link {
  color: #fff;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  font-size: 14px;
  display: inline-block;
  padding-top: 20px;
  position: relative;
  text-decoration: none;
  margin-top: 0;
  border-bottom: 1px solid #fff;
  &:before {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background: $apprentice;
    position: absolute;
    top: 0;
    .launcher--employer & {
      background: $employer;
    }
  }
}