
.launcher {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.launcher__content {
  padding: 200px $edgeGutter 80px;
  color: #fff;
  @include media-query($from: tablet) {
    padding-left: $edgeGutterTablet;
    padding-right: $edgeGutterTablet;
  }

  @include media-query($from: desktop) {
    padding-left: $edgeGutterDesktop;
    padding-right: $edgeGutterDesktop * 3;
  }
}

.launcher__content > a {
  text-decoration: none;
  color: #fff;
}

.launcher__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/stock-apprentice.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  transition:all .3s ease;
  .launcher--employer & {
    background-image: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("../images/stock-employer.jpg");
  }
}

.launcher:hover .launcher__bg {
  transform: scale(1.1);
}

.launcher__section-heading {
  background: $apprentice;
  text-transform: uppercase;
  font-family: $font-family;
  font-size: 24px;
  display: inline-block;
  padding: 5px 10px;
  padding-left: $edgeGutterDesktop;
  margin-left: $edgeGutterDesktop * -1;
  .launcher--employer & {
    background: $employer;
  }
  @include media-query($from: tablet) {
    padding-left: $edgeGutterTablet;
    margin-left: $edgeGutterTablet * -1;
  }
  @include media-query($from: desktop) {
    padding-left: $edgeGutterDesktop;
    margin-left: $edgeGutterDesktop * -1;
  }
}

.launcher__heading {
  text-transform: uppercase;
  font-family: $font-family;
  font-size: 36px;
}

.launcher__intro {
  color: #fff;
}

.launcher__link {
  color: #fff;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  font-size: 14px;
  display: inline-block;
  padding-top: 20px;
  position: relative;
  text-decoration: none;
  &:before {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background: $apprentice;
    position: absolute;
    top: 0;
    .launcher--employer & {
      background: $employer;
    }
  }
}