// Lists

.list {
  @include font($size: 19, $weight: light);
  color: $text-colour;
  margin-top: 0;
  @include responsive-margin(4, "bottom");
  padding-left: 0;
  list-style-type: none;
}

.list > li {
  font-size: 21px;
  @include media-query($from: tablet) {
    margin-bottom: spacing(1);
  }
}

.list--apprentice {
  & > li > a{
    color: $apprentice;
  }
}
.list--employer {
  & > li > a{
    color: $employer;
  }
}

.list--bullet {
  padding-left: spacing(4);
}

.list--bullet > li {
  position: relative;
}

.list--bullet > li:before {
  content: "";
  position: absolute;
  left: spacing(4) * -1;
  top: 8px;
  background-color: $text-colour;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.list--bullet-apprentice > li:before {
  background-color: $apprentice;
}

.list--bullet-employer > li:before {
  background-color: $employer
}

.list--number {
  padding-left: spacing(4);
  list-style-type: decimal;
}

.list--arrows {
  padding-left: spacing(4);
}

.list--arrows > li {
  position: relative;
  margin-bottom: spacing(2);
}

.list--arrows > li:before {
  content: ">";
  position: absolute;
  left: spacing(4) * -1;
  top: .4em;
  line-height: .5em;
}

.inline-list {
  @include typography-common;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 22px;
  color: $text-colour;
  text-transform: uppercase;
  > dd {
    padding: 0;
    margin: 0;
    display: inline-block;
    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
}

.inline-list__title {
  color: #fff;
  margin-bottom: 10px;
}

