.markdown {
  & > ul {
    margin: 0;
    padding: 0 0 0 25px;
    @include typography-common;
    font-weight: $font-weight-light;
    font-size: 18px;
    @include media-query($from: tablet) {
      font-size: 21px;
    }
    & > li > p {
        margin: 0;
      }
    }
  }
}