%nav-icon-lines {
  display: block;
  height: 3px;
  width: 30px;
  position: absolute;
  border-radius: 2px;
  background: #000;
  transition: all 0.3s ease;
  .header--generic & {
    background: #fff;
  }
}

.navigation__toggle {
  z-index: 20;
  position: absolute;
  top: 17px;
  right: 15px;
  color: #000;
  display: block;
  text-decoration: none;
  &:focus {
    @include focus-outline;
  }
  .navigation__toggle-icon {
    @extend %nav-icon-lines;
    top: 23px;
    right: 10px;
    &:after,
    &:before {
      @extend %nav-icon-lines;
      content: "";
      left: 0;
      top: -9px;
    }
    &:after {
      top: 9px;
    }
    .header--active & {
      background: $black;
      &:after,
      &:before {
        background: $black;
      }
    }
  }

  @include media-query($from: $nav-breakpoint) {
    display: none;
  }

  .js-menu-open &,
  .js-menu-open .header:hover & {
    .navigation__toggle-icon {
      background: rgba(0, 0, 0, 0);
      &:after {
        top: 0;
        transform: rotate(45deg);
        background: $black;
      }
      &:before {
        top: 0;
        transform: rotate(-45deg);
        background: $black;
      }
    }
  }
}

.navigation__toggle-label {
  color: #000;
  @include font($size: 16, $weight: bold);
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 17px 50px 17px 12px;
  .header--generic & {
    color: #fff;
  }
  .header--active &,
  .js-menu-open & {
    color: $black;
  }

}

.nav {
  text-align: left;
  position: fixed;
  top: 90px;
  bottom: 127px;
  width: 100%;
  font-size: 1.4em;
  z-index: 10;
  overflow: auto;
  letter-spacing: 0.03rem;
  right: -100%;
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media-query($from: $nav-breakpoint) {
    right: 0;
    position: static;
    border: none;
    overflow: visible;
    display: block;
    clear: both;
    margin-left: -40px;
    margin-right: -40px;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
  }
  @include media-query($from: desktop) {
    margin-left: -80px;
    margin-right: -80px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .js-menu-open & {
    right: 0;
    display: block;
    height: 100%;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix
}

.nav__list-item {
  @include media-query($from: $nav-breakpoint) {
    float: left;
  }
}

.nav__list-item--favourites {
  @include media-query($from: $nav-breakpoint) {
    float: right;
  }
}

.nav__list-item--has-children {
  position: relative;
}

.nav__link--top-level {
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  .nav__list-item--has-children & {
    padding-right: 60px;
    @include media-query($from: $nav-breakpoint) {
      padding-right: 40px;
    }
  }
  @include media-query($from: $nav-breakpoint) {
    padding: 12px 15px;
    font-size: 12px;
  }
  &:focus {
    outline: 3px solid $focus-colour;
  }
  &:hover,
  .nav__list-item:hover & {
    background: rgba(0, 0, 0, .5);
  }
}

.nav__ordered-list-toggle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 47px;
  text-indent: -999px;
  overflow: hidden;
  display: block;
  z-index: 2;
  &:focus {
    outline: 3px solid $focus-colour;
  }
  @include media-query($from: $nav-breakpoint) {
    display: none;
  }
}

.nav__ordered-list-toggle-icon {
  position: absolute;
  display: block;
  background: #fff;
  width: 13px;
  height: 3px;
  right: 20px;
  top: 22px;
  transform: rotate(-45deg);
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    display: block;
    background: #fff;
    width: 13px;
    height: 3px;
    right: 5px;
    top: -5px;
    transform: rotate(90deg);
  }
  .sub-menu-open & {
    width: 17px;
    &:before {
      width: 17px;
      right: 0;
      top: 0;
    }
  }
  @include media-query($from: $nav-breakpoint) {
    background: #fff;
    margin-left: 6px;
    width: 9px;
    height: 2px;
    top: 19px;
    right: 15px;
    &:before {
      width: 9px;
      height: 2px;
      background: #fff;
      top: -4px;
      right: 4px;
    }
  }
}

.nav__ordered-list {
  background: #fff;
  color: black;
  list-style: none;
  padding: 3px 0;
  margin: 0;
  display: none;
  @include media-query($from: $nav-breakpoint) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 240px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 5px solid #000;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15), 0px 4px 4px rgba(0,0,0,0.25);
    .nav__list-item--has-children:hover & {
      display: block;
    }
  }
}

.nav__link {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 300;
  color: $black;
  text-decoration: underline;
  display: block;
  padding: 10px 20px;
  @include media-query($from: $nav-breakpoint) {
    line-height: 1.3;
    padding: 10px 15px;
  }
  &:hover,
  &:focus {
    background: rgba(0, 0, 0, .05);
  }
  &:focus {
    outline: 3px solid $focus-colour;
  }
  &[rel~="external"] {
    &:after {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url("../images/icon-link-external-grey.svg");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: bottom;
      margin-left: 3px;
    }
  }
}

.nav-profile-switcher {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 20px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  color: #fff;
  width: 100%;
  z-index: 2;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
  &:hover,
  &:focus {
    background: rgba(0, 0, 0, .5);
  }
  &:focus {
    outline: 3px solid $focus-colour;
  }
  @include media-query($from: $nav-breakpoint) {
    position: absolute;
    background: none;
    width: auto;
    color: $black;
    box-shadow: none;
    right: 20em;
    top: 15px;
    bottom: auto;
    text-align: right;
    padding-right: 50px;
  }
}

.nav-profile-switcher__icon {
  background-image: url("../images/icon-avatar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 24px;
  height: 24px;
  @include media-query($from: $nav-breakpoint) {
    background-image: url("../images/icon-avatar-black.svg");
    right: 10px;
    top: 15px;
    width: 30px;
    height: 35px;
  }
}

.nav-profile-switcher__caption {
  display: none;
  @include media-query($from: $nav-breakpoint) {
    display: block;
  }
  text-transform: none;
  color: #4a5764;
  font-weight: normal;

}

.nav-register-interest {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 700;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: $black;
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  border: 20px solid red;
  border-width: 15px 20px;
  z-index: 1;
  &:focus {
    outline: 3px solid $focus-colour;
  }
  @include media-query($from: $nav-breakpoint) {
    top: 20px;
    right: 40px;
    left: auto;
    bottom: auto;
    font-size: 14px;
    padding: 15px 20px;
    margin: 0;
    border: none;
    position: absolute;
  }
  @include media-query($from: desktop) {
    right: 80px;
  }
}

.nav--apprentice { background: $apprentice; color: #fff; }
.nav--apprentice .nav__link--top-level:hover,
.nav--apprentice .nav__list-item:hover .nav__link--top-level { background: darken($apprentice, 10%); }
.nav--apprentice .nav__ordered-list { border-color: $apprentice }
.nav--apprentice .nav-profile-switcher { background-color: $apprentice; @include media-query($from: $nav-breakpoint) { background: none; color: $apprentice; } }
.nav--apprentice .nav-register-interest { border-color: $apprentice }

.nav--employer { background: $employer; color: #fff; }
.nav--employer .nav__link--top-level {color: $black}
.nav--employer .nav__ordered-list-toggle-icon {background-color: $black; &:before { background: $black }}
.nav--employer .nav__link--top-level:hover,
.nav--employer .nav__list-item:hover .nav__link--top-level { background: lighten($employer, 10%); }
.nav--employer .nav__ordered-list { border-color: $employer }
.nav--employer .nav-profile-switcher { background-color: $employer; color: $black;  @include media-query($from: $nav-breakpoint) { background: none; color: $employer; } }
.nav--employer .nav-profile-switcher__icon { background-image: url("../images/icon-avatar-black.svg") }
.nav--employer .nav-register-interest { border-color: $employer }

.nav--parents { background: $parent; color: #fff; }
.nav--parents .nav__link--top-level {color: #fff}
.nav--parents .nav__ordered-list-toggle-icon {background-color: #fff; &:before { background: #fff }}
.nav--parents .nav__link--top-level:hover,
.nav--parents .nav__list-item:hover .nav__link--top-level { background: $parent-light; }
.nav--parents .nav__ordered-list { border-color: $parent }
.nav--parents .nav-profile-switcher { background-color: $parent; color: #fff;  @include media-query($from: $nav-breakpoint) { background: none; color: $parent; } }
.nav--parents .nav-profile-switcher__icon { background-image: url("../images/icon-avatar.svg"); @include media-query($from: $nav-breakpoint) { background-image: url("../images/icon-avatar-black.svg") } }
.nav--parents .nav-register-interest { border-color: $parent }

.navigation {
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: left;
  color: #fff;
  position: fixed;
  top: 90px;
  bottom: 0;
  width: 100%;
  font-size: 1.4em;
  z-index: 10;
  overflow: auto;
  letter-spacing: 0.03rem;
  right: -100%;
  display: none;
  @include media-query($from: $nav-breakpoint) {
    right: 0;
    position: static;
    float: right;
    width: auto;
    height: auto;
    background: none;
    border: none;
    overflow: visible;
    display: block;
    margin-top: 15px;
  }
  .js-menu-open & {
    right: 0;
    display: block;
  }
}

.navigation__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__list {
  padding: 0;
  margin: 0 -20px 20px;
  list-style: none;
  border-bottom: 1px solid $border-colour;
  @include media-query($from: tablet) {
    border-bottom: none;
  }
}

.navigation__ordered-list {
  padding: 0;
  margin: 0;
  list-style: none;
  & > li {
    counter-increment: li;
    position: relative;
    &:before {
      content: counter(li)' - ';
      width: 1em;
      height: 1em;
      font-size: 14px;
      color: #000;
      font-family: $font-family;
      font-weight: $font-weight-bold;
      white-space: nowrap;
      position: absolute;
      top: 17px;
      left: 0px;
    }
    & > a {
      padding-left: 22px;
    }
  }
}

.navigation__ordered-list--reset-3 {
  counter-reset: li 3
}

.navigation__list,
.navigation__ordered-list {
  @include media-query($from: $nav-breakpoint-desktop) {
    float: left;
    width: 50%;
 }
}

.navigation__list-item {
  @include media-query($from: $nav-breakpoint) {
    float: left;
  }
}

.navigation__list-item--with-button {
  position: absolute;
  background: #fff;
  border-top: 1px solid #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 3;
  .js-menu-open & {
    position: fixed;
  }
  @include media-query($from: $nav-breakpoint) {
    background: none;
    position: static;
    padding: 10px 0 0 5px;
    border: none;
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 25px;
  }
}

.navigation__list-item--with-button  > .button {
  margin: 0;
  .header:hover &,
  .header--active &,
  .js-menu-open & {
    background: #000;
    color: #fff;
    border-image-source: none;
  }
  @include media-query($from: $nav-breakpoint) {
    font-size: 12px;
    padding: 6px 10px;
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    font-size: 14px;
    padding: 10px 30px;
  }
}

.navigation__link--top-level {
  display: block;
  color: $black;
  text-transform: uppercase;
  @include font($size: 19, $weight: bold);
  text-decoration: none;
  line-height: 1;
  padding: 15px 20px;
  position: relative;
  @include media-query($from: $nav-breakpoint) {
    padding: 20px;
    font-size: 13px;
    color: #fff;
    .header--active & ,
    .header:hover & {
      color: $grey-3;
    }
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    padding: 20px 25px;
    font-size: 14px;
  }
  &:focus {
    outline: 3px solid $focus-colour;
  }
}

.navigation__list-item:hover .navigation__link--top-level {
  @include media-query($from: $nav-breakpoint) {
    color: $black;
  }
}

.navigation__sub-menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  @include media-query($from: $nav-breakpoint) {
    display: none;
  }
}

.navigation__sub-menu {
  background: #efefef;
  background: $apprentice-pale;
  margin: 0;
  padding: 10px 0 10px;
  list-style: none;
  display: none;
  @include media-query($from: $nav-breakpoint) {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    padding: 40px 60px;
    flex-wrap: wrap;
  }
}

.navigation__sub-menu--employer
{
  color: $employer;
  background: $employer-pale;
  @include media-query($from: $nav-breakpoint) {
    border-top: 10px solid $employer;
  }
}

.navigation__sub-menu--apprentice
{
  @include media-query($from: $nav-breakpoint) {
    border-top: 10px solid $apprentice;
    color: $apprentice;
  }
}

.navigation_sub-heading {
  margin: 5px 0;
  @include media-query($from: $nav-breakpoint) {
    margin: 0 0 10px;
  }
  & > .highlight {
    :after {
      content: '...';
      @include media-query($from: $nav-breakpoint) {
        content: '';
      }
    }
  }
  & > .secondary {
    display: none;
    @include media-query($from: $nav-breakpoint) {
      display: inline;
    }
  }
}

.navigation__sub-menu-icon {
  position: absolute;
  display: block;
  background: #000;
  width: 13px;
  height: 3px;
  right: 20px;
  top: 20px;
  transform: rotate(-45deg);
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    width: 13px;
    height: 3px;
    right: 5px;
    top: -5px;
    transform: rotate(90deg);
  }
  .sub-menu-open & {
    width: 17px;
    &:before {
      width: 17px;
      right: 0;
      top: 0;
    }
  }
  @include media-query($from: $nav-breakpoint) {
    position: relative;
    display: inline-block;
    background: #fff;
    margin-left: 6px;
    right: 0;
    top: -3px;
    width: 9px;
    height: 2px;
    &:before {
      width: 9px;
      height: 2px;
      background: #fff;
      top: -4px;
      right: 4px;
    }
    .header--active &,
    .header:hover & {
      background: $grey-3;
      &:before {
        background: $grey-3;
      }
    }
    .navigation__link--top-level:hover & {
      background: $black;
      &:before {
        background: $black;
      }
    }
  }
}

.navigation__list-item:hover .navigation__sub-menu {
  @include media-query($from: $nav-breakpoint) {
    display: flex;
  }
}

.navigation__link {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 300;
  color: #5d6467;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  @include media-query($from: $nav-breakpoint) {
    text-decoration: underline;
    line-height: 1.3;
    padding: 10px 20px;
  }
  &:hover,
  &:focus {
    color: $black;
  }
  &:focus {
    outline: 3px solid $focus-colour;
  }
  &[rel~="external"] {
    &:after {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url("../images/icon-link-external-grey.svg");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: bottom;
      margin-left: 3px;
    }
  }
}

.navigation__link-caption {
  display: none;
  @include media-query($from: $nav-breakpoint) {
    display: block;
    text-transform: none;
    color: $grey-3;
    font-weight: 300;
  }
}

.navigation__link--top-level--apprentice.sub-menu-open {
  color: $apprentice;
  .navigation__sub-menu-icon,
  .navigation__sub-menu-icon:before{
    background: $apprentice;
  }
}

.navigation__link--top-level--employer.sub-menu-open {
  color: $employer;
  .navigation__sub-menu-icon,
  .navigation__sub-menu-icon:before{
    background: $employer;
  }
}

@include media-query($from: $nav-breakpoint) {
  .navigation__sub-menu.js-show-menu {
    display: flex;
  }
}