

%nav-icon-lines {
  display: block;
  height: 3px;
  width: 30px;
  position: absolute;
  border-radius: 2px;
  background: #fff;
  transition:all 0.3s ease;
}

.navigation__toggle {
  z-index: 20;
  position: absolute;
  top: 25px;
  right: 20px;
  color: #fff;
  display: block;
  text-decoration: none;
  .navigation__toggle-icon {
    @extend %nav-icon-lines;
    top: 23px;
    right: 10px;
    &:after,
    &:before {
      @extend %nav-icon-lines;
      content: "";
      left: 0;
      top: -9px;
    }
    &:after {
      top: 9px;
    }
  }

  @include media-query($from: $nav-breakpoint) {
    display: none;
  }

  .js-menu-open &,
  .js-menu-open .header:hover &{
    .navigation__toggle-icon {
      background: rgba(0, 0, 0, 0);
      &:after {
        top: 0;
        transform: rotate(45deg);
        background: $black;
      }
      &:before {
        top: 0;
        transform: rotate(-45deg);
        background: $black;
      }
    }
  }
}

.navigation__toggle-label {
  color: #fff;
  @include font($size: 16, $weight: bold);
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  padding: 15px 50px 15px 15px;
  .js-menu-open & {
    color: $black;
  }
}

.navigation {
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: left;
  color: #fff;
  position: fixed;
  top: 95px;
  bottom: 0;
  width: 100%;
  font-size: 1.4em;
  z-index: 10;
  overflow: auto;
  //transition:all .3s ease;
  letter-spacing: 0.03rem;
  right: -100%;
  @include media-query($from: $nav-breakpoint) {
    right: 0;
    position: static;
    float: right;
    width: auto;
    height: auto;
    background: none;
    border: none;
  }
  .js-menu-open & {
    right: 0;
  }
}

.navigation__menu {
  padding: 0 0 100px;
  margin: 0;
  list-style: none;
}

.navigation__list-item {
  @include media-query($from: $nav-breakpoint) {
    float: left;
  }
}

.navigation__list-item--with-button {
  position: absolute;
  background: #fff;
  border-top: 1px solid #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 3;
  .js-menu-open & {
    position: fixed;
  }
  @include media-query($from: $nav-breakpoint) {
    background: none;
    position: static;
    padding: 15px 0 0 5px;
    border: none;
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    font-size: 14px;
    padding-left: 15px;
  }
}

.navigation__list-item--with-button  > .button {
  margin: 0;
  .header:hover &,
  .js-menu-open & {
    background: #000;
    color: #fff;
  }
  @include media-query($from: $nav-breakpoint) {
    font-size: 12px;
    padding: 6px 10px;
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    font-size: 14px;
    padding: 10px 30px;
  }

}

.navigation__link--top-level {
  display: block;
  color: $black;
  text-transform: uppercase;
  @include font($size: 19, $weight: bold);
  text-decoration: none;
  line-height: 1;
  padding: 15px 20px;
  position: relative;
  @include media-query($from: $nav-breakpoint) {
    padding: 25px 10px 60px;
    font-size: 13px;
    color: #fff;
    .header:hover & {
      color: $black;
    }
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    padding: 25px 15px 60px;
    font-size: 14px;
  }
}

.navigation__sub-menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  @include media-query($from: $nav-breakpoint) {
    display: none;
  }
}

.navigation__sub-menu {
  background: #efefef;
  margin: 0;
  padding: 0 0 10px;
  list-style: none;
  display: none;
  @include media-query($from: $nav-breakpoint) {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    padding: 40px 60px;
    flex-wrap: wrap;
    > li {
      width: 20%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 20px 15px;
    }
  }
}

.navigation__sub-menu-icon {
  position: absolute;
  display: block;
  background: #000;
  width: 13px;
  height: 3px;
  right: 20px;
  top: 20px;
  transform: rotate(-45deg);
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    width: 13px;
    height: 3px;
    right: 5px;
    top: -5px;
    transform: rotate(90deg);
  }
  .sub-menu-open & {
    width: 17px;
    &:before {
      width: 17px;
      right: 0;
      top: 0;
    }
  }
  @include media-query($from: $nav-breakpoint) {
    position: relative;
    display: inline-block;
    background: #fff;
    margin-left: 6px;
    right: 0;
    top: -3px;
    width: 9px;
    height: 2px;
    &:before {
      width: 9px;
      height: 2px;
      background: #fff;
      top: -4px;
      right: 4px;
    }
    .header:hover & {
      background: $black;
      &:before {
        background: $black;
      }
    }
  }
  @include media-query($from: $nav-breakpoint-desktop) {

  }
}

.navigation__list-item:hover .navigation__sub-menu {
  @include media-query($from: $nav-breakpoint) {
    display: flex;
  }
}

.navigation__link {
  @include font($size: 24, $weight: light);
  color: $grey-5;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  @include media-query($from: $nav-breakpoint) {
    padding: 0;
    @include font($size: 14, $weight: bold);
    text-transform: uppercase;
    color: $black;
    box-sizing: border-box;
  }
}

.navigation__link-caption {
  display: none;
  @include media-query($from: $nav-breakpoint) {
    display: block;
    text-transform: none;
    color: $grey-3;
    font-weight: 300;
  }
}
