%nav-icon-lines {
  display: block;
  height: 3px;
  width: 30px;
  position: absolute;
  border-radius: 2px;
  background: #fff;
  transition: all 0.3s ease;
}

.navigation__toggle {
  z-index: 20;
  position: absolute;
  top: 25px;
  right: 20px;
  color: #fff;
  display: block;
  text-decoration: none;
  .navigation__toggle-icon {
    @extend %nav-icon-lines;
    top: 23px;
    right: 10px;
    &:after,
    &:before {
      @extend %nav-icon-lines;
      content: "";
      left: 0;
      top: -9px;
    }
    &:after {
      top: 9px;
    }
    .header--active & {
      background: $black;
      &:after,
      &:before {
        background: $black;
      }
    }
  }

  @include media-query($from: $nav-breakpoint) {
    display: none;
  }

  .js-menu-open &,
  .js-menu-open .header:hover & {
    .navigation__toggle-icon {
      background: rgba(0, 0, 0, 0);
      &:after {
        top: 0;
        transform: rotate(45deg);
        background: $black;
      }
      &:before {
        top: 0;
        transform: rotate(-45deg);
        background: $black;
      }
    }
  }
}

.navigation__toggle-label {
  color: #fff;
  @include font($size: 16, $weight: bold);
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  padding: 15px 50px 15px 15px;
  .header--active &,
  .js-menu-open & {
    color: $black;
  }
}

.navigation {
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: left;
  color: #fff;
  position: fixed;
  top: 95px;
  bottom: 0;
  width: 100%;
  font-size: 1.4em;
  z-index: 10;
  overflow: auto;
  letter-spacing: 0.03rem;
  right: -100%;
  transition: all 0.2s ease;
  @include media-query($from: $nav-breakpoint) {
    right: 0;
    position: static;
    float: right;
    width: auto;
    height: auto;
    background: none;
    border: none;
    overflow: visible;
    transition: none;
  }
  .js-menu-open & {
    right: 0;
  }
}
.navigation__menu {
  padding: 0 0 100px;
  margin: 0;
  list-style: none;
}

.navigation__list {
  padding: 0;
  margin: 0 -20px 20px;
  list-style: none;
  border-bottom: 1px solid $border-colour;
  @include media-query($from: $nav-breakpoint) {
    border-bottom: none;
  }
}

.navigation__ordered-list {
  padding: 0;
  margin: 0 -20px 20px;
  margin: 0;
  list-style: none;
  & > li {
    counter-increment: li;
    position: relative;
    &:before {
      content: counter(li)' - ';
      width: 1em;
      height: 1em;
      font-size: 14px;
      color: #000;
      font-family: $font-family;
      font-weight: $font-weight-bold;
      white-space: nowrap;
      position: absolute;
      top: 17px;
      left: 0px;
      .navigation__sub-menu--apprentice & {
        color: $apprentice;
      }
      .navigation__sub-menu--employer & {
        color: $employer;
      }
    }
    & > a {
      padding-left: 22px;
    }
  }
}

.navigation__ordered-list--reset-3 {
  counter-reset: li 3
}

.navigation__list,
.navigation__ordered-list {
  @include media-query($from: $nav-breakpoint-desktop) {
    float: left;
    width: 50%;
 }
}

.navigation__list-item {
  @include media-query($from: $nav-breakpoint) {
    float: left;
  }
}

.navigation__list-item--with-button {
  position: absolute;
  background: #fff;
  border-top: 1px solid #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 3;
  .js-menu-open & {
    position: fixed;
  }
  @include media-query($from: $nav-breakpoint) {
    background: none;
    position: static;
    padding: 15px 0 0 5px;
    border: none;
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    font-size: 14px;
    padding-left: 25px;
  }
}

.navigation__list-item--with-button  > .button {
  margin: 0;
  .header:hover &,
  .header--active &,
  .js-menu-open & {
    background: #000;
    color: #fff;
  }
  @include media-query($from: $nav-breakpoint) {
    font-size: 12px;
    padding: 6px 10px;
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    font-size: 14px;
    padding: 10px 30px;
  }
}

.navigation__link--top-level {
  display: block;
  color: $black;
  text-transform: uppercase;
  @include font($size: 19, $weight: bold);
  text-decoration: none;
  line-height: 1;
  padding: 15px 20px;
  position: relative;
  @include media-query($from: $nav-breakpoint) {
    padding: 25px 20px 60px;
    font-size: 13px;
    color: #fff;
    .header--active & ,
    .header:hover & {
      color: $grey-3;
    }
  }
  @include media-query($from: $nav-breakpoint-desktop) {
    padding: 25px 25px 60px;
    font-size: 14px;
  }
}

.navigation__list-item:hover .navigation__link--top-level {
  @include media-query($from: $nav-breakpoint) {
    color: $black;
  }
}

.navigation__sub-menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  @include media-query($from: $nav-breakpoint) {
    display: none;
  }
}

.navigation__sub-menu {
  background: #efefef;
  margin: 0;
  padding: 10px 0 10px;
  list-style: none;
  display: none;
  @include media-query($from: $nav-breakpoint) {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    padding: 40px 60px;
    flex-wrap: wrap;
  }
}

.navigation__sub-menu--employer
{
  color: $employer;
  @include media-query($from: $nav-breakpoint) {
    border-top: 10px solid $employer;
  }
}

.navigation__sub-menu--apprentice
{
  @include media-query($from: $nav-breakpoint) {
    border-top: 10px solid $apprentice;
    color: $apprentice;
  }
}

.navigation_sub-heading {
  margin: 5px 0;
  @include media-query($from: $nav-breakpoint) {
    margin: 0 0 10px;
  }
  & > .highlight {
    @include media-query($from: $nav-breakpoint) {
      .navigation__sub-menu--apprentice & {
        color: $apprentice;
      }
      .navigation__sub-menu--employer & {
        color: $employer;
      }
    }
    :after {
      content: '...';
      @include media-query($from: $nav-breakpoint) {
        content: '';
      }
    }
  }
  & > .secondary {
    display: none;
    @include media-query($from: $nav-breakpoint) {
      display: inline;
    }
  }
}

.navigation__sub-menu-icon {
  position: absolute;
  display: block;
  background: #000;
  width: 13px;
  height: 3px;
  right: 20px;
  top: 20px;
  transform: rotate(-45deg);
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    width: 13px;
    height: 3px;
    right: 5px;
    top: -5px;
    transform: rotate(90deg);
  }
  .sub-menu-open & {
    width: 17px;
    &:before {
      width: 17px;
      right: 0;
      top: 0;
    }
  }
  @include media-query($from: $nav-breakpoint) {
    position: relative;
    display: inline-block;
    background: #fff;
    margin-left: 6px;
    right: 0;
    top: -3px;
    width: 9px;
    height: 2px;
    &:before {
      width: 9px;
      height: 2px;
      background: #fff;
      top: -4px;
      right: 4px;
    }
    .header--active &,
    .header:hover & {
      background: $grey-3;
      &:before {
        background: $grey-3;
      }
    }
    .navigation__link--top-level:hover & {
      background: $black;
      &:before {
        background: $black;
      }
    }
  }
}

.navigation__list-item:hover .navigation__sub-menu {
  @include media-query($from: $nav-breakpoint) {
    display: flex;
  }
}



.navigation__link {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 300;
  color: $grey-5;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  @include media-query($from: $nav-breakpoint) {
    text-decoration: underline;
    line-height: 1.3;
    padding: 10px 20px;
  }
}

.navigation__link-caption {
  display: none;
  @include media-query($from: $nav-breakpoint) {
    display: block;
    text-transform: none;
    color: $grey-3;
    font-weight: 300;
  }
}

.navigation__link--top-level--apprentice.sub-menu-open {
  color: $apprentice;
  .navigation__sub-menu-icon,
  .navigation__sub-menu-icon:before{
    background: $apprentice;
  }
}

.navigation__link--top-level--employer.sub-menu-open {
  color: $employer;
  .navigation__sub-menu-icon,
  .navigation__sub-menu-icon:before{
    background: $employer;
  }
}