.pagination {
  margin-top: 80px;
  border-top: 1px solid #ddd;
  padding: 30px 0 0 0;
  list-style: none;
  @include clearfix();
}

.pagination__list-item {
  margin: 10px 0;
  @include media-query($from: tablet) {
    width: 50%;
    float: left;
  }
}

.page .pagination__link {
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: bold;
  color: $link-colour;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.page .pagination--employer .pagination__link {
  color: $employer;
  &:visited {
    color: $employer;
  }
}

.pagination__list-item--next {
  @include media-query($from: tablet) {
    float: right;
  }
}

.pagination__link--previous,
.pagination__link--next {
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.pagination__link--previous {
  padding-left: 35px;
  background-image: url("../images/arrow-left.svg");
  background-position: left center;
  .pagination--employer & {
    background-image: url("../images/arrow-left-employer.svg");
  }
}

.pagination__link--next {
  padding-right: 35px;
  background-image: url("../images/arrow-right.svg");
  background-position: right center;
  text-align: right;
  @include media-query($from: tablet) {
    float: right;
  }
  .pagination--employer & {
    background-image: url("../images/arrow-right-employer.svg");
  }
}