.pagination, .das-pagination {
  margin: 30px 0;
  border-top: 1px solid #ddd;
  padding: 30px 0 0 0;
  list-style: none;
  @include clearfix();
  @include media-query($from: tablet) {
    margin-top: 40px;
  }
}

.pagination__list-item, .das-pagination__list-item {
  margin: 10px 0;
    width: 50%;
    float: left;
}

.page .pagination__link, .page .das-pagination__link {
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: bold;
  color: $link-colour;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.page .pagination--employer .pagination__link, .page .das-pagination--employer .das-pagination__link {
  color: $black;
  &:visited {
    color: $black;
  }
}

.pagination__list-item--next, .das-pagination__list-item--next {
    float: right;
}

.pagination__link--previous,
.pagination__link--next,
.das-pagination__link--previous,
.das-pagination__link--next{
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.pagination__link--previous, .das-pagination__link--previous {
  padding-left: 35px;
  background-image: url("../images/arrow-left.svg");
  background-position: left center;
  .pagination--employer &, .das-pagination--employer & {
    background-image: url("../images/arrow-left-employer.svg");
  }
}

.pagination__link--next,
.das-pagination__link--next {
  padding-right: 35px;
  background-image: url("../images/arrow-right.svg");
  background-position: right center;
  text-align: right;
  float: right;
  .pagination--employer &, .das-pagination--employer & {
    background-image: url("../images/arrow-right-employer.svg");
  }
}

.das-pagination__caption {
  display: block;
  @include font(16);

}