.quote-box {
  @include typography-common();
  padding: 50px 20px;
  margin: 40px 0;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transform: rotate(-6deg) skewX(-6deg);
}

.quote-box__quote {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3em;
  padding: 0;
  margin: 0 0 30px;
  transform: rotate(6deg) skewX(6deg);
  &:before {
    width: 80px;
    height: 80px;
    content: '';
    display: block;
    margin: 10px 0;
    background-image: url(../images/icon-quote-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.quote-box__content {
  margin: 0 0 15px;
  padding: 0;
}

.quote-box__cite {
  position: relative;
  font-weight: bold;
  transform: rotate(6deg) skewX(6deg);
}

.quote-box__cite-person {
  color: $apprentice;
  display: block;
  .section--employer & {
    color: #fff;
  }
}

.quote-box__cite-role {
  display: block;
}

.quote-box__cite-source {
  background: $apprentice;
  display: inline-block;
  padding: 20px;
  float: left;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  max-width: 140px;
  text-align: center;
  position: relative;
  z-index: 1;
  bottom: -20px;
  .section--employer & {
    color: #000;
    background: #fff;
  }
}

.quote-box__footer {
  display: flex;
  align-items: center;
}

.quote-box__icon {
  background: $apprentice;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: -5px;
  z-index: 1;
  svg {
    max-width: 50%;
    margin: 25%;
    fill: #fff
  }
}

.quote-box__avatar {
  width: 32px;
  height: 32px;
}

.quote-box__avatar-image {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}