.resources {
  background: #eee;
}

.resources--employer {
  background: $employer-light;
}

.resources__heading {
  border-bottom: 1px solid $border-colour;
  padding-bottom: 20px;
  margin-bottom: 25px;
  .resources--employer & {
    color: $employer;
    border-bottom-color: $employer-mid;
  }
}

.resources__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
}

.resources__item {
  @include typography-common();
  @include mq($from: tablet) {
    width: 25%;
    padding: 0 20px 15px;
    box-sizing: border-box;

  }
}

.resources__link {
  text-decoration: none;
}

.resources__link-title {
  text-transform: uppercase;
  color: $black;
  font-weight: $font-weight-bold;
  font-size: 14px;
  margin-bottom: 5px;
  .resources__link:hover &,
  .resources__link:focus & {
    text-decoration: underline;
  }
}

.resources__description {
  margin-top: 0;
  color: $grey-5;
  font-size: 19px;
}
