.search-results-list{
  list-style: none;
  color: $black;
  > li {
    counter-increment: results-counter;
    margin-left: 15px;
    
    &:before{
      background-image: url("data:image/svg+xml,%3Csvg width='51' height='61' viewBox='0 0 51 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H51L31 42H0V0Z' fill='%230478FF'/%3E%3Cpath d='M20 42V60.5L0 42H20Z' fill='%230B51A4'/%3E%3C/svg%3E%0A");
      position: absolute;
      height: 61px;
      width: 35px;
      margin: -6px 0px 0px -50px;
      content: counter(results-counter);
      color: #fff;
      font-size: 2.3em;
      padding: 0px 15px 0px 0px;
      font-family: nobel,sans-serif;
      -webkit-font-smoothing: antialiased;
      text-align: center;
    }
  }
}

.search-results__list-secondary{
  color:$grey-8;
}

.search-results__inline-icon{
  vertical-align: text-top;
  height:20px;
}

.search-results__external-link
{
  margin-top: 20px;
  text-decoration: none;
  border-bottom: 1px solid;
}