.section-advice {
  background: #efefef;
}

.section-advice__content {
  padding: 20px;
  @include media-query($from: tablet) {
    padding: 40px;
  }
  @include media-query($from: desktop) {
    padding: 40px 80px;
  }
}

.section-advice--white {
  background: #fff;
}

.section-advice--gray {
  background: #e2e2e2;
}

.section-advice__caption {
  @include typography-common;
  color: $employer;
  font-weight: 700;
  font-size: 19px;
  @include media-query($from: tablet) {
    font-size: 24px;
  }
}

.section-advice__heading {
  @extend .heading-l;
  margin-top: 0;
}

.section--slant {
  position: relative;
  margin-top: 50px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    border-style: solid;
    border-width: 0 0 50px 500px;
    border-color: #fff #fff $apprentice;
  }
  @include media-query($from: 500px) {
    margin-top: 77px;
    &:before {
      top: -77px;
      border-width: 0 0 77px 740px;
    }
  }
  @include media-query($from: tablet) {
    margin-top: 100px;
    &:before {
      top: -100px;
      border-width: 0 0 100px 980px;
    }
  }
  @include media-query($from: desktop) {
    margin-top: 150px;
    &:before {
      top: -150px;
      border-width: 0 0 150px 1440px;
    }
  }
}

.section--slant-after:after {
  content: "";
  position: relative;
  left: -20px;
  right: 0;
  bottom: -22px;
  border-style: solid;
  border-width: 0px 0px 32px 740px;
  border-color: $parent transparent transparent;
  z-index: 10;

  @include media-query($from: tablet) {
    left: -60px;
    border-width: 50px 0px 0px 1440px;
    bottom: -108px;
  }
}

.section--slant.section--parent {
  &:before {
    border-color: #fff #fff $parent;
  }
}

.section--grey {
  background: $grey-6;
}

.section--apprentice {
  background: $apprentice;
  color: #fff;
  & .heading-l {
    color: #fff;
  }
}

.section--apprentice-pale {
  background: $apprentice-pale;
  &.section--slant {
    &:before {
      border-bottom-color: $apprentice-pale;
    }
  }
}

.section--employer {
  background: $employer;
}

.section--parent {
  background: $parent;
  // color: #fff;
  // & .heading-l{
  //   color: #fff;
  // }
}

.section__faa-logo-header-inline {
  height: 35px;
}

.section__faa_img {
  width: 100%;
}

.section__faa-actions {
  margin: 40px 0 30px;
  @include media-query($from: tablet) {
    margin-bottom: 0;
  }
  display: flex;
  & a {
    margin: 0 auto;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 15px;
}

.section-heading__header {
  margin-bottom: 10px;
}

.section-heading__content {
  margin-top: 0;
}