.section {
  padding: 50px;

}

.section--slant {
  position: relative;
  margin-top: 50px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    border-style: solid;
    border-width: 0 0 50px 1440px;
    border-color: #fff #fff $apprentice;
  }
}

.section--grey {
   background: $grey-6;
}

.section--apprentice {
  background: $apprentice;
  color:#FFF;
  & .heading-l{
    color: #FFF;
  }
}

.section--employer {
  background: $employer;
}

.section__faa-logo-header-inline{
  height: 35px;
}

.section__faa_img{
  width: 100%;
}

.section__faa-actions{
  margin-top:50px;
  display: flex;
   & a{
     margin: 0 auto;
   }
}