.sidebar {
  @include media-query($from: tablet) {
    position: absolute;
    top: 130px;
    z-index: 10;
    margin-right: 80px;
  }
}

.sidebar_fixed{
  top: 500px;
}

.sidebar__hero {
  margin: 0 0 20px 0;
  @include media-query($from: tablet) {
    margin: 0 -81px 0 -80px;
  }
}

.sidebar__hero-image {
  display: none;
  @include media-query($from: tablet) {
    display: block;
  }
  max-width: 100%;
  clip-path: polygon(0 100%, 100% 91.4%, 100% 0, 0 8.6%);
  -webkit-clip-path: polygon(0 100%, 100% 91.4%, 100% 0, 0 8.6%);
}

.sidebar__hero--employer {
  background-color: $employer;
  color: $black;
  padding: 30px;
}

.sidebar__hero--employer:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  border-style: solid;
  border-width: 0 0 50px 614px;
  border-color: transparent transparent #ffb007;
  border-bottom-color: #ffb007;
  margin: 0 -81px 0 -80px;
}

.sidebar__hero--employer:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 50px 614px;
  border-color: transparent transparent white;
  margin: 0 -81px 0 -80px;
}

.sidebar__header {
  background: $apprentice;
  padding: 20px 30px 20px 30px;
  position: relative;
  @include media-query($from: tablet) {
    padding-bottom: 40px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -50px;
      border-style: solid;
      border-width: 0 0 50px 475px;
      border-color: transparent transparent $apprentice;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-style: solid;
      border-width: 0 0 50px 475px;
      border-color: transparent transparent $apprentice-mid;
    }
  }
  .sidebar--employer & {
    background: $employer;
    &:before {
      border-bottom-color: $employer;
    }
    &:after {
      border-bottom-color: $employer-mid;
    }
  }
  .sidebar--parent & {
    background: $parent;
    &:before {
      border-bottom-color: $parent;
    }
    &:after {
      border-bottom-color: $parent-mid;
    }
  }
}

.sidebar__sub-content {
  @extend .sidebar__header;
  margin-top: 20px;
  padding-bottom: 30px;
  @include media-query($from: tablet) {
    margin-top: 120px;
    padding-bottom: 60px;
  }
  .sidebar--parent & {
    margin-top: 45px;
  }
  &:after {
      border-color: transparent transparent #fff;
  }
  .button{
      display: flex;
      justify-content: center;
  }
  p {
    color: #fff;
    .sidebar--employer & {
      color: $black;
    }
  }
}

.sidebar--employer .sidebar__sub-content:after, .sidebar--parent .sidebar__sub-content:after {
  border-bottom-color: #fff;
}

.sidebar__sub-content--mid {
  margin-top: 20px;
  @include media-query($from: tablet) {
    margin-top: 165px;
    padding-bottom: 60px;
  }
  &:before {
    border-color: transparent transparent $employer-pale;
  }

  &:after {
    border-color: transparent transparent #fff;
  }
  .sidebar--employer & {
      background-color: $employer-pale;
  }

  .sidebar__heading{
    color:$black;
    padding-bottom: 10px;
  }
}

.sidebar--employer .sidebar__sub-content--mid:before {
  border-bottom-color: $employer-pale;
}

.sidebar__sub-content-crown-logo{
  height:20px;
}

@include media-query($from: tablet) {
  .trimmer {
    overflow: hidden;
    margin-top: -237px;
    padding-top: 50px;
  }
}

.sidebar__caption {
  color: rgba(255, 255, 255, .6);
}

.sidebar__heading {
  color: #fff;
  margin: .2em 0 0;
  .sidebar--employer & {
    color: $black;
  }
}

.sidebar__content {
  padding: 30px;
  background: $apprentice-mid;
  position: relative;
  .sidebar--employer & {
    background: $employer-mid;
  }
}


.sidebar-panel {
  margin: 20px 0 0;
  .grid-column--pull-right & {
    margin: 0 0 20px;
  }
  @include media-query($from: tablet) {
    position: relative;
    z-index: 10;
  }
}

.sidebar-panel form+form {
  border-top: 3px solid rgba(255, 255, 255, .1);
}

.sidebar-panel--apprentice > .sidebar-panel__content {
  background: $apprentice;
  color: #fff;
}

.sidebar-panel--employer > .sidebar-panel__content {
  background: $employer;
  color: $black;
}

.sidebar-panel--dark > .sidebar-panel__content {
  background: #4d4d4d;
  color: #fff;
}

.sidebar-panel__content {
  padding: 20px;
  @include media-query($from: tablet) {
    padding: 30px;
    position: absolute;
    margin: 0;
    top: -250px;
    left: -40px;
    right: -40px;
  }
  @include media-query($from: desktop) {
    left: -80px;
    right: -81px;
  }
}

.sidebar-panel__content:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  border-style: solid;
  border-width: 0 0 50px 614px;
  border-color: transparent transparent #ffb007;
  border-bottom-color: #ffb007;
  margin: 0;
  .sidebar-panel--apprentice & {
    border-bottom-color: $apprentice;
  }
  .sidebar-panel--dark & {
    border-bottom-color: #4d4d4d;
  }
}

.sidebar-panel__content:after {
  @include media-query($from: tablet) {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 50px 614px;
    border-color: transparent transparent white;
    margin: 0;
  }
}

.sidebar-panel--dark h2,
.sidebar-panel--dark h3,
.sidebar-panel--dark .fieldset__legend,
.sidebar-panel--dark .label {
  color: #fff;
}

.sidebar-panel--dark .button {
  background: #000;
  color: #fff;
}


// SIDEBAR PANEL
// Plain backgrounds, with padding and slants top and bottom.
// These sit within the sidebar column and do not reach the edge of the page.


.sidebar__panel-wrap {
  @include media-query($from: tablet) {
    overflow: hidden;
    padding-top: 50px;
  }
}

.sidebar__panel-wrap--pull-up {
  @include media-query($from: tablet) {
    margin-top: -100px;
  }
}

.sidebar__panel {
  background: $black;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
  @include media-query($from: tablet) {
    padding-top: 30px;
    padding-bottom: 50px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -50px;
      border-style: solid;
      border-width: 0 0 50px 475px;
      border-color: transparent transparent $black;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-style: solid;
      border-width: 0 0 50px 475px;
      border-color: transparent transparent #fff;
    }
  }
  @include media-query($from: desktop) {
    padding-bottom: 70px;
  }
}

.sidebar__panel-heading {
  text-transform: uppercase;
  @include font($size: 24, $weight: bold);
  margin-top: 0;
  margin-bottom: 15px;
  color: $grey-8;
}

.sidebar__heading-link {//raw 'a' tag which looks like a heading
  @include font($size: 24, $weight: bold);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    border-bottom: 2px solid #fff;
  }
  &[rel~="external"] {
    &:after {
      content: '';
      display: inline-block;
      background-image: url("../images/icon-link-external-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: text-top;
      margin-left: 3px;
      margin-top: 0;
      height: 20px;
      width: 20px;
    }
  }
  @include media-query($from: desktop) {
    position: relative;
    top: 12px;

    &[rel~="external"] {
      &:after {
        margin-top: 1px;
        margin-left: 5px;
      }
    }
  }
}

.sidebar__panel-hero-link {
  text-transform: uppercase;
  @include font($size: 36, $weight: bold);
  text-decoration: none;
  color: #fff;
  margin: 0;
  &:focus {
    @include focus-outline;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:focus {
      @include focus-outline;
    }
  }
}

.sidebar__panel--govaccount {
  background: $employer-light;
  color: $black;
  &:before {
    border-bottom-color: $employer-light;
  }
  .sidebar__panel-heading {
    color: $black;
  }
}

.sidebar__panel-button {
  width: 100%;
}










// To be removed

$timeline-width: 2px;

.sidebar-nav {
  @include font($size: 19, $weight: light);
  list-style: none;
  counter-reset: li;
  padding-left: 0px;
  padding-bottom: 20px;
  border-left: $timeline-width solid #fff;
  margin-left: 20px;
  position: relative;
  &:after {
    content: '';
    background: #fff;
    height: $timeline-width;
    width: 10px;
    position: absolute;
    bottom: 0;
    left: -6px;
  }
  > li {
    counter-increment: li;
    position: relative;
    margin: 0;
    left: $timeline-width * -1;
    border-left: $timeline-width solid transparent;

    &:before {
      content: counter(li);
      width: 1em;
      height: 1em;
      font-size: 14px;
      background: #fff;
      color: $black;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: 1em;
      overflow: hidden;
      display: block;
      padding: 10px;
      font-weight: $font-weight-bold;
      position: absolute;
      top: 0;
      left: -19px;
    }

    &.sidebar-nav__section--active {
      &:before {
        background-color: $apprentice;
        color: #fff;
        .sidebar--employer & {
          background-color: $employer;
          color: $black;
        }
      }
    }
    & > a {
      text-transform: uppercase;
      color: $heading-colour;
      font-weight: $font-weight-bold;
      text-decoration: none;
      margin: 0 0 20px 0;
      padding: 6px 0 0 30px;
      display: block;
      font-size: 16px;
      &[rel~="external"] {
        &:after {
          content: '';
          display: inline-block;
          height: 20px;
          width: 20px;
          background-image: url("../images/icon-link-external-black.svg");
          background-size: contain;
          background-repeat: no-repeat;
          vertical-align: bottom;
          margin-left: 3px;
        }
      }
      &:hover {
        text-decoration: underline;
      }
    }
    & > ul {
      list-style: none;
      padding: 0 0 30px 30px;
      & > li {
        position: relative;
        &:before {
          content: "";
          font-size: 3em;
          position: absolute;
          left: -39px;
          top: .03em;
          line-height: .5em;
          border: 3px solid $apprentice-mid;
          background: $apprentice;
          width: 10px;
          height: 10px;
          display: block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          .sidebar--employer & {
            background: $employer;
            border-color: $employer-mid;
          }
        }
        & > a {
          color: $apprentice;
        }
      }
    }
  }
}
