.sidebar {
  @include media-query($from: tablet) {
    position: absolute;
    top: 100px;
    z-index: 10;
    margin-right: 80px;
  }
}

.sidebar__hero {
  margin: 0 -81px 0 -80px;
}

.sidebar__hero-image {
  display: none;
  @include media-query($from: tablet) {
    display: block;
  }
  max-width: 100%;
  clip-path: polygon(0 100%, 100% 91.4%, 100% 0, 0 8.6%);
  -webkit-clip-path: polygon(0 100%, 100% 91.4%, 100% 0, 0 8.6%);
}

.sidebar__header {
  background: $apprentice;
  padding: 20px 30px 40px 30px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    border-style: solid;
    border-width: 0 0 50px 475px;
    border-color: transparent transparent $apprentice;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 50px 475px;
    border-color: transparent transparent $apprentice-mid;
  }
  .sidebar--employer & {
    background: $employer;
    &:before {
      border-bottom-color: $employer;
    }
    &:after {
      border-bottom-color: $employer-mid;
    }
  }
}

.sidebar__sub-content {
  @extend .sidebar__header;
  margin-top: 120px;
  padding-bottom:70px;
  
  & p{
    color: #FFFFFF;
  }
  &:after {
    border-color: transparent transparent #FFFFFF !important;
    border-bottom-color: #FFFFFF;
  }
  .button{
    display: flex;
      justify-content: center;
  }
}
.sidebar__sub-content--mid{
  margin-top:165px;
  &:before {
    border-color: transparent transparent $employer-mid !important;
    border-bottom-color: $employer-mid !important;
  }

  &:after {
    border-color: transparent transparent #FFFFFF;
    border-bottom-color: #FFFFFF;
  }
  .sidebar--employer & {
   
      background-color: $employer-mid;
    }


    & .sidebar__heading{
      color:$black;
    }

   
}


.trimmer {
  overflow: hidden;
  margin-top: -172px;
  padding-top: 50px;
}

.sidebar__caption {
  color: rgba(255, 255, 255, .6);
}

.sidebar__heading {
  color: #fff;
  margin: .2em 0 0;
}

.sidebar__content {
  padding: 30px;
  background: $apprentice-mid;
  position: relative;
  .sidebar--employer & {
    background: $employer-mid;
  }
}

$timeline-width: 2px;

.sidebar-nav {
  @include font($size: 19, $weight: light);
  list-style: none;
  counter-reset: li;
  padding-left: 0px;
  padding-bottom: 20px;
  border-left: $timeline-width solid #fff;
  margin-left: 20px;
  position: relative;
  &:after {
    content: '';
    background: #fff;
    height: $timeline-width;
    width: 10px;
    position: absolute;
    bottom: 0;
    left: -6px;
  }
  > li {
    counter-increment: li;
    position: relative;
    margin: 0;
    left: $timeline-width * -1;
    border-left: $timeline-width solid transparent;

    &:before {
      content: counter(li);
      width: 1em;
      height: 1em;
      font-size: 14px;
      background: #fff;
      color: $apprentice;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: 1em;
      overflow: hidden;
      display: block;
      padding: 10px;
      font-weight: $font-weight-bold;
      position: absolute;
      top: 0;
      left: -19px;
      .sidebar--employer & {
        color: $employer;
      }
    }

    &.sidebar-nav__section--active {
      &:before {
        background-color: $apprentice;
        color: #fff;
        .sidebar--employer & {
          background-color: $employer;
        }
      }
    }
    & > a {
      text-transform: uppercase;
      color: $heading-colour;
      font-weight: $font-weight-bold;
      text-decoration: none;
      margin: 0 0 20px 0;
      padding: 6px 0 0 30px;
      display: block;
      font-size: 16px;
    }
    & > ul {
      padding-bottom: 30px;
      list-style: none;
      padding: 0 0 30px 30px;
      & > li {
        position: relative;
        &:before {
          content: "";
          font-size: 3em;
          position: absolute;
          left: -39px;
          top: .03em;
          line-height: .5em;
          border: 3px solid $apprentice-mid;
          background: $apprentice;
          width: 10px;
          height: 10px;
          display: block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          .sidebar--employer & {
            background: $employer;
            border-color: $employer-mid;
          }
        }
        & > a {
          color: $apprentice;

        }
      }
    }
  }
}