.table{
  @include font($size: 14);
  width: 100%;
  @include responsive-margin(6, "bottom");
  color: $grey-3;
  border-collapse: collapse;
  border-top: 1px solid $border-colour;
}

.table__cell, .table__header {
  padding: 20px;
}

.table__row {
  border-bottom: 1px solid $border-colour;
}

.table__row--highlight {
  background: $grey-7;
}


.table__row-title {
  text-transform: uppercase;
  @include font($size: 14, $weight: bold);
  letter-spacing: 0.05em;
  text-align: left;
}

.table__header{
  background-color: $grey-7;
  text-align: left;
}

.table__row-title--header{
  color: $black;
}

.table__row-value--header{
  text-transform: uppercase;
  color: $black;
}

.table__footer{
  background-color: $grey-7;
  color: $grey-2;
  .table--apprentice & {
    background-color: $apprentice-light;
  }
  .table--employer & {
    background-color: $employer-light;
  }
}

.table__cell--header,
.table__cell--header-numeric {
  font-weight: bold;
  text-align: left;
  color: $black;
}

.table--simple {
  border-top: none;
  @include font($size: 19);
  .table__cell,
  .table__cell--header {
    padding: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .table__cell--header-numeric,
  .table__cell--numeric {
    text-align: right;
    padding-right: 10px;
  }
}
