.js-video-player__ready {
  visibility: visible;
}

.js-video-player__playing {
  display: none;
}

.plyr {
  display: none;
  transition: none;
  @include mq ($from: tablet) {
    z-index: 1;
  }
}

.plyr--paused,
.plyr--playing {
  display: block;
  clear: both;
  border: 1px solid #fff;
  margin: 0 0 20px;
}

.plyr--stopped {
  display: none;
}

.video-player--inner-wrap {

}

.plyr__video-wrapper {
  
}


.video-player__close {
  color: #fff;
  font-weight: $font-weight-bold;
  position: absolute;
  text-transform: uppercase;
  background: $black;
  text-decoration: none;
  line-height: 1;
  top: 0;
  right: 0;
  padding: 15px 20px;
  border-radius: 0 0 0 10px;
  display: flex;
  z-index: 1;
  align-items: center;
  @include mq($from: tablet) {
    display: flex;
  }
}
.video-player__close-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background: url("../images/icon-cross-white.svg") no-repeat;
  background-size: cover;
}

.plyr__control--overlaid {
  background: $apprentice;
  .video-player--employer & {
    background: $employer;
  }
}

.plyr--full-ui input[type=range] {
  color: $apprentice;
  .video-player--employer & {
    color: $employer;
  }
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: $apprentice;
  .video-player--employer & {
    background: $employer;
  }
}
