.warning-text {
	@include font($size: 19);
	color: $black;
	position: relative;
	border-left: 5px solid $grey-4;
	margin: 10px 0;
	@include media-query($from: tablet) {
		border-left: 10px solid $grey-4;
		padding: 10px 0;
		margin: 15px 0;
	}
}

.warning-text__assistive {
	@include visually-hidden;
}

.warning-text__icon {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	min-width: 32px;
	min-height: 29px;
	margin-top: -15px;
	margin-left: 15px;
	padding-top: 3px;
	background-image: url('../images/warning-black.svg');
}

.warning-text__text {
	display: block;
	padding-left: 60px;
}