.warning-text {
	@include font($size: 19);
color: $grey-3;	
	position: relative;
	@include responsive-margin(2, "bottom");
	@include responsive-margin(2, "top");
	padding: spacing(2) 0;
	border-left: 10px solid $grey-4;
}

.warning-text__assistive {
	@include visually-hidden;
}

.warning-text__icon {
	@include font($size: false, $weight: bold);

	display: inline-block;

	position: absolute;
	top: 50%;
	left: 0;

	min-width: 32px;
	min-height: 29px;
	margin-top: -15px; // Half the height of the circle (adjusted for NTA)
	margin-left: 15px;
	padding-top: 3px;


	// When a user customises their colours the background colour will often be removed.
	// Adding a border to the component keeps it's shape as a circle.
background-image: url('../images/warning-black.svg');

	font-size: 1.6em;
	line-height: 29px;

	text-align: center;

	// Prevent the exclamation mark from being included when the warning text
	// is copied, for example.
	user-select: none;
	
}

.warning-text__text {
	display: block;
	padding-left: 60px;
}