.fiu-favourite-bar {
    @include fiu-typography-common;
    text-align: right;
}

.fiu-favourite-bar--employers button {
    @extend .fiu-link--employers;
}

.fiu-favourite-bar--citizens button {
    @extend .fiu-link--citizens;
}

.fiu-favourite-bar__link {
    @include fiu-typography-common;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px 0 0;
    background-size: 20px 20px;
    background-image: url('../assets/images/icon-star-outlined.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-color: transparent;
    border: none;
}

.fiu-favourite-bar__link,
.fiu-favourite-bar__link:active,
.fiu-favourite-bar__link:visited{
    text-decoration: underline;
}

.fiu-favourite-bar__link:hover {
    background-image: url('../assets/images/icon-star-filled-yellow.svg');
    cursor: pointer;
    text-decoration: none;
}

.fiu-favourite-bar__link:focus {
    @include govuk-focused-text;
}