<div class="fiu-favbar">
    <a href="#" class="fiu-link fiu-favbar__link" role="button">Add<span class="fiu-vh"> unique text here</span> to favourites <span class="fiu-favbar__img-wrap"></span></a>
</div>

<div class="fiu-favourite-bar fiu-favourite-bar--employers">
    <button type="submit" class="fiu-favourite-bar__link" name="itemId" value="10003280,12381000">
        <span class="fiu-favbar__img-wrap"></span>
        Add<span class="fiu-vh"> Witney Road</span> to favourites
    </button>
</div>

<div class="fiu-favourite-bar fiu-favourite-bar--employers">
    <button type="submit" class="fiu-favourite-bar__link" name="itemId" value="10003280,12381002">
        <span class="fiu-favbar__img-wrap"></span>
        Add<span class="fiu-vh"> Witney Road</span> to favourites
    </button>
</div>