<ul class="govuk-list fiu-sitemap-list__parent">
    <li>
        <a href="#" class="fiu-link fiu-link--employers">
            Are they right for you?
        </a>

        <ul class="govuk-list fiu-sitemap-list__child">
            <li>
                <a href="#" class="fiu-link fiu-link--employers">
                    Real stories
                </a>
            </li>
            <li>
                <a href="#" class="fiu-link fiu-link--employers">
                    What are the benefits of hiring an apprentice
                </a>
            </li>
        </ul>

    </li>
    <li>
        <a href="#" class="fiu-link fiu-link--employers">
            How do they work?
        </a>

        <ul class="govuk-list fiu-sitemap-list__child">
            <li>
                <a href="#" class="fiu-link fiu-link--employers">
                    Hiring an apprentice
                </a>
            </li>
            <li>
                <a href="#" class="fiu-link fiu-link--employers">
                    Upskilling your current staff
                </a>
            </li>
            <li>
                <a href="#" class="fiu-link fiu-link--employers">
                    Funding an apprenticeship
                </a>
            </li>
            <li>
                <a href="#" class="fiu-link fiu-link--employers">
                    Training your apprentice
                </a>
            </li>
            <li>
                <a href="#" class="fiu-link fiu-link--employers">
                    End-point assessments
                </a>
            </li>
        </ul>

    </li>
</ul>
